{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 31 -->
<section class="b31">
    <div class="wancho">
        <div class="b31-error">
            <div class="b31-images">
                <img src="{{ asset('static/media/404.jpg') }}" >
            </div>
            <h3>Página no encontrada</h3>
            <p>La página solicitada puede no estar disponible, haber cambiado de dirección
            o no existir. Compruebe si la dirección es correcta o regrese a la página de inicio.</p>
        </div>
        <div class="b31-bnt">
            <a class="bt g-boton" href="{{ path('home') }}">IR A LA PÁGINA PRINCIPAL</a>
        </div>
    </div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
    $(function(){

    });
</script>

{% endblock %}