<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" >
	<title></title>


	{% block cssadicional %}

	{% endblock %}
	{% set BUILD_ID = '1.01' %}

	<link rel="stylesheet" type="text/css" href="{{ asset('static/css/styles.css?v=2{{ BUILD_ID }}') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('static/css/blocks_styl.css?v=2{{ BUILD_ID }}') }}"/>
</head>

<body class="{% block classbody %}{% endblock %}">

			{% block content %}
			{% endblock %}

	<script src="{{ asset('static/js/jquery1.8.3.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('static/js/jquery.placeholder.js') }}" type="text/javascript"></script>
	<script src="{{ asset('static/js/main.js') }}" type="text/javascript"></script>
	{% block jsfinal %}
	{% endblock %}

	<script type="text/javascript">

	</script>
</body>
</html>
