<!DOCTYPE html>

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% include 'WebBundle:_common:metatags.html.twig' %}

	<title></title>

	<!-- inicio favicon  iphone retina, ipad, iphone en orden-->
		<!--link rel="icon" type="image/png" href="{{ asset('static/img/favicon/256x256.png') }}"/>
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('static/img/favicon/114x114.png') }}">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('static/img/favicon/72x72.png') }}">
		<link rel="apple-touch-icon-precomposed" href="{{ asset('static/img/favicon/57x57.png') }}"-->
	<!-- end favicon -->

	{% block cssadicional %}
	{% endblock %}

	{% set BUILD_ID = '1.01' %}
	<link rel="stylesheet" href="{{ asset('static/css/validationEngine.jquery.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ asset('static/css/styles.css?v=1') }}{{ BUILD_ID }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('static/css/blocks_styl.css?v=2') }}{{ BUILD_ID }}"/>
	<link rel="stylesheet" type="text/css" href="{{ asset('static/js/boxlight/boxlight.css') }}"/>
	{#<link rel="stylesheet" href="{{ asset('static/js/datepicker/jquery-ui.min.css') }}">#}
	<link rel="stylesheet" href="{{ asset('static/css/jquery-ui.css') }}">
	{#<link rel="stylesheet" href="{{ asset('static/js/datepicker/jquery-ui.min.css') }}">#}


	<!--[if lt IE 9]>
		<script src="{#{ asset('static/js/html5.js') }#}"></script>
		<script src="{#{ asset('static/js/respond.js') }#}" type="text/javascript"></script>
		<link rel="stylesheet" type="text/css" href="{# { asset('static/css/ie.css') } #}"/>
	<![endif]-->
</head>

<body class="{% block classbody %}{% endblock %}">

	<!-- html solo para el menu responsive -->
		<div  class="menu-mobile-open icon-menu"></div>
		<div class="menu-mobile-close icon-close"></div>
		<div class="menu-overlay"></div>
	<!-- html solo para el menu responsive -->

	<div class="cnt-wrapper">
		<div class="wrapper">
			{% include 'WebBundle:_common:header.html.twig' %}
		  	{% block content %}
			{% endblock %}
		</div>
	</div>

	{% include 'WebBundle:_common:footer.html.twig' %}

	<!-- contenedor del menu responsive -->
	<div class="menu-sidebar">
		<div class="menu-sidebar-cnt"></div>
	</div>

	<script src="{{ asset('static/js/jquery1.8.3.min.js') }}" type="text/javascript"></script>
	<script src="{{ asset('static/js/jquery.placeholder.js') }}" type="text/javascript"></script>
	<script src="{{ asset('static/js/main.js') }}" type="text/javascript"></script>
	<script type="text/javascript" src="{{ asset('static/js/jquery.validationEngine-es.js') }}"></script>
	<script type="text/javascript" src="{{ asset('static/js/jquery.validationEngine.js') }}"></script>
    <script src="{{ asset('static/js/jquery.waypoints.js') }}" type="text/javascript"></script>
    <script src="{{ asset('static/js/boxlight/boxlight.js') }}" type="text/javascript"></script>
	<script src="{{ asset('static/js/jquery-ui.js') }}" type="text/javascript" ></script>

	{% block jsfinal %}
	{% endblock %}

	<script type="text/javascript">
		$(document).ready(function() {

			$( ".datepicker" ).datepicker({
				changeMonth: true,
				changeYear: true
			});


			$(".b19-box-cv input:file").change(function (){
				var fileInput = $(".text-input span");
				var text;
				$this = $(this);
				$('.text-input span').html($this.val());
				text = $('.text-input span').html();
				text = text.substring(text.lastIndexOf("\\") + 1, text.length);
				$('.text-input span').html(text);
				var txtFile = $('.text-input span').text();
				if(txtFile != ""){
					// $('.b19-cnt-cv i').show()
					$('.b19-cnt-cv p').show()
				}
			});


			console.log('fujnccc')
			$('.open-boxlight').boxlight();
			$("form").validationEngine('attach', {
				promptPosition : "topLeft",
				autoHidePrompt: true,
				autoHideDelay: 3000,
				binded: false,
				scroll: false,
				validateNonVisibleFields: true
			});

			//validacion formulario header
			$(".header-send").click(function(e) {
				e.preventDefault();
				var valid = $('.header-form').validationEngine('validate');

				if (!valid) {

				}else{
				}
			});

			//validacion formulario footer
			$(".footer-send").click(function(e) {
				e.preventDefault();
				var valid = $('.footer-form').validationEngine('validate');

				if (!valid) {

				}else{
					$('.b7-wrapform').hide(function() {
						$('.b15').show();
					});

					$.ajax({
                        url : "/suscribete/",
                        type : 'post',
                        dataType : 'json',
                        data : $('.footer-form').serialize(),
                        success : function(resultado) {
                        	alert(resultado.data);
                        	$(".footer-input input").val("");
                        },
                        error : function(error) {
                        	alert(error.responseText);
                        }
                    });
				}
			});

			//cerrar sesion
			$(".cerrar-sesion").on("click", function(e){
				e.preventDefault();

				$.ajax({
	                url : "/cerrar-sesion/",
	                type : 'post',
	                dataType : 'json',
	                data : "",
	                success : function(resultado) {
	                	window.location.href = resultado.data;
	                },
	                error : function(error) {
	                	alert(error.responseText);
	                }
	            });
			});


			//eliminar producto del carrito
			$("span.icon-cerrar-01").on("click", function(){



					 prodId = $(this).parent().find(".input-prodId").val().trim();


				conCupon = $("#cantidad_producto").val();
				//Evaluando si hay elementos en el carrito o ya no.

				//1. En el header
				param = 0; //Si se queda en cero quiere decir que aun hay elementos en el carrito

				if($(".carrito-items").find(".carrito-item").length - 1 == 0){
					param = 1; //Para eliminar de caché el id del cupón
					//console.log(param, $(".carrito-items").find(".carrito-item").length);
				}

				//2. En la pagina carrito compras
				if($(".b10-cnt-items").find(".b10-table-row").length - 1 == 0){
					param = 1; //Para eliminar de caché el id del cupón
					//console.log(param, $(".b10-cnt-items").find(".b10-table-row").length);
				}

				$.ajax({

		            url : "/eliminar-producto/",
		            type : 'post',
		            dataType : 'json',
		            data : {"prodId" : prodId, "sw" : param, "conCupon": conCupon},
		            success : function(resultado) {
		            	console.log(resultado);
		            	if(resultado.state){
		            		window.location.reload();
		            		console.log(resultado.data);
		            	}
		            },
		            error : function(error) {
		            	alert(error.responseText);
		            }
		        });
			});

			$(".bt.g-boton.g-red").on("click", function(){
				subTotalProducto = $(".carrito-precio .total").attr("data-val");
				if (subTotalProducto <= 0) { alert("Debe elegir al menos un producto"); return false; }
			});
		});
	</script>
</body>
</html>
