<footer class="footer">
	<div class="footer-main">
		<div class="wancho">
			<div class="footer-left">
				<div class="footer-item">
					<a href="{{ path('conocenos') }}" class="dn">Conócenos</a>
					<a href="{{ path('productos_slug', {'slug2':'belleza' }) }}" class="dn">Productos</a>
					<a href="{{ path('locales') }}" class="dn">Locales</a>
				</div>
				<div class="footer-item">
					<a href="{{ path('libro-reclamaciones') }}" class="libro">Libro de reclamaciones <span class="icon-libro-01"></span></a>
					<a href="{{ path('bolsa-trabajo') }}" class="dn">
						Bolsa de trabajo
					</a>
					<a href="{{ path('contacto') }}" class="dn">Contacto</a>
				</div>
			</div>
			<div class="footer-servicio">
				<p>Servicio al cliente</p>
				<div class="footer-servicios">
					<a href="{{ path('preguntas-frecuentes') }}">Preguntas frecuentes</a>
					<a href="{{ path('terminos-condiciones') }}">Términos y condiciones</a>
					<a href="{{ path('privacidad-seguridad') }}">Privacidad y seguridad</a>
				</div>
			</div>
			<div class="footer-right">
				<a href="#" class="footer-img">
					<img src="{{ asset('static/img/paypalli.png') }}" alt="" width="229" height="50">
				</a>
				<div class="footer-copy-right">
					<a class="link-staff" target="_blank" href="http://www.staffcreativa.pe/">Página web por <strong class="staffcreativa">staffcreativa</strong></a>
				</div>
			</div>
		</div>
		
		<div class="footer-suscribe-verde">
			<span>SUSCRIBETE</span><span class="icon-Capturadepantalla2015-08-26alas135022-01"></span>
		</div>

			{% if home.activarSuscripcion != null %}
		<div class="footer-boletin">
			<div class="wancho">
			<span class="icon-cerrar-01 icono"></span>
				<figure class="footer-img2">
					<img src="{{ asset(home.imagenSuscribete) }}" alt="">
				</figure>
				<p>
					Suscríbete al boletín y obtén <br>
					<strong>15% de descto. en tu primera compra</strong>
				</p>
				<form action="" class="footer-form">
					<div class="footer-input g-input">
						<input type="text" name="txtemail" placeholder="Escribe aquí tu correo" class="validate[required]">
					</div>
					<button class="footer-send">
						<span class="icon-flecha-01"></span>
					</button>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
</footer>
