
<header class="header">
	<div class="header-form-content-box">
	    <div class="header-form-content">
	        <div class="wancho">
	            <form action="{{ path('busquedas') }}" method="POST" class="header-form">
	                <div class="header-input g-input">
	                    <input type="text" name="buscador" placeholder="¿Que deseas buscar?" {# class="validate[required]" #}>
	                </div>
	                {# <button class="bt g-boton header-send" value="BUSCAR">BUSCAR</button> #}
	                <input type="submit" value="BUSCAR">
	            </form>
	        </div>
	    </div>
	</div>

	<div class="wancho header-ctn">
		<a href="{{ path('home') }}" class="header-logo">
			<img src="{{ asset(info.imagenLogoPrincipal) }}" alt="" width="187" height="53">

		</a>
		<nav class="menu">
			<div class="menu-wrap">
				<ul class="menu-list"> <!-- "menu-list" es usado para el menu responsive -->
					<li class="menu-item menu-item-uno">
						<div class="menu-link active">
							<span class="icon-locutor-01 dn"></span>
							<div class="menu-box">
								<p class="menu-text">Canal televentas</p>
								<a href="">Lima: {{ info.televentasLima }}</a>
								<a href="">Perú: {{ info.televentasPeru }}</a>
							</div>
						</div>
					</li>
					<li class="menu-item menu-item-uno">
						<a href="{{ path('condiciones-delivery') }}" class="menu-link">
							<span class="icon-delivery-01 dn"></span>
							<div class="menu-box">
								<p class="menu-title">
									DELIVERY <br>GRATUITO
								</p>
								<p class="menu-text">
									ver términos
								</p>
							</div>
						</a>
					</li>
					<li class="menu-item mr20 sesion">
						{% if sesion.nombreCliente is defined %}
							{% set clase = 'menu-link adorno sesion-activa' %}
								{% else %}
							{% set clase = 'menu-link adorno' %}
						{% endif %}
						<!-- agregar clase: sesion-activa una vez logueado el usuario -->
						<a href="{{ path('login') }}" class="{{ clase }}">
							{% if sesion.nombreCliente is defined %}
								{% if cliente.id == sesion.idCliente %}
									{{ cliente.nombres }}
								{% endif %}
								{% else %}
								Inicia sesión
							{% endif %}
							<span class="icon-hombre-01 cgray"></span>
						</a>
						<div class="caja-sesion">
							{% if sesion.nombreCliente is defined %}
							<div class="perfil"><a href="{{ path('perfil') }}">Mi Perfil</a></div>
							{% endif %}
							<div class="cerrar-sesion">Cerrar sesión</div>
						</div>
					</li>

					<li class="menu-item mr20 center">

						<a href="{{ path('carrito-compras') }}" class="menu-link adorno open-carrito">
							({{ carrito|length }})
							<span class="icon-canasta-01 cgray"></span>
						</a>

						<div class="carrito-detalle">
							<div class="carrito-items">
								{% set total = 0 %}

								{% for item in carrito %}

									<div class="carrito-item">
										<span class="icon-cerrar-01"></span>
										<figure class="carrito-img">
											<img src="{{ asset(item.imagenProducto.0.imagenTodo) }}" width="130" height="93" alt="{{ item.nombreProducto }}">
										</figure>

										<div class="carrito-texto">
											<h4>
												{{ item.nombreProducto }}
											</h4>
											<h3>
												S/. {{ item.precioProducto }}
											</h3>
											<p>
												Cantidad: {{ item.cantidadProducto }}
												<input type="hidden" class="input-prodId" id="prodId" value="{{ item.presentacionid }}">
											</p>
										</div>
									</div>
									{% set total = total + item.subTotalProducto %}
								{% endfor %}
							</div>
							<div class="carrito-precio">
								<div class="carrito-total">
									<p class="label-total">
										TOTAL
									</p>
									<p class="total" data-val="{{ total }}">
										S/. {{ total }}
									</p>
								</div>
							</div>

							<a class="bt g-boton" href="{{ path('carrito-compras') }}">Ir al carrito</a>

							{% if sesion.nombreCliente is defined %}
								{% set path = 'carrito-compras' %}

								{% if total > 0 %}
									{% set path = 'datos-facturacion' %}
								{% endif %}
							{% else %}
								{% set path = 'login' %}
							{% endif %}

							<a class="bt g-boton g-red" href="{{ path(path) }}">Comprar ahora</a>
						</div>
					</li>
					<li class="menu-item menu-item-movil">
						<div class="header-form menu-link adorno">
			                <div class="header-icon">Buscar</div>
			            </div>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<div class="submenu">
		<div class="wancho">

		<!-- SOLO SE NECESITA 4 ITEMS MOSTRAR, LO DEMAS DENTRO DE "VER MÁS PRODUCTOS" -->
		{% for item in headers %}


		<a href="{{ path('productos_slug', {'slug2':item.slug }) }}" class="submenu-item">
			<span class="icono-imagen-nav" style="background-image:url('{{asset(item.imagen)}}')"></span>
			<p>{{ item.nombreCategoria }}</p>
		</a>
		{% endfor %}

		{# <a href="{{ path('productos_slug', {'slug2':'belleza' }) }}" class="submenu-item sub-item-2">
			<p class="submenu-p">Ver más productos</p>
		</a>#}
		{# <a href="{{ path('productos_slug', {'slug2':'masajes' }) }}" class="submenu-item">
			<span class="icon-otros-01"></span>
			<p>Otros</p>
		</a> #}
		{#<a href="{{ path('promociones') }}" class="submenu-item">
			<span class="icon-prociento"></span>
			<p>Promociones</p>
		</a>#}
		<div class="b42-unir">
			<div class="b42-list">
				<a href="#form"  class="b42-bnt b42-btn-tv ">
					<span class="bt g-boton">Promociones</span>
				</a>
			</div>
				{# {{dump(info.activarProyecto)}}#}

				{% if info.activarProyecto != null %}
			<div class="b42-list">
				<a href="#form"  class="b42-bnt b42-btn-tv open-boxlight ">
					<span class="bt g-boton">Tu Proyecto TV</span>
					<!-- <span></span> -->
				</a>
			</div>
			{% endif %}
		</div>
		</div>


	</div>


	<div class="buscador-movil">

	</div>
	<div class="categorias-responsive">
		<a href="">
			Ver categorias<span class="icon-Capturadepantalla2015-08-26alas135022-01"></span>
		</a>
	</div>
	<div class="header-redes">
		<a href="{{ info.youtube }}" class="icon-youtube-01"></a>
		<a href="{{ info.facebook }}" class="icon-fb-01"></a>
		<a href="{{ path('locales') }}" class="icon-ubicacion-01"></a>
	</div>
</header>
	<section class="b42 boxlight" id="form">
		<div class="b42-bg" style="background-image: url('{{ asset(info.imagenProyecto) }}')">
		</div>
		<form action="{{ path('proyectotv') }}" method="post" enctype="multipart/form-data">
			<div class="wancho">
				<div class="b42-texto">
					<h3>Participa y gana miles de premios</h3>
				</div>
				<div class="g-input">
					<input type="text" name="de" placeholder="Nombres  y Apellidos " required>
				</div>
				<div class="dos-input">
					<div class="g-input">
						<input type="email"  name="email" placeholder="E-mail" required>
					</div>
					<div class="g-input">
						<input type="text" name="telefono"  placeholder="Teléfono" required>
					</div>
				</div>


				<div class="dos-input">


				{#<div class="dos-input">
					<div class="g-input">
						<input type="email"  name="dni" placeholder="DNI" required>
					</div>
					<div class="g-input g-fech-aparte">
						<input type="text" placeholder="Fecha de Nacimiento" class="datepicker">
					</div>
				</div>#}

				<div class="g-input g-fech-aparte">
					<input type="text" name="fecha_nacimiento" placeholder="Fecha de Nacimiento" class="datepicker">
				</div>


				<div class="dos-input input-aparte">

					<div class="b19-datos">
						<div class="b19-subcuadro">
							<div class="b19-cnt-cv">
								<label class="g-buttom rojo1" for="arc">
						 			<span>Subir archivo </span>
					 			</label>
					 			<div class="b19-box-cv">
					 				<input type="file" name="archivo" id="arc">
					 			</div>
					 			<p>Archivo permitido</p>
							</div>
							<div class="text-input">
								<span></span>
							</div>
				 		</div>
				 	</div>

					<div class="g-checkbox">
						<input type="checkbox" id="check">
						<label class="g-label" for="check">Al dar click aceptas los</label>
						<a class="b42-nav"href="{{ path('terminos-condiciones') }}">
							Terminos y condiciones
						</a>
					</div>
				</div>
			</div>

				<div class="b42-bnt">
					<button class="bt g-boton">¡Participa Ahora!</button>
					<span></span>
				</div>
			</div>

		</form>


	</section>
