{% if app.request.attributes.get('_route') != '' %}
    {% set url_seo = path(app.request.attributes.get('_route'),
                        app.request.attributes.get('_route_params')) %}

    {% set detalle_seo = url_seo|metatags %}

    <TITLE>{{ detalle_seo.titulo|default(detalle.titulo|default(titulo|default(info.titulo)))|striptags }}</TITLE>
    <META NAME="Description" CONTENT="{{ detalle_seo.descripcion|default(info.descripcion)|markdown|striptags }}">

    <meta property="og:url"                content="{{ app.request.getSchemeAndHttpHost()~url_seo }}" />
    <meta property="og:type"               content="website" />
    {% if detalle_seo.socialTitulo %}
    <meta property="og:title"              content="{{ detalle_seo.socialTitulo }}" />
    {% endif %}
    {% if detalle_seo.socialDescripcion %}
    <meta property="og:description"        content="{{ detalle_seo.socialDescripcion }}" />
    {% endif %}
    {% if detalle_seo.socialImagen %}
    <meta property="og:image"              content="{{ app.request.getSchemeAndHttpHost()~asset(detalle_seo.socialImagen) }}" />
    {% endif %}
{% endif %}