{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>General</strong></h3>
            <p>Ingresa la información general que se mostrará a lo largo de la página web.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.imagenLogoPrincipal) }}
            {{ form_row(form.LogoSegundario) }}
            {{ form_row(form.televentasLima) }}
            {{ form_row(form.televentasPeru) }}
            {{ form_row(form.horarioAtencion) }}
            {{ form_row(form.correopaypal) }}
            {{ form_row(form.correosContacto) }}
            {{ form_row(form.latitud) }}
            {{ form_row(form.longitud) }}
            {{ form_row(form.facebook) }}
            {{ form_row(form.youtube) }}
            {{ form_row(form.googleplus) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>SEO</strong></h3>
            <p>Ingresa el título y la descripción generales de la página así como el código de Google Analytics para darle seguimiento a tu sitio web.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.titulo) }}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.ga) }}
            {{ form_row(form.urlWsFacebook) }}
            {{ form_row(form.appTokenFacebook) }}
            {{ form_row(form.numeroPublicacionesFacebook) }}
            {{ form_row(form.fanPageFacebook) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Términos y condiciones</strong></h3>
            <p>Ingresa el contenido de los términos y condiciones del sitio web.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.contenidoTerminos) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
        <div class="box-header">
            <h3 class="box-title"><strong>Términos y condiciones del Delivery</strong></h3>
            <p>Ingresa el contenido de los términos y condiciones del Delivery.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.contenidoTerminosDelivery) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Privacidad y Seguridad</strong></h3>
            <p>Ingresa el contenido de la privacidad y seguridad del sitio web.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.contenidoPrivacidad) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Página <i>Conócenos</i></strong></h3>
            <p>Ingresa el contenido general de la página <i>Conócenos</i>.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.mensajePaginaLocales) }}
            {{ form_row(form.imagenPaginaLocales) }}
            {{ form_row(form.valoresAgregadosPaginaLocales) }}
            {{ form_row(form.imagenFondoConocenos) }}
            {{ form_row(form.tituloFondoConocenos) }}
            {{ form_row(form.subtituloFondoConocenos) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Página <i>Libro de reclamaciones</i></strong></h3>
            <p>Ingresa el contenido general de la página <i>Libro de reclamaciones</i>.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.mensajePaginaLibroReclamaciones) }}
            {{ form_row(form.imagenPaginaLibroReclamaciones) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Página <i>Bolsa de trabajo</i></strong></h3>
            <p>Ingresa el contenido general de la página <i>Bolsa de trabajo</i>.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.mensajePaginaBolsaTrabajo) }}
            {{ form_row(form.imagenPaginaBolsaTrabajo) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Página <i>Productos</i></strong></h3>
            <p>Ingresa el contenido general de la página <i>Productos</i>.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.precioMasBajo) }}
            {{ form_row(form.precioMasAlto) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Promociones</strong></h3>
            <p>Sube una imagen como Banner para el área de Promociones.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.bannerPromocion) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Pedidos</strong></h3>
            <p>Ingresa los montos de envío de los productos que se compren a través de la web.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.precioEnvioLima) }}
            {{ form_row(form.precioEnvioProvincias) }}
            {{ form_row(form.tiempoEnvioLima) }}
            {{ form_row(form.tiempoEnvioProvincias) }}
            <div class="form-group">
                <label class="col-sm-2 control-label required">Tipo de cambio</label>
                <div class="col-sm-10">
                    <label class="control-label">
                        {{ entity.valordeCambio }}
                    </label>
                    <div class='help-block'>Se actualiza automáticamente según el tipo de cambio manejado mundialmente.</div>
                </div>
            </div>
            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>

    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Imagen Tu Proyecto Tv</strong></h3>
            <p>Activa  e Ingresa la Imagen: Tu Proyecto Tv .</p>
        </div>
        <div class="box-body">
            {{ form_row(form.imagenProyecto) }}
            {{ form_row(form.activarProyecto) }}
            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document)
    .ready(function(){
        $("#info_logoPrincipal")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 561 x 159 (px).</div>");
        $("#info_bannerPromocion")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 1024 x 245 (px).</div>");
        $("#info_logoSecundario")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 300 x 140 (px).</div>");
        $("#info_imagenPaginaLocales")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 1351 x 350 (px).</div>");
        $("#info_mensajePaginaLocales")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Si deseas que el texto vaya uno debajo del otro añade doble slash (//). Por ejemplo: Texto1//Texto2.</div>");
        $("#info_correosContacto")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Deben ir separados por comas. Por ejemplo: Correo1,correo2.</div>");
        $("#info_imagenPaginaLibroReclamaciones, #info_imagenPaginaBolsaTrabajo")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 1349 x 215 (px).</div>");
    });
</script>
{% endblock %}
