{% extends "WebBundle:Emails:base.html.twig" %}
{% import "WebBundle:Emails:template.html.twig" as template %}

{% block title %}Recuperar contraseña{% endblock %}

{% block content %}
<h1 style="color:#666666; font-size:26px; line-height:1.2; font-weight:normal; margin-top:0; margin-bottom:0.5em;">Recuperar contraseña</h1>
<p style="margin-top:0; margin-bottom:0;">
    Estimado/a <strong>{{ nombres }}</strong>:
    Para recuperar su contraseña acceda al siguiente link: {{ url }}.
    <br>
    Recuerde que el enlace tiene una duración de 60 minutos, después de los cuales caducará.
    <br>
    Atte.
    <br>
    <strong>Equipo Life it</strong>
</p>
{% endblock %}
