{% extends "WebBundle:Emails:base.html.twig" %}
{% import "WebBundle:Emails:template.html.twig" as template %}

{% block title %}Contacto{% endblock %}

{% block content %}
<h1 style="color:#666666; font-size:26px; line-height:1.2; font-weight:normal; margin-top:0; margin-bottom:0.5em;">Contacto</h1>
<p style="margin-top:0; margin-bottom:0;">
    Información de contacto:
    <table width="100%">
        {{ template.fila('Nombres y apellidos', nombres) }}
        {{ template.fila('E-mail', email) }}
        {{ template.fila('Teléfono', telefono) }}
        {{ template.fila('Provincia', provincia) }}
        {{ template.fila('Mensaje', mensaje|striptags|nl2br) }}
        {{ template.fila('Fecha mensaje', fecha) }}
    </table>
</p>
{% endblock %}
