{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}

{% endblock %}

{% block form_content -%}
<div class="box-header">
    <h3 class="box-title"><strong>Puntacion de Productos</strong></h3>
    <p>Listado de puntuaciones por usuario de cada producto.</p>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>
                        <th>Nombre Producto</th>
                        <th>Puntuacion </th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>
                          {{ entity.producto.nombreProducto }}
                        </td>
                        <td>
                            {{ entity.puntuacion }}
                        </td>
                        <td>
                            {{ entity.fecha.format('d-m-Y') }}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
