{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de presentaciones de producto</strong></h3>
            <p>Añade una nueva presentación para un producto o edita alguna existente.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.productoPre) }}
            {{ form_row(form.productoTa) }}
            {{ form_row(form.presentacion) }}
            {{ form_row(form.productoCo) }}
            {{ form_row(form.imagenes) }}
            {{ form_row(form.stock) }}
            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>
<script src="{{ asset('static/js/spectrum.js') }}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('static/css/spectrum.css') }}">
<script type="text/javascript">

  $("#presentacion_productoCo").click(function () {
      var ptm = $("#presentacion_productoCo").find(":selected").text();
      console.log(ptm);
  });


  $('[id$=imagenTodo]')
    .closest(".col-sm-10")
      .append("<div class='help-block'>Se recomienda que las imágenes tengan uno de los siguientes tamaños: 1497 x 1074 (px).</div>");

  $("#presentacion_imagenes").on("click", ".collection-add", function(){
    setTimeout(function(){
      $('#field-presentacion_imagenes')
        .find('[id$=imagenTodo]')
          .last()
            .closest(".col-sm-10")
              .append("<div class='help-block'>Se recomienda que las imágenes tengan uno de los siguientes tamaños: 499 x 358 (px).</div>");
    }, 0);
  });
</script>
{% endblock %}
