{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}
{%  set mensaje = "No Existen Presentaciones aún" %}
{% if entities   %}

{% else %}
    {{mensaje}}
{% endif %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{ path(ROUTER_NAME~'_new') }}">
            <i class="fa fa-plus-circle"></i>
            Nueva presentación de producto
        </a>
    </li>

</ul>
{% endblock %}

{% block form_content -%}

<div class="box-header">
    <h3 class="box-title"><strong>Listado de presentaciones de productos</strong></h3>
    <p>Listado de presentaciones de productos de su tienda.</p>

</div>

<div class="box-body">

    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>
                        <th>Presentación</th>
                        <th> Imagen</th>
                        <th>Producto Relacionado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td class="control-ajax">
                            <a href="{{ path(ROUTER_NAME~'_edit', { 'id': entity.id }) }}">{{ entity.presentacion }}</a>
                        </td>
                        <td>
                            {% for item in entity.imagenes %}
                                    {% if loop.index == 1 %}
                                        <img src="{{ asset(item.imagenTodo|thumbnail(120,120)) }}" alt="" />
                                    {% endif %}
                            {% endfor %}

                        </td>
                        <td>
                          {{ entity.productoPre.nombreProducto }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".sp-container").css("display", "none");
    });
</script>
{% endblock %}
