{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}
{# {% import 'CoreZeroBundle:macro:widget.html.twig' as widget %} #}

{% block form_content -%}

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Sección <i>canal Life it</i></strong></h3>
            <p>Ingresa el enlace del video y una breve descripción para la sección.</p>
        </div>
        <div class="box-body">

            {{ form_row(form.activarCanal) }}
            {{ form_row(form.imagenVideo) }}
            {{ form_row(form.urlBoton) }}
            {{ form_row(form.tituloVideo) }}
            {{ form_row(form.subtituloVideo) }}
            {{ form_row(form.contenidoVideo) }}
            {{ form_row(form.textoBoton) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Sección <i>proceso de compra</i></strong></h3>
            <p>Ingresa la información necesaria y los pasos del proceso de compra en tu sitio web.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.tituloSeccionCompra) }}
            {{ form_row(form.mensajeSeccionCompra) }}
            {{ form_row(form.mensajeProcesoCompra) }}
            {{ form_row(form.textoBotonSeccionCompra) }}
            {{ form_row(form.urlBotonSeccionCompra) }}
            {{ form_row(form.procesosCompra) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Sección <i>catálogo</i></strong></h3>
             <p>Ingresa título, descripción, imagen y un archivo para la sección.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.catalogoTitulo) }}
            {{ form_row(form.catalogoContenido) }}
            {{ form_row(form.catalogoImagen) }}
            {{ form_row(form.catalogoArchivo) }}
            {{ form_row(form.catalogoBoton) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>

    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Sección <i>suscribete</i></strong></h3>
             <p>Ingresa la información correspondiente para la sección.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.imagenSuscribete) }}
            {{ form_row(form.activarSuscripcion) }}
            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document)
    .ready(function(){
        $("#home_imagenVideo")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 629 x 370 (px).</div>");

        $("#home_imagenSuscribete")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 629 x 370 (px).</div>");

        $("#home_tituloVideo, #home_mensajeSeccionCompra")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Si desea que una o varias palabras aparezcan con un estilo diferente al del resto, entonces colóquelas entre asteriscos. Por ejemplo: Este es un *mensaje* de prueba.</div>");

        $("#home_catalogoImagen")
            .closest(".col-sm-10")
                .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 340 x 168 (px).</div>");

        $("#home_catalogoArchivo")
            .closest(".col-sm-10")
                .append("<div class='help-block'>Archivo PDF.</div>");


        setTimeout(function(){
          $("#field-home_procesosCompra")
          .find('[id$=imagen]')
            .closest(".col-sm-10")
              .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 200 x 215 (px).</div>");
        }, 0);

        $("#home_procesosCompra").on("click", ".collection-add", function(){
          setTimeout(function(){
            $('#field-home_procesosCompra')
            .find('[id$=imagen]')
              .last()
                .closest(".col-sm-10")
                  .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 111 x 107 (px).</div>");
          }, 0);
        });
    });
</script>
{% endblock %}
