// Colors idendity
c-0 = black
c-1 = white
c-2 = #1174ce
c-3 = #2a569f
c-4 = #5d5d5d
c-5 = #2a71b1
c-6 = #f2f2f2
c-7 = #24bc9f
c-8 = #000
c-9 = #000
// Fonts
t-0 = 'robotoregular', sans-serif
t-1 = 'robotoitalic', sans-serif
t-2 = 'robotomedium', sans-serif
t-3 = 'robotomedium_italic', sans-serif
t-4 = 'robotobold', sans-serif
t-5 = 'robotobold_italic', sans-serif
t-6 = 'robotolight', sans-serif
t-7 = 'Arial', sans-serif
icomoon = 'icomoon'

// Mixins
placeholder(color,famyli)
	::-webkit-input-placeholder { color: color; font-family: famyli; } /* WebKit */
	:-moz-placeholder { color: color; font-family: famyli; } /* Firefox 18- */
	::-moz-placeholder { color: color; font-family: famyli; } /* Firefox 19+ */
	:-ms-input-placeholder { color: color; font-family: famyli; } /* IE 10+ */

transition-all()
	transition all 0.25s

img-res()
	width 100%
	height auto
	display block
cf()
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both

.cf
	cf()

.dtable
	display table
	width 100%
	height 100%
	.dcell
		width 100%
		height 100%
		vertical-align middle
		display table-cell
		
@keyframes parpadeo
	0%
		transform scale(1)
	50%
		transform scale(.9)
	100%
		transform scale(1)
   		
@keyframes canchita
	0%
		transform scale(0)
	100%
		transform scale(1)
		
moveleft(valor)
	transform translateX(valor)
	opacity 0
	transition all 0.3s
movetop(valor)
	transform translateY(valor)
	opacity 0
	transition all 0.3s
movescale(valor)
	transform scale(valor)
	opacity 0
	transition all 0.3s
endmove()
	transform translateX(0) translateY(0)
	opacity 1

endscale()
	transform scale(1)
	opacity 1
movealto()
	height 0
	transition all 0.3s