{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de noticias</strong></h3>
            <p>Añade una nueva noticia o edita alguna existente.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.titulo) }}
            {{ form_row(form.contenido) }}
            {{ form_row(form.imagen) }}
            {{ form_row(form.fecha) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>
<script>
    $("#noticia_imagen")
    .closest(".col-sm-10")
        .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 340 x 168 (px).</div>");
</script>
{% endblock %}
