
<!-- gracias-compra -->
{% extends "base.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<div class="g-banner" style="background-image: url('{{STATIC_URL}}media/banner-img.jpg');">
	<div class="wancho">
		<div class="g-banner-text">
			<div class="g-title">
				<h1>Ingresa a tu cuenta y conóce todos nuestros productos</h1>
			</div>
		</div>
	</div>
</div>
<!-- BLOQUE 18 -->
<section class="b18">
		<div class="wancho">
			<ul class="b18-listas">
			<li class="active">
				<span class="1">1</span>
				<div>Datos de Facturación</div>
			</li>
			<li>
				<span class="2">2</span>
				<div>Revisar y pagar</div>
			</li>
			<li>
				<span class="3">3</span>
				<div>Pedido realizado</div>
			</li>
		</ul>
		</div>
</section>

<!-- BLOQUE 30 -->
<section class="b30">
	<div class="wancho">
		<div class="wrapper b30-compra">
			<div class="b30-title">
				<h2>GRACIAS</h2>
				<p>por su compra</p>
			</div>
			<figure class="b30-img">
				<img src="{{STATIC_URL}}media/b30.png" width="76" height="62">
			</figure>
			<div class="b30-parrafo">
				<p>Lorem el iPhone 7 pero no dejan de tener
 el mismo techo de lámina, y tierra en el piso de su cuarto.</p>
			</div>
			<div class="b30-bnt">
				<a class="bt g-boton" href="">Ver productos</a>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>

{% endblock %}
<!-- gracias-compra -->

<!-- mis pedidos -->
{% extends "base.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}


<div class="g-banner" style="background-image: url('{{STATIC_URL}}media/banner-img.jpg');">
	<div class="wancho">
		<div class="g-banner-text">
			<div class="g-title">
				<h1>Mi cuenta</h1>
			</div>
		</div>
	</div>
</div>

<!-- BLOQUE 18 -->
<section class="b18">
	<div class="wancho">
		<ul class="b18-listas">
			<li class="active">
				<span class="1">1</span>
				<div>Mi cuenta</div>
			</li>
			<li>
				<span class="2">2</span>
				<div>Mis pedidos</div>
			</li>
		</ul>
	</div>
</section>

<!-- BLOQUE 21 -->
<section class="b21 mis-pedidos ">
	<div class="wancho">
		<div class="b21-cnt">
			<div class="table-left">
				<table>
					<thead>
						<tr>
							<th colspan="2">Productos</th>
							<th>Fecha</th>
							<th>Cantidad</th>
							<th>Precio</th>
							<th>Descuento</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td data-th="Producto">
								<img src="{{ STATIC_URL }}media/b21-img.jpg" width="98" height="81" alt="">
							</td>
							<td class="b21-nombre-producto" data-th="Producto">
								<em>Green Tea pillow tradicional</em>
								<span class="db">Código: 505219</span>
							</td>
							<td data-th="Fecha">2/05/16</td>
							<td data-th="Cantidad">2</td>
							<td data-th="Precio"><span>s/. </span>169.00</td>
							<td data-th="Descuento"><span>s/. </span>169.00</td>
							<td data-th="Total"><span>s/. </span>169.00</td>
						</tr>
						<tr>
							<td data-th="Producto">
								<img src="{{ STATIC_URL }}media/b21-img.jpg" width="98" height="81" alt="">
							</td>
							<td class="b21-nombre-producto" data-th="Producto">
								<em>Green Tea pillow tradicional</em>
								<span class="db">Código: 505219</span>
							</td>
							<td data-th="Fecha">2/05/16</td>
							<td data-th="Cantidad">2</td>
							<td data-th="Precio"><span>s/. </span>169.00</td>
							<td data-th="Descuento"><span>s/. </span>169.00</td>
							<td data-th="Total"><span>s/. </span>169.00</td>
						</tr>
						<tr>
							<td data-th="Producto">
								<img src="{{ STATIC_URL }}media/b21-img.jpg" width="98" height="81" alt="">
							</td>
							<td class="b21-nombre-producto" data-th="Producto">
								<em>Green Tea pillow tradicional</em>
								<span class="db">Código: 505219</span>
							</td>
							<td data-th="Fecha">2/05/16</td>
							<td data-th="Cantidad">2</td>
							<td data-th="Precio"><span>s/. </span>169.00</td>
							<td data-th="Descuento"><span>s/. </span>169.00</td>
							<td data-th="Total"><span>s/. </span>169.00</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<a class="bt g-boton" href="">Ver productos</a>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
		
	});
</script>

{% endblock %}
<!-- mis pedidos -->


<!-- datos actualizados -->
{% extends "../base2.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 34 -->
<a href="#contenido-boxlight" class="open-boxlight">abrir</a>

<section class="b34 boxlight" id="contenido-boxlight">
	<div class="b34-compra">
		<div class="b34-title">
			<h2>Los datos <br> se actualizaron</h2>
			<p>de forma correcta</p>
		</div>
		<figure class="b34-img">
			<img src="{{STATIC_URL}}media/b30.png" width="76" height="62">
		</figure>
	</div>
</section>



{% endblock %}
{% block jsfinal %}

<script type="text/javascript">
	$(function(){
	
	});
</script>
{% endblock %}
<!-- datos actualizados -->


<!-- mi-cuenta -->
{% extends "base.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}


<div class="g-banner" style="background-image: url('{{STATIC_URL}}media/banner-img.jpg');">
	<div class="wancho">
		<div class="g-banner-text">
			<div class="g-title">
				<h1>Mi cuenta</h1>
			</div>
		</div>
	</div>
</div>

<!-- BLOQUE 18 -->
<section class="b18">
	<div class="wancho">
		<ul class="b18-listas">
			<li class="active">
				<span class="1">1</span>
				<div>Mi cuenta</div>
			</li>
			<li>
				<span class="2">2</span>
				<div>Mis pedidos</div>
			</li>
		</ul>
	</div>
</section>

<section class="b18-form mi-cuenta dat-fact">
	<div class="wancho">
		<div class="b18-left">
			<div class="b18-factura">
				<h3>Información personal</h3>
			</div>
			<p>Ingrese sus comentarios, sugerencias y/o inquietudes para brindarle un mejor servicio.</p>
			<form action="">
				<div class="g-input">
					<input type="text" placeholder="Nombres  y Apellidos">
				</div>
				<div class="g-row g-tresselect">
					<div class="g-col40">
						<div class="g-input">
							<input type="text" placeholder="DNI">
						</div>

					</div>
					<div class="g-col60">
						<div class="g-input">
							<p>Fecha de Nacimiento</p>
						</div>
						<div class="g-input fecha">
							<input type="text" placeholder="Día (DD) Mes (MM) Año (AAAA)">
						</div>
					</div>
				</div>
				<div class="b18-content">
					<div class="dos-select">
						<div class="g-input g-select">
							<select name="" id="">
								<option value="Elija Provincia">Eija Provincia</option>
								<option value="">Lima</option>
							</select>
						</div>
					</div>
					<div class="dos-select">
						<div class="g-input g-select">
							<select name="" id="">
								<option value="Elija Provincia">Eija Departamento</option>
								<option value="">Lima</option>
							</select>
						</div>
					</div>
					<div class="dos-select">
						<div class="g-input g-select">
							<select name="" id="">
								<option value="Elija Provincia">Eija Distrito</option>
								<option value="">Lima</option>
							</select>
						</div>
					</div>
				</div>
				<div class="b18-bnt">
					<button class="bt g-boton" href="">Guardar datos</button>
				</div>
			</form>


			<div class="b18-factura">
				<h3>Cambiar correo electrónico</h3>
			</div>
			<p>Tu correo actual es: erickminchan@gmail.com</p>
			<form action="">
				<div class="g-input">
					<input type="text" placeholder="Escribe tu nuevo correo">
				</div>
				<div class="b18-bnt">
					<button class="bt g-boton" href="">Actualizar Datos</button>
				</div>
			</form>

				<div class="b18-factura">
					<h3>Cambiar contraseña</h3>
				</div>
			<form action="">
				<div class="g-input">
					<input type="text" placeholder="Contraseña actual">
				</div>			
				<div class="dos-input">
					<div class="g-input">
						<input type="text" placeholder="Nueva contraseña">
					</div>
					<div class="g-input">
						<input type="text" placeholder="Repetir contraseña">
					</div>
				</div>
				<div class="b18-bnt">
					<button class="bt g-boton" href="">Actualizar Datos</button>
				</div>
			</form>

		</div>
		<div class="right b18-right">
			<div class="b19-pay">
				<p>Pagar con</p>
				<img class="b19-img" src="{{STATIC_URL}}media/pay.png">
			</div>
			<div class="b19-images">
				<ul>
					<a href="">
						<li>
							<img src="{{STATIC_URL}}media/b19.jpg" width="34" height="21">
							<img src="{{STATIC_URL}}media/b19-2.jpg" width="34" height="21">
							<img src="{{STATIC_URL}}media/b19-3.jpg" width="34" height="21">
							<img src="{{STATIC_URL}}media/b19-4.jpg" width="34" height="21">
						</li>
					</a>
				</ul>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
		
	});
</script>

{% endblock %}
<!-- mi-cuenta -->

<!-- conocenos -->
{% extends "base.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<!-- BLOQUE 15 -->
<section class="b15" style="background-image: url({{ STATIC_URL }}media/b15-bg.jpg);">
	<div class="wancho">
		<div class="b15-table">
			<h1>
				Un nuevo concepto de retail: <br>
				<strong>
					mejorar el estilo de vida de las personas.
				</strong>
			</h1>
		</div>
	</div>
</section>

<!-- BLOQUE 14 -->
<div class="b14">
	<div class="wancho">
		<div class="b14-item">
			<span class="icon-tecnologia c1">&#xe923;</span>
			<h4 class="c1">Nuevas tecnologías</h4>
			<p>
				Materiales utilizados en su fabricación y en su funcionalidad, desarrollada en torno a los hábitos de consumo y costumbres de las personas.
			</p>
		</div>
		<div class="b14-item">
			<span class="icon-diseno c2">&#xe924;</span>
			<h4 class="c2">Diseño</h4>
			<p>
				Cada producto crea una percepción de buen gusto, con buenos acabados, diseño ergonómico, líneas elegantes, formas acordes con el ritmo de la vida moderna.
			</p>
		</div>
		<div class="b14-item">
			<span class="icon-tecnologia c1">&#xe923;</span>
			<h4 class="c1">Control de calidad</h4>
			<p>
				Contamos con un cuidadoso y riguroso control de calidad en diferentes puntos del proceso de fabricación, transporte y almacenamiento.
			</p>
		</div>
		<div class="b14-item">
			<span class="icon-diseno c2">&#xe924;</span>
			<h4 class="c2">Servicio al cliente</h4>
			<p>
				Se demuestra en los productos a través de su uso en el tiempo, pudiendo las personas disfrutar de sus días con la confianza de que superarán sus expectativas.
			</p>
		</div>
	</div>

	<div class="b14-container" style="background-image: url('{{ STATIC_URL }}media/b33-img.jpg')">
		<div class="wancho">
			<div class="b14-table">
				<div class="b14-container-title-small">
					<p>
						Nuestros pilares base de concepto y desarrollo
					</p>
				</div>
				<div class="b14-container-title">
					<p>
						Funcionalidad Innovación Calidad
					</p>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}
{% block jsfinal %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> 
<script type="text/javascript">
	$(function(){
		$('.b16-open').click(function(e){
			$('.b16-map').addClass('active');
		})

		$('.b16-close').click(function(e){
			$('.b16-map').removeClass('active');
		})
		//google map
		var map; 
		var marker;
		function initMap() {
			var $map = $( '#google-map' );
			if ( ! $map.length ) return;
			
			var myLatlng = new google.maps.LatLng(-12.050000, -77.050000,18); // <- Your latitude and longitude

				var styles = [
				{
				    "featureType": "administrative",
				    "elementType": "labels.text.fill",
				    "stylers": [
				        {
				            "color": "#444444"
				        }
				    ]
				},
				{
				    "featureType": "administrative.country",
				    "elementType": "geometry.fill",
				    "stylers": [
				        {
				            "color": "#262626"
				        }
				    ]
				},
				{
				    "featureType": "administrative.province",
				    "elementType": "geometry.fill",
				    "stylers": [
				        {
				            "color": "#1b879e"
				        }
				    ]
				},
				{
				    "featureType": "administrative.province",
				    "elementType": "geometry.stroke",
				    "stylers": [
				        {
				            "color": "#2176b6"
				        }
				    ]
				},
				{
				    "featureType": "landscape",
				    "elementType": "all",
				    "stylers": [
				        {
				            "color": "#f2f2f2"
				        }
				    ]
				},
				{
				    "featureType": "poi",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "road",
				    "elementType": "all",
				    "stylers": [
				        {
				            "saturation": -100
				        },
				        {
				            "lightness": 45
				        }
				    ]
				},
				{
				    "featureType": "road.highway",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "simplified"
				        }
				    ]
				},
				{
				    "featureType": "road.arterial",
				    "elementType": "labels.icon",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "transit",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "water",
				    "elementType": "all",
				    "stylers": [
				        {
				            "color": "#097ea2"
				        },
				        {
				            "visibility": "on"
				        }
				    ]
				}
				];
			 
			var mapOptions = {
				zoom             : 15,
				center           : myLatlng,
				mapTypeControl   : true,
				disableDefaultUI : true,
				zoomControl      : true,
				scrollwheel      : false,
				styles   		 : styles, 
				draggable        : true
			}
			map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

			marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:'{{ STATIC_URL }}img/contactenos.png'
			});
		}
		google.maps.event.addDomListener(window, 'load', initMap);	

		//tab
		$('.tabs .header-tab .b16-item').click(function(e){
			e.preventDefault();

		$('.b16-headtab').click(function(event) {
			event.preventDefault();
			var f_latitud = $(this).attr('data-lat');
			var f_longitud = $(this).attr('data-long');
			var myLatLng = new google.maps.LatLng(f_latitud,f_longitud,18);
			marker.setPosition( myLatLng);
			map.panTo( myLatLng );
		});

		//header-tab
		$('.tabs .header-tab .b16-item').removeClass('active')
		$(this).addClass('active')

		//content-tab
		var id = $(this).attr('data-id');
		console.log(id);

		$('.b16 .content-tab .item-tab').removeClass('active')
		$('.b16 .content-tab .item-tab[id="'+id+'"]').addClass('active');

		});	 

	});
</script>

{% endblock %}
<!-- conocenos -->

<!-- locales -->
{% extends "base.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<!-- BLOQUE 15 -->
<section class="b15" style="background-image: url({{ STATIC_URL }}media/b15-bg.jpg);">
	<div class="wancho">
		<div class="b15-table">
			<h1>
				Un nuevo concepto de retail: <br>
				<strong>
					mejorar el estilo de vida de las personas.
				</strong>
			</h1>
		</div>
	</div>
</section>

<!-- BLOQUE 16 -->
<section class="b16">
	<div class="wancho">
		<div class="b16-left">
			<div class="g-title">
				<h1>Nuestras tiendas</h1>
			</div>
			<div class="tabs">
				<div class="header-tab">
					<ul>
						<li>
							<div class="b16-item active b16-headtab" data-id="tabs-1" data-lat="-12.086676" data-long="-77.058986">
								<h4>C.C. Jockey Plaza</h4>
								<span class="icon-ubicacion-01"></span>
								<p>
									Av. Petit Thouars 5356 Tda. 2063,<br>Miraflores.
								</p>
								<div class="b16-telefono">
									<span class="icon-telefono-01"></span>
									<a href="tel:4443079">
										444-3079
									</a>
									<a href="tel:998170746">
										998 170 746
									</a>
								</div>
								<div class="b16-open b16-margin">
									Ver Mapa
								</div>
							</div>
						</li>
						<li>
							<div class="b16-item b16-headtab" data-id="tabs-2" data-lat="-12.076676" data-long="-77.068986">
								<h4>La Rambla</h4>
								<span class="icon-ubicacion-01"></span>
								<p>
									C.C. Caminos del Inca  2do. piso. <br>
									Jirón Monterrey 123, Santiago de Surco
								</p>
								<div class="b16-telefono">
									<span class="icon-telefono-01"></span>
									<a href="tel:4443079">
										444-3079
									</a>
									<a href="tel:998170746">
										998 170 746
									</a>
								</div>
								<div class="b16-open b16-margin">
									Ver Mapa
								</div>
							</div>							
						</li>
						<li>
							<div class="b16-item b16-headtab" data-id="tabs-3" data-lat="-12.076676" data-long="-77.088986">
								<h4>Plaza San Miguel</h4>
								<span class="icon-ubicacion-01"></span>
								<p>
									C.C. Caminos del Inca  2do. piso. <br>
									Jirón Monterrey 123, Santiago de Surco
								</p>
								<div class="b16-telefono">
									<span class="icon-telefono-01"></span>
									<a href="tel:4443079">
										444-3079
									</a>
									<a href="tel:998170746">
										998 170 746
									</a>
								</div>
								<div class="b16-open b16-margin">
									Ver Mapa
								</div>
							</div>
						</li>
						<li>
							<div class="b16-item b16-headtab" data-id="tabs-4" data-lat="-12.085676" data-long="-77.058986">
								<h4>C.C. Plaza Norte</h4>
								<span class="icon-ubicacion-01"></span>
								<p>
									Av. Alfredo Mendiola No. 3698, Tienda <br>L430 Nuevo Boulevard, Independencia.
								</p>
								<div class="b16-telefono">
									<span class="icon-telefono-01"></span>
									<a href="tel:998170746">
										998 170 746
									</a>
								</div>
								<div class="b16-open b16-margin">
									Ver Mapa
								</div>
							</div>							
						</li>
						<li>
							<div class="b16-item b16-headtab" data-id="tabs-5" data-lat="-12.066676" data-long="-77.059986">
								<h4>C.C. Lima Plaza Sur</h4>
								<span class="icon-ubicacion-01"></span>
								<p>
									Calle Toulon con Antibes 197, <br>
									La Molina
								</p>
								<div class="b16-telefono">
									<span class="icon-telefono-01"></span>
									<a href="tel:998170746">
										656-9151
									</a>
								</div>
								<div class="b16-open b16-margin">
									Ver Mapa
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="b16-right">
			<div class="content-tab">
				<div id="tabs-1" class="item-tab active">
					<figure class="b16-img">
						<img src="{{ STATIC_URL }}media/b16-img.jpg" alt="">
						<figcaption>
							La Rambla
						</figcaption>
					</figure>
				</div>
				<div id="tabs-2" class="item-tab">
					<figure class="b16-img">
						<img src="{{ STATIC_URL }}media/b16-img.jpg" alt="">
						<figcaption>
							La Rambla2
						</figcaption>
					</figure>
				</div>
				<div id="tabs-3" class="item-tab">
					<figure class="b16-img">
						<img src="{{ STATIC_URL }}media/b16-img.jpg" alt="">
						<figcaption>
							La Rambla3
						</figcaption>
					</figure>
				</div>
				<div id="tabs-4" class="item-tab">
					<figure class="b16-img">
						<img src="{{ STATIC_URL }}media/b16-img.jpg" alt="">
						<figcaption>
							La Rambla4
						</figcaption>
					</figure>
				</div>
				<div id="tabs-5" class="item-tab">
					<figure class="b16-img">
						<img src="{{ STATIC_URL }}media/b16-img.jpg" alt="">
						<figcaption>
							La Rambla5
						</figcaption>
					</figure>
				</div>
			</div>
			<div class="b16-mapa">
				<div class="b16-map">
					<div class="g-map" id="google-map"></div>
					<div class="b16-close">
						<div class="bot-general">
							<button class="but-gen ">Cerrar mapa</button>
						</div>		
					</div>
				</div>
				<div class="b16-bottombox">
					<div class="bot-general">
						<button class="but-gen b16-open">Ver mapa</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script> 
<script type="text/javascript">
	$(function(){
		$('.b16-open').click(function(e){
			$('.b16-map').addClass('active');
		})

		$('.b16-close').click(function(e){
			$('.b16-map').removeClass('active');
		})
		//google map
		var map; 
		var marker;
		function initMap() {
			var $map = $( '#google-map' );
			if ( ! $map.length ) return;
			
			var myLatlng = new google.maps.LatLng(-12.050000, -77.050000,18); // <- Your latitude and longitude

				var styles = [
				{
				    "featureType": "administrative",
				    "elementType": "labels.text.fill",
				    "stylers": [
				        {
				            "color": "#444444"
				        }
				    ]
				},
				{
				    "featureType": "administrative.country",
				    "elementType": "geometry.fill",
				    "stylers": [
				        {
				            "color": "#262626"
				        }
				    ]
				},
				{
				    "featureType": "administrative.province",
				    "elementType": "geometry.fill",
				    "stylers": [
				        {
				            "color": "#1b879e"
				        }
				    ]
				},
				{
				    "featureType": "administrative.province",
				    "elementType": "geometry.stroke",
				    "stylers": [
				        {
				            "color": "#2176b6"
				        }
				    ]
				},
				{
				    "featureType": "landscape",
				    "elementType": "all",
				    "stylers": [
				        {
				            "color": "#f2f2f2"
				        }
				    ]
				},
				{
				    "featureType": "poi",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "road",
				    "elementType": "all",
				    "stylers": [
				        {
				            "saturation": -100
				        },
				        {
				            "lightness": 45
				        }
				    ]
				},
				{
				    "featureType": "road.highway",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "simplified"
				        }
				    ]
				},
				{
				    "featureType": "road.arterial",
				    "elementType": "labels.icon",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "transit",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "water",
				    "elementType": "all",
				    "stylers": [
				        {
				            "color": "#097ea2"
				        },
				        {
				            "visibility": "on"
				        }
				    ]
				}
				];
			 
			var mapOptions = {
				zoom             : 15,
				center           : myLatlng,
				mapTypeControl   : true,
				disableDefaultUI : true,
				zoomControl      : true,
				scrollwheel      : false,
				styles   		 : styles, 
				draggable        : true
			}
			map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

			marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:'{{ STATIC_URL }}img/contactenos.png'
			});
		}
		google.maps.event.addDomListener(window, 'load', initMap);	

		//tab
		$('.tabs .header-tab .b16-item').click(function(e){
			e.preventDefault();

		$('.b16-headtab').click(function(event) {
			event.preventDefault();
			var f_latitud = $(this).attr('data-lat');
			var f_longitud = $(this).attr('data-long');
			var myLatLng = new google.maps.LatLng(f_latitud,f_longitud,18);
			marker.setPosition( myLatLng);
			map.panTo( myLatLng );
		});

		//header-tab
		$('.tabs .header-tab .b16-item').removeClass('active')
		$(this).addClass('active')

		//content-tab
		var id = $(this).attr('data-id');
		console.log(id);

		$('.b16 .content-tab .item-tab').removeClass('active')
		$('.b16 .content-tab .item-tab[id="'+id+'"]').addClass('active');

		});	 

	});
</script>

{% endblock %}
<!-- locales -->

<!-- gracias-contraseña -->
{% extends "base.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 30 -->
<section class="b36 height">
	<div class="wancho height2">
		<div class="wrapper">
			<div class="b36-title">
				<h2>GRACIAS</h2>
			</div>
			<figure class="b36-img">
				<img src="{{STATIC_URL}}media/b30.png" width="76" height="62">
			</figure>
			<div class="b36-parrafo">
				<p>se enviaron los datos a su correo para reestablecer su contraseña</p>
			</div>
			<form action="" class="b36-form">
				<div class="g-input">
					<input type="text" placeholder="Ingresa tu correo" class="validate[required]">
				</div>
				<div class="b36-bnt">
					<button class="bt g-boton b36-send" href="">Enviar</button>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
		
		//validacion formulario
		$(".b36-send").click(function(e) {
			e.preventDefault();
			var valid = $('.b36-form').validationEngine('validate');

			if (!valid) {

			}else{
				$('.b7-wrapform').hide(function() {
					$('.b15').show();
				});
			}
		});

		function fullScreen(){
			var vHeight = $(window).height();
			var vWidth = $(window).width();
			var header = $('header').height();
			var footer = $('footer').height();
			//console.log(vHeight);

			$('.height').height(vHeight+header-footer);
			$('.height2').height(vHeight+header-footer);

			console.log(header);
			console.log(footer);

			if(vWidth < 769){
			$('.height').css('height', 'auto');
			}
		}

		fullScreen()

	});
</script>

{% endblock %}
<!-- gracias-contraseña -->

<!-- olvidaste-contraseña -->
{% extends "base.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 30 -->
<section class="b38 height">
	<div class="wancho height2">
		<div class="wrapper">
			<div class="b38-title">
				<h2>¿Olvidaste tu contraseña?</h2>
			</div>
			<figure class="b38-img">
				<img src="{{STATIC_URL}}media/b37-img.png">
			</figure>
			<div class="b38-parrafo">
				<p>Ingresa tu correo y recupera tu clave de acceso</p>
			</div>
			<form action="" class="b38-form">
				<div class="g-input">
					<input type="text" placeholder="Ingresa tu correo" class="validate[required]">
				</div>
				<div class="b38-bnt">
					<button class="bt g-boton b38-send" href="">Enviar</button>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
		
		//validacion formulario
		$(".b38-send").click(function(e) {
			e.preventDefault();
			var valid = $('.b38-form').validationEngine('validate');

			if (!valid) {

			}else{
				$('.b7-wrapform').hide(function() {
					$('.b15').show();
				});
			}
		});

		function fullScreen(){
			var vHeight = $(window).height();
			var vWidth = $(window).width();
			var header = $('header').height();
			var footer = $('footer').height();
			//console.log(vHeight);

			$('.height').height(vHeight+header-footer);
			$('.height2').height(vHeight+header-footer);

			console.log(header);
			console.log(footer);

			if(vWidth < 769){
			$('.height').css('height', 'auto');
			}
		}

		fullScreen()

	});
</script>

{% endblock %}
<!-- olvidaste-contraseña -->

<!-- error-contraseña -->
{% extends "base.html" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 30 -->
<section class="b37 height">
	<div class="wancho height2">
		<div class="wrapper">
			<div class="b37-title">
				<h2>ERROR DE ENVÍO</h2>
			</div>
			<figure class="b37-img">
				<img src="{{STATIC_URL}}media/b37-img.png">
			</figure>
			<div class="b37-parrafo">
				<p>El correo ingresado no está registrado.</p>
			</div>
			<form action="" class="b37-form">
				<div class="g-input">
					<input type="text" placeholder="Ingresa tu correo" class="validate[required]">
				</div>
				<div class="b37-bnt">
					<button class="bt g-boton b37-send" href="">Enviar</button>
				</div>
			</form>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
		
		//validacion formulario
		$(".b37-send").click(function(e) {
			e.preventDefault();
			var valid = $('.b37-form').validationEngine('validate');

			if (!valid) {

			}else{
				$('.b7-wrapform').hide(function() {
					$('.b15').show();
				});
			}
		});

		function fullScreen(){
			var vHeight = $(window).height();
			var vWidth = $(window).width();
			var header = $('header').height();
			var footer = $('footer').height();
			//console.log(vHeight);

			$('.height').height(vHeight+header-footer);
			$('.height2').height(vHeight+header-footer);

			console.log(header);
			console.log(footer);

			if(vWidth < 769){
			$('.height').css('height', 'auto');
			}
		}

		fullScreen()

	});
</script>

{% endblock %}
<!-- error-contraseña -->