{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<div class="g-banner" style="background-image: url('{{ asset(info.imagenPaginaBolsaTrabajo)}}');">
	<div class="wancho">
		<div class="g-banner-text">
			<div class="g-title">
				<h1>{{ info.mensajePaginaBolsaTrabajo }}</h1>
			</div>
		</div>
	</div>
</div>

<!-- BLOQUE 20 -->
<section class="b20">
		<div class="wancho">
			<div class="b20-left">
				<div class="b20-title">
					<h2>Sé parte de nuestra familia</h2>
					<p>Ingrese sus datos y nos comunicaremos con ustedes</p>
				</div>
				<form method="POST" class="b20-form" enctype="multipart/form-data">
					<div class="g-input">
						<input type="text" name="nombres" placeholder="Nombres  y Apellidos" class="validate[required]">
					</div>
					<div class="dos-input">
						<div class="g-input">
							<input type="text" name="documento" placeholder="DNI" class="validate[required]">
						</div>


						<div class="b18-content">
	                    <div class="dos-select">
	                        <div class="g-input g-select">
	                            <select name="departamento" id="departamento">

	                            </select>
	                        </div>
	                    </div>
	                    <div class="dos-select">
	                        <div class="g-input g-select">
	                            <select name="provincia" id="provincia">

	                            </select>
	                        </div>
	                    </div>
	                    <div class="dos-select">
	                        <div class="g-input g-select">
	                            <select name="distrito" id="distrito">

	                            </select>
	                        </div>
	                    </div>
	                </div>

					</div>
					<div class="dos-input">
						<div class="g-input">
							<input type="text" name="email" placeholder="E-mail" class="validate[required]">
						</div>
						<div class="g-input">
							<input type="text" name="telefono" placeholder="Teléfono" class="validate[required]">
						</div>
					</div>

					<div class="b20-bottom">

						<div class="b20-btncv g-input g-input-file">
							<span class="text-input bt g-boton g-red">Adjunta tu CV</span>
							<input class="inputfile validate[required]" type="file" name="cv" accept="application/pdf,application/msword"/>
						</div>
						{# <p>Gracias</p> #}
					</div>

					<div class="b20-btn">
							<button class="bt g-boton b20-send">Enviar</button>
							<!--input type="submit" class="bt g-boton"-->
						</div>
					{# {% for flash_message in app.session.flashBag.get('success') %}
						<h4 class="alert alert-success">
							<p> {{ flash_message }} </p>
						</h4>
					{% endfor %}

					{% for flash_message in app.session.flashBag.get('error') %}
						<h4 class="alert alert-danger">
							<p> {{ flash_message }} </p>
						</h4>
					{% endfor %}

					{% for flash_message in app.session.flashBag.get('warning') %}
						<h4 class="alert alert-warning">
							<p> {{ flash_message }} </p>
						</h4>
					{% endfor %} #}
				</form>
			</div>

			<div class="b20-right">
				<aside class="g-televentas">
					<div class="g-tl-mg">
						<img src="{{ asset(info.logoSegundario) }}" width="300" height="140" alt="Life-It">
					</div>
					<div class="g-tl-cont">
						<div class="g-tl-ContIn">
							<h5>Canal televentas</h5>
							<p>Lima: {{ info.televentasLima }}</p>
							<p>Perú: {{ info.televentasPeru }}</p>
						</div>
					</div>
				</aside>
			</div>
		</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
		//validacion formulario
		$(".b20-send").click(function(e) {
			//e.preventDefault();
			var valid = $('.b20-form').validationEngine('validate');

			if (!valid) {

			}else{
				$('.b7-wrapform').hide(function() {
					$('.b15').show();
				});
			}
		});

		//subir file
		$(".g-input-file input:file").change(function (){
			var fileInput = $(".text-input");
			var text;
			$this = $(this);
			$('.text-input').html($this.val());
			text = $('.text-input').html();
			text = text.substring(text.lastIndexOf("\\") + 1, text.length);
			$('.text-input').html(text);
		});

		cargarDepartamento();
		cargarProvincia(null, null);
		cargarComboDistrito(null, null);
	});

	// function cargarComboProvincia(){
	// 	$.ajax({
	// 		url : "/cargar-provincia/",
	// 		type : 'post',
	// 		dataType : 'json',
	// 		data : {"param" : null},
	// 		success : function(resultado) {
	// 			// console.log(resultado);
	// 			if(resultado.state){
	// 				html = "<option value=''>Elija provincia</option>";

	// 				$.each(resultado.data, function(i, row){
	// 					html += "<option value = '"+row.id+"'>"+row.nombre+"</option>";
	// 				});

	// 				$("#provincia").html(html);
	// 			}else{
	// 				alert(resultado.data);
	// 			}
	// 		},
	// 		error : function(error) {
	// 			alert(error.responseText);
	// 		}
	// 	});
	// }

	function cargarDepartamento(){
		$.ajax({
			url: "/cargar-departamento/",
			type: "get",
			dataType: "json",
			data: '',
			success: function(response){
				if (response.state) {
					html = "<option value=''>Elija Departamento</option>";

					$.each(response.data, function(i, row){
						html += "<option value='"+row.id+"'>"+row.nombre+"</option>"
					});

					$("#departamento").html(html);
					$("#provincia").attr("disabled", true);
					//$("#departamento").attr("disabled", true);
				}else{
					console.log(response.data);
				}
			},
			error: function(error){
				console.log(error.responseText);
			}
		});
	}

	function cargarProvincia(dep_id, comboid){
		$.ajax({
			url: "/cargar-provincia/",
			type: "post",
			dataType: "json",
			data: {"param" : dep_id},
			success: function(response){
				if (response.state) {
					html = "<option value=''>Elija provincia</option>";

					$.each(response.data, function(i, row){
						html += "<option value = '"+row.id+"'>"+row.nombre+"</option>";
					});

					if (comboid == null) {
						$("#provincia").html(html);
					}else{
						$(comboid).html(html);
					}

					if (dep_id == null) {
						$("#provincia").attr("disabled", true);
					}
				}else{
					alert(response.data);
				}
			},
			error: function(error){
				alert(error.responseText);
			}
		});
	}

	$("#departamento").change(function(){
		depId = $(this).val().trim();

		if (depId == "") {
			depId = null;
		}else{
			$("#provincia").attr("disabled", false);
		}

		cargarProvincia(depId, "#provincia");
	});



	$("#provincia").on("change", function(){
		provId = $(this).val().trim();

		if(provId == ""){
			provId = null;
			$("#provincia").attr("disabled", true);
			$("#departamento").val("");
		}else{
			$("#distrito").attr("disabled", false);
		}

		cargarComboDistrito(provId, "#distrito");

	});

	function cargarComboDistrito(p_prov_id, comboid){
		$.ajax({
			url : "/cargar-distrito/",
			type : 'post',
			dataType : 'json',
			data : {"param" : p_prov_id},
			success : function(resultado) {
				// console.log(resultado);
				if(resultado.state){
					html = "<option value=''>Elija distrito</option>";

					$.each(resultado.data, function(i, row){
						html += "<option value = '"+row.id+"'>"+row.nombre+"</option>";
					});

					if (comboid == null) {
						$("#distrito").html(html);
					}else{
						$(comboid).html(html);
					}

					if(p_prov_id == null){
						$("#distrito").attr("disabled", true);
					}
				}else{
					alert(resultado.data);
				}
			},
			error : function(error) {
				alert(error.responseText);
			}
		});
	}

	$("#distrito").on("change", function(){
		distId = $(this).val().trim();
		if(distId == ""){
			cargarComboDistrito(null, null); // Me lista todos los distritos.
			$("#distrito").attr("disabled", true);
			$("#provincia").val("");
			$("#departamento").val("");
		}
	});

</script>

{% endblock %}
