{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}



{% if sesion.idCupon is defined %}
    {# {{ dump(sesion.idCupon) }} #}
{% else %}
   {#  No hay cupon #}
    {% set count = 0 %}
{% endif %}
{# {{ dump(carritoProductosActual) }} #}
{# contador para determinar cuantos productos tienen el cupon actual, no aplica para categorias o subcategorias #}
{% set count = 0 %}
    {% if sesion.idCliente is defined %}

        {% if sesion.idCupon is defined %}
                {% if sesion.idCupon.0.descuentoEnPorcentaje %}
                    {# <h2>descuento porcentaje</h2> #}
                {% else %}
                    {% if carritoProductosActual is defined %}

                        {% for item in carritoProductosActual %}
                                {% if item.idCupon != 2 and item.idCupon == sesion.idCupon.0.id %}
                                    {% set count = count + 1  %}
                                {% endif %}
                         {% endfor %}
                    {% endif %}
                {% endif %}
        {% endif %}

    {% else %}

        {% if sesion.idCupon is defined %}
                {% if carritoProductosActual is defined %}
                    {# {{ dump(carritoProductosActual) }} #}
                    {% for item in carritoProductosActual %}
                            {% if item.idCupon == sesion.idCupon.0.id %}
                                {% set count = count + 1  %}
                            {% endif %}
                    {% endfor %}
                {% endif %}

        {% else %}
                {% set count = 0  %}

        {% endif %}

    {% endif %}



{# cantidad de productos #}
<input type="hidden" id="cantidad_producto" value="{{ count }}">
{% if sesion.idCupon is defined %}
{# id del cupon #}
<input type="hidden" id="cuponid" value="{{ sesion.idCupon.0.id }}">
{% else %}

{% endif %}

<!-- BLOQUE 10 -->
<section class="b10">
	<div class="b10-cnt">
		{% if sesion.nombreCliente is defined %}
			{% set numElementosCarrito = carritoProductosActual|length %}
			{% if numElementosCarrito > 0 %}
				<h3>{{ "Tenías productos agregados al carrito previamente, por ello si has elegido nuevos ítems antes de iniciar esta sesión entonces éstos han sido agregados a tu carrito que tenías con anterioridad. Si ya no deseas adquirirlos elimínalos de tu selección. Gracias por tu comprensión." }}</h3>
			{% endif %}
		{% endif %}

		<div class="b10-left">
			<div class="g-title">
				<h1>Carrito de compras</h1>
			</div>
			<div class="b10-p">
				<p>Tu selección: {{ carritoProductosActual|length }}</p>
			</div>
			<div class="b10-table-row dn1024">
				<div class="b10-table-col-h">
					Producto
				</div>
				<div class="b10-table-col-h">
					Descripción
				</div>
				<div class="b10-table-col-h">
					Cantidad
				</div>
				<div class="b10-table-col-h">
					Precio
				</div>
			</div>
			<div class="b10-cnt-items">
				{% set subTotalProducto = 0 %}
				{% for item in carritoProductosActual %}
					<div class="b10-table-row">
						<div class="b10-table-col" data-text="Producto">
							<img src="{{ asset(item.imagenProducto.0.imagenTodo) }}" alt="{{ item.nombreProducto }}">
						</div>

						<div class="b10-table-col" data-text="Descripción">
							<p>{{ item.nombreProducto }}</p>
						</div>

						<div class="b10-table-col" data-text="Cantidad">
							<div class="b10-input">
								<div class="b10-cnt-input">
									{% set stockMaximo = 5 %}

									{% if item.stockProducto < 5 %}
										{% set stockMaximo = item.stockProducto %}
									{% endif %}

									<select class="cantidadProdActual">
										{% for i in 1..stockMaximo %}
											{% if i == item.cantidadProducto %}
												<option value="{{ i }}" selected>{{ i }}</option>
											{% else %}
												<option value="{{ i }}">{{ i }}</option>
											{% endif %}
										{% endfor %}
									</select>
                                        {# reemplace idProducto por presentacionid#}
									<input type="hidden" class="input-prodId" id="prodId" value="{{ item.presentacionid }}">
									<input type="hidden" name="precio{{ loop.index }}" class="precio-unitario" id="precioUnitarioProd" value="{{ item.precioProducto }}">
									<input type="hidden" class="cantidad-producto" id="cantidadProd" value="{{ item.cantidadProducto }}">
									<span class="icon-flechaabajo-01-01"></span>
								</div>
							</div>
						</div>
						<div class="b10-table-col" data-text="Precio">
							<p><span class="precio-totalProducto" data-val="" id="totalItem{{loop.index}}">s/. {{ item.precioProducto * item.cantidadProducto }}</span></p>
						</div>
						<span class="p10-close icon-cerrar-01"></span>
						<hr class="b10-hr">
					</div>
					{% set subTotalProducto = subTotalProducto + item.subTotalProducto %}

				{% endfor %}
			</div>
			<!-- con la clase quitar-cupon, se muestra el boton cancelar cupon y los mensajes de cupon valido o invalido asi como el actualizar cupon-->
            {% if sesion.idCupon is defined %}
                {% set class = "b10-btn-inner quitar-cupon" %}
                {% set classColor = "bt g-boton g-red ico quitar-cup" %}
                {% set id = 'quitarCupoon' %}
                {% set msj = "Eliminar Cupón" %}
                {% set mensaje = 'Cupón Valido' %}
                    {% else %}
                {% set class = "b10-btn-inner agregar-cupon" %}
                {% set classColor = "bt g-boton ico agregar-cup" %}
                {% set id = 'agregarCupoon' %}
                {% set msj = "Agregar Cupón" %}
                {% set mensaje = '' %}
            {% endif %}
			<div class="{{ class }}">
				<div class="b10-btn input">
					<input type="text" placeholder="N de Cupon" id="txtcupon">
          <p> {{ mensaje }} </p>
				</div>
				<div class="b10-botones">
					<div class="b10-btn agregar">
            <a id="{{ id }}" class="{{ classColor }}">{{ msj }}<i class="icon-cupon-01"></i></a>
						{# <a href="" id="agregarCupoon" class="bt g-boton ico agregar-cup">Agregar cupón<i class="icon-cupon-01"></i></a>
						<a href="" id="quitarCupoon" class="bt g-boton g-red ico quitar-cup">Quitar cupón<i class="icon-cupon-01"></i></a>
						<a href="" class="actualizar-cupon">Actualizar</a> #}
					</div>
					<div class="b10-btn seguir">
						<a class="bt g-boton ico" href="{{ path('productos_slug', {'slug2':'masajes' }) }}">Seguir Comprando <i class="icon-mas-01"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="b10-right">
			<div class="b10-detalle">
				<div class="g-title">
					<h1>Detalle</h1>
				</div>
				<div class="b10-info">

					<ul class="b10-total">
						<li><span>Sub total</span></li>

						<li class="li-right" id="sub_total_real" data-val="">s/. {{ subTotalProducto }} </li>
						<li><span>Descuento por cupón</span></li>

						<li class="li-right" id="dscto" data-val="">

        {% set descuentoReal = 0 %}

        {% if sesion.idCupon.0 is defined %}

            {% if sesion.idCupon.0.descuentoEnPorcentaje == 1 %}
            {# tipo de descuento porcentaje valor es igual a 1 #}
            <p><input type="hidden" id="tipo_descuento" value="{{ sesion.idCupon.0.descuentoEnPorcentaje }}"></p>
            {% set descuentoOferta = sesion.idCupon.0.descuento %}

            {% set descuentoReal = (subTotalProducto * descuentoOferta) / 100  %}
              {# s/. {{ descuentoReal }} #}
            <p><input type="hidden" id="input_porcentaje" value="{{ sesion.idCupon.0.descuento }}"></p>

            <p id="descuentoporcentaje">s/. {{ descuentoReal }} </p>
                  {% else %}
                      {% set descuentoOferta = sesion.idCupon.0.descuento %}
                        <p><input type="hidden" id="input_desc" value="{{ descuentoOferta }}"></p>
                      {% set descuentoReal = descuentoOferta * count %}
                      s/. {{ descuentoReal }}
            {% endif %}

        {% else %}
                            s/. 0
        {% endif %}

    </li>
</ul>
			<ul class="b10-total">
						<li><span><strong>TOTAL</strong></span></li>

        <input type="hidden" name="sub_total" value="{{ subTotalProducto - descuentoReal }}">
        <li style="text-align: right;" id="subTotal" data-val="{{ subTotalProducto - descuentoReal}}">s/. {{ subTotalProducto - descuentoReal}}</li>
          </ul></span>
				</div>
			</div>
			<div class="b10-btn-right">
				<a id="btn-pagar-ahora" class="bt g-boton g-red ico">Pagar ahora <i class="icon-dolar"></i></a>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">

	$(function(){
        //console.log(array)
        var $inputItem = $(".input-prodId"),
            inputCantidad = $inputItem.length,
            array = [];

        for(var i = 0 ; i< inputCantidad ; i++){
            var inputThis = $inputItem.eq(i).val()
            array.push(inputThis);
        }

		$(".b10-btn-right").on("click", "a", function(){
			subTotalProducto = $("#subTotal").attr("data-val");
			if (subTotalProducto <= 0) { alert("Debe elegir al menos un producto"); return false; }
		});


		$("#agregarCupoon").on("click", function(){

			itemsCarrito = $(".b10-cnt-items").find(".b10-table-row").length;

			if(itemsCarrito){
				numCupon = $("#txtcupon").val().trim();

				if (!numCupon) {
					alert("Debe ingresar un número de cupón válido");
					return false;
				}else{
					//Procesando cupón ingresado. Se tiene que validar si dicho cupón está asociado a cualquiera de los productos elegidos para comprar, a su subcategoría o categoría, de lo contrario mandará un mensaje diciendo que el cupón no es útil para la transacción.
          var presentacionid = $("#prodId").val();
          var jsonString = JSON.stringify(array);

					$.ajax({
						url : "/agregar-cupon/",
						type : 'post',
						dataType : 'json',
						data : {"numCupon" : numCupon, "idProducto":jsonString},
						success : function(resultado) {
							console.log("a"+resultado);
							if(resultado.state){
								console.log("A"+resultado);
                location.reload();
							}else{
								alert("No hay ningun producto con este cupón asociado");
							}
						},
						error : function(error) {
							alert(error.responseText);
						}
					});
				}
			}else{
				alert("Aún no hay productos asociados al carrito");
			}
		});
	});

       var $inputPrecio = $(".precio-unitario"),
            inputPrecioCantidad = $inputPrecio.length,
            arrayPrecio = [];

            for(var i = 0; i<inputPrecioCantidad; i++){
                var inputPrecioThis = $inputPrecio.eq(i).val()
                arrayPrecio.push(inputPrecioThis);
            }
            console.log("array precios " + arrayPrecio)

  // var $changeTotal = $('#subTotal'),
  //     changeTotalValue = $changeTotal.attr('data-val'),
  //     changeTotalNumber = parseFloat(changeTotalValue);
  //     var descuento = $("#input_desc").val();
	$(".cantidadProdActual").on("change", function(){

    // var $itemTotal = $(".precio-totalProducto"),
    //     cantidadItemTotal = $itemTotal.length,
    //     arrayItemTotal = [];

    //     for (var i = 0 ; i < cantidadItemTotal ; i++) {
    //             var itemTotalThis = $itemTotal.eq(i).attr('data-val');
    //             arrayItemTotal.push(itemTotalThis);
    //      }
    //     console.log("totales : " + arrayItemTotal)

    var $inputItem = $(".input-prodId"),
        inputCantidad = $inputItem.length,

        array = [];

        for(var i = 0 ; i< inputCantidad ; i++){
            var inputThis = $inputItem.eq(i).val()
            array.push(inputThis);
        }

    var $inputPedido = $(".cantidadProdActual"),
        inputPedidoCantidad = $inputPedido.length,
        arrayPedido = [];

         for (var i = 0 ; i < inputPedidoCantidad ; i++) {
                var inputPedidoThis = $inputPedido.eq(i).val();
                arrayPedido.push(inputPedidoThis);
         }

        var map = [];
            count = 0;
        $(".precio-unitario").each(function(){
                map.push($(this).val());
                count++;
        });

        for (var i = 0 ; i < count ; i++) {
           var precioPorProducto = map[i] * arrayPedido[i];
           $("#totalItem"+(i+1)).text("s/. " + precioPorProducto);
           $("#totalItem"+(i+1)).attr('data-val', precioPorProducto);
        }
         calcularTotal(arrayPedido);
         actualizarCarrito(array , arrayPedido);
	});

      var cantidad = $("#cantidad_producto").val();
      var tipo_descuento = $("#tipo_descuento").val();

      if (cantidad == 0) {
            if (tipo_descuento == 1) {
                 var tipo = 1;
                     //subtotal_actual = $("#subTotal").attr('data-val'),
                     //totalDscto      = (subtotal_actual * descuento)/100;
            }else{
              var $descuento = 0,
                  totalDscto = 0;         }
        }else{
              var $descuento = $("#input_desc").val(),
                  totalDscto = $descuento * cantidad;        }

       var descuentoInicial = $("#input_porcentaje").val();

      function calcularTotal(arrayPedido){
        var pedidos = JSON.stringify(arrayPedido);
        var precios = JSON.stringify(arrayPrecio);

        $.ajax({
            url: '/calcular-precios/',
            type: 'POST',
            dataType: 'json',
            data: { pedido: pedidos, precio: precios, descuento: $descuento, tipo: tipo},
            success: function(response){
                if (response.state) {

                    $("#sub_total_real").text("s/. "+response.data);
                    if(tipo == 1){
                        descuentoPorcentaje = (response.data * descuentoInicial)/100;
                        $("#dscto").text("s/. " + descuentoPorcentaje);
                        var precioFinal = response.data - descuentoPorcentaje;
                        $("#subTotal").text("s/. " + precioFinal);
                        $("#input_envio_total").val(precioFinal);

                         console.log(response.data)
                    }else{
                        $("#dscto").text("s/. " + totalDscto);
                        var precioFinal = response.data - totalDscto;
                        $("#subTotal").text("s/. " + precioFinal);
                        $("#input_envio_total").val(precioFinal);


                    }


                    $("#subTotal").attr('data-val', precioFinal);
                }
            }
        })
    };


    function actualizarCarrito(array, arrayPedido){

        var ids = JSON.stringify(array);
        var pedidos = JSON.stringify(arrayPedido);
        var precios = JSON.stringify(arrayPrecio);
        console.log(ids);
        $.ajax({
             url : "/actualizar-carrito/",
             type : 'post',
             dataType : 'json',
             data : {"id" : ids, "pedido" : pedidos, "precio" : precios},
             success : function(resultado) {
                 if(resultado.state){
                     console.log("que haces : " + resultado.data);
                 }else{
                     alert(resultado.data);
                 }
             },
             error : function(error) {
                 //alert(error.responseText);
             }
        });
    }

    $("#quitarCupoon").on("click" , function(){
        console.log("AAAA");
        var cuponID = $("#cuponid").val();
        $.ajax({
            url: "/eliminar-cupon/",
            type: "post",
            dataType: "json",
            data: { cupon: cuponID },
            success: function(response){
                if (response.state) {
                    window.location.reload();
                }
            },
             error : function(error) {
                    alert(error.responseText);
                }
        });
    });

    $("#btn-pagar-ahora").click(function(){

      // var descuentoCarrito = $("#descuento_envio").val();
      // var precioCarrito    = $("#input_envio_total").val();
      var $descuento = $("#dscto").text().trim().split('.'),
           descuentoCarrito = $descuento[1];
      var $precio    = $("#subTotal").text().trim().split('.'),
           precioCarrito = $precio[1];

      console.log(descuentoCarrito , precioCarrito);
        $.ajax({
            url: "/datos-carrito/",
            type: "POST",
            dataType: "json",
            data: { total: precioCarrito , descuento: descuentoCarrito },
            success: function(response){
                if (response == true) {
                    window.location = {{ path('datos-facturacion') }};
                }
            }
        });
    });




</script>
{% endblock %}
