{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}
git gi
{% block content %}

{% if sesion.idCupon is defined %}
	{{ dump(sesion.idCupon) }}
{% else %}
	No hay cupón
{% endif %}

<!-- BLOQUE 10 -->
<section class="b10">
	<div class="b10-cnt">
		{% if sesion.nombreCliente is defined %}
			{% set numElementosCarrito = carritoProductosActual|length %}
			{% if numElementosCarrito > 0 %}
				<h3>{{ "Tenías productos agregados al carrito previamente, por ello si has elegido nuevos ítems antes de iniciar esta sesión entonces éstos han sido agregados a tu carrito que tenías con anterioridad. Si ya no deseas adquirirlos elimínalos de tu selección. Gracias por tu comprensión." }}</h3>
			{% endif %}
		{% endif %}

		<div class="b10-left">
			<div class="g-title">
				<h1>Carrito de compras</h1>
			</div>
			<div class="b10-p">
				<p>Tu selección: {{ carritoProductosActual|length }}</p>
			</div>
			<div class="b10-table-row dn1024">
				<div class="b10-table-col-h">
					Producto
				</div>
				<div class="b10-table-col-h">
					Descripción
				</div>
				<div class="b10-table-col-h">
					Cantidad
				</div>
				<div class="b10-table-col-h">
					Precio
				</div>
			</div>
			<div class="b10-cnt-items">
				{% set subTotalProducto = 0 %}
				{% for item in carritoProductosActual %}
					<div class="b10-table-row">
						<div class="b10-table-col" data-text="Producto">
							<img src="{{ asset(item.imagenProducto) }}" alt="{{ item.nombreProducto }}">
						</div>
						<div class="b10-table-col" data-text="Descripción">
							<p>{{ item.nombreProducto }}</p>
						</div>
						<div class="b10-table-col" data-text="Cantidad">
							<div class="b10-input">
								<div class="b10-cnt-input">
									{% set stockMaximo = 5 %}

									{% if item.stockProducto < 5 %}
										{% set stockMaximo = item.stockProducto %}
									{% endif %}

									<select id="cantidadProdActual">
										{% for i in 1..stockMaximo %}
											{% if i == item.cantidadProducto %}
												<option value="{{ i }}" selected>{{ i }}</option>
											{% else %}
												<option value="{{ i }}">{{ i }}</option>
											{% endif %}
										{% endfor %}
									</select>

									<input type="hidden" id="prodId" value="{{ item.idProducto }}">
									<input type="hidden" id="precioUnitarioProd" value="{{ item.precioProducto }}">
									<input type="hidden" id="cantidadProd" value="{{ item.cantidadProducto }}">
									<span class="icon-flechaabajo-01-01"></span>
								</div>
							</div>
						</div>
						<div class="b10-table-col" data-text="Precio">
							<p><span id="totalItem">s/. {{ item.precioProducto * item.cantidadProducto }}</span></p>
						</div>
						<span class="p10-close icon-cerrar-01"></span>
						<hr class="b10-hr">
					</div>
					{% set subTotalProducto = subTotalProducto + item.subTotalProducto %}
				{% endfor %}
			</div>
			<!-- con la clase quitar-cupon, se muestra el boton cancelar cupon y los mensajes de cupon valido o invalido asi como el actualizar cupon-->
			<div class="b10-btn-inner quitar-cupon">
				<div class="b10-btn input">
					<input type="text" placeholder="N de Cupon" id="txtcupon">
					<p>Cupon válido</p>
					<p>Cupon no valido</p>
				</div>
				<div class="b10-botones">
					<div class="b10-btn agregar ">
						<a href="" class="bt g-boton ico agregar-cup">Agregar cupón<i class="icon-cupon-01"></i></a>
						<a href="" class="bt g-boton g-red ico quitar-cup">Quitar cupón<i class="icon-cupon-01"></i></a>
						<a href="" class="actualizar-cupon">Actualizar</a>
					</div>
					<div class="b10-btn seguir">
						<a class="bt g-boton ico" href="{{ path('productos_slug', {'slug2':'masajes' }) }}">Seguir Comprando <i class="icon-mas-01"></i></a>
					</div>
				</div>
			</div>
		</div>
		<div class="b10-right">
			<div class="b10-detalle">
				<div class="g-title">
					<h1>Detalle</h1>
				</div>
				<div class="b10-info">
					<!--ul class="b10-text">
						<li><span>SUB - TOTAL</span></li>
						<li id="subTotal" data-val="{{ subTotalProducto }}"><sub>s/.</sub>{{ subTotalProducto }}</li>
					</ul>
					<ul class="b10-text">
						<li><span>ENVÍO</span></li>
						<li><sub>s/.</sub>10.00</li>
					</ul-->
					<ul class="b10-total">
						<li><span>Sub total</span></li>
{# 						{% set totalEnvio = 10 %}
						{% set totalCompra = 0 %}
						{% set totalCompra = subTotalProducto + totalEnvio  %}
						<li>{{ totalCompra }}</li> #}
						<li class="li-right" id="dscto" data-val="">s/. 0</li>
						<li><span>Descuento por cupón</span></li>
{# 						{% set totalEnvio = 10 %}
						{% set totalCompra = 0 %}
						{% set totalCompra = subTotalProducto + totalEnvio  %}
						<li>{{ totalCompra }}</li> #}
						<li class="li-right" id="dscto" data-val="">s/. 0</li>
					</ul>
					<ul class="b10-total">
						<li><span><strong>TOTAL</strong></span></li>
{# 						{% set totalEnvio = 10 %}
						{% set totalCompra = 0 %}
						{% set totalCompra = subTotalProducto + totalEnvio  %}
						<li>{{ totalCompra }}</li> #}
						<li style="text-align: right;" id="subTotal" data-val="{{ subTotalProducto }}">s/. {{ subTotalProducto }}</li>
					</ul>
				</div>
			</div>
			<div class="b10-btn-right">
				<a class="bt g-boton g-red ico" href="{{ path('datos-facturacion') }}">Pagar ahora <i class="icon-dolar"></i></a>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
		$(".b10-btn-right").on("click", "a", function(){
			subTotalProducto = $("#subTotal").attr("data-val");
			if (subTotalProducto <= 0) { alert("Debe elegir al menos un producto"); return false; }
		});

		$(".b10-btn.agregar").on("click", "a", function(){
			itemsCarrito = $(".b10-cnt-items").find(".b10-table-row").length;

			if(itemsCarrito){
				numCupon = $("#txtcupon").val().trim();

				if (!numCupon) {
					alert("Debe ingresar un número de cupón válido");
					return false;
				}else{
					//Procesando cupón ingresado. Se tiene que validar si dicho cupón está asociado a cualquiera de los productos elegidos para comprar, a su subcategoría o categoría, de lo contrario mandará un mensaje diciendo que el cupón no es útil para la transacción.

					$.ajax({
						url : "/agregar-cupon/",
						type : 'post',
						dataType : 'json',
						data : {"numCupon" : numCupon},
						success : function(resultado) {
							console.log(resultado);
							if(resultado.state){
								console.log(resultado);
								//alert(resultado.data);
								$.each(resultado.data , function(index, row) {
									alert(row.descuento);
									subTotalProducto = $("#subTotal").attr("data-val");

									if (row.tipo) {
										var desc  = (subTotalProducto * row.descuento)/100;
										var total =  subTotalProducto - desc;

										$("#descc").html("s/."+desc);
										$("#subTotal").html("s/. "+total);
										console.log(desc, total);
									}else{
										var total =  subTotalProducto - row.descuento;
										$("#descuentoaa").val(row.descuento);
										$("#descc").html("s/. "+row.descuento);
										$("#subTotal").html("s/. "+total);
										console.log(total);
									}
								});
							}else{
								alert(resultado.data);
							}
						},
						error : function(error) {
							alert(error.responseText);
						}
					});
				}
			}else{
				alert("Aún no hay productos asociados al carrito");
			}
		});
	});

	$("select#cantidadProdActual").on("change", function(){
		//cantidad NUEVA elegida por el usuario
		valor = parseFloat($(this).val().trim());

		//Id de producto
		productoId = $(this).closest(".b10-cnt-input").find("#prodId").val().trim();

		//stock actual del producto
		stockActual = parseFloat($(this).closest(".b10-cnt-input").find("#cantidadProdActual").attr("data-max"));
		
		//precio unitario del producto
		precioUnitarioProd = parseFloat($(this).closest(".b10-cnt-input").find("#precioUnitarioProd").val().trim());

		//cantidad ACTUAL elegida del producto
		cantidadActual = parseFloat($(this).closest(".b10-cnt-input").find("#cantidadProd").val().trim());

		//subtotal ACTUAL item
		subTotalProductoActual = precioUnitarioProd * cantidadActual;

		//subTotal NUEVO item
		subTotalProductoNuevo = precioUnitarioProd * valor;

		//total ACTUAL por la compra
		totalActual = parseFloat($("#subTotal").attr("data-val").trim());

		//total NUEVO por la compra
		totalNuevo = (totalActual - subTotalProductoActual) + subTotalProductoNuevo;

		$("#subTotal").attr("data-val", totalNuevo);
		$("#subTotal").html("s/. "+totalNuevo);
		$(this).closest(".b10-cnt-input").find("#cantidadProd").val(valor);
		$(this).closest(".b10-table-row").find("#totalItem").html("s/. "+subTotalProductoNuevo);

		$.ajax({
			url : "/actualizar-carrito/",
			type : 'post',
			dataType : 'json',
			data : {"productoId" : productoId, "productoCantidad" : valor, "productoSubtotal" : subTotalProductoNuevo},
			success : function(resultado) {
				if(resultado.state){
					//console.log(resultado.data);
				}else{
					alert(resultado.data);
				}
			},
			error : function(error) {
				//alert(error.responseText);
			}
		});

		//console.log("Cantidad a comprar actual: "+cantidadActual+" Cantidad a comprar nueva: "+valor+" preciio unitario: "+precioUnitarioProd+" subtotal actual: "+subTotalProductoActual.toFixed(2)+" nuevo subtotal: "+subTotalProductoNuevo.toFixed(2)+" total actual: "+totalActual.toFixed(2)+" total nuevo: "+totalNuevo.toFixed(2));
	});
</script>
{% endblock %}
