{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<!-- BLOQUE 15 -->

<section class="b15" style="background-image: url({{ asset(info.imagenPaginaLocales) }});">
	<div class="wancho">
		<div class="b15-table">
			{% set mensajePaginaLocales = info.mensajePaginaLocales|split('//') %}
			<h1>
				{{ mensajePaginaLocales.0 }} <br>
				{% if mensajePaginaLocales.1 is defined %}
					<strong>
						{{ mensajePaginaLocales.1 }}
					</strong>
				{% endif %}
			</h1>
		</div>
	</div>
</section>

<!-- BLOQUE 14 -->
<div class="b14">
	<div class="wancho">
		{% for item in conocenos %}
			{% for a in item.valoresAgregadosPaginaLocales %}
				{% if loop.index % 2 %}
						{% set clase = 'c2' %}
						{% set icon  = 'icon-diseno c2' %}
					{% else %}
						{% set clase = 'c1' %}
						{% set icon =  'icon-tecnologia c1' %}
				{% endif %}
					<div class="b14-item">
						<span class="{{ icon }}">&#xe923;</span>
						<h4 class="{{ clase }}">{{ a.nombre }}</h4>
						<p>
							{{ a.descripcion }}
						</p>
					</div>
			{% endfor %}
		{% endfor %}

	</div>

	<div class="b14-container" style="background-image: url('{{ asset(info.imagenFondoConocenos) }}')">
		<div class="wancho">
			<div class="b14-table">
				<div class="b14-container-title-small">
					<p>
						{{ info.subtituloFondoConocenos }}
					</p>
				</div>
				<div class="b14-container-title">
					<p>
						{{ info.tituloFondoConocenos }}
					</p>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}
{% block jsfinal %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
	$(function(){
		$('.b16-open').click(function(e){
			$('.b16-map').addClass('active');
		})

		$('.b16-close').click(function(e){
			$('.b16-map').removeClass('active');
		})
		//google map
		var map;
		var marker;
		function initMap() {
			var $map = $( '#google-map' );
			if ( ! $map.length ) return;

			var myLatlng = new google.maps.LatLng(-12.050000, -77.050000,18); // <- Your latitude and longitude

				var styles = [
				{
				    "featureType": "administrative",
				    "elementType": "labels.text.fill",
				    "stylers": [
				        {
				            "color": "#444444"
				        }
				    ]
				},
				{
				    "featureType": "administrative.country",
				    "elementType": "geometry.fill",
				    "stylers": [
				        {
				            "color": "#262626"
				        }
				    ]
				},
				{
				    "featureType": "administrative.province",
				    "elementType": "geometry.fill",
				    "stylers": [
				        {
				            "color": "#1b879e"
				        }
				    ]
				},
				{
				    "featureType": "administrative.province",
				    "elementType": "geometry.stroke",
				    "stylers": [
				        {
				            "color": "#2176b6"
				        }
				    ]
				},
				{
				    "featureType": "landscape",
				    "elementType": "all",
				    "stylers": [
				        {
				            "color": "#f2f2f2"
				        }
				    ]
				},
				{
				    "featureType": "poi",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "road",
				    "elementType": "all",
				    "stylers": [
				        {
				            "saturation": -100
				        },
				        {
				            "lightness": 45
				        }
				    ]
				},
				{
				    "featureType": "road.highway",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "simplified"
				        }
				    ]
				},
				{
				    "featureType": "road.arterial",
				    "elementType": "labels.icon",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "transit",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "water",
				    "elementType": "all",
				    "stylers": [
				        {
				            "color": "#097ea2"
				        },
				        {
				            "visibility": "on"
				        }
				    ]
				}
				];

			var mapOptions = {
				zoom             : 15,
				center           : myLatlng,
				mapTypeControl   : true,
				disableDefaultUI : true,
				zoomControl      : true,
				scrollwheel      : false,
				styles   		 : styles,
				draggable        : true
			}
			map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

			marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:'{{ asset("static/img/contactenos.png") }}'
			});
		}
		google.maps.event.addDomListener(window, 'load', initMap);

		//tab
		$('.tabs .header-tab .b16-item').click(function(e){
			e.preventDefault();

		$('.b16-headtab').click(function(event) {
			event.preventDefault();
			var f_latitud = $(this).attr('data-lat');
			var f_longitud = $(this).attr('data-long');
			var myLatLng = new google.maps.LatLng(f_latitud,f_longitud,18);
			marker.setPosition( myLatLng);
			map.panTo( myLatLng );
		});

		//header-tab
		$('.tabs .header-tab .b16-item').removeClass('active')
		$(this).addClass('active')

		//content-tab
		var id = $(this).attr('data-id');
		console.log(id);

		$('.b16 .content-tab .item-tab').removeClass('active')
		$('.b16 .content-tab .item-tab[id="'+id+'"]').addClass('active');

		});

	});
</script>

{% endblock %}
