{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 29 -->
<section class="b29">
	<div class="b29-mapa">
		<div class="b29-map">
			<div class="g-map" id="google-map"></div>
			<div class="b29-close">
				<div class="bot-general">
					<button class="but-gen ">Cerrar mapa</button>
				</div>
			</div>
		</div>
		<div class="b29-bottombox">
			<div class="bot-general">
				<button class="but-gen b29-open">Ver mapa</button>
			</div>
		</div>
	</div>
</section>

<!-- BLOQUE 12 -->
<section class="b12">
	<div class="wancho">
		<div class="b12-left">
			<div class="b12-texto">
				<h3>Contáctanos</h3>
				<p>Ingrese sus comentarios, sugerencias y/o inquietudes para brindarle un mejor servicio.</p>
			</div>
			<div class="b12-form">
				<form class="b12-form" action="" method="post">
					<div class="g-input">
						<input type="text" name="nombres" placeholder="Nombres  y Apellidos" class="validate[required]">
					</div>
					<div class="dos-input">
						<div class="g-input">
							<input type="text" name="email" placeholder="E-mail" class="validate[required]">
						</div>
						<div class="g-input">
							<input type="text" name="telefono" placeholder="Teléfono" class="validate[required]">
						</div>
					</div>
					<div class="g-input g-select">
						<select name="provincia" id="provincia" class="chosen-select validate[required]">
{# 							<option value="">Eija Provincia</option>
							<option value="lima">Lima</option>
							<option value="tacna">Tacna</option>
							<option value="piura">Piura</option> #}
						</select>
					</div>
					<div class="g-textare">
						<textarea class="validate[required]" name="mensaje" id="" cols="644" rows="158" placeholder="Mensaje"></textarea>
					</div>
					<!--input type="submit" class="bt g-boton"-->
					<div class="b12-input">
						<button class="bt g-boton b12-send">Enviar</button>
					</div>
				</form>
			</div>
		</div>
		<div class="b12-right">
			<aside class="g-televentas">
				<div class="g-tl-mg">
					<img src="{{ asset('static/img/logo-aside.png') }}" width="300" height="140" alt="Life-It">
				</div>
				<div class="g-tl-cont">
					<div class="g-tl-ContIn">
						<h5>Canal televentas</h5>
						<p>Lima: {{ info.televentasLima }}</p>
						<p>Perú: {{ info.televentasPeru }}</p>
				</div>
				</div>
				<div class="g-tl-txt">
					{{ info.horarioAtencion|raw }}
				</div>
			</aside>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
	$(function(){
		//validacion formulario
		$(".b12-send").click(function(e) {
			//e.preventDefault();
			var valid = $('.b12-form').validationEngine('validate');

			if (!valid) {

			}else{
				$('.b7-wrapform').hide(function() {
					$('.b15').show();
				});
			}
		});

		//mapa
		$('.b29-open').click(function(e){
			$('.b29-map').addClass('active');
		})

		$('.b29-close').click(function(e){
			$('.b29-map').removeClass('active');
		})
		//google map
		var map;
		var marker;
		function initMap() {
			var $map = $( '#google-map' );
			if ( ! $map.length ) return;

			var myLatlng = new google.maps.LatLng({{ info.latitud }}, {{ info.longitud }}); // <- Your latitude and longitude

				var styles = [
				{
				    "featureType": "administrative",
				    "elementType": "labels.text.fill",
				    "stylers": [
				        {
				            "color": "#444444"
				        }
				    ]
				},
				{
				    "featureType": "administrative.country",
				    "elementType": "geometry.fill",
				    "stylers": [
				        {
				            "color": "#262626"
				        }
				    ]
				},
				{
				    "featureType": "administrative.province",
				    "elementType": "geometry.fill",
				    "stylers": [
				        {
				            "color": "#1b879e"
				        }
				    ]
				},
				{
				    "featureType": "administrative.province",
				    "elementType": "geometry.stroke",
				    "stylers": [
				        {
				            "color": "#2176b6"
				        }
				    ]
				},
				{
				    "featureType": "landscape",
				    "elementType": "all",
				    "stylers": [
				        {
				            "color": "#f2f2f2"
				        }
				    ]
				},
				{
				    "featureType": "poi",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "road",
				    "elementType": "all",
				    "stylers": [
				        {
				            "saturation": -100
				        },
				        {
				            "lightness": 45
				        }
				    ]
				},
				{
				    "featureType": "road.highway",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "simplified"
				        }
				    ]
				},
				{
				    "featureType": "road.arterial",
				    "elementType": "labels.icon",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "transit",
				    "elementType": "all",
				    "stylers": [
				        {
				            "visibility": "off"
				        }
				    ]
				},
				{
				    "featureType": "water",
				    "elementType": "all",
				    "stylers": [
				        {
				            "color": "#097ea2"
				        },
				        {
				            "visibility": "on"
				        }
				    ]
				}
				];

			var mapOptions = {
				zoom             : 15,
				center           : myLatlng,
				mapTypeControl   : true,
				disableDefaultUI : true,
				zoomControl      : true,
				scrollwheel      : false,
				styles   		 : styles,
				draggable        : true
			}
			map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

			marker = new google.maps.Marker({
					position: myLatlng,
					map: map,
					icon:'{{ asset("static/img/contactenos.png") }}'
			});
		}
		google.maps.event.addDomListener(window, 'load', initMap);

		//combo provincia
		cargarComboProvincia();
	});

	function cargarComboProvincia(){
		$.ajax({
			url : "/cargar-provincia/",
			type : 'post',
			dataType : 'json',
			data : {"param" : null},
			success : function(resultado) {
				console.log(resultado);
				if(resultado.state){
					html = "<option value=''>Elija provincia</option>";

					$.each(resultado.data, function(i, row){
						html += "<option value = '"+row.id+"'>"+row.nombre+"</option>";
					});

					$("#provincia").html(html);
				}else{
					alert(resultado.data);
				}
			},
			error : function(error) {
				alert(error.responseText);
			}
		});
	}
</script>

{% endblock %}
