{% for item in colecciones %}
			{# {{dump(item.stock)}}#}
	<div class="b7-item">
	<figure class="b7-wrapper">

		{% if item.porcentajeDescuento is not null %}
						<span class="b7-triangle descuento" style="display:block;">
							<em>{{ item.porcentajeDescuento }}%</em>
							<em>desct.</em>
						</span>
					{% else %}
				{% if item.oferta == 1 %}
					<span class="b7-triangle oferta" style="display:block;">
						<em>oferta</em>
					</span>
				{% endif %}
		{% endif %}

		{% if item.nuevo == 1 %}
				<span class="b7-triangle nuevo" style="display:block;">
						<em>Nuevo</em>
				</span>
		{% endif %}

		<a href="{{ path('productos_slug', {'slug2':item.subcategoriaProd.categoria.slug, 'slug':item.subcategoriaProd.slug , 'slug3':item.slug}) }}" class="b7-img">
								<img src="{{ asset(item.imagen) }}"  alt="">
								<div class="b7-over">
									vista previa
								</div>
							</a>
		<figcaption class="b7-des">
			<a href="">
				<h1>{{ item.nombreProducto }}</h1>
			</a>

		</figcaption>

		{{ item.descripcionProducto|raw }}

		<span class="b7-des-precio">
			{% if item.precioOferta %}
				<em> s./{{ item.precioOferta }}</em>
				<del>s./{{ item.precio }}</del>
			    {% else %}
				<em> s./{{ item.precio }}</em>
			{% endif %}

		</span>
	</figure>
</div>
{% endfor %}
