{% extends "WebBundle:_common:base2.html.twig" %}

{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 34 -->
<a href="#contenido-boxlight" class="open-boxlight">abrir</a>

<section class="b34 boxlight" id="contenido-boxlight">
    <div class="b34-compra">
        <div class="b34-title">
            <h2>Los datos <br> se actualizaron</h2>
            <p>de forma correcta</p>
        </div>
        <figure class="b34-img">
            <img src="{{ asset('static/media/b30.png') }}" width="76" height="62">
        </figure>
    </div>
</section>



{% endblock %}
{% block jsfinal %}

<script type="text/javascript">
    $(function(){

    });
</script>
{% endblock %}