{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<div class="g-banner" style="background-image: url('{{ asset('static/media/banner-img.jpg') }}');">
	<div class="wancho">
		<div class="g-banner-text">
			<div class="g-title">
				<h1>Ingresa a tu cuenta y conoce todos nuestros productos</h1>
			</div>
		</div>
	</div>
</div>

<!-- BLOQUE 18 -->
{% if sesion.datosCarrito is defined %}

	{% set totalCarrito = sesion.datosCarrito.total %}
	{% set descuentoCarrito = sesion.datosCarrito.descuento %}

{% else %}
	<h2>no hay</h2>
{% endif %}

{% if sesion.idCupon is defined %}
	{% set cupon = sesion.idCupon.0.id %}
	{% else %}
	{% set cupon = 0 %}
{% endif %}

<section class="b18">
		<div class="wancho">
			<ul class="b18-listas">
			<li class="active">
				<span class="1">1</span>
				<div>Datos de Facturación</div>
			</li>
			<li>
				<span class="2">2</span>
				<div>Revisar y pagar</div>
			</li>
			<li>
				<span class="3">3</span>
				<div>Pedido realizado</div>
			</li>
		</ul>
		</div>
</section>

<!--bloque sin numero-->

<section class="b18-form">
	<div class="wancho">
	<form action="{{ path('revisar-y-pagar') }}" method="POST" class="b18-formv">
		<div class="b18-left">
			<div class="b18-factura">
				<h3>Datos de Facturacción</h3>
			</div>
			<div class="g-input">

				<input type="hidden" name="cupon" value="{{ cupon }}">
				<input type="hidden" name="total_carrito" value="{{ totalCarrito }}">
				<input type="hidden" name="descuento_carrito" value="{{ descuentoCarrito }}">

				<input type="text" name="nombres" placeholder="Nombres  y Apellidos" class="validate[required]">
			</div>
			<div class="g-input">
				<input type="text" name="email" placeholder="E-mail" class="validate[required]">
			</div>
			<div class="dos-input">
				<div class="g-input">
					<input type="text" name="dni" placeholder="DNI" class="validate[required]">
				</div>
				<div class="g-input">
					<input type="text" name="telefono" placeholder="Teléfono" class="validate[required]">
				</div>
			</div>
			<div class="b18-content">
				<div class="dos-select">
					<div class="g-input g-select">
						<select name="departamento" id="departamento" class="validate[required]">

						</select>
					</div>
				</div>
				<div class="dos-select">
					<div class="g-input g-select">
						<select name="provincia" id="provincia" class="validate[required]">

						</select>
					</div>
				</div>
				<div class="dos-select">
					<div class="g-input g-select">
						<select name="distrito" id="distrito" class="validate[required]">

						</select>
					</div>
				</div>
			</div>
			<div class="g-input">
				<input type="text" name="direccion" placeholder="Dirección" class="validate[required]">
			</div>
			<div class="b18-checkbox">
				<div class="g-checkbox checkbox-boleta">
					<input name="tipo" value="boleta" checked type="radio" id="boleta">
					<label class="g-label" for="boleta">Boleta</label>
				</div>
				<div class="g-checkbox checkbox-factura">
					<input name="tipo" value="factura" type="radio" id="check">
					<label  class="g-label" for="check">Factura</label>
				</div>
			</div>

			<div class="g-input input-factura">
				<input name="ruc" type="text" placeholder="Ingrese Ruc">
			</div>

			<div class="b18-factura">
				<h3>Datos de Envío</h3>
			</div>
			<div class="g-checkbox db">
				<input type="checkbox" name="misma_direccion" id="igual-direccion" class="input-datoenviado">
				<label class="g-label" for="igual-direccion">Enviar a la misma dirección</label>
			</div>
			<div class="g-datoenvio">
				<div class="g-input">
					<input type="text" id="nombres2" name="nombres2" placeholder="Nombres  y Apellidos" class="validate[required]">
				</div>
				<div class="dos-input">
					<div class="g-input">
						<input type="text" id="email2" name="email2" placeholder="E-mail" class="validate[required]">
					</div>
					<div class="g-input">
						<input type="text" id="telefono2" name="telefono2" placeholder="Teléfono" class="validate[required]">
					</div>
				</div>
				<div class="b18-content">
					<div class="dos-select">
						<div class="g-input g-select">
							<select name="departamento2" id="departamento2" class="validate[required]">

							</select>
						</div>
					</div>
					<div class="dos-select">
						<div class="g-input g-select">
							<select name="provincia2" id="provincia2" class="validate[required]">

							</select>
						</div>
					</div>
					<div class="dos-select">
						<div class="g-input g-select">
							<select name="distrito2" id="distrito2" class="validate[required]">

							</select>
						</div>
					</div>
				</div>
				<div class="g-input">
					<input type="text" id="direccion2" name="direccion2" placeholder="Dirección" class="validate[required]">
				</div>
			</div>
			<div class="b18-bnt">
				<input class="bt g-boton b18-enviar" type="submit">
				{# <a class="bt g-boton">Siguiente</a> #}
			</div>
		</div>
	</form>
		<div class="right b18-right">
			<div class="b19-pay">
				<p>Pagar con</p>
				<img class="b19-img" src="{{ asset('static/media/pay.png') }}">
			</div>
			<div class="b19-images">
				<ul>
					<a href="">
						<li>
							<img src="{{ asset('static/media/b19.jpg') }}" width="34" height="21">
							<img src="{{ asset('static/media/b19-2.jpg') }}" width="34" height="21">
							<img src="{{ asset('static/media/b19-3.jpg') }}" width="34" height="21">
							<img src="{{ asset('static/media/b19-4.jpg') }}" width="34" height="21">
						</li>
					</a>
				</ul>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

		//validacion formulario
		$(".b18-enviar").click(function(e) {
			//e.preventDefault();
			var valid = $('.b18-formv').validationEngine('validate');

			if (!valid) {

			}else{
				$('.b7-wrapform').hide(function() {
					$('.b15').show();
				});
			}
		});
		//validacion formulario

		console.log("FGGGG: "+localStorage.getItem("g"));
		//en los inputs
		//en los inputs
		localStorage.removeItem("g");

		inputfactura = $('.input-factura').html()
		console.log(inputfactura);
		if ($('.checkbox-boleta input').is(':checked') ){
			$('.input-factura').find('input').remove();
		};

		$('.checkbox-factura input').change(function(){
			if ( $(this).is(':checked') ){
				$('.g-input.input-factura').html(inputfactura).addClass('active');
			}
		});

		$('.input-datoenviado').change(function(){
			if ( $(this).is(':checked') ){
				$('.g-datoenvio').stop().slideUp();
			}else{
				$('.g-datoenvio').stop().slideDown();
			}
		});

		$('.checkbox-boleta input').change(function(){
			if ( $(this).is(':checked') ){
				$('.input-factura').removeClass('active').find('input').remove();
			}
		});

		cargarDepartamento();
		cargarProvincia(null, null);
		cargarComboDistrito(null, null);
	});

	$("#igual-direccion").click(function(){
		if ($("#igual-direccion").attr('checked'))
		{
			$("#departamento2").removeClass('validate[required]');
			$("#provincia2").removeClass('validate[required]');
			$("#distrito2").removeClass('validate[required]');
			$("#nombres2").removeClass('validate[required]');
			$("#email2").removeClass('validate[required]');
			$("#telefono2").removeClass('validate[required]');
			$("#direccion2").removeClass('validate[required]');
		}
		else
		{
			$("#departamento2").addClass('validate[required]');
			$("#provincia2").addClass('validate[required]');
			$("#distrito2").addClass('validate[required]');
			$("#nombres2").addClass('validate[required]');
			$("#email2").addClass('validate[required]');
			$("#telefono2").addClass('validate[required]');
			$("#direccion2").addClass('validate[required]');
		}

	});

	function cargarDepartamento(){
		$.ajax({
			url: "/cargar-departamento/",
			type: "get",
			dataType: "json",
			data: '',
			success: function(response){
				if (response.state) {
					html = "<option value=''>Elija Departamento</option>";

					$.each(response.data, function(i, row){
						html += "<option value='"+row.id+"'>"+row.nombre+"</option>"
					});

					$("#departamento").html(html);
					$("#departamento2").html(html);
					$("#provincia").attr("disabled", true);
					$("#provincia2").attr("disabled", true);
					//$("#departamento").attr("disabled", true);
				}else{
					console.log(response.data);
				}
			},
			error: function(error){
				console.log(error.responseText);
			}
		});
	}

	function cargarProvincia(dep_id, comboid){
		$.ajax({
			url: "/cargar-provincia/",
			type: "post",
			dataType: "json",
			data: {"param" : dep_id},
			success: function(response){
				if (response.state) {
					html = "<option value=''>Elija provincia</option>";

					$.each(response.data, function(i, row){
						html += "<option value = '"+row.id+"'>"+row.nombre+"</option>";
					});

					if (comboid == null) {
						$("#provincia").html(html);
						$("#provincia2").html(html);
					}else{
						$(comboid).html(html);
					}

					if (dep_id == null) {
						$("#provincia").attr("disabled", true);
						$("#provincia2").attr("disabled", true);
					}
				}else{
					alert(response.data);
				}
			},
			error: function(error){
				alert(error.responseText);
			}
		});
	}

	function cargarComboDistrito(p_prov_id, comboid){
		$.ajax({
			url : "/cargar-distrito/",
			type : 'post',
			dataType : 'json',
			data : {"param" : p_prov_id},
			success : function(resultado) {
				// console.log(resultado);
				if(resultado.state){
					html = "<option value=''>Elija distrito</option>";

					$.each(resultado.data, function(i, row){
						html += "<option value = '"+row.id+"'>"+row.nombre+"</option>";
					});

					if (comboid == null) {
						$("#distrito").html(html);
						$("#distrito2").html(html);
					}else{
						$(comboid).html(html);
					}

					if(p_prov_id == null){
						$("#distrito").attr("disabled", true);
						$("#distrito2").attr("disabled", true);
					}
				}else{
					alert(resultado.data);
				}
			},
			error : function(error) {
				alert(error.responseText);
			}
		});
	}

	$("#departamento").change(function(){
		depId = $(this).val().trim();

		if (depId == "") {
			depId = null;
		}else{
			$("#provincia").attr("disabled", false);
		}

		cargarProvincia(depId, "#provincia");
	});

	$("#departamento2").change(function(){
		depId = $(this).val().trim();

		if (depId == "") {
			depId = null;
		}else{
			$("#provincia2").attr("disabled", false);
		}

		cargarProvincia(depId, "#provincia2");
	});

	$("#provincia").on("change", function(){
		provId = $(this).val().trim();

		if(provId == ""){
			provId = null;
			$("#provincia").attr("disabled", true);
			$("#departamento").val("");
		}else{
			$("#distrito").attr("disabled", false);
		}

		cargarComboDistrito(provId, "#distrito");
	});

	$("#provincia2").on("change", function(){
		provId = $(this).val().trim();

		if(provId == ""){
			provId = null;
		}else{
			$("#distrito2").attr("disabled", false);
		}

		cargarComboDistrito(provId, "#distrito2");
	});

	$("#distrito").on("change", function(){
		distId = $(this).val().trim();
		if(distId == ""){
			cargarComboDistrito(null, null); // Me lista todos los distritos.
			$("#distrito").attr("disabled", true);
			$("#provincia").val("");
		}
	});

	$("#distrito2").on("change", function(){
		distId = $(this).val().trim();
		if(distId == ""){
			cargarComboDistrito(null, null); // Me lista todos los distritos.
			$("#distrito2").attr("disabled", true);
			$("#provincia2").val("");
		}
	});

</script>

{% endblock %}
