{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 30 -->
<section class="b37 height">
    <div class="wancho height2">
        <div class="wrapper">
            <div class="b37-title">
                <h2>ERROR DE ENVÍO</h2>
            </div>
            <figure class="b37-img">
                <img src="{{ asset('static/media/b37-img.png')}}">
            </figure>
            <div class="b37-parrafo">
                <p>El correo ingresado no está registrado.</p>
            </div>
            {# <form method="POST" class="b37-form">
                <div class="g-input">
                    <input type="text" name="correo" placeholder="Ingresa tu correo" class="validate[required]">
                </div>
                <div class="b37-bnt">
                    <button class="bt g-boton b37-send">Enviar</button>
                </div>
            </form> #}
            <a href="{{ path('olvidaste-contrasena') }}">Volver</a>
        </div>
    </div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
    $(function(){
        //validacion formulario
        // $(".b37-send").click(function(e) {
        //     //e.preventDefault();
        //     var valid = $('.b37-form').validationEngine('validate');

        //     if (!valid) {

        //     }else{
        //         $('.b7-wrapform').hide(function() {
        //             $('.b15').show();
        //         });
        //     }
        // });

        function fullScreen(){
            var vHeight = $(window).height();
            var vWidth = $(window).width();
            var header = $('header').height();
            var footer = $('footer').height();
            //console.log(vHeight);

            $('.height').height(vHeight+header-footer);
            $('.height2').height(vHeight+header-footer);

            console.log(header);
            console.log(footer);

            if(vWidth < 769){
            $('.height').css('height', 'auto');
            }
        }

        fullScreen()
    });
</script>

{% endblock %}