{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<div class="g-banner" style="background-image: url('{{ asset('static/media/banner-img.jpg') }}');">
    <div class="wancho">
        <div class="g-banner-text">
            <div class="g-title">
                <h1>Ingresa a tu cuenta y conóce todos nuestros productos</h1>
            </div>
        </div>
    </div>
</div>
<!-- BLOQUE 18 -->
<section class="b18">
        <div class="wancho">
            <ul class="b18-listas">
            <li class="active">
                <span class="1">1</span>
                <div>Datos de Facturación</div>
            </li>
            <li>
                <span class="2">2</span>
                <div>Revisar y pagar</div>
            </li>
            <li>
                <span class="3">3</span>
                <div>Pedido realizado</div>
            </li>
        </ul>
        </div>
</section>

<!-- BLOQUE 30 -->
<section class="b30">
    <div class="wancho">
        <div class="wrapper b30-compra">
            <div class="b30-title">
                <h2>GRACIAS</h2>
                <p>por su compra</p>
            </div>
            <figure class="b30-img">
                <img src="{{ asset('static/media/b30.png') }}" width="76" height="62">
            </figure>
            <div class="b30-parrafo">
                <p>Lorem el iPhone 7 pero no dejan de tener
 el mismo techo de lámina, y tierra en el piso de su cuarto.</p>
            </div>
            <div class="b30-bnt">
                <a class="bt g-boton" href="{{ path('productos_slug', {'slug2':'masajes' }) }}">Ver productos</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
   $(document).ready(function(){
      setTimeout(function() {
       window.location.href = "/"
      }, 1000);
    });
</script>

{% endblock %}