{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 30 -->
<section class="b36 height">
    <div class="wancho height2">
        <div class="wrapper">
            <div class="b36-title">
                <h2>GRACIAS</h2>
            </div>
            <figure class="b36-img">
                <img src="{{ asset('static/media/b30.png') }}" width="76" height="62">
            </figure>
            <div class="b36-parrafo">
                <p>se enviaron los datos a su correo para reestablecer su contraseña</p>
            </div>
            {# <div class="b36-bnt">
                <a href="{{ path('productos_slug', {'slug2':'masajes' }) }}">Ver productos</a>
            </div> #}
        </div>
    </div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
    $(document).ready(function(){
        base = "{{ infosite }}";
        setTimeout(function(){
            window.location.href = base + "/categorias/masajes/";
        }, 1000)
    });

    $(function(){
        function fullScreen(){
            var vHeight = $(window).height();
            var vWidth = $(window).width();
            var header = $('header').height();
            var footer = $('footer').height();
            //console.log(vHeight);

            $('.height').height(vHeight+header-footer);
            $('.height2').height(vHeight+header-footer);

            console.log(header);
            console.log(footer);

            if(vWidth < 769){
            $('.height').css('height', 'auto');
            }
        }

        fullScreen()
    });
</script>

{% endblock %}