{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 30 -->
<section class="b30">
	<div class="wancho">
		<div class="wrapper">
			<div class="b30-title">
				<h2>GRACIAS</h2>
			</div>
			<figure class="b30-img">
				<img src="{{ asset('static/media/b30.png') }}" width="76" height="62">
			</figure>
			<div class="b30-parrafo">
				<p>Gustosos nos comunicamos contigo lo antes posible. Conoce más sobre nosotros</p>
			</div>
			<div class="b30-bnt">
				<a class="bt g-boton" href="{{ path("home") }}">IR A LA PÁGINA PRINCIPAL</a>
			</div>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){

	});
</script>

{% endblock %}
