{% extends "WebBundle:_common:base.html.twig" %}


{% block cssadicional %}
<link href="{{ asset('static/css/jquery.bxslider.css') }}" rel="stylesheet" />
<link rel="stylesheet" href="{{ asset('static/js/owl-carousel/owl.carousel.css') }}">
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

{% if sesion.carrito is defined %}
	{# {{ dump(sesion.carrito) }} #}
{% else %}
	{# No hay carrito #}
{% endif %}
{# {{dump()}}#}
<!-- BLOQUE 1 -->
<section class="b1">
	<ul class="b1-slider">
		{% for item in banners %}
			<li class="b1-slider-item"  style="background-image: url('{{ asset(item.imagenFondo) }}');">
				<div class="wancho cf">
					<div class="dtable">
						<div class="b1-img">
							<img src="{{ asset(item.imagen) }}" width="368" height="426" alt="">
						</div>
						<div class="b1-texto">
							<div class="b1-text-inner">
								{% set titulo = item.titulo|split('*') %}
									{% if titulo.1 is defined %}
										<h1> {{ titulo.1 }} <br>
											{% else %}
											<h1> {{ item.titulo }}</h1>
									{% endif %}
								    {% if titulo.2 is defined %} {{ titulo.2 }} {% endif %}
								</h1>
								<p>
									{{ item.contenido }}
								</p>
								{% if item.textoBoton1 or item.textoBoton2 %}
									<div class="b1-botones">
										{% if item.textoBoton1 and item.urlBoton1 %}
											<a class="bt g-boton" href="{{ item.urlBoton1}}">{{ item.textoBoton1 }}</a>
										{% endif %}

										{% if item.textoBoton2 and item.urlBoton2 %}
											<a class="bt g-boton g-red" href="{{ item.urlBoton2 }}">{{ item.textoBoton2 }}</a>
										{% endif %}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
	<div class="b1-bnt">
		<a class="bt g-boton" href="">Conversa con Nosotros</a>
		<span></span>
	</div>
</section>

<!-- BLOQUE 2 -->


<!-- BLOQUE 3 -->
<section class="b3">
	<section class="b2 carrusel-desktop">
	<div class="wancho">
			<ul class="b2-slider">
			{# % for i in "5"|get_range % #}
				{#<li class="b2-item-carrusel">
					<a href="">
						<figure>
							<img class="b2-img" src="{{ asset('static/media/promocion') }}-{ loop.index }}.jpg" alt="" width="200" height="215">
						</figure>
					</a>
				</li>#}
				{# % endfor% #}
				{% for item in productosHome %}
					<li class="b2-item-carrusel">
						<a href="{{ path('productos_slug', {'slug2':item.subcategoriaProd.categoria.slug, 'slug':item.subcategoriaProd.slug , 'slug3':item.slug}) }}">
							<figure>
								<img class="b2-img" src="{{ asset(item.imagen) }}" alt="{{ item.nombreProducto }}" width="200" height="215">
							</figure>
						</a>
						<div class="b2-calificacion">
							<span class="b2-estrellas"></span>
							<span class="b2-estrellas"></span>
							<span class="b2-estrellas"></span>
							<span class="b2-estrellas"></span>
							<span class="b2-estrellas"></span>
						</div>
					</li>
				{% endfor %}
{# 				<li class="b2-item-carrusel">
					<a href="">
						<figure>
							<img class="b2-img" src="{{ asset('static/media/promocion-1.jpg') }}" alt="" width="200" height="215">
						</figure>
					</a>
					<div class="b2-calificacion">
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
					</div>
				</li>
				<li class="b2-item-carrusel">
					<a href="">
						<figure>
							<img class="b2-img" src="{{ asset('static/media/promocion-2.jpg') }}" alt="" width="200" height="215">
						</figure>
					</a>
					<div class="b2-calificacion">
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
					</div>
				</li>
				<li class="b2-item-carrusel">
					<a href="">
						<figure>
							<img class="b2-img" src="{{ asset('static/media/promocion-3.jpg') }}" alt="" width="200" height="215">
						</figure>
					</a>
					<div class="b2-calificacion">
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
					</div>
				</li>
				<li class="b2-item-carrusel">
					<a href="">
						<figure>
							<img class="b2-img" src="{{ asset('static/media/promocion-4.jpg') }}" alt="" width="200" height="215">
						</figure>
					</a>
					<div class="b2-calificacion">
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
					</div>
				</li>
				<li class="b2-item-carrusel">
					<a href="">
						<figure>
							<img class="b2-img" src="{{ asset('static/media/promocion-5.jpg') }}" alt="" width="200" height="215">
						</figure>
					</a>
					<div class="b2-calificacion">
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
						<span class="b2-estrellas"></span>
					</div>
				</li> #}
			</ul>
	</div>
</section>

{% if home.activarCanal != null %}

	<div class="inner-b3 wancho">
		{% set titulo = home.tituloVideo|split('*') %}

		<div class="b3-title responsive">
			{% if titulo.0 is defined %}
				{% if titulo.1 is defined %}
					<h2><em>{{ titulo.0 }}</em><strong>{{ titulo.1 }}</strong></h2>
				{% else %}
					<h2><em> {{ home.titulo }}</em></h2>
				{% endif %}
			{% endif %}
		</div>
		<div class="b3-cnt-video w-video">
			<div class="b3-inner-video w-portada" style="background-image:url({{ asset(home.imagenVideo) }})">
				<div id="player" class="video w-play b3-play">
				</div>
			</div>
			<div class="b3-videoWrapper">
				<iframe class="video-iframe" data-video="{{ home.urlBoton|youtube }}" width="629" height="353" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="b3-cnt-texto">
			<div class="b3-title">
			{% if titulo.0 is defined %}
				{% if titulo.1 is defined %}
					<h2><em>{{ titulo.0 }}</em><strong>{{ titulo.1 }}</strong></h2>
				{% else %}
					<h2><em> {{ home.titulo }}</em></h2>
				{% endif %}
			{% endif %}
			</div>
			<div class="b3-subtitle">
				<h3> {{ home.subtituloVideo }}</h3>
			</div>
			<div class="b3-texto">
				<p>{{ home.contenidoVideo }}</p>
			</div>
			<a href="https://www.youtube.com/channel/UCaIl3vymDaB-nOO7wnLRzrA" class="g-boton bt">{{ home.textoBoton }}</a>
		</div>
	</div>

{% endif %}
</section>

<!-- BLOQUE 4 -->
<section class="b4">
	<div class="b4-wancho">
		<div class="b4-cabezera">
			<h3>{{ home.tituloSeccionCompra }}</h3>

			{% set mensaje = home.mensajeSeccionCompra|split("*") %}

			<p>{{ mensaje.0 }} {% if mensaje.1 is defined %} <strong>{{ mensaje.1 }}</strong> {% endif %} {% if mensaje.2 is defined %} {{ mensaje.2 }} {% endif %}</p>
		</div>
		<div class="b4-facil">
			{% for item in home.procesosCompra %}
				<div class="b4-facil-item">
					<div class="b4-img">
						<img src="{{ asset(item.imagen) }}" width="70" height="70" alt="">
					</div>
					<div class="b4-texto">
						<p>
							{{ item.contenido }}
						</p>
					</div>
				</div>
			{% endfor %}
			<a href="{{ home.urlBotonSeccionCompra }}" class="b4-facil-item">
				<h4>{{ home.mensajeProcesoCompra }}</h4>
				<div class="bt g-boton g-red">{{ home.textoBotonSeccionCompra }}</div>
			</a>
		</div>
	</div>
</section>
<a href="#contenido2" class="inicio-click open-boxlight"></a>
{# <div class="b26-box">
	<section class="b26 boxlight" id="contenido2">
		<div class="b26-bg" style="background-image: url({{ asset('static/media/b26.jpg') }})">
			<div class="b26-title">
				<h2>Suscríbete y se parte</h2>
				<h3> DE PROMOCIONES</h3>
				<span>EXCLUSIVAS</span>
			</div>
		</div>
		<div class="b26-content">
			<div class="b26-input">
				<input type="email" placeholder="Ingresa tu email">
			</div>
			<div class="b26-bnt">
				<a class="bt g-boton" href="">Suscríbete</a>
			</div>
		</div>
	</section>
</div>#}
<div class="b5">
	<div class="wancho">
		<div class="b5-fb">
			<div class="b5-title">
				<h2>Dale Me Gusta </h2>
				<h3>Facebook</h3>
				<i class="icon-fb-01"></i>
			</div>
			<div class="b5-content">
				<div class="b5-icon">
					<figcaption class="b2-iconos">
						<img src="{{ asset('static/media/icono-face-1.png') }}">
						<span>{{ fbposts.0.meEncantaPublicacion }}</span>
					</figcaption>
					<figcaption class="b2-iconos">
						<img src="{{ asset('static/media/icono-face-2.png') }}">
						<span>{{ fbposts.0.comentariosPublicacion }}</span>
					</figcaption>
					<figcaption class="b2-iconos">
						<img src="{{ asset('static/media/icono--face3.png') }}">
						<span>{{ fbposts.0.vecesCompartidaPublicacion }}</span>
					</figcaption>
				</div>
				<div class="b5-imagen" style="background-image: url({{ asset(fbposts.0.imagenPublicacion) }});"></div>
			</div>
		</div>
		<div class="b5-nove">
				<div class="b5-noveb">
					<div class="b5-noveimg">
						<img src="{{ asset(home.catalogoImagen) }}" alt="life-it" width="340" height="">
					</div>
				<div class="b5-novetxt">
					<h4>{{ home.catalogoTitulo }}</h4>
					<p>
						{{ home.catalogoContenido }}
					</p>

					<div class="b5-btnb">
						{% if home.catalogoBoton %}

							<a class="bt g-boton ico" href="{{ home.catalogoArchivo }}">
								{{ home.catalogoBoton }}
							<i class="icon-descarga-01"></i></a>
						{% else %}
							<a class="bt g-boton ico" href="{{ home.catalogoArchivo }}">Descargar <i class="icon-descarga-01"></i></a>
						{% endif %}

					</div>

				</div>
			</div>
			<div class="b5-novea">
				<ul class="b5-slider">

					{% for noticia in noticias %}
						<li class="">
							<div class="b5-noveimg">
								<img src="{{ asset(noticia.imagen) }}" alt="life-it" width="340" height="">
								{% set dia = noticia.fecha|date('d') %}

					{% set arrayMes = [['0', 'ENE'], ['1','FEB'] , ['2','MAR'] , ['3','ABR'] , ['4','MAY'], ['5','JUN'], ['6','JUL'] , ['7','AGO'], ['8','SEP'], ['9','OCT'], ['10','NOV'], ['11','DIC']] %}

								{% set mes = noticia.fecha|date('m') %}
									{% set mese = mes - 1 %}
									{% set pos = 0 %}

								{% for i in 0..arrayMes|length - 1 %}
									{% if arrayMes[i][0] ==  mese  %}
										{% set pos = i %}
									{% endif %}
								{% endfor %}

								<p class="b5-fecha">
									{{ arrayMes[pos][1] }}
									<strong>{{ dia }}</strong>
								</p>
							</div>
							<div class="b5-novetxt">
								<h4>{{ noticia.titulo }}</h4>
								{{ noticia.contenido|raw }}
								<div class="b5-btna"></div>
							</div>
						</li>
					{% endfor %}

				</ul>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block jsfinal %}
<script type="text/javascript" src="{{ asset('static/js/jquery.bxslider.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('static/js/owl-carousel/owl.carousel.js') }}"></script>
<script type="text/javascript">
	$(function(){

		//b1
		$(".b1-slider").bxSlider({
			mode:'fade',
			auto: true,
			pager: true,
			controls: false,
			nextText: '',
			prevText: '',
			pause: 6000,
			// speed: 700,
			onSliderLoad: function(currentIndex) {
				$('.b1-slider').children().eq(currentIndex).addClass('active');
			},
			onSlideBefore: function($slideElement){
				$('.b1-slider').children().removeClass('active');
				setTimeout( function(){
					$slideElement.addClass('active');
				},300);
			}
		});

		//b2
		var itemcarrusel = $('.b2-item-carrusel').length;
		function carrusel(){
			if (itemcarrusel >= 6 || $(window).width() <= 960 ) {
				$('.b2').removeClass('carrusel-desktop');
				$('.b2-slider').addClass('owl-carousel');
				$('.b2-slider').addClass('b2-owlcarousel');

				$('.b2-owlcarousel').owlCarousel({
					loop:false,
					margin:5,
					nav:false,
					autoplay:true,
					autoplayTimeout: 3000,
					responsive:{
						0:{
							items:2
						},
						400:{
							items:3
						},
						768:{
							items:4
						},
						1020:{
							items:5
						}
					}

				});
			}else{
				$('.b2-owlcarousel').trigger('destroy.owl.carousel');
				$('.b2').addClass('carrusel-desktop');
				$('.b2-slider').removeClass('owl-carousel');
				$('.b2-slider').removeClass('b2-owlcarousel');
			}
		};
		carrusel();
		$(window).resize(function(event) {
			carrusel();
		});

		//b3
		// reproductor video
		var url ="https://www.youtube.com/embed/";
		var config ="?rel=0&enablejsapi=1&version=3&playerapiid=ytplayer"

		$('.w-play').click(function(event) {
			play = $(this)
			play.addClass('anima');
			videocurrent = $(this).closest('.w-video').find('.video-iframe');
			videoid = videocurrent.attr('data-video');
			videocurrent.attr('src', url+videoid+config);


			videocurrent.load(function() {
			play.closest('.w-video').find('.w-portada').addClass('active');
			play.addClass('active');
			videocurrent[0].contentWindow.postMessage('{"event":"command","func":"' + 'playVideo' + '","args":""}', '*');

			});
		});

		$(".b5-slider").bxSlider({
			mode:'fade',
			auto: true,
			pager: true,
			controls: false,
			nextText: '',
			prevText: '',
			adaptiveHeight: true
			// pause: 4000,
			// speed: 700
		});

		//delay
		$('.b2-item-carrusel').each(function(index, el) {
			$(el).css('transition-delay', +index/5+'s');
		});

		$('.b4-facil-item').each(function(index, el) {
			$(el).css('transition-delay', +index/2+'s');
		});

		//waypoint home
		//b2 - animacion
		var section_b3  = $('.b3');
		section_b3.waypoint(function(direction) {
			if (direction === 'down') {
				section_b3.addClass('active');
			}else {
				section_b3.removeClass('active')
			}
			}, {
			offset:'60%'
		});
		//b3 - animacion
		var section_b4  = $('.b4-facil-item');
		section_b4.waypoint(function(direction) {
			if (direction === 'down') {
				section_b4.addClass('active');
			}else {
				section_b4.removeClass('active')
			}
			}, {
			offset:'70%'
		});

		//footer - animacion
		var section_footer  = $('.footer-input');
		section_footer.waypoint(function(direction) {
			if (direction === 'down') {
				section_footer.addClass('active');
			}else {
				section_footer.removeClass('active')
			}
			}, {
			offset:'60%'
		});

		//footer - animacion
		var footer_send = $('.footer-send');
		var footer_img = $('.footer-img2');
		footer_send.waypoint(function(direction) {
			if (direction === 'down') {
				footer_send.addClass('active');
				footer_img.addClass('active');
			}else {
				footer_send.removeClass('active')
				footer_img.removeClass('active')
			}
			}, {
			offset:'50%'
		});

	});

	$(window).load(function() {
		$('.b2-item-carrusel').addClass('animate');
		$('.inicio-click').click()
	});
</script>
{% endblock %}
