{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- generales -->
<div class="g-banner" style="background-image: url('{{ asset(info.imagenPaginaLibroReclamaciones) }}');">
	<div class="wancho">
		<div class="g-banner-text">
			<div class="g-title">
				<h1>{{ info.mensajePaginaLibroReclamaciones }}</h1>
			</div>
		</div>
	</div>
</div>

<!-- BLOQUE 13 -->
<section class="b13">
	<div class="wancho">
		<div class="b13-left">
			<div class="b13-texto">
				<p>Conforme a lo establecido en el Código de Protección y Defensa del Consumidor este establecimiento
				cuenta con un Libro de Reclamaciones a su disposición.  Ingrese a la opción que sea de su interés
				para registrar su queja o reclamo.</p>
			</div>
			<div class="b13-title">
				<h2>Datos de la Persona que presenta el Reclamo:</h2>
			</div>
			<form method="POST" class="b13-form">
				<div class="dos-input">
					<div class="g-input g-select">
						<select name="tipodoc" id="">
							<option value="">Tipo de Documento</option>
							<option value="dni">DNI</option>
							<option value="ce">CE</option>
						</select>
					</div>
					<div class="g-input">
						<input type="text" name="numdoc" placeholder="Nº de documento" class="validate[required]">
					</div>
				</div>
				<div class="b13-input2">
					<div class="g-input">
						<input type="text" name="nombre" placeholder="Nombre" class="validate[required]">
					</div>
					<div class="g-input">
						<input type="text" name="apellido" placeholder="Apellidos" class="validate[required]">
					</div>
				</div>
				<div class="dos-input">
					<div class="g-input">
						<input type="text" name="telefono" placeholder="Teléfono" class="validate[required]">
					</div>
					<div class="g-input">
						<input type="text" name="email" placeholder="E-mail" class="validate[required]">
					</div>

	                <div class="b18-content">
	                    <div class="dos-select">
	                        <div class="g-input g-select">
	                            <select name="" id="departamento">

	                            </select>
	                        </div>
	                    </div>
	                    <div class="dos-select">
	                        <div class="g-input g-select">
	                            <select name="" id="provincia">

	                            </select>
	                        </div>
	                    </div>
	                    <div class="dos-select">
	                        <div class="g-input g-select">
	                            <select name="" id="distrito">

	                            </select>
	                        </div>
	                    </div>
	                </div>

				</div>

				{# <div class="dos-input">
					<div class="g-input">
						<input type="text" name="distrito" placeholder="Distrito" class="validate[required]">
					</div>
					<div class="g-input">
						<input type="text" name="email" placeholder="Provincia" class="validate[required]">
					</div>

				</div> #}

				<div class="g-input">
					<input type="text" name="direccion" placeholder="Dirección" class="validate[required]">
				</div>


				<div class="b13-title">
					<h2>Datos del apoderado (en caso de menor de edad)</h2>
				</div>
				<div class="g-checkbox">
					<div class="libro-caja">
						<input type="checkbox" name="menor" id="menor">
						<label class="g-label" for="menor">Soy menor de edad
						</label>
					</div>
				</div>
				<div class="dos-input">
					<div class="g-input g-select">
						{# <select name="provinciaApoderado" id="" class="chosen-select validate[required]">
							<option value="">Eija Provincia</option>
							<option value="lima">Lima</option>
							<option value="tacna">Tacna</option>
							<option value="piura">Piura</option>
						</select> #}
						<select name="tipodocApoderado" id="">
							<option value="">Tipo de Documento</option>
							<option value="dni">DNI</option>
							<option value="ce">CE</option>
						</select>
					</div>
					<div class="g-input">
						<input type="text"name="documentoApoderado" placeholder="Nº de documento" class="">
					</div>
				</div>
				<div class="g-input">
					<input type="text" name="nombreApoderado" placeholder="Nombre" class="">
				</div>
				<div class="g-input">
					<input type="text" name="apellidoApoderado" placeholder="Apellidos" class="">
				</div>
                {#<div class="b18-content">
                    <div class="dos-select">
                        <div class="g-input g-select">
                            <select name="" id="departamento2" placeholder="Departamento">

                            </select>
                        </div>
                    </div>
                    <div class="dos-select">
                        <div class="g-input g-select">
                            <select name="" id="provincia2" placeholder="Provincia">

                            </select>
                        </div>
                    </div>
                    <div class="dos-select">
                        <div class="g-input g-select">
                            <select name="" id="distrito2" placeholder="Distrito">

                            </select>
                        </div>
                    </div>
                </div>#}
				<div class="b13-title">
					<h2>Descripción de su reclamo</h2>
				</div>
				<div class="g-checkbox">
					<div class="libro-caja">
						<input type="radio" name="reclamo" value="reclamo" id="radioR">
						<label class="g-label" for="radioR">Reclamo
						</label>
					</div>
					<div class="libro-caja">
						<input type="radio" name="reclamo" value="queja" id="radioQ">
						<label class="g-label" for="radioQ">Queja
						</label>
					</div>
				</div>
				<div class="g-textare">
					<textarea name="mensaje" id="" cols="644" rows="158" placeholder="Cuéntenos su reclamo" class="validate[required]"></textarea>
				</div>
				<div class="b13-bnt">
					<button class="bt g-boton b13-send" href="">Enviar</button>
				</div>
			</form>
			<div class="b13-parrafo">
				<p>* Reclamo: Disconformidad relacionada a los productos o servicios</p>
				<p>* Queja: Disconformidad malestar o descontento respecto a la atención al publico</p>
				<div class="parrafo">
					<p>Los proveedores están obligados a atender reclamos de los consumidores en un plazo no mayor a 30 días,
					pudiendo extenderse el plazo cuando la naturaleza del reclamo loacredite.</p>
					<em>Ley 29571 Art. 24.1</em>
				</div>
			</div>
		</div>

		<div class="b13-right">
			<aside class="g-televentas">
				<div class="g-tl-mg">
					<img src="{{ asset(info.logoSegundario) }}" width="300" height="140" alt="Life-It">
				</div>
				<div class="g-tl-cont">
					<div class="g-tl-ContIn">
						<h5>Canal televentas</h5>
						<p>Lima: {{ info.televentasLima }}</p>
						<p>Perú: {{ info.televentasPeru }}</p>
					</div>
				</div>
				<div class="g-tl-txt">
					{{ info.horarioAtencion|raw }}
				</div>
			</aside>
		</div>

	</div>
</section>

{% endblock %}
{% block jsfinal %}

<script type="text/javascript">
	$(function(){
		//validacion formulario
		$("form").validationEngine('attach', {
			promptPosition : "topLeft",
			autoHidePrompt: true,
			autoHideDelay: 6000,
			binded: false,
			scroll: false
		});

		$(".b13-send").click(function(e) {
			e.preventDefault();
			var valid = $('.b13-form').validationEngine('validate');

			if (!valid) {

			}else{
				$('.b7-wrapform').hide(function() {
					$('.b15').show();
				});
			}
		});

		cargarDepartamento();
		cargarProvincia(null, null);
		cargarComboDistrito(null, null);
	});

	$("#menor").on('change', function(e){

		 if ($(this).is(':checked')) {

		 	$("input[name='documentoApoderado']").addClass('validate[required]');
		 	$("input[name='nombreApoderado']").addClass('validate[required]');
		 	$("input[name='apellidoApoderado']").addClass('validate[required]');

		 	//remover la clase los campos principales

		 	$("input[name='numdoc']").removeClass('validate[required]');
		 	$("input[name='nombre']").removeClass('validate[required]');
			$("input[name='apellido']").removeClass('validate[required]');
			$("input[name='telefono']").removeClass('validate[required]');
			$("input[name='email']").removeClass('validate[required]');
			$("input[name='direccion']").removeClass('validate[required]');

		 }else{

		 	$("input[name='documentoApoderado']").removeClass('validate[required]');
		 	$("input[name='nombreApoderado']").removeClass('validate[required]');
		 	$("input[name='apellidoApoderado']").removeClass('validate[required]');

		 	$("input[name='numdoc']").addClass('validate[required]');
		 	$("input[name='nombre']").addClass('validate[required]');
			$("input[name='apellido']").addClass('validate[required]');
			$("input[name='telefono']").addClass('validate[required]');
			$("input[name='email']").addClass('validate[required]');
			$("input[name='direccion']").addClass('validate[required]');
		 }
	});

	function cargarDepartamento(){
		$.ajax({
			url: "/cargar-departamento/",
			type: "get",
			dataType: "json",
			data: '',
			success: function(response){
				if (response.state) {
					html = "<option value=''>Elija Departamento</option>";

					$.each(response.data, function(i, row){
						html += "<option value='"+row.id+"'>"+row.nombre+"</option>"
					});

					$("#departamento").html(html);
					$("#departamento2").html(html);
					$("#provincia").attr("disabled", true);
					$("#provincia2").attr("disabled", true);
					//$("#departamento").attr("disabled", true);
				}else{
					console.log(response.data);
				}
			},
			error: function(error){
				console.log(error.responseText);
			}
		});
	}

	function cargarProvincia(dep_id, comboid){
		$.ajax({
			url: "/cargar-provincia/",
			type: "post",
			dataType: "json",
			data: {"param" : dep_id},
			success: function(response){
				if (response.state) {
					html = "<option value=''>Elija provincia</option>";

					$.each(response.data, function(i, row){
						html += "<option value = '"+row.id+"'>"+row.nombre+"</option>";
					});

					if (comboid == null) {
						$("#provincia").html(html);
						$("#provincia2").html(html);
					}else{
						$(comboid).html(html);
					}

					if (dep_id == null) {
						$("#provincia").attr("disabled", true);
						$("#provincia2").attr("disabled", true);
					}
				}else{
					alert(response.data);
				}
			},
			error: function(error){
				alert(error.responseText);
			}
		});
	}

	function cargarComboDistrito(p_prov_id, comboid){
		$.ajax({
			url : "/cargar-distrito/",
			type : 'post',
			dataType : 'json',
			data : {"param" : p_prov_id},
			success : function(resultado) {
				// console.log(resultado);
				if(resultado.state){
					html = "<option value=''>Elija distrito</option>";

					$.each(resultado.data, function(i, row){
						html += "<option value = '"+row.id+"'>"+row.nombre+"</option>";
					});

					if (comboid == null) {
						$("#distrito").html(html);
						$("#distrito2").html(html);
					}else{
						$(comboid).html(html);
					}

					if(p_prov_id == null){
						$("#distrito").attr("disabled", true);
						$("#distrito2").attr("disabled", true);
					}
				}else{
					alert(resultado.data);
				}
			},
			error : function(error) {
				alert(error.responseText);
			}
		});
	}

	$("#departamento").change(function(){
		depId = $(this).val().trim();

		if (depId == "") {
			depId = null;
		}else{
			$("#provincia").attr("disabled", false);
		}

		cargarProvincia(depId, "#provincia");
	});

	$("#departamento2").change(function(){
		depId = $(this).val().trim();

		if (depId == "") {
			depId = null;
		}else{
			$("#provincia2").attr("disabled", false);
		}

		cargarProvincia(depId, "#provincia2");
	});

	$("#provincia").on("change", function(){
		provId = $(this).val().trim();

		if(provId == ""){
			provId = null;
			$("#provincia").attr("disabled", true);
			$("#departamento").val("");
		}else{
			$("#distrito").attr("disabled", false);
		}

		cargarComboDistrito(provId, "#distrito");
	});

	$("#provincia2").on("change", function(){
		provId = $(this).val().trim();

		if(provId == ""){
			provId = null;
		}else{
			$("#distrito2").attr("disabled", false);
		}

		cargarComboDistrito(provId, "#distrito2");
	});

	$("#distrito").on("change", function(){
		distId = $(this).val().trim();
		if(distId == ""){
			cargarComboDistrito(null, null); // Me lista todos los distritos.
			$("#distrito").attr("disabled", true);
			$("#provincia").val("");
		}
	});

	$("#distrito2").on("change", function(){
		distId = $(this).val().trim();
		if(distId == ""){
			cargarComboDistrito(null, null); // Me lista todos los distritos.
			$("#distrito2").attr("disabled", true);
			$("#provincia2").val("");
		}
	});
</script>
{% endblock %}
