{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
{# {{dump(info.correopaypal)}}#}
<div class="g-banner" style="background-image: url('{{ asset('static/media/banner-img.jpg') }}');">
	<div class="wancho">
		<div class="g-banner-text">
			<div class="g-title">
				<h1>Ingresa a tu cuenta y conoce todos nuestros productos</h1>
			</div>
		</div>
	</div>
</div>

<!-- BLOQUE 18 -->

{# {{dump()}}#}
<section class="b18">
		<div class="wancho">
			<ul class="b18-listas">
			<li>
				<span class="1">1</span>
				<div>Datos de Facturación </div>
			</li>
			<li class="active">
				<span class="2">2</span>
				<div>Revisar y pagar</div>
			</li>
			<li>
				<span class="3">3</span>
				<div>Pedido realizado</div>
			</li>
		</ul>
		</div>
</section>

<!-- BLOQUE 21 -->

<section class="b21">
	<div class="wancho">
		<div class="b21-cnt">
			<div class="b12-texto">
				<h3>Lista de pedidos</h3>
			</div>
			<div class="table-left">
				<table>
					<thead>
						<tr>
							<th >Imagen</th>
							<th colspan="2">Producto</th>
							<th >cantidad</th>
							<th>Precio Unitario</th>
							<th>Total</th>
							<th>Descuento</th>
						</tr>
					</thead>
					<tbody>
						{% set subtotal = 0 %}
							{% set total = 0 %}

						{% for item in carrito_facturacion %}
						<tr>
							<td data-th="Producto">
								<img src="{{ asset(item.presentacion.imagenes.0.imagenTodo) }}" width="98" height="81" alt="">
							</td>
							<td class="b21-nombre-producto" data-th="Producto">
								<em>
									{{ item.presentacion.presentacion }}
								</em>
							</td>
							<td class="b21-cantidad" data-th="Cantidad">
								<em>
									{{ item.cantidad}}
								</em>
							</td>
							<td class="b21-PrecioUnitario" data-th="PrecioUnitario">
								<em>
									{{ item.precioUnitario}}
								</em>
							</td>
							<td class="b21-Total" data-th="Total">
								<em>
									{{ item.precioReal}}
								</em>
							</td>
							<td class="b21-Total" data-th="Total">
								<em>
									{{ envio.9}}
								</em>
							</td>
						</tr>

						{% set subtotal = subtotal + (item.precioReal) %}

						{% endfor %}


					</tbody>
				</table>
			</div>

			<div class="table-right">
				<div class="b21-item">
					<table>
						<caption>Datos de envío</caption>
						<tbody>
							<tr>
								<td style="width:110px">Nombre:</td>
								{% if envio.0 %}
									<th> {{ envio.0 }}</th>
									{% else %}
									<th> {{ facturacion.0 }}</th>
								{% endif %}

							</tr>
							<tr>
								<td style="width:110px">Teléfono</td>
								{% if envio.2 %}
									<th> {{ envio.2 }}</th>
								 	{% else %}
								 	<th> {{ facturacion.2 }}</th>
								{% endif %}
							</tr>
							<tr>
								<td style="width:110px">Dirección</td>
								{% if envio.6 %}
									<th>{{ envio.6 }} </th>
									{% else %}
								    <th>{{ facturacion.7 }} </th>
								{% endif %}
							</tr>
							<tr>
								<td style="width:110px">Feha de entrega</td>
								{% if envio.4 %}
									{% if envio.3 == 16 %}
										{% set fecha = info.tiempoEnvioLima %}
										<span><input type="hidden" value="{{ fecha }}"></span>
										<th>{{ info.tiempoEnvioLima }} días </th>
									{% else %}
										{% set fecha = info.tiempoEnvioProvincias %}
										<span><input type="hidden" value="{{ fecha }}"></span>
										<th>{{ info.tiempoEnvioProvincias }} días </th>
									{% endif %}

								{% else %}

									{% if facturacion.3 == 16 %}
										{% set fecha = info.tiempoEnvioLima %}
										<h2><input type="hidden" value="{{ fecha }}"></h2>
										<th>{{ info.tiempoEnvioLima }} días </th>
									{% else %}
										{% set fecha = info.tiempoEnvioProvincias %}
										<h2><input type="hidden" value="{{ fecha }}"></h2>
										<th>{{ info.tiempoEnvioProvincias }} días </th>
									{% endif %}

								{% endif %}
							</tr>
						</tbody>
					</table>
				</div>

				<div class="b21-item">
					<table>
						<caption>Resumen de Compra</caption>
						<tbody>
							<tr>
								<td style="width:110px">Descuento</td>
								<th><span>s/. </span>{{ envio.9 }}</th>
							</tr>
							<tr>
								<td style="width:110px">Total de compra</td>
								<th><span>s/. </span>{{ subtotal }}</th>
							</tr>
							<tr>
								{% set precioEnvio = 0 %}
								<td style="width:110px">Delivery</td>
								{% if envio.4 == 114 %}
									<th><span>s/. </span> {{ info.precioEnvioLima }}</th>
									{% set precioEnvio =  info.precioEnvioLima %}
								{% else %}
									<th><span>s/. </span> {{ info.precioEnvioProvincias }}</th>
									{% set precioEnvio =  info.precioEnvioProvincias %}
								{% endif %}
							</tr>
							<tr>
								{% set totalReal = 0 %}
										{% set totalReal = envio.8 + precioEnvio %}


								<td style="width:110px">Total</td>
								<th><span>s/. </span>{{ totalReal }}</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		{# <a class="bt g-boton" href="">Descubre más</a> #}
	</div>
</section>

{% set cambio = info.valordeCambio %}
{% set enDolares = totalReal / cambio %}
{% set dolares = enDolares|round(2) %}

<form id="form-datosCliente">
	<input type="hidden" name="factura" value="{{ facturacion|join(',') }}">
	<input type="hidden" name="envio"	value="{{ envio|join(',') }}">
	<input type="hidden" name="fecha" value="{{ fecha }}">
</form>
<!-- https://www.sandbox.paypal.com/cgi-bin/webscr -->
<form  name="paypal" action="https://www.paypal.com/cgi-bin/webscr" id="paypal" method="POST">
	<input type="hidden" name="_csrf_token" value="{{ csrf_token('paypal') }}">
	<input type="hidden" name="cbt" value="Presione aqui para volver">
	<input type="hidden" name="business" value="{{info.correopaypal}}">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="on0" value="{{ envio.7 }}">
	<input type="hidden" id="on1" name="on1" value="">
	<input type="hidden" name="item_name" value="Pedido Life It">
	<!-- <input type="hidden" name="item_number" value="RT:PE-16SHRN"> -->
    <input type="hidden" name="amount" value="{{ dolares }}">
    <input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="button_subtype" value="services">
	<input type="hidden" name="tax_rate" value="0.000">
	<input type="hidden" name="shipping" value="0.00">
	<input type="hidden" name="return" value="{{ infosite }}{{ path('paypal-form') }}">
	<input type="hidden" name="notify_url" value="{{ infosite }}{{ path('paypal-form') }}">
	<input id="btn-enviar" class="bt g-boton" type="submit">Descubre más</a>
	{# http://localhost:8000#}
</form>

<input type="hidden" id="input-codigo" value="">
{# <input id="btn-enviar" class="bt g-boton" type="submit">Descubre más</a> #}
{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){
		var codigo = Math.random().toString(36).substr(2, 8);
		$("#on1").val(codigo);
		$("#input-codigo").val(codigo);

		$("#paypal").submit(function(e) {
			var codigo = $("#on1").val();
				console.log(codigo);
			$.ajax({
				url: "/paypal-form/",
				type: "POST",
				dataType: "json",
				// data: {codigo: codigo },
				success: function(response){
				 if (response.state == 'ok') {
					 console.log("Todo Chevere");
					 console.log(response.data);
				 }else {
								console.log("Algun error ha ocurrido");
				 }

				}
			});
			return false;

		});

		$("#btn-enviar").click(function(){
					console.log("Registrando el pedido");
			var form = $("#form-datosCliente").serialize();
			var codigo = $("#input-codigo").val();
			console.log(codigo)
			$.ajax({
				url: "/registrar-pedido/",
				type: "post",
				dataType: "json",
				data:  {formulario: form , codigo: codigo},
				success: function(response){
					if (response.state) {
						console.log(response.data);
					}
				}
			});

		});

	});



</script>

{% endblock %}
