{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<!-- BLOQUE 15 -->
<section class="b15" style="background-image: url({{ asset(info.imagenPaginaLocales) }});">
    <div class="wancho">
        <div class="b15-table">
            {% set mensajePaginaLocales = info.mensajePaginaLocales|split('//') %}
            <h1>
                {{ mensajePaginaLocales.0 }} <br>
                {% if mensajePaginaLocales.1 is defined %}
                    <strong>
                        {{ mensajePaginaLocales.1 }}
                    </strong>
                {% endif %}
            </h1>
        </div>
    </div>
</section>

<!-- BLOQUE 16 -->
<section class="b16">
    <div class="wancho">
        <div class="b16-left">
            <div class="g-title">
                <h1>Encuéntranos en</h1>
            </div>
            <div class="tabs">
                <div class="header-tab">
                    <ul>
                      {% for item in locales %}
                        <li>
                            {% set className = "b16-item b16-headtab" %}

                            {% if loop.index == 1 %}
                                {% set className = "b16-item active b16-headtab" %}
                            {% endif %}

                            <div class="{{ className }}" data-id="tabs-{{ loop.index }}" data-lat="{{ item.latitud }}" data-long="{{ item.longitud }}">
                                <h4> {{ item.lugar }}</h4>
                                <span class="icon-ubicacion-01"></span>
                                <p>
                                    {{ item.direccion }}
                                </p>

                                {% set telefono = item.telefonos|split(',') %}

                                <div class="b16-telefono">
                                    <span class="icon-telefono-01"></span>
                                    <a href="tel:4443079">
                                        {% if telefono.0 is defined %}
                                                {{ telefono.0 }}
                                        {% endif %}
                                    </a>
                                    <a href="tel:998170746">
                                        {% if telefono.1 is defined %}
                                                {{ telefono.1 }}
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="b16-open b16-margin">
                                    Ver Mapa
                                </div>
                            </div>
                        </li>
                {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
        <div class="b16-right">
            <div class="content-tab">
                {% for item in locales %}
                    {% set className = "item-tab" %}

                    {% if loop.index == 1 %}
                        {% set className = "item-tab active" %}
                    {% endif %}

                    <div id="tabs-{{ loop.index }}" class="{{ className }}">
                        <figure class="b16-img">
                            <img src="{{ asset(item.imagen) }}" alt="{{ item.lugar }}">
                            <figcaption>
                                {{ item.lugar }}
                            </figcaption>
                        </figure>
                    </div>
                {% endfor %}
            </div>
            <div class="b16-mapa">
                <div class="b16-map">
                    <div class="g-map" id="google-map"></div>
                    <div class="b16-close">
                        <div class="bot-general">
                            <button class="but-gen ">Cerrar mapa</button>
                        </div>
                    </div>
                </div>
                <div class="b16-bottombox">
                    <div class="bot-general">
                        <button class="but-gen b16-open">Ver mapa</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block jsfinal %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmgs9bGnlYPAWUyUH9-FMRP4sRVhdHdBE"></script>
<script type="text/javascript">
    $(function(){
        $('.b16-open').click(function(e){
            $('.b16-map').addClass('active');
        })

        $('.b16-close').click(function(e){
            $('.b16-map').removeClass('active');
        })
        //google map
        var map;
        var marker;
        function initMap() {
            var $map = $( '#google-map' );
            if ( ! $map.length ) return;

            var myLatlng = new google.maps.LatLng({{ locales.0.latitud }}, {{ locales.0.longitud }}); // <- Your latitude and longitude

                var styles = [
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "administrative.country",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#262626"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "color": "#1b879e"
                        }
                    ]
                },
                {
                    "featureType": "administrative.province",
                    "elementType": "geometry.stroke",
                    "stylers": [
                        {
                            "color": "#2176b6"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#097ea2"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                }
                ];

            var mapOptions = {
                zoom             : 15,
                center           : myLatlng,
                mapTypeControl   : true,
                disableDefaultUI : true,
                zoomControl      : true,
                scrollwheel      : false,
                styles           : styles,
                draggable        : true
            }
            map = new google.maps.Map(document.getElementById('google-map'), mapOptions);

            marker = new google.maps.Marker({
                    position: myLatlng,
                    map: map,
                    icon:'{{ asset("static/img/contactenos.png") }}'
            });
        }
        google.maps.event.addDomListener(window, 'load', initMap);

        //tab
        $('.tabs .header-tab .b16-item').click(function(e){
            e.preventDefault();

        $('.b16-headtab').click(function(event) {
            event.preventDefault();
            var f_latitud = $(this).attr('data-lat');
            var f_longitud = $(this).attr('data-long');
            var myLatLng = new google.maps.LatLng(f_latitud,f_longitud,18);
            marker.setPosition( myLatLng);
            map.panTo( myLatLng );
        });

        //header-tab
        $('.tabs .header-tab .b16-item').removeClass('active')
        $(this).addClass('active')

        //content-tab
        var id = $(this).attr('data-id');
        console.log(id);

        $('.b16 .content-tab .item-tab').removeClass('active')
        $('.b16 .content-tab .item-tab[id="'+id+'"]').addClass('active');

        });

    });
</script>

{% endblock %}
