{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}
<link href="{{ asset('static/js/datepicker/jquery-ui.css') }}" rel="stylesheet" />
{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<div class="g-banner" style="background-image: url('{{asset('static/media/banner-img.jpg')}}');">
	<div class="wancho">
		<div class="g-banner-text">
			<div class="g-title">
				<h1>Ingresa a tu cuenta y conóce todos nuestros productos</h1>
			</div>
		</div>
	</div>
</div>

{% for flash_message in app.session.flashBag.get('success') %}
	<h4 class="alert alert-success">
		{{ flash_message }}
	</h4>
{% endfor %}

<!-- BLOQUE 28 -->
<section class="b28">
	<div class="wancho">
		<div class="b28-left">
			<div class="b28-fondoverde">
				<div class="b28-title">
					<span class="icon-dolar"></span><h2>Accede a tu cuenta</h2>
				</div>
				<form class="b28-form" id="login-form">
					<input type="text" name="usuario" id="usuario" placeholder="Usuario" class="validate[required]" autocomplete="off">
					<input type="password" name="password" id="password" placeholder="Contraseña" class="validate[required]" autocomplete="off">

					<div class="b28-texto">
						<p><a href="{{ path('olvidaste-contrasena') }}">¿Ha olvidado su contraseña?</a></p>

					</div>
					<div class="b28-btn">
						<button class="bt g-boton" type="submit">Enviar</button>
					</div>
                </form>
			</div>
		</div>
		<div class="b28-right">
			<div class="b28-titledos">
				<h2>Registrate aquí si eres nuevo en Life it</h2>
			</div>

			<form method="post">

				<div class="g-input">
					<input type="text"  name="nombres" placeholder="Nombres  y Apellidos" class="validate[required]">
				</div>
				<div class="dos-input">
					<div class="g-input">
						<input type="text" name="email" placeholder="E-mail" class="validate[required]">
					</div>
					<div class="g-input">
						<input type="text" name="telefono" placeholder="Teléfono" class="validate[required]">
					</div>
				</div>
				<div class="dos-input">
					<div class="g-input">
						<input type="text" name="dni" placeholder="DNI" class="validate[required]">
					</div>
					<div class="g-input">
						<input id="datepicker" type="text" name="fecha_nacimiento" placeholder="Fecha de Nacimiento" class="validate[required]" readonly="">
					</div>
				</div>

				<div class="g-input w100">
					<input type="password" name="password" placeholder="Contraseña">
				</div>
				<div class="g-input">
					<input type="password" name="password_confirm" placeholder="Repita contraseña">
				</div>
				<div class="b28-bnt">
					<input type="submit" class="bt g-boton">
				</div>
					{% if state is defined and state %} <h2>Registro correcto</h2> {% endif %}
				</div>
			</form>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript" src="{{ asset('static/js/datepicker/jquery-ui.js') }}"></script>
<script type="text/javascript">

	$.datepicker.regional['es'] = {
		closeText: 'Cerrar',
		prevText: '<Ant',
		nextText: 'Sig>',
		currentText: 'Hoy',
		monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
		monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
		dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
		dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
		dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
		weekHeader: 'Sm',
		dateFormat: 'dd/mm/yy',
		firstDay: 1,
		isRTL: false,
		showMonthAfterYear: false,
		yearSuffix: ''
	};
	$.datepicker.setDefaults($.datepicker.regional['es']);

	$(function(){
		$( "#datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });


	});
    $(window).load(function(){
        $("#usuario").val("");
    })

    $("#login-form").submit(function(e){
        console.log($("#login-form").serialize());
        e.preventDefault();
            console.log("aaa");
        $.ajax({
            url : '/login/user/',
            type: 'post',
            dataType: 'json',
            data: $("#login-form").serialize(),
            success: function(data){
                console.log(data);
                if (data == true) {
                    window.location.href = "/carrito-compras/";
					// agregar-producto
                }else{
					console.log("no ingreso");
                }
            }
        });
    });
</script>
{% endblock %}
