<div class="g-banner" style="background-image: url('/media/banner-img.jpg');">
	<div class="wancho">
		<div class="g-banner-text">
			<div class="g-title">
				<h1>Ingresa a tu cuenta y conóce todos nuestros productos</h1>
			</div>
		</div>
	</div>
</div>