{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}
<link href="{{ asset('static/js/datepicker/jquery-ui.css') }}" rel="stylesheet" />

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}


<div class="g-banner" style="background-image: url('{{ asset('static/media/banner-img.jpg') }}');">
    <div class="wancho">
        <div class="g-banner-text">
            <div class="g-title">
                <h1>Mi cuenta</h1>
            </div>
        </div>
    </div>
</div>

<!-- BLOQUE 18 -->
{% set route = app.request.attributes.get('_route') %}

<section class="b18">
    <div class="wancho">
        <ul class="b18-listas">
            {% if route == 'perfil' %}
                {% set clase = 'active' %}
            {% endif %}
            <li class="{{ clase }}">
                <span class="1">1</span>
                <div>Mi cuenta</div>
            </li>

            <li>
                <span class="2">2</span>
                <div> <a href="{{ path('pedidos') }}">Mis pedidos</a></div>
            </li>
        </ul>
    </div>
</section>

<section class="b18-form mi-cuenta dat-fact">
    <div class="wancho">
        <div class="b18-left">
            <div class="b18-factura">
                <h3>Información personal</h3>
            </div>
            <p>Ingrese sus comentarios, sugerencias y/o inquietudes para brindarle un mejor servicio.</p>
            <form id="form-personal">
                <div class="g-input">
                    <input type="text" id="nombres" placeholder="Nombres  y Apellidos" value="{{ perfil.nombres }}">
                </div>
                <div class="dos-input">
                    <div class="g-input">
                        <input type="text" id="dni" placeholder="DNI" value="{{ perfil.dni }}">
                    </div>
                    <div class="g-input">
                        <input id="datepicker" type="text" value="{{ perfil.fechaNacimiento }}" placeholder="Fecha de Nacimiento">
                    </div>
                </div>
                <div class="b18-content">
                    <div class="dos-select">
                        <div class="g-input g-select">
                            <select name="" id="departamento">

                            </select>
                        </div>
                    </div>
                    <div class="dos-select">
                        <div class="g-input g-select">
                            <select name="" id="provincia">

                            </select>
                        </div>
                    </div>
                    <div class="dos-select">
                        <div class="g-input g-select">
                            <select name="" id="distrito">

                            </select>
                        </div>
                    </div>
                </div>
                <div class="g-input">
                    <input type="text" id="direccion" value="{{ perfil.direccion }}" placeholder="Dirección">
                </div>
                <div class="b18-bnt">
                    <button type="submit" class="bt g-boton" href="">Guardar datos</button>

                    <a href="#contenido-boxlight" class="open-boxlight">abrir</a>
                </div>
            </form>


            <div class="b18-factura">
                <h3>Cambiar correo electrónico</h3>
            </div>
            <p id="p_correo">Tu correo actual es: {{ perfil.email }}</p>
            <form id="cambiar_correo">
                <div class="g-input">
                    <input type="text" id="correo" placeholder="Escribe tu nuevo correo">
                </div>
                <div class="b18-bnt">
                    <button class="bt g-boton">Actualizar Datos</button>

                    <a href="#contenido-boxlight" class="open-boxlight">abrir</a>
                </div>
            </form>

                <div class="b18-factura">
                    <h3>Cambiar contraseña</h3>
                </div>
            <form id="cambiar-password">
                <div class="g-input">
                    <input type="password" id="actual" placeholder="Contraseña actual">
                </div>
                <div class="dos-input">
                    <div class="g-input">
                        <input type="password" id="nueva" placeholder="Nueva contraseña">
                    </div>
                    <div class="g-input">
                        <input type="password" id="confirmar" placeholder="Repetir contraseña">
                    </div>
                </div>
                <div class="b18-bnt">
                    <button type="submit" class="bt g-boton">Actualizar Datos</button>
                </div>
            </form>

        </div>
        <div class="right b18-right">
            <div class="b19-pay">
                <p>Pagar con</p>
                <img class="b19-img" src="{{asset('static/media/pay.png')}}">
            </div>
            <div class="b19-images">
                <ul>
                    <a href="">
                        <li>
                            <img src="{{asset('static/media/b19.jpg')}}" width="34" height="21">
                            <img src="{{asset('static/media/b19-2.jpg')}}" width="34" height="21">
                            <img src="{{asset('static/media/b19-3.jpg')}}" width="34" height="21">
                            <img src="{{asset('static/media/b19-4.jpg')}}" width="34" height="21">
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="b34 boxlight" id="contenido-boxlight">
    <div class="b34-compra">
        <div class="b34-title">
            <h2>Los datos <br> se actualizaron</h2>
            <p>de forma correcta</p>
        </div>
        <figure class="b34-img">
            <img src="{{ asset('static/media/b30.png') }}" width="76" height="62">
        </figure>
    </div>
</section>

{% if perfil.distritoCliente != null  %}
    <input type="hidden" id="valor_departamento" value="{{ perfil.distritoCliente.provincia.departamento.id }}">
    <input type="hidden" id="valor_provincia" value="{{ perfil.distritoCliente.provincia.id }}">
    <input type="hidden" id="valor_distrito" value="{{ perfil.distritoCliente.id }}">
{% endif %}

{% endblock %}
{% block jsfinal %}
<script type="text/javascript" src="{{ asset('static/js/datepicker/jquery-ui.js') }}"></script>


<script type="text/javascript">

    $.datepicker.regional['es'] = {
        closeText: 'Cerrar',
        prevText: '<Ant',
        nextText: 'Sig>',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
        dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: ''
     };
     $.datepicker.setDefaults($.datepicker.regional['es']);

    $(function(){

        $( "#datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });

        $("#form-personal .open-boxlight").hide();
        $("#cambiar_correo .open-boxlight").hide();
        cargarDepartamento();
        cargarProvincia(null);
        cargarComboDistrito(null);
    });

    $("#form-personal").submit(function(e){
        e.preventDefault();

        var nombre    = $("#nombres").val();
        var distrito  = $("#distrito").val();
        var dni       = $("#dni").val();
        var fecha     = $("#datepicker").val();
        var direccion = $("#direccion").val();

        $.ajax({
            url : "/informacion-personal/",
            type: "post",
            dataType : "json",
            data : {nombre: nombre ,distrito:distrito, dni: dni, fecha: fecha, direccion: direccion} ,
            success: function  (response){

                console.log(response);
                $("#nombres").val(nombre);
                $("#dni").val(dni);
                $("#cambiar_correo .open-boxlight").click();
            }
        });
    });

    $("#cambiar_correo").submit(function(e) {
        e.preventDefault();

         var correo = $("#correo").val();

         $.ajax({
             url : "/actualizar-cuenta/",
             type: "post",
             dataType: "json",
             data: {correo: correo},

             success: function(response){
                console.log(response);
                if (response == "bien") {
                    $("#p_correo").html("Tu correo actual es: "+correo)
                    $("#correo").val("")
                    $("#cambiar_correo .open-boxlight").click();
                 }
                 if (response == "error") {
                    alert("Ingresar un correo");
                 }
             }
         });
    });

    $("#cambiar-password").submit(function(event) {
        var actual    = $("#actual").val();
        var nueva     = $("#nueva").val();
        var confirmar = $("#confirmar").val();

        $.ajax({
            url : "/cambiar-contrasena/",
            type: "post",
            dataType: "json",
            data: {actual:actual, nueva:nueva, confirmar:confirmar},

            success: function(response){
                if (response == "OK") {
                    alert('Su contraseña fue cambiada');
                }
                if (response == "error1") {
                    alert('Verifique su contraseña actual');
                }
                if (response == "error2") {
                    alert('La nueva contraseña no coincide con el campo de confirmación');
                }
                if (response == "error3") {
                    alert("La nueva contraseña no puede ser la misma que la actual")
                }
            }
        });
    });

    function cargarDepartamento(){

        var existe = $("#valor_departamento").val();
        console.log(existe);

        $.ajax({
            url: "/cargar-departamento/",
            type: "get",
            dataType: "json",
            data: '',
            success: function(response){
                if (response.state) {

                    html = "<option value=''>Elija Departamento</option>";

                    $.each(response.data, function(i, row){
                        if (row.id == existe) {
                        html += "<option value='"+row.id+"' selected>"+row.nombre+"</option>"
                        }else{
                        html += "<option value='"+row.id+"'>"+row.nombre+"</option>"
                        }
                    });

                    $("#departamento").html(html);

                    cargarProvincia(existe);

                    //$("#departamento").attr("disabled", true);
                }else{
                    console.log(response.data);
                }
            },
            error: function(error){
                //console.log(error.responseText);
            }
        });
    }


    function cargarProvincia(dep_id){

        var existe = $("#valor_provincia").val();

        $.ajax({
            url: "/cargar-provincia/",
            type: "post",
            dataType: "json",
            data: {"param" : dep_id},

            success: function(response){
                if (response.state) {
                    html = "<option value=''>Elija provincia</option>";
                    console.log(response.data)
                    $.each(response.data, function(i, row){
                        if (row.id == existe) {
                        html += "<option value = '"+row.id+"' selected>"+row.nombre+"</option>";}
                        else{
                          html += "<option value = '"+row.id+"'>"+row.nombre+"</option>";
                        }
                    });

                        $("#provincia").html(html);
                        cargarComboDistrito(existe);
                    if (dep_id == null) {
                        $("#provincia").attr("disabled", true);
                    }
                }else{
                    alert(response.data);
                }
            },
            error: function(error){
               // alert(error.responseText);
            }
        });
    }

    function cargarComboDistrito(p_prov_id){

        var existe = $("#valor_distrito").val();

        $.ajax({
            url : "/cargar-distrito/",
            type : 'post',
            dataType : 'json',
            data : {"param" : p_prov_id},
            success : function(resultado) {
                // console.log(resultado);
                if(resultado.state){
                    html = "<option value=''>Elija distrito</option>";

                    $.each(resultado.data, function(i, row){
                        if (row.id == existe) {
                            html += "<option value = '"+row.id+"' selected>"+row.nombre+"</option>";
                        }else{
                             html += "<option value = '"+row.id+"'>"+row.nombre+"</option>";
                        }

                    });

                        $("#distrito").html(html);

                    if(p_prov_id == null){
                        $("#distrito").attr("disabled", true);
                    }
                }else{
                    alert(resultado.data);
                }
            },
            error : function(error) {
               // alert(error.responseText);
            }
        });
    }

    $("#departamento").change(function(){
        depId = $(this).val().trim();

        if (depId == "") {
            depId = null;
        }else{
            $("#provincia").attr("disabled", false);
        }

        cargarProvincia(depId, "#provincia");
    });

    $("#provincia").on("change", function(){
        provId = $(this).val().trim();

        if(provId == ""){
            provId = null;
            $("#provincia").attr("disabled", true);
            $("#departamento").val("");
        }else{
            $("#distrito").attr("disabled", false);
        }

        cargarComboDistrito(provId, "#distrito");
    });

    $("#distrito").on("change", function(){
        distId = $(this).val().trim();
        if(distId == ""){
            cargarComboDistrito(null, null); // Me lista todos los distritos.
            $("#distrito").attr("disabled", true);
            $("#provincia").val("");
        }
    });
</script>

{% endblock %}
