{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}


<div class="g-banner" style="background-image: url('{{ asset('static/media/banner-img.jpg') }}');">
    <div class="wancho">
        <div class="g-banner-text">
            <div class="g-title">
                <h1>Mi cuenta</h1>
            </div>
        </div>
    </div>
</div>
{% set route = app.request.attributes.get('_route') %}

<!-- BLOQUE 18 -->
 {% if route == 'pedidos' %}
                {% set clase = 'active' %}
{% endif %}
<section class="b18">
    <div class="wancho">
        <ul class="b18-listas">
            <li>
                <span class="1">1</span>
                <div><a href="{{ path('perfil') }}">Mi cuenta</a></div>
            </li>
            <li class="active">
                <span class="2">2</span>
                <div>Mis pedidos</div>
            </li>
        </ul>
    </div>
</section>

<!-- BLOQUE 21 -->
<section class="b21 mis-pedidos ">
    <div class="wancho">
        <div class="b21-cnt">
            <div class="table-left">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">Productos</th>
                            <th>Fecha</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for item in carrito_pedido %}
                    <tr>
                        <td data-th="Producto">
                            <img src="{{ asset(item.presentacion.productoPre.imagen) }}" width="98" height="81" alt="">
                        </td>
                        <td class="b21-nombre-producto" data-th="Producto">
                            <em>{{ item.presentacion.productoPre.nombreProducto }}/ {{ item.presentacion.presentacion }}</em>
                            <span class="db">Código: 505219</span>
                        </td>
                        <td data-th="Fecha"> {{ item.fecha.format('d-m-Y') }}</td>
                        <td data-th="Cantidad"> {{ item.cantidad }}</td>
                        <td data-th="Precio"><span>s/. </span>{{ item.precioUnitario }}</td>
                        <td data-th="Total"><span>s/. </span> {{ item.precioReal }}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {#<a class="bt g-boton" href="">Ver productos</a>#}
    </div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
    $(function(){

    });
</script>

{% endblock %}
