{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}
<link href="{{ asset('static/css/jquery-ui.css') }}" rel="stylesheet" />
<link href="{{ asset('static/js/cloudzoom/cloud-zoom.css') }}" rel="stylesheet" />


{%endblock %}

{% block classbody %}productos{% endblock %}

{% block content %}

<!-- BLOQUE 6 -->
<!-- <div class="b6-catego">
	<a class="bt g-boton g-red b6-abrir" href="">Abrir categorías</a>
</div> -->
{% set puntuacionFinal = 0 %}
{% set count = 0 %}
{# {{dump()}}#}

	{% for rank in puntacion %}
		{% set puntuacionFinal = puntuacionFinal + rank.puntuacion %}
		{% set count = count + 1 %}
	{% endfor %}
	{# <h2></h2>
	<h3>{{ puntuacionFinal }}</h3>
	<h3>{{ count }}</h3> #}

	{% if count > 0 %}
		{% set estrellas = (puntuacionFinal/count)|round %}

	{% else %}
		{% set estrellas = 0 %}
	{% endif %}

	{# {% if  presentacion == null %}
		{{"no pasa nada"}}
	{% else %}

		{{dump(presentacion)}}

	{% endif %}#}

	{{dump(presentacion)}}
<section class="cnt-b6-b7 cf">
	<div class="b6-left">
		<span class="b6-close icon-close"></span>
		<aside class="g-televentas">

			<div class="g-tl-cont">
				<div class="g-tl-ContIn">
					<h5>Canal televentas</h5>
					<p>Lima: {{ info.televentasLima }}</p>
					<p>Perú: {{ info.televentasPeru }}</p>
					<h5 class="delivery">Delivery gratuito</h5>
				</div>
			</div>
		</aside>
		<h3 class="b6-title">Categorías</h3>
		<ul class="w-menulateral">
			{% set currentSlug = app.request.attributes.get('slug2') %}
			{% set currentSlugSubcategoria = app.request.attributes.get('slug') %}

			{% for categoria in categorias %}
				<li class="w-cnt-links">
					{% set class = "w-itemcategoria" %}

					{% if currentSlug|lower == categoria.slug|lower %}
						{% set class = "w-itemcategoria active" %}
					{% endif %}

					<a href="" class="{{ class }}">
						{{ categoria.nombreCategoria }}
					</a>

					{% for item in categoria.subcategoria %}
						<ul class="w-subcategoria">
							<li>
								{% set class = "" %}

								{% if currentSlugSubcategoria|lower == item.slug|lower %}
									{% set class = "active" %}
								{% endif %}

								<a class="{{ class }}" href="{{ path('productos_slug', {'slug2':categoria.slug,  'slug':item.slug }) }}">
									{{ item.nombreSub }}
								</a>
							</li>
						</ul>
					{% endfor %}
				</li>
			{% endfor %}
		</ul>

	</div>
	<div class="cnt-b7">
		<!-- BLOQUE 7 -->
		<div class="b7 b7-detalleproducto">

			<div class="b25">
				<div class="wancho cf">

					<div class="b25-info">
						<div class="b25-texto">
							<h3>{{detalle.nombreProducto}}</h3>
							<em>Codigo 12345567</em>

							{% if detalle.precioOferta is not null %}
								<del>s/. {{detalle.precioOferta}}</del>
								<span><sub>s/.</sub>Precio oferta</span>
							{% else %}
								<span><sub>s/.</sub> {{detalle.precio}}</span>
							{% endif %}

							<div>
								{{ detalle.descripcionProducto|raw }}
							</div>
							{# {% set mensaje = "Agotado" %}


							{% if stock > 0 %}
								{% set mensaje = "En stock" %}
							{% endif %}#}


						  <strong>Disponibilidad: Disponible</strong>
						</div>

						<div class="b25-itemdetail">
							<div class="b25-tittle-talla">
								<h2>Color</h2>
							</div>

							<div class="b25-circulo tabcolores">
								{% for presentacion in presentaciones %}
								{# {{dump(presentacion.productoCo.id)}}#}
								<span class="h-tab"  id="{{presentacion.id}}" name="presentacionid" style="background: {{ presentacion.productoCo.color }} !important"></span>
								{% endfor %}
							</div>
						</div>
						<div class="b25-itemdetail">
							<div class="b25-tittle-talla">
								<h2>Talla</h2>
							</div>
							<div class="b25-wraptalla">


								{% for item in presentaciones %}

								<div class="b25-talla" id="">

									<div class="b25-tabtallav">

										<div class="b25-talla-variadas">
												<a href=""  data-id="stocktalla" data-talla="" class="b25-circulo-tallas">
													<p>{{ presentacion.productoTa.color }}</p>
												</a>
										</div>

									</div>

									<ul class="b25-wrapstock">

											<li class="b25stocktalla {% if loop.index == 1 %} active {% endif %}" id="stocktalla-{{ loop.index }}">
														<strong>Disponibilidad: {% if item.stock %} En stock {% else %} No Disponible {% endif%}</strong>
														<div class="b25-select">
															<select name="cantidad">
																<option value="1">1</option>
																<option value="2">2</option>
																<option value="3">3</option>
																<option value="4">4</option>
																<option value="5">5</option>
															</select>
														</div>
														<div class="b25-addcar">
															<button type="submit" class="bt g-boton">
																Agregar al Carrito
															</button>
														</div>
											</li>

									</ul>
								</div>

								{% endfor %}

							</div>
						</div>
						<a href="#valoracion" class="b25-valoracion open-boxlight">
							{% if estrellas > 0 %}
								<span>Valora {{ estrellas|round }}</span>
							{% else %}
								<span>Valora {{ estrellas|round }}</span>
								<span class="icon-star-(2)"></span>
								<span class="icon-star-two"></span>
								<span class="icon-star-two"></span>
								<span class="icon-star-two"></span>
								<span class="icon-star-two"></span>
								<span class="icon-star-two"></span>
							{% endif %}

							{% if estrellas == 1 %}
								<span class="icon-star-(2) active"></span>
								<span class="icon-star-two"></span>
								<span class="icon-star-two"></span>
								<span class="icon-star-two"></span>
								<span class="icon-star-two"></span>
							{% endif %}

							{% if estrellas == 2 %}
								<span class="icon-star-two active"></span>
								<span class="icon-star-two active"></span>
								<span class="icon-star-two"></span>
								<span class="icon-star-two"></span>
								<span class="icon-star-two"></span>
							{% endif %}

							{% if estrellas == 3 %}
								<span class="icon-star-two active"></span>
								<span class="icon-star-two active"></span>
								<span class="icon-star-two active"></span>
								<span class="icon-star-two"></span>
								<span class="icon-star-two"></span>
							{% endif %}

							{% if estrellas == 4 %}
								<span class="icon-star-two active"></span>
								<span class="icon-star-two active"></span>
								<span class="icon-star-two active"></span>
								<span class="icon-star-two active"></span>
								<span class="icon-star-two"></span>
							{% endif %}

							{% if estrellas == 5 %}
								<span class="icon-star-two active"></span>
								<span class="icon-star-two active"></span>
								<span class="icon-star-two active"></span>
								<span class="icon-star-two active"></span>
								<span class="icon-star-two active"></span>
							{% endif %}

						</a>
					</div>

		<div class="b25-imagen w-tab">
			{% if detalle.presentacion|length > 0 %}

				{% for item in detalle.presentacion %}

						<div class="big-itemtab w-itemtab" id="color-{{ item.id }}">

							<ul>
							{% for i in item.imagenes %}

								<li class="tab-imagensmall w-itemtab" id="img-{{loop.index}}">
									<a href="{{ asset(i.imagenTodo) }}" class="cloud-zoom" rel="transparentImage: 'data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', useWrapper: false, showTitle: false, zoomWidth:'369', zoomHeight:'375', adjustY:0, adjustX:0">
								<img src="{{ asset(i.imagenTodo) }}" width="444" height="318">

									</a>
								</li>
							{% endfor %}
							</ul>

							<ul class="b25-miniatura tab-imagen">
								{% for i in item.imagenes %}

										<li class="h-tab" data-id="img-{{loop.index}}">

											<img src="{{ asset(i.imagenTodo) }}" width="105" height="75">

										</li>
										{% endfor %}
							</ul>
						</div>
					{% endfor %}
			{% else %}
				<div class="big-itemtab w-itemtab active" id="color-1">
					<ul>
						<li class="tab-imagensmall w-itemtab active" id="img-1">
							<a href="{{ asset(detalle.imagen) }}" class="cloud-zoom" rel="transparentImage: 'data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', useWrapper: false, showTitle: false, zoomWidth:'369', zoomHeight:'375', adjustY:0, adjustX:0">
								<img src="{{ asset(detalle.imagen) }}" width="444" height="318">
							</a>
						</li>
					</ul>
					<ul class="b25-miniatura tab-imagen">
						<li class="h-tab active" data-id="img-1">
							<img src="{{ asset(detalle.imagen) }}" width="105" height="75">
						</li>
					</ul>
				</div>
			{% endif %}
		</div>

				</div>
			</div>

			<div class="b8">
				<div class="wancho">
					<div class="b8-contenedor">
						<div class="b8-wrapbarra">
							<ul class="b8-barra">
								<li><a class="head-tab" href="" data-id="tab-1">Características</a></li>
								<li><a class="head-tab" href="" data-id="tab-2">Beneficios</a></li>
								<li><a class="head-tab" href="" data-id="tab-3">Información de envío</a> </li>
							</ul>
						</div>
						<div class="b8-texto">
							{# % for row in "3"|get_range % #}
							<div class="b8-itemtab" id="tab-1">
								{{ detalle.caracteristicaProducto|raw }}
							</div>
							<div class="b8-itemtab" id="tab-2">
								{{ detalle.beneficioProducto|raw }}
							</div>
							<div class="b8-itemtab" id="tab-3">
								{{ detalle.infoProducto|raw }}
							</div>
							{# % endfor % #}
						</div>
					</div>
					<div class="b8-redessociales">
						<div class="b8-recoment">
							<h3>¿Te gustó este producto?</h3>
							<h2>¡RECOMIENDALO!</h2>
						</div>
						<div class="b8-redes">
							{% set url_path = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}

							<a href="javascript: void(0);" class="icon-social-facebook b8-ico" onclick="shareSocial(this, 'facebook', '{{ infosite }}{{ url_path }}')">
								<div class="b8-red">
									<span>Ir a facebook</span>
								</div>
							</a>
							<a href="javascript: void(0);" class="icon-social-twitter b8-ico" onclick="shareSocial(this, 'twitter', '{{ infosite }}{{ url_path }}')">
								<div class="b8-red">
									<span>Ir a twitter</span>
								</div>
							</a>
							<a href="javascript: void(0);" class="icon-google-plus b8-ico" onclick="shareSocial(this, 'googlemas', '{{ infosite }}{{ url_path }}')">
								<div class="b8-red">
									<span>Ir a google+</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="wancho">
				<div class="b7-relacionados">
					{% if relacionados|length > 0 %}
							{% set mensaje = "Completa la colección" %}
						{% else %}
							{% set mensaje = "" %}
					{% endif %}
					<h3 class="b7-relaciontitle">{{ mensaje }}</h3>
					{% for item in relacionados %}
						<div class="b7-item">
							<figure class="b7-wrapper">
								{% if item.porcentajeDescuento is not null %}
									<span class="b7-triangle descuento" style="display:block;">
										<em>{{ item.porcentajeDescuento }}%</em>
										<em>desct.</em>
									</span>
								{% else %}
									{% if item.oferta == 1 %}
										<span class="b7-triangle oferta" style="display:block;">
											<em>oferta</em>
										</span>
									{% endif %}
								{% endif %}

								{% if item.nuevo == 1 %}
									<span class="b7-triangle nuevo" style="display:block;">
										<em>Nuevo</em>
									</span>
								{% endif %}

								<a href="{{ path('productos_slug', {'slug2':item.subcategoriaProd.categoria.slug, 'slug':item.subcategoriaProd.slug , 'slug3':item.slug}) }}" class="b7-img">
									<img src="{{ asset(item.imagen) }}"  alt="">
									<div class="b7-over">
										vista previa
									</div>
								</a>
								<figcaption class="b7-des">
									<a href="#">
										<h1>{{ item.nombreProducto }}</h1>
									</a>
									{{ item.descripcionProducto|raw }}
								</figcaption>
								<span class="b7-des-precio">
									{% if item.precioOferta is not null %}
										<em>S/.{{ item.precioOferta }}</em>
										<del>S/.{{ item.precio }}</del>
									{% else %}
										<em>S/.{{ item.precio}}</em>
									{% endif %}
								</span>
							</figure>
						</div>
					{% endfor %}

				</div>

			</div>
		</div>
	</div>
</section>

<section class="b6-popup boxlight" id="valoracion">
	<div class="b6-popup-title">
		<p>Califica este producto</p>
	</div>
	<div class="b6-valoracion">
		<a class="icon-star-two" data-val="1"></a>
		<a class="icon-star-two" data-val="2"></a>
		<a class="icon-star-two" data-val="3"></a>
		<a class="icon-star-two" data-val="4"></a>
		<a class="icon-star-two" data-val="5"></a>
	</div>

	<a href="" class="bt g-boton g-red">Continuar comprando</a>
</section>




{% endblock %}
{% block jsfinal %}


<script type="text/javascript" src="{{ asset('static/js/jquery-ui.js') }}"></script>
<script type="text/javascript" src="{{ asset('static/js/cloudzoom/cloud-zoom.js') }}"></script>


<script type="text/javascript">

		$(".b25-itemdetail .h-tab").click(function(e) {
			// event.preventDefault();
					// alert("PROBANDO");
					var colorID = $(this).attr('id');
			// var fecha = $(".h-tab ").serialize();


					console.log("id:"+colorID);

					$.ajax({
						url: '{{ path("productos_slug") }}',
						type: 'POST',
						dataType: 'json',
						data:  {colorID: colorID},
						success: function(response){
							if (response.state == true) {
								 var data = response.data;
									console.log(response.data);
							}else{
									 alert(response.data);
								// $(item).attr("disabled", false);
							}
						}

					})
					e.preventDefault(e);

		});


	  var openme = $('.w-cnt-links .w-itemcategoria.active');
	  if (openme.hasClass('active')) {
	    $('.w-subcategoria').hide();
	    openme.closest('.w-cnt-links').find('.w-subcategoria').show();

	  };
	$(function(){
		var color1 = $(".h-tab.active").attr('data-id');
		$("#presentacion").val(color1);
		// $('.h-tab').click(function(event) {

		// });


		var firstClick = $('.w-itemcategoria'),
			boxHide = $('.w-subcategoria'),
			cntLinks = $('.w-cnt-links');
		firstClick.click(function(e) {
			e.preventDefault();
			firstClick.removeClass('active');
			$(this).addClass('active');
			boxHide.stop(false).slideUp(200).css('height', 'auto');
			$(this).closest(cntLinks).find(boxHide).stop(false).slideToggle(200);
		});
		// $( "#slider-range" ).slider({
		// 	range: true,
		// 	min: {{ info.precioMasBajo }},
		// 	max: {{ info.precioMasAlto }},
		// 	values: [ 50, {{ info.precioMasAlto }} / 2.5 ],
		// 	slide: function( event, ui ) {
		// 		$( "#amount" ).val( "s/." + ui.values[ 0 ]);
		// 		$( "#amount2" ).val( "s/." + ui.values[ 1 ]);

		// 	}
		// });
		// $( "#amount" ).val( "s/." + $( "#slider-range" ).slider( "values", 0 ) );
		// $( "#amount2" ).val( " s/." + $( "#slider-range" ).slider( "values", 1 ) );


		$('.productos .categorias-responsive').click(function(e) {
			e.preventDefault();
			$('.cnt-b7, .b6-left, .categorias-responsive, body').toggleClass('active');
		});

		$('.productos .b6-close').click(function(event) {
			$('.cnt-b7, .b6-left, .categorias-responsive, body').removeClass('active');
		});

	    //tab caracteristicas
	    $('.b8-barra li').eq(0).addClass('active');
	    $('.b8-itemtab').eq(0).addClass('active');
	    $('.head-tab').click(function(event) {
	    	event.preventDefault();
			id = $(this).attr('data-id');
			// console.log(id);
			$('.head-tab').parent().removeClass('active');
			$(this).parent().addClass('active');

			$('.b8-itemtab').removeClass('active');
			$('.b8-itemtab[id="'+id+'"]').addClass('active');
	    });
			//tab caracteristicas


	    /* tab colores */
	    	// actives iniciales
	    	$('.tabcolores .h-tab').eq(0).addClass('active');
    		$('.big-itemtab').eq(0).addClass('active');
    		$('.big-itemtab').each(function(index, el) {
    			$(el).find('.tab-imagensmall').eq(0).addClass('active');
    			$(el).find('.b25-miniatura').find('.h-tab').eq(0).addClass('active');
    		});

	    $('.tabcolores .h-tab').click(function(event) {
	    	t = $(this)
	    	ide = $(this).attr('data-color');


	    	$('.tabcolores .h-tab').removeClass('active');
	    	t.addClass('active');

				$('.big-itemtab').removeClass('active');
				$('.big-itemtab[id="'+ide+'"]').addClass('active');


		    /* tab tallas */

		    $('.b25-talla').removeClass('active')
				$('.b25-talla[id="'+ide+'"]').addClass('active');

				/* tab tallas */

	    });
	    /* tab colores */

	    /* tab miniaturas */

	    /* tab miniaturas */

	    //tab tallas
	    $('.b25-talla').each(function(index, el) {
	    	$(el).find('.b25-circulo-tallas').eq(0).addClass('active');
	    });

	    // $('.b25-circulo-tallas').click(function(event) {
	    // 	event.preventDefault()
	    // 	$('.b25-circulo-tallas').removeClass('active');
	    // 	$(this).addClass('active');
	    // });

	    //tallas
	    // $('.b25-circulo-tallas').click(function(event) {
	    // 	event.preventDefault();
		//
	    // 	k = $(this)
	    // 	ido = $(this).attr("data-id");
		//
	    // 	k.closest('.b25-talla').find('.b25-circulo-tallas').removeClass('active');
	    // 	k.addClass('active')
	    // 	k.closest('.b25-talla').find('.b25stocktalla').removeClass('active');
	    // 	k.closest('.b25-talla').find('.b25stocktalla[id="'+ido+'"]').addClass('active');
		//
	    // });




	    $("#form-add").submit(function(e){
	    	e.preventDefault();

			$.ajax({
	            url : "/agregar-producto/",
	            type : 'post',
	            dataType : 'json',
	            data : $(this).serialize(),
	            success : function(resultado) {
	            	if(resultado.state){
	            		setTimeout(function(){
	            			window.location.href = "/carrito-compras/";
	            		}, 0);
	            	}
	            },
	            error : function(error) {
	            	alert(error.responseText);
	            }
	        });
	    });




	});

    $(".h-tab").on('click', function(){
    		var id = $(this).attr('data-id');
    		$("#presentacion").val(id);

    		var talla = $(".b25-circulo-tallas.active");
    		// console.log(talla)
    		$("#talladt").val(talla);
    });

    $(".icon-star-two").each(function(index, el) {
		$(this).click(function(event) {
			var valor = $(this).data('val'),
				producto = parseInt($("#producto_id").val());

			// console.log(valor, producto);

			$.ajax({
				url: '/generar-puntuacion/',
				type: 'post',
				dataType: 'json',
				data: {valor: valor, producto: producto},
				success: function(response){
					if (response == true) {
						location.reload();
						// console.log("respuesta esperada"+response.data)
					}
				}
			});
		});
    });


</script>
{% endblock %}
