{% extends "WebBundle:_common:base.html.twig" %}
{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 30 -->
<section class="b38 height">
    <div class="wancho height2">
        <div class="wrapper">
            <div class="b38-title">
                <h2>¿Olvidaste tu contraseña?</h2>
            </div>
            <figure class="b38-img">
                <img src="{{ asset('static/media/b37-img.png') }}">
            </figure>
            <div class="b38-parrafo">
                <p>Ingresa tu correo y recupera tu clave de acceso</p>
            </div>
            <form method="POST" class="b38-form">
                <div class="g-input">
                    <input type="text" name="correo" placeholder="Ingresa tu correo" class="validate[required]">
                </div>
                <div class="b38-bnt">
                    <button class="bt g-boton b38-send">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
    $(function(){

        //validacion formulario
        $(".b38-send").click(function(e) {
            //e.preventDefault();
            var valid = $('.b38-form').validationEngine('validate');

            if (!valid) {

            }else{
                $('.b7-wrapform').hide(function() {
                    $('.b15').show();
                });
            }
        });

        function fullScreen(){
            var vHeight = $(window).height();
            var vWidth = $(window).width();
            var header = $('header').height();
            var footer = $('footer').height();
            //console.log(vHeight);

            $('.height').height(vHeight+header-footer);
            $('.height2').height(vHeight+header-footer);

            console.log(header);
            console.log(footer);

            if(vWidth < 769){
            $('.height').css('height', 'auto');
            }
        }

        fullScreen()

    });
</script>

{% endblock %}