{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 17 -->
<section class="b17">
	<div class="wancho">
		<div class="b17-left">
			<div class="g-title">
				<h1>Preguntas frecuentes</h1>
			</div>
			{% for item in preguntas %}
				<article class="b17-item">
					<h3 class="b17-pregunta">
						{{ item.pregunta }}
						<em class="b17-number">
							{% if loop.index < 10 %}
								0{{ loop.index }}
							{% else %}
								{{ loop.index }}
							{% endif %}
						</em>
					</h3>
					<div class="b17-texto">

							{{ item.respuesta|raw }}

					</div>
				</article>
			{% endfor %}
		</div>
		<div class="b12-right">
			<aside class="g-televentas">
				<div class="g-tl-mg">
					<img src="{{ asset(info.logoSegundario) }}" width="300" height="140" alt="Life-It">
				</div>
				<div class="g-tl-cont">
					<div class="g-tl-ContIn">
						<h5>Canal televentas</h5>
						<p>Lima: {{ info.televentasLima }}</p>
						<p>Perú: {{ info.televentasPeru }}</p>
				</div>
				</div>
				<div class="g-tl-txt">
					{{ info.horarioAtencion|raw }}
				</div>
		</aside>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$('.b17-item').eq(0).find('.b17-pregunta').addClass('active');
	var openme = $('.b17-pregunta.active');
	if (openme.hasClass('active')) {

	$('.b17-texto').hide();
	openme.closest('.b17-item').find('.b17-texto').show();

	};

	$(function(){

    $('.b17-pregunta').click(function(){
      if ($(this).hasClass('active')) {
        $(this).removeClass('active').parent().find('.b17-texto').stop().slideUp();
      }else{
        $('.b17-pregunta').removeClass('active');
        $('.b17-texto').stop().slideUp();
        $(this).addClass('active').parent().find('.b17-texto').stop().slideToggle();
      };

    });


	});
</script>
{% endblock %}
