{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}
<link href="{{ asset('static/css/jquery-ui.css') }}" rel="stylesheet" />

{% endblock %}

{% block classbody %}productos{% endblock %}

{% block content %}

<!-- BLOQUE 6 -->
<!-- <div class="b6-catego">
	<a class="bt g-boton g-red b6-abrir" href="">Abrir categorías</a>
</div> -->

<section class="cnt-b6-b7 cf">
	<div class="b6-left">
		<span class="b6-close icon-close"></span>
		<aside class="g-televentas">
			<div class="g-tl-cont">
				<div class="g-tl-ContIn">
					<h5>Canal televentas</h5>
					<p>Lima: {{ info.televentasLima }}</p>
					<p>Perú: {{ info.televentasPeru }}</p>
					<h5 class="delivery">Delivery gratuito</h5>
				</div>
			</div>
		</aside>
		<h3 class="b6-title">Categorías</h3>
		<ul class="w-menulateral">

			{% set currentSlug = app.request.attributes.get('slug2') %}
				<h2><input type="hidden" id="slug_categorias" value="{{ currentSlug }}"></h2>
			{% set currentSlugSubcategoria = app.request.attributes.get('slug') %}
				<h2><input type="hidden" id="slug_subcategorias" value="{{ currentSlugSubcategoria }}"></h2>
			{% set currentRoute = app.request.attributes.get('_route') %}
			{# <h2>{{ currentSlug }}</h2> #}
			{% for categoria in categorias %}
				<li class="w-cnt-links">
					{% if currentSlug|lower == categoria.slug|lower %}
						{% set class = "w-itemcategoria active" %}
					{% else %}
						{% set class = "w-itemcategoria" %}
					{% endif %}

					{% if currentRoute == 'productos' %}
						{% if loop.index == 1 %}
							{% set class = "w-itemcategoria active" %}
						{% endif %}
					{% endif %}

					<!-- para que se abra la categoria correspondiente a la seleccionada por el cliente, deben imprimir la clase : active, en la etiqueta A -->
					<a href="{# {{ path('productos_slug', {'slug2':categoria.slug }) }} #}" class="{{ class }}"> {{ categoria.nombreCategoria }}</a>
					{% for item in categoria.subcategoria %}
						<ul class="w-subcategoria">
							<li>
								{% set class = "" %}

								{% if currentSlugSubcategoria|lower == item.slug|lower %}
									{% set class = "active" %}
								{% endif %}

								<a class="{{ class }}" href="{{ path('productos_slug', {'slug2':categoria.slug, 'slug':item.slug }) }}">
									{{ item.nombreSub }}
								</a>
							</li>
						</ul>
					{% endfor %}
				</li>
			{% endfor %}
		</ul>
		<h3 class="b6-title">Rango de precios</h3>
		<div class="b6-slide-range">
			<div id="slider-range"></div>
		</div>
		<div class="b6-precio">
			<input type="text" id="amount" readonly style="border:0; color:#808080; font-family: 'robotobold', sans-serif;">
			<span>a</span>
			<input type="text" id="amount2" readonly style="border:0; color:#808080; font-family: 'robotobold', sans-serif;">
		</div>
		<div class="b6-filtros">
			<ul class="listado">
				<li><input type="checkbox" id="soloofertas"><i></i><label for="soloofertas">Solo ofertas</label></li>
				<li><input type="checkbox" id="destacados"><i></i><label for="destacados">Destacados</label></li>
			</ul>
		</div>
	</div>

	<div class="cnt-b7">
		<!-- BLOQUE 7 -->
		<div class="b7">
		
    	{# {% set BUILD_ID = '1.01' %} #}
			{# % for row in "3"|get_range % #}
		<!-- {{ BUILD_ID }} {# { "par,inpar,colaoxD"|cycle(loop.index0) } #}-->

	{# se listan producto por categorias #}
		{% if categories is defined %}
			{% for item in categories %}

						<div class="b7-item" {#data-price="{{ a.precio }}"#}>

							<figure class="b7-wrapper">
								{% if  item.oferta == true  %}

										{% if  item.porcentajeDescuento  is not null and item.precioOferta is not null %}
											<span class="b7-triangle descuento" style="display:block;">
												<em>{{ item.porcentajeDescuento }}%</em>
												<em>desct.</em>
											</span>

										{% endif %}

								{% endif %}


								{% if item.nuevo == 1 %}
									<span class="b7-triangle nuevo" style="display:block;">
										<em>Nuevo</em>
									</span>
								{% endif %}

								<a href="{{ path('productos_slug', {'slug2':item.subcategoriaProd.categoria.slug, 'slug': item.subcategoriaProd.slug, 'slug3':item.slug}) }}" class="b7-img">
									<img src="{{ asset(item.imagen) }}"  alt="">
									<div class="b7-over">
										vista previa
									</div>
								</a>
								<figcaption class="b7-des">
									<a href="#">
										<h1>{{ item.nombreProducto }}</h1>
									</a>
									{{ item.descripcionProducto|raw }}
								</figcaption>

								<span class="b7-des-precio">
									{% if item.precioOferta is not null %}
										<em>S/.{{ item.precioOferta }}</em>
										<del>S/.{{ item.precio }}</del>
									{% else %}
										<em>S/.{{ item.precio}}</em>
									{% endif %}
								</span>
							</figure>
						</div>

			{% endfor %}

			{# fin de listar producto por categorias #}

			<!-- PRODUCTO NO ENCONTRADO -->

		{% else %}
			{% if apendice is defined %}

				{% for item in apendice %}
						<div class="b7-item">
							<figure class="b7-wrapper">
								{# {% if item.porcentajeDescuento is not null %}
									<span class="b7-triangle descuento" style="display:block;">
										<em>{{ item.porcentajeDescuento }}%</em>
										<em>desct.</em>
									</span>
								{% else %}
									{% if item.oferta == 1 %}
										<span id="span-oferta" class="b7-triangle oferta" style="display:block;">
											<div class="solo-ofertas">
											<em>oferta</em>
											</div>
										</span>
									{% endif %}
								{% endif %}#}
								{% if  item.oferta == true  %}

										{% if  item.porcentajeDescuento  is not null and item.precioOferta is not null %}
											<span class="b7-triangle descuento" style="display:block;">
												<em>{{ item.porcentajeDescuento }}%</em>
												<em>desct.</em>
											</span>

										{% endif %}

								{% endif %}
								{% if item.nuevo == 1 %}
									<span class="b7-triangle nuevo" style="display:block;">
										<em>Nuevo</em>
									</span>
								{% endif %}

								<a href="{{ path('productos_slug', {'slug2':item.subcategoriaProd.categoria.slug, 'slug':item.subcategoriaProd.slug , 'slug3':item.slug}) }}" class="b7-img">
									<img src="{{ asset(item.imagen) }}"  alt="">
									<div class="b7-over">
										vista previa
									</div>
								</a>
								<figcaption class="b7-des">
									<a href="#">
										<h1>{{ item.nombreProducto }}</h1>
									</a>
									{{ item.descripcionProducto|raw }}
								</figcaption>
								<span class="b7-des-precio">
									{% if item.precioOferta is not null %}
										<em>S/.{{ item.precioOferta }}</em>
										<del>S/.{{ item.precio }}</del>
									{% else %}
										<em>S/.{{ item.precio}}</em>
									{% endif %}
								</span>
							</figure>
						</div>
				{% endfor %}
			{% else %}

				{% for producto in productos %}
					<div class="b7-item">
						<figure class="b7-wrapper">
							{% if producto.porcentajeDescuento is not null %}
								<span class="b7-triangle descuento" style="display:block;">
									<em>{{ producto.porcentajeDescuento }}%</em>
									<em>desct.</em>
								</span>
							{% else %}
								{% if producto.oferta == 1 %}

										<span class="b7-triangle oferta" style="display:block;">

											<em>oferta</em>

										</span>

								{% endif %}
							{% endif %}

							{% if producto.nuevo == 1 %}
								<span class="b7-triangle nuevo" style="display:block;">
									<em>Nuevo</em>
								</span>
							{% endif %}
							<input type="text" id="destacado" value="{{ producto.destacado }}" hidden="">
							<a href="{{ path('productos_slug', {'slug2':producto.subcategoriaProd.categoria.slug, 'slug':producto.subcategoriaProd.slug , 'slug3':producto.slug}) }}" class="b7-img">
								<img src="{{ asset(producto.imagen) }}"  alt="">
								<div class="b7-over">
									vista previa
								</div>
							</a>
							<figcaption class="b7-des">
								<a href="#">
									<h1>{{ producto.nombreProducto }}</h1>
								</a>
								{{ producto.descripcionProducto|raw }}
							</figcaption>
							<span class="b7-des-precio">
								{% if producto.precioOferta is not null %}
									<em>S/.{{ producto.precioOferta }}</em>
									<del>S/.{{ producto.precio }}</del>
								{% else %}
									<em>S/.{{ producto.precio}}</em>
								{% endif %}
							</span>
						</figure>
					</div>
				{% endfor %}
			{% endif %}
		{% endif %}

		{% if sesion.rBusqueda is defined %}



				{% set tamano = sesion.rBusqueda|length %}

			{% if tamano > 0 %}

				{% for item in sesion.rBusqueda %}
						<div class="b7-item">
						<figure class="b7-wrapper">
							{% if item.porcentajeDescuento is not null %}
								<span class="b7-triangle descuento" style="display:block;">
									<em>{{ item.porcentajeDescuento }}%</em>
									<em>desct.</em>
								</span>
							{% else %}
								{% if item.oferta == 1 %}

										<span class="b7-triangle oferta" style="display:block;">

											<em>oferta</em>

										</span>

								{% endif %}
							{% endif %}

							{% if item.nuevo == 1 %}
								<span class="b7-triangle nuevo" style="display:block;">
									<em>Nuevo</em>
								</span>
							{% endif %}
							<input type="text" id="destacado" value="{{ item.destacado }}" hidden="">
							<a href="{{ path('productos_slug', {'slug2':item.subcategoriaProd.categoria.slug, 'slug':item.subcategoriaProd.slug , 'slug3':item.slug}) }}" class="b7-img">
								<img src="{{ asset(item.imagen) }}"  alt="">
								<div class="b7-over">
									vista previa
								</div>
							</a>
							<figcaption class="b7-des">
								<a href="#">
									<h1>{{ item.nombreProducto }}</h1>
								</a>
								{{ item.descripcionProducto|raw }}
							</figcaption>
							<span class="b7-des-precio">
								{% if item.precioOferta is not null %}
									<em>S/.{{ item.precioOferta }}</em>
									<del>S/.{{ item.precio }}</del>
								{% else %}
									<em>S/.{{ item.precio}}</em>
								{% endif %}
							</span>
						</figure>
					</div>
				{% endfor %}

					{% elseif sesion.rBusqueda == null %}

			<div class="b7-no-encontrado">
				<h3>Su búsqueda no ha obtenido resultados.</h3>
				<p>
					Asegúrese de que se han escrito correctamente todas las palabras o pruebe con otras palabras clave.
				</p>
			</div>

				{% endif %}


		{% endif %}
			{# % endfor % #}
		</div>
	</div>
</section>
{% endblock %}
{% block jsfinal %}


<script type="text/javascript" src="{{ asset('static/js/jquery-ui.js') }}"></script>
<script type="text/javascript">

	  var openme = $('.w-cnt-links .w-itemcategoria.active');
	  if (openme.hasClass('active')) {
	    $('.w-subcategoria').hide();
	    openme.closest('.w-cnt-links').find('.w-subcategoria').show();

	  };

	$(function(){

		$("input[type=checkbox]").click(function(){
			id = $(this).attr("id");

			if(id === "soloofertas"){
				$("#destacados").prop("checked", false);
			}else{
				$("#soloofertas").prop("checked", false);
			}
		});

	    $('.w-itemcategoria').click(function(event){
	    	event.preventDefault();

	      if ($(this).hasClass('active')) {
	        $(this).removeClass('active').parent().find('.w-subcategoria').stop().slideUp();
	      }else{
	        $('.w-itemcategoria').removeClass('active');
	        $('.w-subcategoria').stop().slideUp();
	        $(this).addClass('active').parent().find('.w-subcategoria').stop().slideToggle();
	      };

	    });

	    function showProducts(min, max){
	    	$(".b7-item").hide().filter(function(){
	    		//var price = parseInt($(this).data("price"), 10);

	    		var price = parseInt($(this).find(".b7-des-precio").find("em").text().replace("S/."," "));
	    		if ($("#soloofertas").is(":checked")) {
	    			return price >= min && price <= max && ($(this).find(".b7-triangle.oferta").length || $(this).find('.b7-triangle.descuento').length) ;
	    		}
	    		if ($("#destacados").is(":checked")) {
	    			return price >= min && price <= max && $(this).find("#destacado").val() == 1 ;
	    		}else{
	    			return price >= min && price <= max;
	    		}

	    	}).show();
	    }

		$("#slider-range").slider({
	      range: true,
	      min: {{ info.precioMasBajo }},
	      max: {{ info.precioMasAlto }},
	      values: [ 50, {{ info.precioMasAlto }} / 2.5 ],
	      slide: function( event, ui ) {
	        $( "#amount" ).val( "s/." + ui.values[ 0 ]);
	        $( "#amount2" ).val( "s/." + ui.values[ 1 ]);

	        //console.log(ui.values[ 0 ], ui.values[ 1 ]);
	        showProducts(ui.values[ 0 ], ui.values[ 1 ]);
	      }
	    });

	    $( "#amount" ).val( "s/." + $( "#slider-range" ).slider( "values", 0 ) );
	    $( "#amount2" ).val( " s/." + $( "#slider-range" ).slider( "values", 1 ) );

	    $('.productos .categorias-responsive').click(function(e) {
	    	e.preventDefault();
	    	$('.cnt-b7, .b6-left, .categorias-responsive, body').toggleClass('active');
	    });

	    $('.productos .b6-close').click(function(event) {
	    	$('.cnt-b7, .b6-left, .categorias-responsive, body').removeClass('active');
	    });


	    //para buscar ofertas

	    $("#soloofertas").change(function(){
	    	if ($("#soloofertas").attr("checked")){
			  		$('.b7-item').each(function(){
			  			if(!$(this).find('.b7-triangle.oferta').length && !$(this).find('.b7-triangle.descuento').length){
					  		  $(this).fadeOut('fast').addClass('hidden');
					  		}else{
					  			$(this).fadeIn("fast").removeClass('hidden')
					  		}
			  		});
		  	}else if(!$("#soloofertas").attr("checked")){
		  			$(".b7-item").each(function(){
		  				if($(this).hasClass('hidden') || $){
		  					$(this).fadeIn('fast').removeClass('hidden')
		  				}
		  			});
		  	}
	    });

	    $("#destacados").change(function(){
	    	if ($("#destacados").attr("checked")){
			  		$('.b7-item').each(function(){
			  			if(!$(this).find('.b7-triangle.nuevo').length){
					  		  $(this).fadeOut('fast').addClass('hidden');
					  		}else{
					  			$(this).fadeIn("fast").removeClass('hidden')
					  		}
			  		});
		  	}else if(!$("#destacados").attr("checked")){
		  			$(".b7-item").each(function(){
		  				if($(this).hasClass('hidden')){
		  					$(this).fadeIn('fast').removeClass('hidden')
		  				}
		  			});
		  	}
	    });

	});

$(window).load(function(){


		var $item = $('.b7'),
				itemAlto = $item.outerHeight(),
				itemTop = $item.offset().top,
				$windowAlto = $(window).height(),
				altoFinal = itemAlto + itemTop,
				val = 0;


		$(window).on('scroll', function(){

			var getUrlParameter = function getUrlParameter(sParam) {
			    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
			        sURLVariables = sPageURL.split('&'),
			        sParameterName,
			        i;

			    for (i = 0; i < sURLVariables.length; i++) {
			        sParameterName = sURLVariables[i].split('=');

			        if (sParameterName[0] === sParam) {
			            return sParameterName[1] === undefined ? true : sParameterName[1];
			        }
			    }
			};

			var parameterUrl = getUrlParameter('q');
			console.log(parameterUrl)

			var actual = $(".b7-wrapper").length,
		        cantidad = 3,
		        slug_cat = $("#slug_categorias").val(),
		        slug_subcat = $("#slug_subcategorias").val(),
		        listado = $(".cantidad_listada").last().val();
		    console.log("cantidad actual : "+actual)

			var sc = $(this).scrollTop(),
					scFinal = (sc + $windowAlto) - 120,
					itemAlto = $item.outerHeight(),
					altoFinal = itemAlto + itemTop,
					itemAlto = $item.outerHeight();

					if (listado == 0) {

					}else{
						if(scFinal > altoFinal && val == 0){
				console.log('entro');
				val = 1;

				if (parameterUrl) {
					var urls = "/cargar-productos-busqueda/";
					var datas = "parameter="+parameterUrl+"&actual="+actual;
					console.log(datas);
				}else{
					var urls = "/cargar-productos/";
					var datas = "cantidad="+cantidad+"&actual="+actual+"&slug_cat="+slug_cat+"&slug_subcat="+slug_subcat;
				}

				$.ajax({
					url: urls ,
					type: 'post',
					dataType: 'html',
					data: datas,
				})
				.done(function(data) {
					console.log(data)
					// val = 2;
					$('.b7').append(data);
					console.log('function data')
				})
				.fail(function() {
					// console.log("error");
				})
				.always(function() {
					console.log('termino')
					val!=2 ? val = 0 : val = 1
					console.log(val)
				});
			}
					}
		});
	});
</script>
{% endblock %}
