{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 22 -->
<section class="b22">
	<figure class="b22-img">
		<img src="{{ asset(info.bannerPromocion) }}" alt="">
	</figure>
	<div class="wancho">

		<div class="b22-title">
			<h3>Conóce nuestras promociones</h3>
		</div>
		{% for promo in promociones %}

			<a class="b22-item open-boxlight" href="#contenido{{ loop.index}}">
				<figure>
					<img src="{{ asset(promo.imagen)}}" width="500" height="245">
				</figure>
				<div class="b22-promocion">
					<div class="b22-detalle">
						<span>Ver promoción</span>
					</div>
				</div>
			</a>

		{% endfor %}
	</div>
</section>


<!-- detalle-promocion -->
{% for promo in promociones %}
<section class="b27 boxlight" id="contenido{{ loop.index }}">
		<div class="b27-bg" style="background-image: url('{{ asset(promo.imagen) }}')">
		</div>
	<form method="POST">
		<div class="wancho">
			<div class="b27-texto">
				<h3>Déjanos tus datos y se parte de esta promoción</h3>
			</div>

			<input type="text" name="idpromo" value="{{ promo.id }}" hidden="">

			<div class="g-input">
				<input type="text" name="nombres" placeholder="Nombres  y Apellidos">
			</div>
			<div class="dos-input">
				<div class="g-input">
					<input type="text" name="email" placeholder="E-mail">
				</div>
				<div class="g-input">
					<input type="text" name="telefono" placeholder="Teléfono">
				</div>
			</div>
			<div class="g-checkbox">
				<input type="checkbox" name="condiciones" id="check" checked>
				<label class="g-label" for="check">Al dar click aceptas los</label>
				<a  class="b27-nav" href="{{ path('terminos-condiciones') }}">
					Terminos y condiciones
				</a>
			</div>

			<div class="b27-bnt">
				<button class="bt g-boton">Envíar</button>
				<span></span>
			</div>
		</div>
	</form>
		</div>
</section>
{% endfor %}
<!-- detalle-promocion -->

{% endblock %}
{% block jsfinal %}

<script type="text/javascript">
	$(function(){
	

	});
</script>

{% endblock %}
