{% extends "WebBundle:_common:base.html.twig" %}
{% block cssadicional %}

{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 30 -->
<section class="b38 height">
    <div class="wancho height2">
        <div class="wrapper">
            <div class="b38-title">
                <h2>Reestablecer Contraseña</h2>
            </div>
            <form method="POST" class="b38-form">
                <div class="g-input">
                    <input type="password" id="pass" name="pass" placeholder="Ingresa tu contraseña" class="validate[required]">
                </div>
                <div class="g-input">
                    <input type="password" id="reppass" name="reppass" placeholder="Repite la contraseña" class="validate[required]">
                </div>
                <div class="b38-bnt">
                    <button class="bt g-boton b38-send">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
    $(function(){

        //validacion formulario
        $(".b38-send").click(function(e) {
            //e.preventDefault();
            var valid = $('.b38-form').validationEngine('validate');

            if (!valid) {

            }else{
                var pass = $("#pass").val().trim();
                var reppass = $("#reppass").val().trim();
                var code = "{{ code }}";

                console.log("AAAAA");
                
                if (pass !== reppass) {
                    alert("Las contraseñas deben coincidir");
                    $("#reppass").focus();
                    return false;
                }else{
                    $.ajax({
                        url : "/reestablecer-contrasena-form/",
                        type : 'post',
                        dataType : 'json',
                        data : {"pass" : pass, "reppass" : reppass, "code" : code},
                        success : function(resultado) {
                            if (resultado.state) {
                                alert("Contraseña actualizada correctamente");
                                window.location.href = "/login/";
                            }else{
                                alert(resultado.data);
                            }
                        },
                        error : function(error) {
                            alert(error.responseText);
                        }
                    });
                }
                // $('.b7-wrapform').hide(function() {
                //     $('.b15').show();
                // });
            }
        });

        function fullScreen(){
            var vHeight = $(window).height();
            var vWidth = $(window).width();
            var header = $('header').height();
            var footer = $('footer').height();
            //console.log(vHeight);

            $('.height').height(vHeight+header-footer);
            $('.height2').height(vHeight+header-footer);

            console.log(header);
            console.log(footer);

            if(vWidth < 769){
            $('.height').css('height', 'auto');
            }
        }

        fullScreen()

    });
</script>

{% endblock %}