{% extends "WebBundle:_common:base.html.twig" %}

{% block cssadicional %}

{%endblock %}

{% block classbody %}{% endblock %}

{% block content %}

<!-- BLOQUE 17 -->

<section class="b17">
	<div class="wancho">
		<div class="b17-left">
			<div class="b17">
				<article class="b17-box">
					<div class="g-title">
						<h1>Términos y condiciones Delivery</h1>
					</div>
					<div class="b17-boxcont">

						{{ info.contenidoTerminosDelivery|raw }}
					</div>
				</article>
			</div>
		</div>
		<div class="b12-right">
			<aside class="g-televentas">
				<div class="g-tl-mg">
					<img src="{{ asset('static/media/footer.png') }}" width="300" height="140" alt="Life-It">
				</div>
				<div class="g-tl-cont">
					<div class="g-tl-ContIn">
						<h5>Canal televentas</h5>
						{# <p>Lima: {{ info.televentasLima }}</p>
						<p>Perú: {{ info.televentasPeru }}</p>#}
				</div>
				</div>
				<div class="g-tl-txt">
					{# {{ info.horarioAtencion|raw }}#}
				</div>
		</aside>
		</div>
	</div>
</section>

{% endblock %}
{% block jsfinal %}
<script type="text/javascript">
	$(function(){



	});
</script>
{% endblock %}
