{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de banner</strong></h3>
            <p>Añade un nuevo banner o edita alguno existente.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.titulo) }}
            {{ form_row(form.contenido) }}
            {{ form_row(form.imagen) }}
            {{ form_row(form.imagenFondo) }}
            {{ form_row(form.textoBoton1) }}
            {{ form_row(form.urlBoton1) }}
            {{ form_row(form.textoBoton2) }}
            {{ form_row(form.urlBoton2) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>

<script>
$("#banner_titulo")
       .closest(".col-sm-10")
           .append("<div class='help-block'>Si desea que una o varias palabras aparezcan con un estilo diferente al del resto, entonces colóquelas entre asteriscos. Por ejemplo: Este es un *mensaje* de prueba.</div>");

$("#banner_imagen")
.closest(".col-sm-10")
    .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 368 x 426 (px).</div>");

$("#banner_imagenFondo")
.closest(".col-sm-10")
    .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 1349 x 426 (px).</div>");

</script>
{% endblock %}
