{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de subcategorías</strong></h3>
            <p>Añade una nueva subcategoría o edita alguna existente.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.categoria) }}
            {{ form_row(form.nombreSub) }}
            {{ form_row(form.descripcionSub) }}
            {{ form_row(form.cupon) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>
{% endblock %}
