.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.w-tab {
  position: relative;
}
.w-itemtab {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.w-itemtab.active {
  position: relative;
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.bt {
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  position: relative;
  line-height: 35px;
  height: 35px;
  font-family: 'robotoregular', sans-serif;
  font-size: 16px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.g-row {
  font-size: 0;
  display: inline-block;
}
.g-boton {
  background-color: #1174ce;
  padding: 0 20px 0 20px;
  -webkit-box-shadow: 0 2px #153d7e;
  box-shadow: 0 2px #153d7e;
}
.g-boton:hover {
  -webkit-box-shadow: 0 0 #aa1a54;
  box-shadow: 0 0 #aa1a54;
  top: 2px;
  background-color: #e4356c;
}
.g-boton i {
  padding-left: 10px;
  font-size: 18px;
  line-height: 9px;
  position: absolute;
  right: 10px;
  top: 13px;
}
.g-boton.g-red {
  background-color: #e4356c;
  -webkit-box-shadow: 0 2px #aa1a54;
  box-shadow: 0 2px #aa1a54;
}
.g-boton.g-red:hover {
  background-color: #1174ce;
  -webkit-box-shadow: 0 0 #aa1a54;
  box-shadow: 0 0 #aa1a54;
  top: 2px;
}
.g-boton.ico {
  padding: 0 35px 0 20px;
}
.g-title {
  font-size: 35px;
  color: #1174ce;
  line-height: 35px;
  font-family: 'robotomedium', sans-serif;
}
.g-banner {
  height: 220px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center top;
}
.g-banner >div {
  display: table;
  height: 220px;
}
.g-banner-text {
  display: table-cell;
  vertical-align: middle;
}
.g-banner-text .g-title {
  max-width: 510px;
}
.g-televentas {
  width: 255px;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
}
.g-tl-cont {
  position: relative;
  border: 1px solid #24bc9f;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 15px 0;
  margin: 15px 0 15px 15px;
}
.g-tl-cont:before {
  content: "\e91a";
  font-family: 'icomoon';
  position: absolute;
  color: #24bc9f;
  font-size: 56px;
  height: 60px;
  line-height: 60px;
  left: -20px;
  top: 20px;
  background-color: #fff;
}
.g-tl-cont:after {
  content: "";
  position: absolute;
  height: 17px;
  width: 30px;
  left: -20px;
  bottom: -4px;
  background-color: #fff;
}
.g-tl-cont .g-tl-ContIn {
  position: relative;
  margin-left: 62px;
}
.g-tl-cont .g-tl-ContIn h5 {
  margin: 0;
  font-size: 14px;
  color: #1174ce;
  font-family: 'robotoregular', sans-serif;
}
.g-tl-cont .g-tl-ContIn p {
  margin: 0;
  color: #1174ce;
  font-family: 'robotobold', sans-serif;
  font-size: 16px;
}
.g-tl-txt {
  width: 473px;
  color: #5d5d5d;
}
.g-tl-txt p {
  margin: 0;
}
.g-input {
  margin-bottom: 10px;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
  position: relative;
}
.g-input ::-webkit-input-placeholder {
  color: #666;
  font-family: 'robotoregular', sans-serif;
}
.g-input :-moz-placeholder {
  color: #666;
  font-family: 'robotoregular', sans-serif;
}
.g-input ::-moz-placeholder {
  color: #666;
  font-family: 'robotoregular', sans-serif;
}
.g-input :-ms-input-placeholder {
  color: #666;
  font-family: 'robotoregular', sans-serif;
}
.g-input input,
.g-input select {
  width: 100%;
  height: 41px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
  font-size: 14px;
  border: 1px solid #c1c1c1;
  line-height: 41px;
}
.g-input:hover input,
.g-input:hover select {
  border: 1px solid #24bc9f;
}
.g-input .formError .formErrorContent {
  background: #e4356c;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: blanco;
}
.g-input .formError .formErrorArrow div,
.g-input .formError .formErrorArrow .g-textare {
  background: #e4356c;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.g-select {
  position: relative;
}
.g-select select {
  border: 1px solid #c1c1c1;
  color: #666;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.g-select:before {
  content: "\e608";
  font-family: 'icomoon';
  width: 20px;
  height: 100%;
  font-size: 20px;
  color: #fff;
  position: absolute;
  display: inline-block;
  background-color: #a3a3a3;
  right: 0;
  top: 0;
  line-height: 41px;
  text-align: center;
  pointer-events: none;
}
.dos-input {
  zoom: 1;
}
.dos-input:after,
.dos-input:before {
  content: "";
  display: table;
}
.dos-input:after {
  clear: both;
}
.dos-input .g-input {
  width: 49.2%;
  float: right;
}
.dos-input .g-input:first-child {
  float: left;
}
.g-col40 {
  width: 35%;
  float: left;
  margin-top: 0;
}
.g-col60 {
  width: 65%;
  float: left;
  margin-top: 0;
  vertical-align: top;
  zoom: 1;
}
.g-col60:after,
.g-col60:before {
  content: "";
  display: table;
}
.g-col60:after {
  clear: both;
}
.g-col60 p {
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 20px;
}
.g-col60 .b-elect {
  width: 23.5%;
  float: left;
  margin-left: 2%;
}
.g-col60 .b-elect:first-child {
  margin-left: 0;
}
.g-checkbox {
  display: inline-block;
}
.g-checkbox input {
  display: none;
}
.g-checkbox .g-label {
  padding-left: 20px;
  position: relative;
  font-family: 'robotoregular', sans-serif;
  font-size: 12px;
  color: #666;
}
.g-checkbox .g-label:before {
  content: "";
  width: 11px;
  height: 11px;
  display: block;
  position: absolute;
  border: 1px solid #cacaca;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.g-checkbox .g-label:after {
  content: "";
  width: 7px;
  height: 7px;
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #1174ce;
  top: 0;
  bottom: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  left: 3px;
  margin: auto;
}
.g-checkbox {
  margin-top: 10px;
}
.g-checkbox input:checked+.g-label:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.g-checkbox input:checked+.g-label:before {
  border-color: #1174ce;
}
.g-textare {
  margin-top: 10px;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
}
.g-textare ::-webkit-input-placeholder {
  color: #666;
  font-family: 'robotoregular', sans-serif;
}
.g-textare :-moz-placeholder {
  color: #666;
  font-family: 'robotoregular', sans-serif;
}
.g-textare ::-moz-placeholder {
  color: #666;
  font-family: 'robotoregular', sans-serif;
}
.g-textare :-ms-input-placeholder {
  color: #666;
  font-family: 'robotoregular', sans-serif;
}
.g-textare textarea {
  height: 158px;
  width: 100%;
  font-size: 14px;
  color: #666;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #c1c1c1;
  padding-left: 12px;
  padding-top: 7px;
}
.g-textare .formError .formErrorContent {
  background: #e4356c;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: blanco;
}
.g-textare .formError .formErrorArrow div,
.g-textare .formError .formErrorArrow .g-textare {
  background: #e4356c;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*select*/
.dos-input {
  zoom: 1;
}
.dos-input:after,
.dos-input:before {
  content: "";
  display: table;
}
.dos-input:after {
  clear: both;
}
.dos-input .g-select {
  width: 49.2%;
  float: right;
}
.dos-input .g-select:first-child {
  float: left;
}
.g-col40 {
  width: 35%;
  float: left;
  margin-top: 0;
}
.g-col60 {
  width: 65%;
  float: left;
  margin-top: 0;
  vertical-align: top;
  zoom: 1;
}
.g-col60:after,
.g-col60:before {
  content: "";
  display: table;
}
.g-col60:after {
  clear: both;
}
.g-col60 p {
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 20px;
}
.g-col60 .g-input {
  width: 23.5%;
  float: left;
  margin-left: 2%;
  position: relative;
}
.g-col60 .g-input:before {
  content: "\e608";
  font-family: 'icomoon';
  width: 21px;
  height: 100%;
  font-size: 20px;
  color: #fff;
  position: absolute;
  display: inline-block;
  background-color: #a3a3a3;
  right: 0;
  top: 0;
  line-height: 41px;
  text-align: center;
  pointer-events: none;
}
.g-col60 .g-input:first-child {
  margin-left: 0;
}
.g-col60 .g-input:first-child:before {
  display: none;
}
@media screen and (max-width: 768px) {
  .g-banner-text .g-title {
    font-size: 30px;
  }
}
