.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b1 {
  padding-bottom: 10px;
  position: relative;
}
.b1 .b1-bnt {
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 100;
}
.b1 .b1-bnt .g-boton {
  background-color: #24bc9f;
  padding: 0px 20px 7px 40px;
  -webkit-box-shadow: 0 2px rgba(34,68,187,0.8) 9;
  box-shadow: 0 2px rgba(34,68,187,0.8) 9;
  font-family: 'robotoregular', sans-serif;
  top: 0;
  left: 0;
  -webkit-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 6px 0px 5px 0px rgba(119,113,113,0.75);
  box-shadow: 6px 0px 5px 0px rgba(119,113,113,0.75);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.b1 .b1-bnt .g-boton:hover {
  top: 0;
  background-color: #e4356c;
}
.b1 .b1-bnt span:after {
  content: "\e925";
  font-family: 'icomoon';
  width: 21px;
  font-size: 21px;
  position: absolute;
  color: #fff;
  left: 8px;
  top: 6px;
}
.b1 .bx-controls {
  max-width: 1024px;
  width: 96%;
  margin: auto;
  position: relative;
  z-index: 50;
}
.b1 .bx-controls .bx-pager {
  width: 50%;
  right: 0;
  bottom: 40px;
  padding-top: 0;
}
.b1 .bx-controls .bx-pager .bx-pager-item a {
  width: 17px;
  height: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #197aaa;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: none;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
}
.b1 .bx-controls .bx-pager .bx-pager-item a.active {
  background-color: #197aaa;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.4);
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.4);
}
.b1-slider-item {
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center top;
  text-align: center;
}
.b1-slider-item.active .b1-img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.b1-slider-item.active .b1-texto {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
}
.b1-img,
.b1-texto {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 50%;
}
.b1-img {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.b1-img img {
  max-width: 100%;
  height: auto;
  display: block;
}
.b1-texto {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.b1-texto h1 {
  font-size: 35px;
  color: #1174ce;
  font-family: 'robotolight', sans-serif;
  margin-bottom: 20px;
  line-height: 35px;
}
.b1-texto p {
  font-size: 22px;
  color: #666;
  font-family: 'robotoregular', sans-serif;
}
.b1-text-inner {
  max-width: 345px;
  margin: auto;
}
.b1-botones a {
  height: 31px;
  line-height: 31px;
}
.b1-botones a:first-child {
  margin-left: 40px;
}
@media screen and (max-width: 960px) {
  .b1 .b1-bnt {
    position: fixed;
    bottom: 0;
    top: inherit;
  }
  .b1 .bx-controls .bx-pager {
    width: 100%;
    bottom: 0;
  }
}
@media screen and (max-width: 640px) {
  .b1-texto h1 {
    font-size: 25px;
    line-height: 25px;
  }
  .b1-texto p {
    font-size: 16px;
  }
  .b1 .g-boton.g-red {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .b1 {
    padding-bottom: 50px;
  }
  .b1-img,
  .b1-texto {
    display: block;
    width: auto;
  }
  .b1-img {
    width: auto;
    max-width: 185px;
    margin: auto;
    height: auto;
  }
  .b1 .bx-controls .bx-pager {
    bottom: -30px;
  }
}
