.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b10 {
  max-width: 1200px;
  width: 94%;
  margin-top: 40px;
  margin-bottom: 90px;
}
.b10 .g-title {
  display: inline-block;
}
.b10-cnt {
  font-size: 0;
}
.b10-left {
  width: 63.5%;
  margin-right: 1.5%;
  display: inline-block;
  vertical-align: top;
}
.b10-right {
  width: 33.5%;
  margin-left: 1.5%;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.b10-table-row {
  position: relative;
}
.b10-p {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 16px;
  padding-left: 25px;
}
.b10-hr {
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.p10-close {
  position: absolute;
  color: #888;
  font-size: 15px;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 15px;
  cursor: pointer;
}
.b10-table-col,
.b10-table-col-h {
  width: 25%;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  text-align: center;
}
.b10-table-col-h {
  border-top: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 16px;
  font-family: 'robotoregular', sans-serif;
  background: #fff;
}
.b10-table-col {
  vertical-align: middle;
  padding-top: 25px;
  padding-bottom: 10px;
}
.b10-table-col img {
  width: 182px;
}
.b10-table-col p {
  color: #1174ce;
  font-size: 16px;
  font-family: 'robotoregular', sans-serif;
  text-align: left;
  padding-left: 35px;
}
.b10-table-col p span {
  color: #000;
}
.b10-table-col input[type="number"] {
  max-width: 90px;
  text-align: center;
  display: block;
  border: 1px solid #dcdcdc;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #dcdcdc;
}
.b10-btn {
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
}
.b10-btn .actualizar-cupon {
  font-size: 15px;
  color: #1174ce;
  margin-left: 15px;
}
.b10-btn.input {
  width: 205px;
}
.b10-btn.agregar {
  width: 266px;
}
.b10-btn.seguir {
  width: 200px;
}
.b10-btn p {
  color: #f00;
  font-size: 16px;
}
.b10-btn input[type="text"] {
  display: inline-block;
  font-size: 16px;
  border: none;
  background: #f2f2f2;
  padding: 5px 20px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.actualizar a {
  color: #1174ce;
  position: relative;
  font-size: 16px;
  display: inline-block;
  margin-left: 25px;
  line-height: 32px;
}
.b10-btn-inner {
  font-size: 0;
}
.b10-btn-inner .b10-botones {
  width: 470px;
  display: inline-block;
}
.b10-btn-inner .input p {
  display: none;
}
.b10-btn-inner .actualizar-cupon,
.b10-btn-inner .quitar-cup {
  display: none;
}
.b10-btn-inner.quitar-cupon .agregar-cup {
  display: none;
}
.b10-btn-inner.quitar-cupon .input p {
  display: inline-block;
}
.b10-btn-inner.quitar-cupon .actualizar-cupon,
.b10-btn-inner.quitar-cupon .quitar-cup {
  display: inline-block;
}
.b10-input {
  position: relative;
  overflow: hidden;
}
.b10-input .icon-flechaabajo-01-01 {
  color: #1174ce;
  position: absolute;
  right: 40px;
  padding-right: 10px;
  top: 0;
  bottom: 0;
  display: block;
  margin: auto;
  font-size: 8px;
  height: 100%;
  line-height: 25px;
  background-color: #fff;
  pointer-events: none;
  width: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}
.b10-detalle .g-title {
  padding-bottom: 10px;
}
.b10-cnt-input {
  display: inline-block;
  position: relative;
  width: 100%;
}
.b10-cnt-input select {
  width: 50%;
}
.b10-text {
  font-size: 0;
  margin-bottom: 25px;
}
.b10-text:first-child {
  border-top: 1px solid #ccc;
  padding-top: 20px;
}
.b10-text li {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  color: #4d4d4d;
  font-family: 'robotolight', sans-serif;
}
.b10-text li:first-child + li {
  text-align: right;
}
.b10-text span {
  font-family: 'robotoregular', sans-serif;
  color: #4d4d4d;
  text-transform: uppercase;
}
.b10-text sub {
  bottom: 0;
}
.b10-total {
  border-top: 1px solid #ccc;
  font-size: 0;
}
.b10-total li {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  color: #24bc9f;
  font-size: 35px;
  font-family: 'robotolight', sans-serif;
}
.b10-total li.li-right {
  text-align: right;
  font-family: 'robotolight', sans-serif;
  font-size: 16px;
  color: #5d5d5d;
}
.b10-total span {
  font-size: 16px;
  font-family: 'robotoregular', sans-serif;
  color: #4d4d4d;
}
.b10-btn-right {
  text-align: center;
  padding-top: 40px;
}
@media screen and (max-width: 1024px) {
  .b10-hr {
    display: none;
  }
  .b10-table-col {
    width: 100%;
    display: inline-block;
    text-align: left;
    padding-left: 0;
    padding-top: 0;
    text-align: center;
    margin: auto;
  }
  .b10-table-col:first-child:before {
    background-color: #1174ce;
    color: #fff;
  }
  .b10-table-col:before {
    content: attr(data-text);
    background-color: #eaeaea;
    display: block;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    font-size: 14px;
  }
  .b10-table-col img {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: auto;
  }
  .b10-table-col p {
    width: 50%;
    padding-left: 50px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0;
    text-align: center;
    margin: auto;
    min-height: 44px;
  }
  .b10-table-col .b10-input {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-left: 0;
  }
  .b10-table-row {
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;
    width: 47%;
    display: inline-block;
    vertical-align: top;
    margin: 0 1%;
    margin-bottom: 3%;
  }
  .b10-table-row.header {
    display: none;
  }
  .b10-cnt-input {
    width: 200px;
  }
  .p10-close {
    color: #fff;
  }
  .dn1024 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .b10-btn-inner {
    width: 100%;
    position: relative;
    text-align: center;
  }
  .b10-btn {
    width: 45%;
    margin-top: 30px;
  }
  .agregar,
  .seguir {
    text-align: left;
  }
  .b10-left {
    width: 100%;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .b10-right {
    width: 100%;
    margin-left: 0;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 640px) {
  .b10-table-row {
    margin-bottom: 20px;
    border: 1px solid #e4e4e4;
    width: 100%;
  }
  .b10 .bt {
    font-size: 12px;
    padding: 0 35px 0 14px;
  }
}
@media screen and (max-width: 480px) {
  .b10-p {
    font-size: 14px;
    padding-top: 10px;
    padding-left: 0;
  }
  .b10-table-col p {
    padding-left: 5px;
    font-size: 14px;
    width: 55%;
  }
  .b10-table-col img {
    width: 55%;
  }
  .b10-table-col input[type="number"] {
    max-width: 60px;
  }
  .b10-table-col-h {
    font-size: 14px;
  }
  .b10-btn {
    margin-top: 20px;
  }
  .b10-btn input[type="text"] {
    width: 100%;
  }
  .b10-btn {
    width: 95%;
  }
  .actualizar a {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }
  .agregar,
  .seguir {
    text-align: center;
  }
  .p10-close {
    padding: 8px;
  }
  .b10-btn-inner .b10-botones {
    width: 100%;
  }
  .b10-btn.agregar,
  .b10-btn.seguir {
    width: 100%;
  }
}
