.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b13 .libro-caja {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-right: 15px;
}
.b13 .libro-caja:last-child {
  margin-right: 0px;
}
.b13 .g-input {
  margin-top: 0;
}
.b13 .g-checkbox {
  margin-top: 0;
  text-align: left;
  margin-bottom: 11px;
}
.b13 .g-boton {
  padding: 0 50px;
}
.b13 .dos-input input,
.b13 .b13-input2 input,
.b13 .g-input input,
.b13 .dos-input select,
.b13 .b13-input2 select,
.b13 .g-input select {
  height: 39px;
  border: 1px solid #ccc;
  padding-left: 16px;
}
.b13 .g-textare {
  margin-top: 0;
}
.b13 .g-textare textarea {
  padding-left: 16px;
}
.b13 .g-input:before,
.b13 .g-select:before {
  font-size: 30px;
}
.b13-left {
  width: 62.8%;
  vertical-align: top;
  display: inline-block;
  margin-bottom: 50px;
}
.b13-texto {
  margin-top: 20px;
}
.b13-texto p {
  font-family: 'robotoregular', sans-serif;
  font-size: 14px;
  color: #000;
  text-align: left;
  margin: 0;
  line-height: 1.5;
}
.b13-title h2 {
  font-family: 'robotomedium', sans-serif;
  font-size: 20px;
  color: #1174ce;
  margin-top: 25px;
  margin-bottom: 15px;
}
.b13-input2 .g-input {
  width: 100%;
}
.b13-inputdos .dos-input {
  width: 100%;
}
.b13-inputdos .dos-input input {
  border: 1px solid #ccc;
}
.dos-select .g-select:before,
.dos-input .g-select:before {
  width: 40px;
  background-color: #666;
}
.b13-title span,
.b13-reclamo span {
  font-family: 'robotomedium', sans-serif;
  font-size: 20px;
  color: #1174ce;
}
.b13-bnt {
  margin-top: 10px;
  text-align: right;
}
.b13-parrafo {
  font-family: 'robotoregular', sans-serif;
  font-size: 13px;
  color: #666;
  margin-top: 20px;
}
.b13-parrafo {
  width: 96%;
}
.b13-parrafo p {
  margin: 3px;
}
.parrafo {
  margin-top: 10px;
}
.parrafo p {
  margin: 0;
}
.b13-right {
  width: 34.8%;
  vertical-align: top;
  display: inline-block;
  margin-top: 14%;
}
@media screen and (max-width: 960px) {
  .b13-left {
    width: 100%;
  }
  .b13-right {
    display: none;
  }
  .g-televentas {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .b13-texto p {
    font-size: 12px;
  }
  .b13-title h2 {
    font-size: 16px;
    margin-top: 0;
  }
  .b13-title span,
  .b13-reclamo span {
    font-size: 16px;
  }
  .b13-bnt {
    text-align: center;
  }
  .b13-parrafo {
    font-size: 10px;
  }
}
