.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b14 {
  text-align: center;
  font-size: 0;
  margin: 40px 0px;
  margin-bottom: 0;
}
.b14-item {
  display: inline-block;
  width: 25%;
  font-size: 1rem;
  vertical-align: top;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b14-item span {
  font-size: 40px;
  font-family: 'icomoon';
}
.b14-item h4 {
  font-size: 17px;
  margin: 15px 0;
  font-family: 'Arial', sans-serif;
}
.b14-item p {
  font-size: 16px;
  color: #5d5d5d;
  padding: 0 15px;
  margin: 0;
  padding: 0;
  font-family: 'robotoregular', sans-serif;
}
.b14-item .c1 {
  color: #24bc9f;
}
.b14-item .c2 {
  color: #2a71b1;
}
.b14-container {
  margin-top: 50px;
  font-size: 20px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.b14-container .wancho {
  max-width: 730px;
}
.b14-table {
  display: table-cell;
  max-width: 300px;
  vertical-align: middle;
  height: 368px;
  text-align: left;
}
.b14-container-title-small {
  color: #9b9b9b;
  font-family: 'robotomedium', sans-serif;
  font-size: 21px;
  line-height: 1.2;
}
.b14-container-title {
  color: #1174ce;
  font-family: 'robotobold', sans-serif;
  font-size: 40px;
  line-height: 1.2;
}
@media screen and (max-width: 960px) {
  .b14-item {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .b14-item {
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 20px;
  }
  .b14-item span {
    position: absolute;
  }
  .b14-item h4 {
    margin-top: 10px;
    margin-left: 100px;
  }
  .b14-item p {
    margin: 0;
    margin-top: 30px;
  }
  .b14-container {
    margin-top: 30px;
  }
}
@media screen and (max-width: 480px) {
  .b14-item {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
  .b14-item span {
    position: relative;
  }
  .b14-item h4 {
    margin: 10px auto;
  }
  .b14-item p {
    margin: 0;
  }
}
