.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b16 {
  margin: 50px 0;
}
.b16 .header-tab ul {
  text-align: right;
}
.b16 .header-tab li {
  display: inline-block;
  width: 100%;
  text-align: left;
}
.b16 .content-tab {
  max-width: 1024px;
  margin: auto;
  position: relative;
}
.b16 .content-tab .item-tab.active {
  visibility: visible;
  position: relative;
}
.b16 .content-tab .item-tab {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.b16 .content-tab .slide-item img {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  width: 100%;
  height: auto;
  display: block;
}
.b16 .tab2 {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b16 .tab2:hover img {
  -webkit-filter: blur(3px);
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.b16 .tab2:hover p {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b16-left {
  width: 36%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2%;
}
.b16-left .g-title {
  margin-bottom: 25px;
}
.b16-item {
  padding: 20px 15px;
  background: #f2f2f2;
  margin-bottom: 10px;
  display: block;
  cursor: pointer;
}
.b16-item.active {
  background: #1174ce;
}
.b16-item.active p,
.b16-item.active a {
  color: #fff;
}
.b16-item.active .b16-margin {
  color: #fff;
}
.b16-item h4 {
  font-size: 16px;
  margin-bottom: 18px;
  color: #24bc9f;
  font-family: 'robotomedium', sans-serif;
}
.b16-item p,
.b16-item a {
  font-size: 14px;
  color: #6a6562;
  font-family: 'robotomedium', sans-serif;
}
.b16-item a {
  margin-right: 15px;
}
.b16-item p {
  margin-bottom: 10px;
  display: inline-block;
  vertical-align: top;
}
.b16-item span {
  color: #24bc9f;
  font-size: 18px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: top;
}
.b16-right {
  width: 61%;
  display: inline-block;
  vertical-align: top;
  margin-top: 60px;
}
.b16-img {
  position: relative;
}
.b16-img img {
  width: 100%;
  height: auto;
  display: block;
}
.b16-img figcaption {
  color: #fff;
  font-family: 'robotobold', sans-serif;
  font-size: 25px;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.b16-map {
  width: 100%;
  height: 614px;
}
.b16-map .g-map {
  width: 100%;
  height: 100%;
}
.b16-open,
.b16-close,
.b16-bottombox {
  display: none;
  cursor: pointer;
}
.b16-open {
  position: relative;
  z-index: 200;
  margin: 40px auto;
  background: #2a569f;
  color: #fff;
  border-color: #2a569f;
}
.b16-close {
  position: absolute;
  z-index: 9999;
  right: 40px;
  bottom: 30px;
}
.b16-close button {
  background: #2a569f;
  color: #fff;
  border-color: #2a569f;
}
.b16-margin {
  margin: 15px 0 0 0;
  text-align: center;
  background: transparent;
  color: #6a6562;
}
@media screen and (max-width: 960px) {
  .b16 {
    margin-bottom: 20px;
  }
  .b16 .content-tab {
    display: none;
  }
  .b16 .b16-bottombox {
    display: none;
  }
  .b16-left {
    width: 100%;
  }
  .b16-right {
    display: block;
    width: 100%;
    margin-bottom: 50px;
  }
  .b16-map {
    top: -150%;
    position: fixed;
    z-index: 1010;
    width: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    visibility: hidden;
    -webkit-transition: top 0.5s linear;
    -moz-transition: top 0.5s linear;
    -o-transition: top 0.5s linear;
    -ms-transition: top 0.5s linear;
    transition: top 0.5s linear;
    height: 100%;
  }
  .b16-map.active {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    visibility: visible;
    top: 0;
  }
  .b16-open,
  .b16-close,
  .b16-bottombox {
    display: block;
  }
}
