.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.ui-state-highlight,
.ui-widget-content .ui-state-highlight {
  border: 1px solid #24bc9f;
  background: #24bc9f;
  color: #fff;
}
.ui-state-active,
.ui-widget-content .ui-state-active {
  border: none;
}
.b18 {
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
}
.b18-form {
  padding-bottom: 70px;
}
.b18-form .db {
  display: block;
}
.b18-listas {
  padding-top: 7px;
  padding-bottom: 15px;
}
.b18-listas li {
  max-width: 220px;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}
.b18-listas li.active div {
  color: #1174ce;
}
.b18-listas li.active span:before {
  color: #24bc9f;
}
.b18-listas div {
  display: inline-block;
  vertical-align: bottom;
  margin-left: 6%;
  font-size: 15px;
  font-family: 'robotoregular', sans-serif;
  padding-left: 10px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b18-listas span {
  position: relative;
  color: #fff;
  left: 5%;
  z-index: 1;
  font-size: 15px;
  display: inline-block;
  vertical-align: bottom;
  margin-top: 10px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b18-listas span:before {
  content: "\e906";
  font-family: 'icomoon';
  font-size: 33px;
  color: #808080;
  position: absolute;
  top: -5px;
  left: -14px;
  z-index: -1;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b18-listas span:hover {
  color: #fff;
}
.b18-listas span:hover:before {
  color: #24bc9f;
}
/*bloque sin numero*/
.g-tresselect.g-row {
  display: block;
}
.b18-left {
  max-width: 645px;
  width: 100%;
  display: inline-block;
}
.b18-left .g-inputsss input {
  width: 85px;
}
.b18-left .g-checkbox .g-label {
  font-size: 14px;
}
.b18-left .input-factura {
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.3s linear;
  -moz-transition: height 0.3s linear;
  -o-transition: height 0.3s linear;
  -ms-transition: height 0.3s linear;
  transition: height 0.3s linear;
}
.b18-left .input-factura.active {
  height: 41px;
}
.b18-factura {
  margin-top: 25px;
  display: inline-block;
}
.b18-factura h3 {
  font-family: 'robotomedium', sans-serif;
  font-size: 35px;
  color: #1174ce;
}
.b18-content {
  width: 100%;
}
.b18-content .dos-select {
  width: 32.833333%;
  display: inline-block;
}
.b18-content .dos-select .g-input {
  width: 100%;
}
.b18-content .dos-select .g-input select {
  height: 42px;
}
.right {
  width: 30%;
  margin-top: 18%;
  text-align: center;
  display: inline-block;
}
.b18-pay {
  max-width: 170px;
  border: 1px solid #dfdfdf;
  background: #eee;
  margin: auto;
  padding-top: 12px;
}
.b18-pay p {
  font-family: 'robotoregular', sans-serif;
  font-size: 14px;
  display: inline-block;
  vertical-align: top;
}
.b18-pay span {
  font-family: 'robotoregular', sans-serif;
  font-size: 25px;
  color: #1174ce;
}
.b18-pay strong {
color
  font-family: 'robotoregular', sans-serif;
  font-size: 25px;
  color: #1f9dd7;
}
.b18-bnt {
  text-align: right;
}
.b18-images {
  margin-top: 10px;
}
.b18-checkbox {
  text-align: center;
}
.b18-checkbox .g-checkbox {
  padding-left: 40px;
}
@media screen and (max-width: 1024px) {
  .b18-right {
    width: 25%;
  }
}
@media screen and (max-width: 960px) {
  .b18-left {
    margin: auto;
    display: block;
  }
  .b18-right {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .b18-content .dos-select {
    width: 100%;
  }
  .g-col40 {
    width: 100%;
  }
  .g-col60 .g-input {
    width: 100%;
    margin-left: 0;
  }
  .b18-bnt {
    text-align: center;
  }
  .g-col60 {
    width: 100%;
  }
  .b18-factura h3 {
    font-size: 25px;
  }
  .b18-factura {
    margin-top: 10px;
  }
}
@media screen and (max-width: 680px) {
  .b18-listas {
    text-align: center;
  }
}
@media screen and (max-width: 460px) {
  .b18-listas {
    text-align: center;
  }
  .b18-listas li {
    text-align: left;
    margin-bottom: 10px;
  }
}
