.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b21 {
  text-align: center;
}
.b21 .b12-texto {
  margin: 15px 0;
  margin-top: 30px;
}
.b21 .g-boton {
  margin: 25px 0;
}
.b21-cnt {
  font-size: 0;
}
.b21-cnt .b21-nombre-producto {
  width: 110px;
  text-align: left;
}
.b21-cnt table {
  width: 100%;
}
.b21-cnt thead,
.b21-cnt caption {
  background-color: #1174ce;
  width: 100%;
  color: #fff;
  font-size: 13px;
  line-height: 100%;
}
.b21-cnt thead hr,
.b21-cnt caption hr {
  width: 100%;
  display: table;
}
.b21-cnt thead th,
.b21-cnt caption th {
  padding: 10px 0;
  font-size: 13px;
  font-family: Arial;
  line-height: 100%;
  color: #fff;
}
.b21-cnt thead tr,
.b21-cnt caption tr {
  background-color: #1174ce;
}
.b21-cnt td {
  text-align: center;
  color: #666;
  font-size: 14px;
  padding: 0 10px;
}
.b21-cnt img {
  display: inline-block;
}
.b21-cnt em {
  font-size: 14px;
  color: #000;
  font-family: Arial;
}
.b21-cnt .db {
  display: block;
}
.b21-cnt caption {
  padding: 10px 0;
  line-height: 100%;
}
.b21-cnt tbody {
  width: 100%;
}
.b21-cnt tbody tr {
  background: #fafafa;
  border-top: 1px solid #e0e0e0;
}
.b21-cnt tbody tr:first-child {
  border-top: 0;
}
.b21-cnt div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.table-left {
  display: inline-block;
  vertical-align: top;
  width: 62.5%;
  padding-right: 2%;
}
.table-right {
  width: 37.5%;
  display: inline-block;
  vertical-align: middle;
  padding-left: 2%;
}
.table-right table {
  width: 100%;
}
.table-right tr {
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
}
.table-right tr:first-child {
  border-top: 0;
}
.table-right td {
  background-color: #f2f2f2;
  border-top: 1px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
  font-size: 13px;
  line-height: 100%;
  color: #666;
}
.table-right td:first-child {
  padding: 0;
  width: 1px;
}
.table-right th {
  text-align: left;
  padding: 10px 10px 10px 20px;
  font-size: 14px;
  color: #666;
  line-height: 100%;
}
.b21-item:first-child {
  margin-bottom: 15px;
}
.mis-pedidos .table-left {
  width: 100%;
}
.mis-pedidos .b21-cnt {
  margin-top: 25px;
}
.mis-pedidos .b21-cnt td:first-child {
  padding: 0;
  width: 1px;
}
.mis-pedidos .b21-cnt .b21-nombre-producto {
  width: 25%;
}
@media screen and (max-width: 960px) {
  .table-left {
    margin-bottom: 20px;
  }
  .table-left,
  .table-right {
    width: 100%;
    padding: 0;
  }
  .b21-item {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    padding-left: 1%;
    padding-right: 0;
  }
  .b21-item:first-child {
    padding-left: 0;
    padding-right: 1%;
  }
}
@media screen and (max-width: 767px) {
  .mis-pedidos .b21-cnt thead {
    display: none;
  }
  .mis-pedidos .b21-cnt .table-left tbody tr {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border-top: 0;
    margin-bottom: 30px;
  }
  .mis-pedidos .b21-cnt .table-left tbody tr td {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
    text-align: center;
  }
  .mis-pedidos .b21-cnt .table-left tbody tr td:first-child:before {
    background-color: #1174ce;
    color: #fff;
  }
  .mis-pedidos .b21-cnt .table-left td:before {
    content: attr(data-th);
    background-color: #eaeaea;
    display: block;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
  .mis-pedidos .b21-cnt div {
    width: 100%;
    padding: 0;
  }
  .mis-pedidos .b21-cnt div:first-child {
    padding: 0;
  }
  .mis-pedidos .b21-cnt .table-left .b21-nombre-producto:before {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .b21-cnt thead {
    display: none;
  }
  .b21-cnt .table-left tbody tr {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border-top: 0;
  }
  .b21-cnt .table-left tbody tr td {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
  }
  .b21-cnt .table-left tbody tr td:first-child:before {
    background-color: #1174ce;
    color: #fff;
  }
  .b21-cnt .table-left tbody tr td:first-child + td {
    display: none;
  }
  .b21-cnt .table-left td:before {
    content: attr(data-th);
    background-color: #eaeaea;
    display: block;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
  }
  .b21-cnt div {
    width: 100%;
    padding: 0;
  }
  .b21-cnt div:first-child {
    padding: 0;
  }
  .mis-pedidos .b21-cnt .table-left tbody tr {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    border-top: 0;
  }
  .mis-pedidos .b21-cnt .table-left tbody tr td {
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
  }
  .mis-pedidos .b21-cnt .table-left tbody tr td:first-child:before {
    background-color: #1174ce;
    color: #fff;
  }
  .mis-pedidos .b21-cnt .table-left tbody tr td:first-child + td {
    display: block;
  }
}
@media screen and (max-width: 500px) {
  .mis-pedidos .b21-cnt .table-left tbody tr {
    width: 100%;
  }
}
