.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b22 {
  font-size: 0;
  margin-bottom: 80px;
}
.b22-img {
  font-size: 0;
  margin-top: 10px;
}
.b22-img img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: auto;
}
.b22-item {
  width: 48.82%;
  vertical-align: top;
  display: inline-block;
  position: relative;
  margin-bottom: 2.3%;
}
.b22-item:hover .b22-promocion {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b22-item:nth-child(odd) {
  margin-right: 2.3%;
}
.b22-item img {
  max-width: 100%;
  height: auto;
}
.b22-title {
  margin-top: 30px;
}
.b22-title h3 {
  font-family: 'robotomedium', sans-serif;
  font-size: 30px;
  color: #1174ce;
}
.b22-promocion {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  background-color: rgba(17,116,206,0.8);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b22-promocion span {
  font-family: 'robotomedium', sans-serif;
  font-size: 20px;
  color: #fff;
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
.b22-promocion span:before {
  content: "\e926";
  font-size: 57px;
  font-family: 'icomoon';
  text-align: center;
  display: block;
}
.b22-detalle {
  width: 100%;
  height: 100%;
  display: table;
  position: absolute;
}
.b22-detalle .icon-prociento {
  font-size: 57px;
}
@media screen and (max-width: 768px) {
  .b22-title h3 {
    font-size: 25px;
  }
}
@media screen and (max-width: 640px) {
  .b22-item img {
    width: 100%;
  }
  .b22 {
    margin-bottom: 30px;
  }
  .b22-title {
    margin-top: 10px;
  }
  .b22-title h3 {
    font-size: 18px;
    text-align: center;
  }
  .b22-item {
    width: 100%;
    padding-top: 10px;
    margin: 0;
  }
  .b22-promocion {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  .b22-promocion span:before {
    display: inline-block;
    vertical-align: middle;
  }
  .b22-promocion span:before {
    font-size: 25px;
  }
  .b22-promocion span {
    font-size: 13px;
  }
  .b22-promocion {
    height: 20%;
    top: inherit;
    bottom: 0;
  }
}
