.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b24 {
  font-size: 0;
}
.b24 .oferta.b24-triangle::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 70px solid #d13267;
  border-left: 70px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.b24 .descuento.b24-triangle::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 70px solid #d13267;
  border-left: 70px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.b24 .nuevo em {
  color: #fff;
  font-family: 'robotoregular', sans-serif;
  font-size: 12px;
  display: block;
}
.b24 .oferta em {
  color: #fff;
  font-family: 'robotoregular', sans-serif;
  display: block;
  font-size: 14px;
}
.b24 .descuento em:first-child {
  color: #fff;
  font-family: 'robotoregular', sans-serif;
  font-size: 13px;
  display: block;
}
.b24 .descuento em {
  color: #ffd74e;
  font-size: 11px;
  line-height: 2px;
}
.b24-contenedor {
  max-width: 100%;
  height: auto;
}
.b24-title {
  margin-top: 28px;
  margin-left: 40px;
  position: relative;
}
.b24-title h3 {
  font-size: 16px;
  font-family: 'robotomedium', sans-serif;
  color: #1174ce;
  display: inline-block;
}
.b24-title h3:after {
  content: "";
  width: 70%;
  position: absolute;
  border: 1px solid #888;
  left: 20%;
  top: 40%;
}
.b24-item {
  width: 33.333%;
  display: inline-block;
  margin-top: 30px;
  vertical-align: top;
  text-align: center;
}
.b24-wrapper {
  max-width: 300px;
  margin: auto;
  margin-left: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 3px 5px 9px -3px #888;
  box-shadow: 3px 5px 9px -3px #888;
  position: relative;
}
.b24-img {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  max-width: 286px;
  height: 205px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;
}
.b24-img img {
  max-width: 100%;
  height: auto;
}
.b24-img:hover .b24-over {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b24-over {
  background-color: rgba(61,191,153,0.75);
  padding: 7px 15px;
  width: 150px;
  height: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: 30px;
  font-size: 20px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  z-index: 99999;
}
.b24-des h1 {
  font-family: 'robotobold', sans-serif;
  font-size: 14px;
  color: #262626;
  height: 40px;
  padding: 0 6px;
}
.b24-des h1:hover {
  color: #1174ce;
}
.b24-des p {
  font-family: 'robotoregular', sans-serif;
  color: #6e6e6e;
  font-size: 14px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 6px;
}
.b24-des-precio {
  background: #f2f2f2;
  display: block;
  font-family: 'robotobold', sans-serif;
  font-size: 16px;
  padding: 8px 15px;
  position: relative;
  top: 0;
  bottom: 0;
}
.b24-des-precio del {
  position: absolute;
  color: #9d9d9d;
  font-family: 'robotolight', sans-serif;
  right: 0;
  padding-right: 6px;
}
.b24-triangle {
  position: absolute;
  right: 0;
  display: none;
  z-index: 1;
  width: 60px;
  text-align: right;
  padding-right: 4px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .b24-item {
    width: 33.333%;
  }
  .b24-title h3:after {
    left: 25%;
    width: 69%;
  }
}
@media screen and (max-width: 480px) {
  .b24-item {
    width: 100%;
    margin-top: 10px;
  }
  .b24-wrapper {
    margin-left: auto;
  }
  .b24-title h3:after {
    display: none;
  }
  .b24-title {
    text-align: center;
  }
}
