.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b25-imagen {
  width: 47%;
  float: left;
}
.b25-imagen img {
  max-width: 100%;
  height: auto;
}
.b25-inport {
  display: inline-block;
  font-size: 0;
}
.b25-info {
  width: 45%;
  float: right;
  overflow: hidden;
  vertical-align: top;
  font-size: 15px;
  margin-left: 7%;
}
.b25-miniatura {
  margin-top: 20px;
}
.b25-miniatura li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  cursor: pointer;
  margin: 0 1%;
  margin-bottom: 5px;
}
.b25-miniatura li:before {
  background-color: #68b9ac;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.b25-miniatura li:after {
  content: "\e90b";
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  font-size: 40px;
  color: #fff;
  display: inline-block;
  z-index: 2;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s linear;
  -moz-transition: -moz-transform 0.3s linear;
  -o-transition: -o-transform 0.3s linear;
  -ms-transition: -ms-transform 0.3s linear;
  transition: transform 0.3s linear;
}
.b25-miniatura li:hover:before,
.b25-miniatura li.active:before {
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.b25-miniatura li:hover:after,
.b25-miniatura li.active:after {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.b25-talla {
  display: none;
}
.b25-talla.active {
  display: block;
}
.b25-tittle-talla {
  display: inline-block;
  vertical-align: middle;
}
.b25-tittle-talla h2 {
  font-size: 14px;
  font-family: 'robotoregular', sans-serif;
  margin: auto;
}
.b25stocktalla {
  display: none;
}
.b25stocktalla strong {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}
.b25stocktalla.active {
  display: block;
}
.b25-talla-variadas {
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}
.b25-circulo-tallas {
  width: 28px;
  height: 28px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #d0d0d0;
  display: inline-block;
  position: relative;
}
.b25-circulo-tallas p {
  margin: auto;
  left: 0;
  color: #d0d0d0;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 4px;
  text-align: center;
  font-size: 13px;
}
.b25-circulo-tallas:hover,
.b25-circulo-tallas.active {
  display: block;
  border: 1px solid #454545;
}
.b25-circulo-tallas:hover p,
.b25-circulo-tallas.active p {
  color: #454545;
}
.b25-select,
.b25-addcar {
  display: inline-block;
  vertical-align: middle;
}
.b25-addcar .g-boton {
  padding: 0 10px;
  line-height: 30px;
  height: 30px;
  margin-left: 0;
}
.b25-wrapstock {
  margin-top: 10px;
  position: relative;
  left: -17%;
}
.b25-select {
  width: 90px;
  margin-right: 25px;
  position: relative;
  font-size: 14px;
}
.b25-select:after {
  content: "\e912";
  font-family: 'icomoon';
  font-size: 10px;
  color: #1174ce;
  position: absolute;
  top: 10px;
  right: 5px;
  pointer-events: none;
}
.b25-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 30px;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.b25-control li.select-number.active {
  display: inline-block;
}
.b25-control {
  margin-top: 15px;
}
.b25-control li {
  display: inline-block;
  vertical-align: middle;
}
.b25-control .bt {
  height: 28px;
  line-height: 28px;
}
.b25-control .select-number {
  width: 90px;
  margin-right: 25px;
  position: relative;
}
.b25-control .select-number:after {
  content: "\e912";
  font-family: 'icomoon';
  font-size: 10px;
  color: #1174ce;
  position: absolute;
  top: 10px;
  right: 5px;
  pointer-events: none;
}
.b25-control .select-number select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 30px;
  padding-left: 10px;
}
.b25-texto h3 {
  font-family: 'robotomedium', sans-serif;
  font-size: 35px;
  color: #1174ce;
  margin-bottom: 20px;
  line-height: 35px;
}
.b25-texto span {
  font-family: 'robotolight', sans-serif;
  font-size: 35px;
  color: #24bc9f;
  display: block;
  line-height: 100%;
  margin: 20px 0;
}
.b25-texto em {
  margin-bottom: 10px;
  color: #707070;
  font-size: 13px;
  font-family: 'robotobold', sans-serif;
  margin-bottom: 15px;
  display: inline-block;
}
.b25-texto del {
  display: block;
  font-size: 15px;
}
.b25-texto p {
  margin-bottom: 0;
  font-family: 'robotoregular', sans-serif;
  font-size: 16px;
  color: #707070;
}
.b25-texto strong {
  font-size: 14px;
}
.b25-texto sub {
  bottom: 0;
}
.b25-cuadro {
  position: relative;
}
.b25-cuadro select {
  width: 91px;
  height: 30px;
  color: #808080;
  margin-top: 10px;
  position: relative;
}
.icon-flechaabajo-01 {
  font-size: 10px;
  color: #1174ce;
  position: absolute;
  bottom: 31%;
  left: 48%;
}
button {
  border: none;
  color: #fff;
  background: none;
  background-color: #006ca2;
  padding: 8px 14px 8px 14px;
  margin-left: 25px;
}
.b25-circulo {
  text-align: center;
  display: block;
  font-size: 0;
  margin-top: 20px;
  padding: 10px 0;
  padding-left: 10px;
  text-align: left;
}
.b25-circulo span {
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: 15px;
  cursor: pointer;
}
.b25-circulo span:first-child {
  margin-left: 0;
}
.b25-circulo span:after {
  content: "";
  width: 34px;
  height: 34px;
  position: absolute;
  display: inline-block;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  top: 0;
  left: -6px;
  bottom: 0;
  margin: auto;
  border: 1px solid transparent;
}
.b25-circulo span:hover:after,
.b25-circulo span.active:after {
  border: 1px solid #999;
}
.b25-valoracion {
  margin-top: 10px;
  display: inline-block;
}
.b25-valoracion span {
  display: inline-block;
  font-size: 20px;
  position: relative;
  color: #5d5d5d;
  margin: 0 3px;
}
.b25-valoracion span:first-child {
  margin-right: 5px;
  font-size: 14px;
}
.b25-valoracion span.active:before {
  display: none;
}
.b25-valoracion span.active:after {
  content: "\e90e";
  font-family: 'icomoon';
  font-size: 20px;
}
.b25-itemdetail {
  margin-top: 20px;
  font-size: 0;
}
.b25-itemdetail .b25-tittle-talla,
.b25-itemdetail .b25-circulo,
.b25-itemdetail .b25-wraptalla {
  display: inline-block;
  vertical-align: top;
}
.b25-itemdetail .b25-tittle-talla {
  width: 15%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 10px;
}
.b25-itemdetail .b25-circulo,
.b25-itemdetail .b25-wraptalla {
  width: 85%;
  margin-top: 0;
  padding: 0;
}
@media screen and (max-width: 1120px) {
  .b25-info,
  .b25-imagen {
    float: none;
    width: auto;
  }
  .mousetrap {
    display: none;
  }
  .tab-imagensmall:after {
    content: "";
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .b25-miniatura {
    text-align: center;
  }
  .b25-texto p {
    margin-bottom: 15px;
  }
  .b25-info {
    margin-left: 0;
  }
  .b25-texto span {
    margin: 10px 0;
    font-size: 30px;
  }
  .b25-texto h3 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .b25-info {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .b25-miniatura li {
    width: 30%;
  }
  .b25-miniatura li img {
    max-width: 100%;
    height: auto;
  }
}
