.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b26 {
  max-width: 713px;
  background: #fff;
  padding-bottom: 59px;
}
.b26 .g-boton {
  height: 42px;
  width: 100%;
  line-height: 42px;
  padding: 0;
}
.b26 .close-boxlight {
  top: -20px;
  right: -13px;
  color: #fff;
  background: #24bc9f;
  border: 1px solid #24bc9f;
}
.b26 .close-boxlight .close-boxlight:after {
  content: "\e904";
}
.b26-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.b26-title {
  text-align: right;
  padding: 50px 80px 50px;
}
.b26-title h2 {
  font-family: 'robotomedium', sans-serif;
  font-size: 30px;
  color: #1174ce;
}
.b26-title h3,
.b26-title span {
  margin: auto;
  font-family: 'robotobold', sans-serif;
  font-size: 28px;
  color: #24bc9f;
}
.b26-content {
  text-align: center;
  font-size: 0;
}
.b26-bnt,
.b26-input {
  display: inline-block;
  vertical-align: middle;
  margin-top: 60px;
}
.b26-input {
  width: 60%;
}
.b26-input input {
  width: 100%;
  height: 42px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 14px;
}
.b26-bnt {
  width: 20%;
  padding-left: 30px;
}
.suscribete {
  background: #1174ce;
  color: #fff;
  padding: 15px 30px 15px 35px;
}
.suscribete:hover {
  color: #fff;
  background: #e5356c;
}
.b26-box {
  display: none;
}
@media screen and (max-width: 600px) {
  .b26-input {
    width: 100%;
    margin-top: 20px;
  }
  .b26-bnt,
  .b26-input {
    margin-top: 10px;
  }
}
@media screen and (max-width: 425px) {
  .b26-title {
    padding: 0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .b26-title h2 {
    font-size: 20px;
  }
  .b26-title h3,
  .b26-title span {
    font-size: 20px;
  }
  .b26-input {
    width: 90%;
  }
  .b26-bnt {
    width: 25%;
  }
}
