.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.formError .formErrorContent {
  background-color: #e4356c;
}
.b28 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.b28 .w100 {
  width: 100%;
  display: inline-block;
}
.b28 .g-inputsss input {
  width: 77px;
}
.b28 .dni-y-fecha .g-input {
  width: 33%;
}
.b28 .g-input {
  margin-top: 0;
}
.b28 .g-boton {
  padding: 0 38px;
}
.b28 .g-col60 p {
  padding-left: 10px;
}
.b28 .b-col40 {
  width: 33%;
}
.b28 .g-col60 .g-input {
  width: 22.5%;
}
.b28 .g-col60 .g-input:first-child {
  width: 26.5%;
  text-align: left;
}
.b28-left {
  width: 39%;
  padding: 20px 20px 0 0;
  display: inline-block;
}
.b28-fondoverde {
  max-width: 394px;
  height: 253px;
  position: relative;
  background-color: #24bc9f;
}
.b28-fondoverde span,
.b28-fondoverde h2 {
  display: inline-block;
  vertical-align: top;
  color: #fff;
}
.b28-fondoverde span {
  margin-right: 10px;
  font-size: 20px;
}
.b28-form {
  margin-left: 10px;
  margin-right: 5px;
}
.b28-form input {
  margin-top: 10px;
  width: 85%;
  height: 42px;
  padding-left: 10px;
}
.b28-texto {
  margin-top: 20px;
  margin-left: 32px;
}
.b28-texto p {
  font-size: 13px;
  color: #fff;
  text-align: left;
}
.b28-title {
  padding-top: 30px;
  margin-left: 32px;
  text-align: left;
}
.b28-title h2 {
  font-size: 20px;
  font-family: 'robotomedium', sans-serif;
  color: #fff;
}
.b28-btn {
  position: absolute;
  right: 25px;
  bottom: 30px;
}
.b28-right {
  width: 51%;
  padding: 20px 0 20px 0;
  vertical-align: top;
  display: inline-block;
}
.b28-titledos {
  text-align: left;
}
.b28-titledos h2 {
  font-family: 'robotomedium', sans-serif;
  font-size: 20px;
  color: #1174ce;
}
.b28-bnt {
  text-align: right;
}
.b28-input .g-input {
  width: 42%;
}
@media screen and (max-width: 960px) {
  .b28 .g-row {
    width: 100%;
  }
  .b28-left {
    width: 50%;
    margin-bottom: 20px;
  }
  .b28-right {
    width: 97%;
    padding: 0;
    margin-bottom: 30px;
  }
  .b28-titledos h2 {
    font-size: 17px;
  }
  .b28-fondoverde {
    max-width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 800px) {
  .b28-left {
    max-width: 490px;
    width: 100%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    padding: 0;
  }
}
@media screen and (max-width: 600px) {
  .b28 .g-col60 .g-input {
    margin-left: 2%;
  }
  .b28 .g-col60 .g-input:first-child {
    margin-left: 0;
  }
  .b28 .g-col60 .g-input:first-child p {
    padding: 0;
  }
}
@media screen and (max-width: 425px) {
  .b28-right {
    width: 95%;
  }
  .g-tresinput .g-tres {
    margin-left: 0;
  }
  .g-fecha {
    position: static;
  }
  .g-fecha {
    width: 53%;
  }
  .b28-fondoverde {
    height: 300px;
  }
  .b28-texto {
    margin: auto;
    margin-top: 20px;
  }
  .b28-texto p {
    text-align: center;
  }
  .b28-btn {
    right: 0;
    left: 0;
  }
}
