.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b3 {
  padding: 25px 0px;
  background: #fff;
  background-image: url("../img/fondo.png");
  width: 100%;
  height: auto;
  padding-top: 50px;
}
.b3.active .b3-cnt-video {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b3.active .b3-cnt-texto {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.inner-b3 {
  background: url("../img/yt-bg.png") top right no-repeat;
  font-size: 0;
}
.b3-cnt-video,
.b3-cnt-texto {
  display: inline-block;
  vertical-align: bottom;
  font-size: 14px;
}
.b3-cnt-video {
  width: 61.5%;
  margin-right: 1.5%;
  position: relative;
  -webkit-box-shadow: 3px 3px 20px -7px #5d5d5d;
  box-shadow: 3px 3px 20px -7px #5d5d5d;
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  -o-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  transform: translateX(-80px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b3-inner-video {
  position: absolute;
  width: 100.5%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.b3-inner-video.active {
  display: none;
}
.anima {
  -webkit-animation: parpadeo infinite;
  -moz-animation: parpadeo infinite;
  -o-animation: parpadeo infinite;
  -ms-animation: parpadeo infinite;
  animation: parpadeo infinite;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
.b3-play {
  height: 125px;
  width: 125px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: url("../img/play-ico.png") center center no-repeat;
}
.b3-videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.b3-videoWrapper .video-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.b3-cnt-texto {
  width: 35.5%;
  margin-left: 1.5%;
  margin-bottom: 60px;
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  -o-transform: translateX(80px);
  -ms-transform: translateX(80px);
  transform: translateX(80px);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.b3-title,
.b3-subtitle {
  margin-bottom: 18px;
  color: #1174ce;
}
.b3-title.responsive {
  display: none;
}
.b3-title h2 {
  font-weight: normal;
  margin-bottom: 0;
  font-size: 35px;
}
.b3-title em {
  font-family: 'Arial', sans-serif;
}
.b3-title strong {
  font-family: 'robotobold', sans-serif;
}
.b3-subtitle {
  font-family: 'robotoregular', sans-serif;
}
.b3-subtitle h3 {
  font-size: 22px;
  margin-bottom: 0;
  font-weight: normal;
}
.b3-texto {
  margin-bottom: 18px;
  font-family: 'robotoregular', sans-serif;
  font-size: 16px;
}
.b3-texto p {
  margin-bottom: 0;
}
@media screen and (max-width: 900px) {
  .b3-cnt-texto {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .b3 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .b3-cnt-video {
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
  }
  .b3-cnt-texto {
    width: 80%;
    margin: auto;
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .b3-title h2 {
    font-size: 28px;
  }
  .b3-subtitle h3 {
    font-size: 18px;
  }
  .b3-texto {
    font-size: 14px;
  }
}
