.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b30 .wrapper {
  max-width: 574px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.b30-title {
  width: 70%;
  padding-top: 20px;
  position: relative;
  display: inline-block;
}
.b30-title h2 {
  font-family: 'robotobold', sans-serif;
  font-size: 75px;
  color: #006ca2;
}
.b30-title:before {
  content: "\e906";
  font-family: 'icomoon';
  font-size: 20px;
  color: #23bb9f;
  position: absolute;
  right: 35%;
  bottom: 75px;
}
.b30-img {
  display: inline-block;
}
.b30-parrafo p {
  font-family: 'robotobold', sans-serif;
  font-size: 24px;
  color: #808080;
}
.b30-bnt {
  padding-bottom: 20px;
}
.b30-compra {
  position: relative;
}
.b30-compra .b30-title {
  width: 62%;
}
.b30-compra .b30-title h2 {
  margin: 0;
  color: #1174ce;
}
.b30-compra .b30-title p {
  font-family: 'robotobold', sans-serif;
  font-size: 25px;
  color: #1174ce;
}
.b30-compra .b30-title:before {
  display: none;
}
.b30-compra .b30-parrafo {
  margin-bottom: 40px;
}
.b30-compra .b30-parrafo p {
  font-size: 19px;
  width: 85%;
  margin: auto;
}
.b30-compra .b30-img {
  vertical-align: top;
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  .b30-title h2 {
    font-size: 65px;
  }
  .b30-parrafo p {
    font-size: 14px;
  }
}
.b30-compra .b30-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.b30-compra {
  padding-top: 70px;
}
.b30-compra .b30-title {
  width: 100%;
}
.b30-compra .b30-title h2 {
  font-size: 58px;
}
