.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b36 {
  max-width: 500px;
}
.b36 .wancho {
  display: table-cell;
  vertical-align: middle;
  max-width: 500px;
}
.b36 .wrapper {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  position: relative;
  width: 500px;
}
.b36-title {
  width: 80%;
  padding-top: 20px;
  position: relative;
  display: inline-block;
}
.b36-title h2 {
  font-family: 'robotobold', sans-serif;
  font-size: 75px;
  color: #006ca2;
}
.b36-img {
  display: inline-block;
}
.b36-parrafo p {
  font-family: 'robotomedium', sans-serif;
  font-size: 18px;
  color: #808080;
  width: 300px;
  margin: auto;
  margin-bottom: 20px;
}
.b36-bnt {
  padding-bottom: 20px;
}
.b36-compra {
  position: relative;
}
.b36-compra .b36-title {
  width: 62%;
}
.b36-compra .b36-title h2 {
  margin: 0;
  color: #1174ce;
}
.b36-compra .b36-title p {
  font-family: 'robotobold', sans-serif;
  font-size: 25px;
  color: #1174ce;
}
.b36-compra .b36-title:before {
  display: none;
}
.b36-compra .b36-parrafo {
  margin-bottom: 40px;
}
.b36-compra .b36-parrafo p {
  font-size: 19px;
  width: 85%;
  margin: auto;
}
.b36-compra .b36-img {
  vertical-align: top;
  margin-top: 20px;
}
@media screen and (max-width: 522px) {
  .b36-title {
    padding-top: 70px;
    width: 100%;
  }
  .b36-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
  }
  .b36 {
    max-width: 400px;
  }
  .b36 .wancho {
    width: 400px;
  }
  .b36 .wrapper {
    width: 320px;
  }
  .b36 .g-input {
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 480px) {
  .b36-title h2 {
    font-size: 65px;
  }
  .b36-parrafo p {
    font-size: 14px;
  }
}
.b36-compra .b36-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.b36-compra {
  padding-top: 70px;
}
.b36-compra .b36-title {
  width: 100%;
}
.b36-compra .b36-title h2 {
  font-size: 58px;
}
