.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b4 {
  background-color: #f1f1f1;
  padding: 35px 0 50px 0;
}
.b4-wancho {
  max-width: 1030px;
  margin: auto;
  width: 94%;
}
.b4-cabezera {
  text-align: center;
}
.b4-cabezera h3 {
  color: #1174ce;
  font-size: 35px;
  font-family: 'robotolight', sans-serif;
}
.b4-cabezera p {
  font-size: 22px;
  color: #666;
  font-family: 'robotoregular', sans-serif;
}
.b4-cabezera p strong {
  color: #24bc9f;
}
.b4-facil {
  font-size: 0;
  padding-top: 30px;
}
.b4-facil >a {
  padding-left: 0;
  text-align: center;
}
.b4-facil >a .g-boton {
  position: relative;
}
.b4-facil >a .g-boton:before {
  content: "";
  width: 47px;
  height: 51px;
  background-image: url("../img/b4-flecha.png");
  display: block;
  position: absolute;
  right: -30px;
  bottom: -30px;
}
.b4-facil-item {
  font-size: 16px;
  width: 25%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 89px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 90px;
  padding-top: 10px;
  padding-right: 40px;
}
@media screen and (min-width: 1024px) {
  .b4-facil-item {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -o-transform: translateY(40px);
    -ms-transform: translateY(40px);
    transform: translateY(40px);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -o-transition: all 0.7s;
    -ms-transition: all 0.7s;
    transition: all 0.7s;
  }
}
.b4-facil-item.active {
  -webkit-transform: translateX(0) translateY(0);
  -moz-transform: translateX(0) translateY(0);
  -o-transform: translateX(0) translateY(0);
  -ms-transform: translateX(0) translateY(0);
  transform: translateX(0) translateY(0);
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.b4-facil-item:before {
  content: "\e915";
  font-family: 'icomoon';
  color: #1174ce;
  position: absolute;
  font-size: 17px;
  height: 17px;
  left: -17px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.b4-facil-item:first-child:before {
  display: none;
}
a.b4-facil-item {
  padding-right: 0;
  padding-top: 0;
}
a.b4-facil-item h4 {
  font-size: 35px;
  color: #666;
  font-family: 'robotolight', sans-serif;
}
.b4-img {
  position: absolute;
  left: 10px;
  top: 0;
  height: 75px;
  bottom: 0;
  margin: auto;
}
.b4-texto {
  font-size: 15px;
  color: #4d4d4d;
  font-family: 'robotoregular', sans-serif;
}
.b4-texto p {
  margin-bottom: 0;
}
@media screen and (max-width: 1200px) {
  .b4-facil-item {
    width: 50%;
    min-height: 120px;
    -webkit-transition-delay: 0s !important;
    -moz-transition-delay: 0s !important;
    -o-transition-delay: 0s !important;
    -ms-transition-delay: 0s !important;
    transition-delay: 0s !important;
  }
  .b4-facil-item:before {
    display: none;
  }
  .b4-texto {
    padding-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .b4-facil {
    width: 70%;
    margin: auto;
  }
  .b4-facil-item {
    width: 100%;
    padding-right: 0;
  }
  .b4-cabezera h3 {
    font-size: 28px;
  }
  .b4-cabezera p {
    font-size: 18px;
  }
  .b4-facil {
    padding-top: 20px;
  }
}
@media screen and (max-width: 500px) {
  .b4-facil-item {
    padding: 0;
    padding-bottom: 30px;
    text-align: center;
  }
  .b4-img {
    position: relative;
    margin-right: 18px;
  }
  .b4-facil {
    width: 85%;
  }
}
