.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b42 {
  max-width: 713px;
  margin: auto;
  background: #fff;
  padding-bottom: 20px;
}
.b42 .g-input {
  margin-top: 0;
}
.b42 .wancho {
  max-width: 640px;
}
.b42 .close-boxlight {
  background: #24bc9f;
  right: -13px;
  top: -20px;
  color: #fff;
  border: 1px solid #24bc9f;
}
.b42 .close-boxlight:hover {
  background-color: #e4356c;
  border: 1px solid #e4356c;
}
.b42-bnt .g-boton {
  height: 45px;
  font-size: 13px;
  line-height: 3.4;
}
.b42-bnt .g-boton:hover {
  top: 0;
  height: 47px;
}
.b42-bg {
  min-height: 270px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.b42-texto {
  margin: 50px 0 20px 0;
}
.b42-texto h3 {
  font-family: 'robotobold', sans-serif;
  font-size: 25px;
  color: #1174ce;
}
.g-input {
  margin-top: 10px;
  width: 100%;
}
.g-fech-aparte {
  position: relative;
}
.g-fech-aparte input {
  padding-right: 40px;
}
.g-fech-aparte:before {
  content: '\e91d';
  position: absolute;
  font-family: 'icomoon';
  font-size: 27px;
  top: 5px;
  right: 11px;
  margin: auto;
  color: #999;
  pointer-events: none;
}
.b42-btn-tv {
  text-align: center;
  position: absolute;
  position: relative;
  top: 0;
  height: 44px;
  margin-left: -4px;
  margin-top: 0;
}
.b42-unir {
  display: inline-block;
}
.b42-unir a {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b42-list {
  display: inline-block;
}
.b42-nav {
  font-family: 'robotoregular', sans-serif;
  font-size: 12px;
  color: #0062e1;
  display: inline-block;
}
.b42-box {
  display: none;
}
.b42-bnt {
  text-align: center;
  font-size: 16px;
}
.subir-ar {
  display: inline-block;
  font-size: 13px;
  font-family: 'robotoregular', sans-serif;
  color: #fff;
  padding: 8px 15px 8px 26px;
  border: 1px solid #06c;
  background: #06c;
  position: relative;
}
.subir-ar:before {
  content: '\e90a';
  position: absolute;
  font-family: 'icomoon';
  font-size: 18px;
  left: 4px;
  top: 6px;
}
.mostrar-label {
  color: #3c9;
  font-size: 13px;
  display: block;
}
.b42-wrapper-subir {
  display: inline-block;
  padding-right: 20px;
}
.g-checkbox {
  vertical-align: top;
  margin-top: 0px;
  display: inline-block;
  width: 49%;
  text-align: right;
}
.input-solo {
  display: inline-block;
}
.b42-label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  border: 1px solid #ccc;
  padding: 7px 42px 7px 7px;
}
.b42-label span {
  font-size: 12px;
  color: #999;
}
.b42-label .b42-input-ar {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
}
.b42-label input {
  visibility: hidden;
  position: absolute;
  top: 100%;
}
.b42-label .text-input {
  color: #ffa500;
}
.b42-label i {
  color: c-17;
  font-size: 14px;
  position: absolute;
  left: 103%;
  top: 7px;
  display: none;
}
.b42-wrapper-archivos {
  display: inline-block;
  position: relative;
  width: 50%;
}
.b42-subiendo {
  position: relative;
  display: inline-block;
}
.b42-subiendo a {
  font-size: 13px;
  color: #fff;
  background: #06c;
  padding: 10px 10px 10px 26px;
}
.b42-subiendo:before {
  content: '\e90a';
  position: absolute;
  font-family: 'icomoon';
  font-size: 12px;
  color: #fff;
  top: 7px;
  left: 6px;
  margin: auto;
  pointer-events: none;
}
.b42-texto-1 p {
  font-size: 12px;
  font-family: 'robotoitalic', sans-serif;
  color: #3c9;
}
.input-aparte {
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .b42 .close-boxlight {
    right: 5px;
    top: 5px;
  }
  .b42 {
    width: 94%;
  }
}
@media screen and (max-width: 600px) {
  .b42-texto h3 {
    font-size: 14px;
  }
  .dos-input .g-input:first-child {
    float: none;
  }
  .dos-input .g-input {
    float: none;
    width: auto;
    display: block;
  }
  .b42-wrapper-archivos {
    width: 100%;
  }
  .g-checkbox {
    width: 100%;
    text-align: center;
  }
}
