.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b19-datos {
  display: inline-block;
  width: 50%;
}
.b19-subcuadro {
  line-height: 28px;
  position: relative;
}
.b19-cnt-cv {
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.b19-cnt-cv label {
  font-size: 13px;
  color: #fff;
  background: #06c;
  padding: 6px 10px 6px 26px;
  position: relative;
}
.b19-cnt-cv label:hover {
  background-color: #e4356c;
}
.b19-cnt-cv label:before {
  content: '\e92a';
  position: absolute;
  font-family: 'icomoon';
  font-size: 16px;
  color: #fff;
  top: 2px;
  left: 6px;
  margin: auto;
  pointer-events: none;
}
.b19-cnt-cv .b19-box-cv {
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  overflow: hidden;
}
.b19-cnt-cv input {
  visibility: hidden;
  position: absolute;
  top: 100%;
}
.b19-cnt-cv p {
  font-size: 12px;
  font-family: 'robotoitalic', sans-serif;
  color: #3c9;
  position: absolute;
  left: 0;
  top: 30px;
  display: none;
  margin: 0;
}
.text-input {
  display: inline-block;
  border: 1px solid #ccc;
  padding-left: 5px;
  width: 62%;
  height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.text-input span {
  display: inline-block;
  color: #999;
  font-size: 10px;
  font-family: 'robotoitalic', sans-serif;
  margin: 0;
}
@media screen and (max-width: 653px) {
  .text-input {
    width: 59%;
  }
}
@media screen and (max-width: 644px) {
  .text-input {
    width: 59%;
  }
}
@media screen and (max-width: 618px) {
  .text-input {
    width: 57%;
  }
}
@media screen and (max-width: 600px) {
  .b19-datos {
    padding-bottom: 10px;
    display: block;
    width: 100%;
  }
  .text-input {
    width: 100%;
    margin-top: 7px;
  }
  .b19-cnt-cv p {
    left: 118px;
    display: inline-block;
    width: 100%;
    top: 0;
    display: none;
  }
}
