.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b5 {
  padding: 40px 0;
}
.b5 .bx-controls {
  max-width: 1024px;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 50;
}
.b5 .bx-controls .bx-pager {
  max-width: 46%;
  right: 0;
  text-align: left;
  bottom: -5px;
}
.b5 .bx-controls .bx-pager .bx-pager-item a {
  width: 17px;
  height: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #197aaa;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.15);
}
.b5 .bx-controls .bx-pager .bx-pager-item a.active {
  background-color: #197aaa;
  -webkit-box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.49);
  box-shadow: 2px 2px 4px 1px rgba(0,0,0,0.49);
}
.b5 .icon-fb-01 {
  color: #fff;
  font-size: 40px;
  position: absolute;
  top: 25px;
  right: 20px;
}
.b5-fb {
  max-width: 344px;
  background-color: #1174ce;
  padding: 25px 10px;
  padding-bottom: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b5-imagen {
  width: 79.5%;
  height: 249px;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  margin-left: 20%;
}
.b5-figura img {
  max-width: 100%;
  display: block;
  height: auto;
}
.b5-title {
  text-align: right;
  color: #fff;
  padding-right: 40px;
}
.b5-title h2,
.b5-title h3 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
.b5-title h3 {
  font-family: 'robotobold', sans-serif;
  margin-top: 8px;
}
.b5-fecha {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #fff;
  width: 42px;
  height: 42px;
  line-height: 18px;
  text-align: center;
  font-size: 13px;
  padding-top: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
}
.b5-fecha strong {
  display: block;
  font-size: 19px;
}
.b5-content {
  position: relative;
  margin-top: 18px;
}
.b5-icon {
  position: absolute;
  top: 0;
  left: 10px;
}
.b2-iconos {
  display: block;
  text-align: center;
  margin-top: 30px;
}
.b2-iconos:first-child {
  margin-top: 0;
}
.b2-iconos span {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 19px;
}
.b5-fb,
.b5-nove,
.b5-noveimg,
.b5-novetxt {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #5d5d5d;
}
.b5-noveimg,
.b5-novetxt {
  vertical-align: middle;
}
.b5-fb {
  width: 33.59375%;
  margin-right: 1.9%;
}
.b5-nove {
  width: 64%;
}
.b5-novea,
.b5-noveb {
  display: block;
}
.b5-novea {
  margin-top: 22px;
}
.b5-noveimg {
  width: 51.68%;
  max-width: 340px;
  position: relative;
}
.b5-noveimg img {
  width: 100%;
}
.b5-novetxt {
  width: 44%;
  margin-left: 3%;
}
.b5-novetxt p {
  max-height: 90px;
  overflow: hidden;
  font-family: 'robotoregular', sans-serif;
  font-size: 15px;
}
.b5-novetxt h4 {
  font-family: 'robotoregular', sans-serif;
  font-size: 22px;
  min-height: 25px;
  overflow: hidden;
  color: #1174ce;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .b5-fb {
    max-width: none;
    width: auto;
    display: block;
    margin-right: 0;
  }
  .b5-imagen,
  .b5-icon {
    display: inline-block;
    vertical-align: middle;
  }
  .b5-content {
    text-align: center;
  }
  .b5-imagen {
    width: 100%;
    max-width: 245px;
    margin-left: 0;
    margin-left: 50px;
  }
  .b5-icon {
    position: static;
  }
  .b5-title {
    text-align: left;
  }
  .b5-nove {
    width: auto;
    display: block;
    margin-top: 20px;
  }
  .b5-fb,
  .b5-nove,
  .b5-noveimg,
  .b5-novetxt {
    display: block;
  }
  .b5-noveimg,
  .b5-novetxt {
    width: auto;
    max-width: none;
  }
  .b5-novetxt {
    margin-left: 0;
    margin-top: 10px;
  }
  .b5-novetxt h4 {
    min-height: 45px;
    font-size: 18px;
  }
  .b5-novea,
  .b5-noveb {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
  .b5-novea {
    margin-top: 0;
    margin-left: 2%;
  }
  .b5-nove {
    font-size: 0;
  }
  .b5 .bx-controls .bx-pager {
    max-width: none;
    text-align: right;
  }
}
@media screen and (max-width: 480px) {
  .b5-novea,
  .b5-noveb {
    width: auto;
    display: block;
  }
  .b5-novea {
    margin-left: 0;
    margin-top: 30px;
  }
  .b5-imagen {
    margin-left: 10px;
  }
  .b5-imagen {
    max-width: 235px;
  }
}
