.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.cnt-b6-b7 {
  max-width: 1300px;
  width: 94%;
  margin: auto;
  padding-bottom: 30px;
}
.b6-left {
  max-width: 300px;
  float: left;
  position: relative;
  z-index: 2;
}
.b6-left .g-televentas {
  margin-right: 0;
  width: 100%;
}
.b6-left .g-tl-cont {
  border-width: 2px;
}
.b6-left .g-tl-cont:before {
  height: 70px;
  font-size: 70px;
  top: 30px;
}
.b6-left .g-tl-cont:after {
  height: 27px;
}
.b6-left .g-tl-cont .g-tl-ContIn h5 {
  font-size: 15px;
  font-weight: normal;
}
.b6-left .g-tl-cont .g-tl-ContIn p {
  font-size: 19px;
}
.b6-left .delivery {
  display: block;
  text-align: right;
  padding-top: 5px;
  padding-right: 10px;
  font-size: 14px;
}
.b6-left .w-menulateral {
  padding-bottom: 20px;
  border-bottom: 1px solid #9e9e9e;
  margin-bottom: 20px;
}
.cnt-b7 {
  float: right;
  width: 100%;
  margin-left: -300px;
}
.cnt-b7 .b7 {
  padding-left: 15px;
  margin-left: 300px;
}
.b6-title {
  font-size: 19px;
  font-family: 'robotobold', sans-serif;
  color: #1174ce;
  font-weight: normal;
  line-height: 100%;
}
.w-itemcategoria {
  display: block;
  height: 30px;
  display: table-cell;
  width: 2000px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
  padding-right: 30px;
  padding-left: 35px;
  color: #808080;
  font-family: 'robotobold', sans-serif;
  position: relative;
  font-weight: bold;
}
.w-itemcategoria:after {
  content: "\e903";
  font-family: 'icomoon';
  font-size: 10px;
  width: 14px;
  height: 10px;
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  -ms-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.w-itemcategoria:hover,
.w-itemcategoria.active {
  color: #e5356c;
  background: #fff;
  background: gradient(left top, right top, color-stop(0%, #fff), color-stop(19%, #efeff0), color-stop(100%, #e9e9ea));
  background: -webkit-linear-gradient(left, #fff 0%, #efeff0 19%, #e9e9ea 100%);
  background: -moz-linear-gradient(left, #fff 0%, #efeff0 19%, #e9e9ea 100%);
  background: -o-linear-gradient(left, #fff 0%, #efeff0 19%, #e9e9ea 100%);
  background: -ms-linear-gradient(left, #fff 0%, #efeff0 19%, #e9e9ea 100%);
  background: linear-gradient(to right, #fff 0%, #efeff0 19%, #e9e9ea 100%);
  background: -webkit-linear-gradient(left, #fff 0%, #efeff0 19%, #e9e9ea 100%);
  background: -moz-linear-gradient(left, #fff 0%, #efeff0 19%, #e9e9ea 100%);
  background: -o-linear-gradient(left, #fff 0%, #efeff0 19%, #e9e9ea 100%);
  background: -ms-linear-gradient(left, #fff 0%, #efeff0 19%, #e9e9ea 100%);
  background: linear-gradient(to right, #fff 0%, #efeff0 19%, #e9e9ea 100%);
}
.w-itemcategoria.active:after {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.w-subcategoria {
  display: none;
}
.w-subcategoria a {
  font-size: 15px;
  color: #808080;
  line-height: 100%;
  padding: 4px 0;
  padding-left: 20%;
  font-family: 'robotoregular', sans-serif;
  display: block;
}
.w-subcategoria a:hover,
.w-subcategoria a.active {
  color: #1174ce;
  font-family: 'robotobold', sans-serif;
}
.b6-precio {
  text-align: center;
  font-size: 0;
}
.b6-precio input {
  width: auto;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  width: 30%;
}
.b6-precio span {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  color: #808080;
  width: 30%;
}
.b6-slide-range {
  padding: 20px 0;
}
.b6-filtros {
  padding: 20px 0;
  border-bottom: 1px solid #9e9e9e;
}
.b6-filtros li {
  position: relative;
  padding-left: 30px;
  margin-top: 10px;
}
.b6-filtros li:first-child {
  margin-top: 0;
}
.b6-filtros i {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #ccc;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.b6-filtros i:before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #e4356c;
  visibility: hidden;
}
.b6-filtros label {
  line-height: 100%;
  font-size: 15px;
  color: #808080;
  font-family: 'robotoregular', sans-serif;
}
.b6-filtros input[type="checkbox"] {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: absolute;
  left: 0;
  top: 0;
}
.b6-filtros input[type="checkbox"]:checked + i {
  border-color: #e4356c;
}
.b6-filtros input[type="checkbox"]:checked + i:before {
  visibility: visible;
}
.b6-popup {
  background: #fff;
  padding: 100px 0;
  text-align: center;
  max-width: 756px;
}
.b6-popup-title {
  font-family: 'robotomedium', sans-serif;
  color: #1174ce;
  font-size: 35px;
  margin-bottom: 25px;
}
.b6-valoracion {
  margin-bottom: 50px;
}
.b6-valoracion a {
  display: inline-block;
  font-size: 35px;
  position: relative;
  color: #24bc9f;
  margin: 0 3px;
}
.b6-valoracion a:before,
.b6-valoracion a:after {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b6-valoracion a.active:before,
.b6-valoracion a:hover:before {
  display: none;
}
.b6-valoracion a.active:after,
.b6-valoracion a:hover:after {
  content: "\e90e";
  font-family: 'icomoon';
  font-size: 35px;
}
@media screen and (max-width: 768px) {
  .cnt-b6-b7 {
    width: auto;
  }
}
