.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.productos .menu-mobile-open.scrolling {
  top: 41px;
}
.productos .header .categorias-responsive {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.productos .header .categorias-responsive.scrolling {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 100;
}
.productos .header .categorias-responsive.active {
  pointer-events: none;
  left: 300px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
}
.productos .header .categorias-responsive .submenu-responsive {
  display: none !important;
}
.cnt-b6-b7 {
  position: relative;
  padding-top: 35px;
}
.b7-no-encontrado h3 {
  font-family: 'robotomedium', sans-serif;
  font-size: 35px;
  color: #1174ce;
}
.b7-no-encontrado p {
  font-size: 15px;
}
.b7 {
  font-size: 0;
}
.b7-detalleproducto {
  padding-top: 20px;
}
.b7-item {
  width: 33.33333333333333%;
  display: inline-block;
  margin-bottom: 30px;
  vertical-align: top;
}
@media screen and (min-width: 1024px) {
  .b7-item {
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    -moz-transform: matrix(1, 0, 0, 1, 0, 0);
    -o-transform: matrix(1, 0, 0, 1, 0, 0);
    -ms-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
  }
  .b7-item:hover .b7-wrapper {
    -webkit-transform: matrix(1.05, 0, 0, 1.05, 0, 0);
    -moz-transform: matrix(1.05, 0, 0, 1.05, 0, 0);
    -o-transform: matrix(1.05, 0, 0, 1.05, 0, 0);
    -ms-transform: matrix(1.05, 0, 0, 1.05, 0, 0);
    transform: matrix(1.05, 0, 0, 1.05, 0, 0);
    -webkit-box-shadow: 4px 6px 12px -3px rgba(0,0,0,0.44);
    box-shadow: 4px 6px 12px -3px rgba(0,0,0,0.44);
  }
  .b7-item:hover .b7-over {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -o-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
.b7-wrapper {
  max-width: 308px;
  margin: auto;
  padding-top: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background-color: #fff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  -webkit-box-shadow: 2px 3px 12px -3px rgba(0,0,0,0.44);
  box-shadow: 2px 3px 12px -3px rgba(0,0,0,0.44);
}
.b7-img {
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  max-width: 286px;
  height: 205px;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;
}
.b7-img img {
  max-width: 100%;
  height: auto;
}
.b7-over {
  background-color: rgba(61,191,153,0.75);
  padding: 7px 15px;
  width: 150px;
  height: 30px;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  line-height: 30px;
  font-size: 20px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -ms-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -o-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  transform: translateX(-40px);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.b7-des h1 {
  font-family: 'robotobold', sans-serif;
  font-size: 14px;
  color: #262626;
  height: 40px;
  padding: 0 6px;
}
.b7-des h1:hover {
  color: #1174ce;
}
.b7-des p {
  font-family: 'robotoregular', sans-serif;
  color: #6e6e6e;
  font-size: 14px;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 6px;
}
.b7-des-precio {
  background: #f2f2f2;
  display: block;
  font-family: 'robotobold', sans-serif;
  font-size: 16px;
  padding: 8px 15px;
  position: relative;
  top: 0;
  bottom: 0;
}
.b7-des-precio del {
  position: absolute;
  color: #9d9d9d;
  font-family: 'robotolight', sans-serif;
  right: 0;
  padding-right: 6px;
}
.b7-triangle {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  z-index: 1;
  width: 60px;
  text-align: right;
  padding-right: 4px;
  padding-top: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.b7-triangle em {
  position: relative;
}
.nuevo.b7-triangle::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 70px solid #016b9e;
  border-left: 70px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.oferta.b7-triangle::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 70px solid #d13267;
  border-left: 70px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.descuento.b7-triangle::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 70px solid #d13267;
  border-left: 70px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
}
.nuevo em {
  color: #fff;
  font-family: 'robotoregular', sans-serif;
  font-size: 12px;
  display: block;
}
.oferta {
  padding-top: 10px;
}
.oferta em {
  color: #fff;
  font-family: 'robotoregular', sans-serif;
  display: block;
  font-size: 14px;
}
.descuento {
  padding-top: 10px;
}
.descuento em:first-child {
  color: #fff;
  font-family: 'robotoregular', sans-serif;
  font-size: 13px;
  display: block;
}
.descuento em {
  color: #ffd74e;
  font-size: 11px;
  line-height: 100%;
}
.b6-catego {
  text-align: center;
  padding: 20px 0;
}
.b6-close {
  padding: 10px 0;
  text-align: right;
  font-size: 35px;
  color: #000;
  display: none;
}
.b7-relacionados {
  margin-top: 35px;
}
.b7-relaciontitle {
  border-top: 1px solid #808080;
  padding-top: 20px;
  line-height: 100%;
  font-size: 19px;
  color: #1174ce;
  margin-bottom: 20px;
  font-family: 'robotobold', sans-serif;
}
@media screen and (max-width: 1100px) {
  .b7-item {
    width: 44%;
  }
}
@media screen and (max-width: 960px) {
  .b6-close {
    display: block;
  }
  .b7-item {
    width: 31.33%;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .b6-left {
    position: fixed;
    float: none;
    left: 0;
    width: 100%;
    top: 0;
    height: 100%;
    overflow: auto;
    -webkit-transform: translateX(-102%);
    -moz-transform: translateX(-102%);
    -o-transform: translateX(-102%);
    -ms-transform: translateX(-102%);
    transform: translateX(-102%);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    padding-left: 15px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    border-right: 1px solid #e8f1f9;
  }
  .b6-left.active {
    z-index: 1011;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .cnt-b7 {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  .cnt-b7.active {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    -ms-transform: translateX(300px);
    transform: translateX(300px);
    pointer-events: none;
    opacity: 0.5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
  }
  .cnt-b7 {
    float: none;
    margin-left: 0;
    padding-left: 0;
  }
  .cnt-b7 .b7 {
    margin-left: 0;
    padding-left: 0;
  }
  .b7-wrapper {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .b7-detalleproducto {
    padding-top: 0;
  }
  .b7-item {
    width: 48%;
  }
  .cnt-b6-b7 {
    padding-top: 20px;
  }
  .cnt-b7 .b7 {
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .b7-item {
    width: 90%;
    margin: auto;
    margin-bottom: 4%;
  }
  .b7-wrapper {
    margin-left: auto;
  }
}
