.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b8 {
  padding-top: 20px;
}
.b8-contenedor {
  background: #f4f4f4;
  padding-top: 55px;
  padding-left: 0;
  padding-bottom: 35px;
  padding-right: 0;
}
.b8-wrapbarra {
  border-bottom: 1px solid #808080;
}
.b8-barra {
  max-width: 550px;
  padding-left: 25px;
  position: relative;
  display: block;
  font-size: 0;
  margin: 0;
}
.b8-barra li {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 33%;
  text-align: center;
}
.b8-barra li a {
  height: 60px;
  display: table-cell;
  width: 2000px;
  vertical-align: middle;
  font-size: 19px;
  line-height: 18px;
}
.b8-barra li:after {
  content: "";
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 0;
  position: absolute;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #007bff transparent;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -o-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.b8-barra li:first-child {
  text-align: left;
}
.b8-barra li:first-child:after {
  left: -40px;
}
.b8-barra li:hover,
.b8-barra li.active {
  color: #007bff;
}
.b8-barra li:hover a,
.b8-barra li.active a {
  font-family: 'robotobold', sans-serif;
}
.b8-barra li:hover:after,
.b8-barra li.active:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.b8-redessociales {
  margin-top: 34px;
}
.b8-texto {
  margin-top: 30px;
  color: #4d4d4d;
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
.b8-texto ul {
  margin-bottom: 15px;
}
.b8-texto li {
  position: relative;
  padding-left: 15px;
  line-height: 1.5;
}
.b8-texto li:before {
  content: "\e905";
  font-family: 'icomoon';
  font-size: 10px;
  position: absolute;
  color: #24bc9f;
  top: 5px;
  left: 0px;
}
.b8-texto strong {
  font-family: 'robotobold', sans-serif;
  font-weight: normal;
  font-size: 15px;
}
.b8-itemtab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  visibility: hidden;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.b8-itemtab.active {
  position: relative;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: visible;
}
.b8-itemtab p {
  padding-left: 6px;
}
.b8-redessociales {
  text-align: left;
}
.b8-recoment {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6%;
  font-family: 'robotobold', sans-serif;
  width: 23.8%;
  text-align: left;
}
.b8-recoment h3,
.b8-recoment h2 {
  font-weight: normal;
  margin: 0;
  font-size: 19px;
}
.b8-recoment h3 {
  color: #1174ce;
}
.b8-recoment h2 {
  color: #24bc9f;
  margin-top: 10px;
}
.b8-redes {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  font-size: 0;
}
.b8-ico {
  font-size: 26px;
  color: #5d5d5d;
  background: #f4f4f4;
  display: inline-block;
  vertical-align: top;
  margin-left: 2%;
  width: 32%;
  line-height: 63px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.b8-ico:first-child {
  margin-left: 0;
}
.b8-ico:before {
  display: block;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  transition: all 400ms ease;
}
.b8-ico:hover {
  color: #fff;
}
.b8-ico:hover:before {
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition-delay: 70ms;
  -moz-transition-delay: 70ms;
  -o-transition-delay: 70ms;
  -ms-transition-delay: 70ms;
  transition-delay: 70ms;
}
.b8-ico:hover .b8-red {
  -webkit-transform: translate(0%, 0%);
  -moz-transform: translate(0%, 0%);
  -o-transform: translate(0%, 0%);
  -ms-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -webkit-border-radius: 0%;
  border-radius: 0%;
}
.b8-ico:hover .b8-red span {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.b8-red {
  background: #1174ce;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -webkit-transition: all 300ms ease 70ms;
  -moz-transition: all 300ms ease 70ms;
  -o-transition: all 300ms ease 70ms;
  -ms-transition: all 300ms ease 70ms;
  transition: all 300ms ease 70ms;
  -webkit-transform: translate(-100%, 100%);
  -moz-transform: translate(-100%, 100%);
  -o-transform: translate(-100%, 100%);
  -ms-transform: translate(-100%, 100%);
  transform: translate(-100%, 100%);
  color: #fff;
  font-family: 'robotobold', sans-serif;
  font-size: 16px;
}
.b8-red span {
  display: block;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 300ms ease 400ms;
  -moz-transition: all 300ms ease 400ms;
  -o-transition: all 300ms ease 400ms;
  -ms-transition: all 300ms ease 400ms;
  transition: all 300ms ease 400ms;
}
@media screen and (max-width: 1120px) {
  .b8-contenedor {
    padding-top: 20px;
  }
  .b8 .wancho {
    width: auto;
  }
  .b8-contenedor {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .b8-barra {
    max-width: none;
  }
  .b8-barra li {
    width: 33.33%;
  }
  .b8-barra li:first-child {
    text-align: center;
  }
  .b8-barra li:first-child:after {
    left: 0;
  }
  .b8-texto {
    text-align: left;
  }
}
@media screen and (max-width: 640px) {
  .b8-redessociales {
    text-align: center;
  }
  .b8-recoment {
    width: auto;
    display: block;
    margin: 0;
    text-align: center;
  }
  .b8-redes {
    width: auto;
    display: block;
    margin-top: 10px;
  }
}
@media screen and (max-width: 480px) {
  .b8-barra li a {
    font-size: 14px;
    letter-spacing: -1px;
  }
  .b8-contenedor {
    padding-top: 0;
  }
}
