.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.b9-wrap {
  max-width: 762px;
  height: auto;
}
.b9-left {
  width: 50%;
  vertical-align: top;
  display: inline-block;
}
.b9-left img {
  max-width: 100%;
  display: block;
  height: auto;
  padding-top: 31.5%;
}
.b9-rigth {
  width: 49%;
  vertical-align: top;
  background-color: #fafafa;
  display: inline-block;
  padding-bottom: 70px;
  padding-top: 100px;
}
.b9-rigth h2 {
  font-family: 'robotomedium', sans-serif;
  font-size: 35px;
  color: #1174ce;
  padding-left: 20px;
}
.b9-rigth span {
  font-family: 'robotobold_italic', sans-serif;
  font-size: 35px;
  color: #24bc9f;
  padding-left: 20px;
}
.b9-rigth p {
  font-family: 'robotoregular', sans-serif;
  font-size: 16px;
  color: #4d4d4d;
  padding-top: 20px;
  padding-left: 20px;
}
.b9-cuadro {
  position: relative;
  padding-top: 39px;
  padding-left: 20px;
}
.b9-cuadro select {
  width: 91px;
  height: 30px;
  color: #808080;
  margin-top: 10px;
  position: relative;
}
.icon-flechaabajo-01 {
  font-size: 10px;
  color: #1174ce;
  position: absolute;
  bottom: 15%;
  left: 25%;
}
button {
  border: none;
  color: #fff;
  background: none;
  background-color: #e5356c;
  padding: 8px 14px 8px 14px;
  margin-left: 25px;
}
.b9-dormitorio {
  padding-top: 24px;
  padding-left: 20px;
}
.b9-dormitorio strong {
  font-family: 'robotobold_italic', sans-serif;
  font-size: 15px;
  color: #808080;
}
@media screen and (max-width: 460px) {
  .b9-left {
    width: 100%;
  }
  .b9-left img {
    padding-top: 5%;
  }
  .b9-rigth {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .b9-rigth h2 {
    font-size: 20px;
  }
  .b9-rigth span {
    font-size: 25px;
  }
  .b9-rigth p {
    font-size: 13px;
    padding-top: 10px;
  }
  .b9-cuadro {
    padding-top: 0;
  }
  .icon-flechaabajo-01 {
    bottom: 28%;
    left: 93px;
  }
  .b9-dormitorio {
    padding-top: 10px;
  }
}
