.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.footer {
  padding-top: 40px;
  background: #f1f1f1;
}
.footer .wancho {
  max-width: 960px;
  text-align: center;
  font-size: 0;
}
.footer-item {
  font-size: 0;
  position: relative;
  margin-bottom: 8px;
}
.footer-item:before {
  content: "";
  position: absolute;
  right: 0;
  height: 72px;
  width: 1px;
  background: #ccc;
  top: 0;
}
.footer-item:last-child:before {
  display: none;
}
.footer-item a {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Arial', sans-serif;
  font-size: 17px;
  margin-bottom: 20px;
  position: relative;
  color: #808080;
  text-align: center;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-item a:before {
  content: "";
  position: absolute;
  right: 0;
  height: 15px;
  width: 1px;
  background: #ccc;
  top: 0;
  bottom: 0;
  margin: auto;
}
.footer-item a:hover {
  color: #1174ce;
}
.footer-item a:first-child {
  padding-left: 0;
}
.footer-item a:last-child:before {
  display: none;
}
.footer-item .libro {
  text-align: left;
}
.footer-item .libro span {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-item .libro span:hover {
  color: #1174ce;
}
.footer-item span {
  color: #ccc;
  font-size: 25px;
  position: absolute;
  top: -10px;
  right: 40px;
}
.footer-left,
.footer-servicio,
.footer-right {
  display: inline-block;
  vertical-align: top;
}
.footer-left {
  text-align: left;
}
.footer-right {
  padding-left: 70px;
}
.footer-servicio {
  padding-left: 30px;
  color: #808080;
  position: relative;
  width: 160px;
  text-align: left;
}
.footer-servicio .footer-servicios.active .footer-servicios {
  display: block;
}
.footer-servicio:before {
  content: "\e912";
  font-family: 'icomoon';
  position: absolute;
  top: 8px;
  right: -5px;
  bottom: 0;
  margin: auto;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.footer-servicio p {
  margin-bottom: 5px;
  margin-top: -3px;
  font-size: 17px;
  font-family: 'Arial', sans-serif;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-servicio p:hover {
  color: #1174ce;
}
.footer-servicio a {
  display: block;
  padding-left: 10px;
  position: relative;
  font-size: 14px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.footer-servicio a:hover {
  color: #1174ce;
}
.footer-servicio a:before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #808080;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.footer-img {
  display: block;
  margin-bottom: 10px;
}
.footer-img img {
  width: 100%;
  height: auto;
  display: block;
}
.footer-suscribe-verde {
  height: 35px;
  background: #24bc9f;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  text-align: center;
}
.footer-suscribe-verde.active {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.footer-suscribe-verde span {
  color: #fff;
  font-size: 20px;
}
.footer-boletin {
  background: #24bc9f;
  text-align: center;
  position: relative;
}
.footer-boletin.active {
  display: none;
}
.footer-boletin .icono {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}
.footer-boletin .wancho {
  position: relative;
}
.footer-boletin .footer-img2 {
  position: absolute;
  top: -98px;
  left: -230px;
}
.footer-boletin .footer-img2 display block {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}
.footer-boletin p {
  font-size: 35px;
  display: inline-block;
  vertical-align: middle;
  font-family: 'robotolight', sans-serif;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 35px;
  line-height: 1;
  text-align: left;
}
.footer-boletin strong {
  font-size: 30px;
  font-family: 'robotomedium', sans-serif;
  font-weight: 100;
}
.footer-boletin .footer-form {
  display: inline-block;
  vertical-align: middle;
  font-family: 'robotomedium', sans-serif;
}
.footer-boletin .footer-form .footer-input {
  display: inline-block;
  vertical-align: middle;
  width: 290px;
}
.footer-boletin .footer-form .footer-input input {
  width: 100%;
  background: #fff;
  padding-left: 10px;
  height: 45px;
}
.footer-boletin .footer-form .footer-send {
  z-index: 2;
  position: relative;
}
.footer-boletin .footer-form .footer-send span {
  position: relative;
  top: 2px;
}
.footer-boletin .footer-form button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0;
  font-size: 30px;
  background: #1174ce;
  margin-left: -5px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 57px;
}
.footer-copy {
  overflow: hidden;
  font-size: 13px;
  height: 32px;
}
.footer-copy .wancho {
  overflow: hidden;
  margin-top: 9px;
}
.footer-copy-left {
  float: left;
}
.footer-copy-left p {
  margin: 0;
}
.footer-copy-right {
  float: right;
  font-size: 13px;
}
.staffcreativa {
  position: relative;
  padding-right: 0.45em;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  font-family: 'arial';
}
.staffcreativa:after {
  content: '\e60e';
  font-family: 'icomoon';
  font-size: 0.7em;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  position: absolute;
  right: 0;
  speak: none;
  text-transform: none;
  top: 0.1em;
}
.link-staff {
  color: #808080;
}
.link-staff:hover .staffcreativa {
  color: #000;
}
@media screen and (max-width: 1400px) {
  .footer-boletin .footer-img {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .footer-img2 {
    display: none;
  }
}
@media screen and (max-width: 1018px) {
  .footer-servicio {
    display: none;
  }
  .menu-sidebar .footer-servicio {
    display: block;
  }
  .menu-sidebar .footer-servicios a {
    padding: 5px 6px;
  }
  .footer-left {
    display: block;
    text-align: center;
  }
  .footer .footer-item a {
    width: 260px;
    padding-left: 50px;
  }
  .footer .footer-item:before {
    display: none;
  }
  .footer .footer-item a:before {
    display: none;
  }
  .footer .dn {
    display: none;
  }
  .menu-sidebar-cnt .header-redes {
    position: inherit;
    width: 100%;
    height: auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
  }
  .menu-sidebar-cnt .header-redes a {
    display: inline-block;
  }
}
@media screen and (max-width: 980px) {
  .footer-right {
    padding-left: 50px;
  }
}
@media screen and (max-width: 960px) {
  .footer .wancho {
    text-align: center;
  }
  .footer-item a {
    text-align: left;
  }
  .footer-right {
    padding-left: 0;
    width: 313px;
    margin: auto;
    text-align: center;
    margin-top: 10px;
  }
  .footer-copy-right {
    float: none;
    margin-bottom: 20px;
  }
  .footer-left {
    width: 100%;
    text-align: center;
  }
  .footer-item:before {
    display: none;
  }
  .footer-servicio {
    margin-bottom: 20px;
    text-align: left;
    padding-left: 15px;
  }
  .footer-form {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 620px) {
  .footer-copy {
    height: auto;
    text-align: center;
    font-size: 12px;
    margin: auto;
    padding: 8px 0 12px;
  }
  .footer-copy-left {
    float: none;
  }
  .footer-copy-right {
    float: none;
  }
}
@media screen and (max-width: 500px) {
  .footer {
    padding-top: 30px;
  }
  .footer-boletin .footer-form .footer-input {
    width: 220px;
  }
  .footer-item a {
    display: block;
    padding: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  .footer-item span {
    right: 20px;
  }
  .footer-item a:before {
    display: none;
  }
  .footer-servicio {
    padding-left: 0;
  }
  .footer-boletin p {
    margin-right: 0;
    font-size: 25px;
  }
  .footer-boletin strong {
    font-size: 18px;
  }
  .footer-right {
    width: 295px;
  }
}
