.cf {
  zoom: 1;
}
.cf:after,
.cf:before {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.dtable {
  display: table;
  width: 100%;
  height: 100%;
}
.dtable .dcell {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: table-cell;
}
@-moz-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes parpadeo {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes canchita {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.header-form-content {
  background: #fff;
  padding-top: 23px;
  position: relative;
  display: none;
  z-index: 1;
  text-align: center;
}
.header-form-content.active {
  display: block;
}
.header-form-content .header-input {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  font-size: 18px;
  font-family: 'robotoregular', sans-serif;
  text-transform: uppercase;
/* WebKit */
/* Firefox 18- */
/* Firefox 19+ */
/* IE 10+ */
  margin: 0;
}
.header-form-content .header-input ::-webkit-input-placeholder {
  color: #a1a1ac;
  font-family: 'robotomedium', sans-serif;
}
.header-form-content .header-input :-moz-placeholder {
  color: #a1a1ac;
  font-family: 'robotomedium', sans-serif;
}
.header-form-content .header-input ::-moz-placeholder {
  color: #a1a1ac;
  font-family: 'robotomedium', sans-serif;
}
.header-form-content .header-input :-ms-input-placeholder {
  color: #a1a1ac;
  font-family: 'robotomedium', sans-serif;
}
.header-form-content .header-input input {
  width: 97%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000;
  height: auto;
}
.header-form-content button {
  display: inline-block;
  vertical-align: middle;
  width: 16%;
  font-size: 16px;
}
.icono-imagen-nav {
  width: 30px;
  height: 26px;
  background-position: top left;
}
.icono-imagen-nav:hover {
  background-position: bottom left;
}
.header .header-form {
  padding-right: 34px;
}
.header .header-form .header-icon {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}
.header .header-form .header-icon:after {
  content: "\e900";
  font-family: 'icomoon';
  font-size: 25px;
  position: absolute;
  top: -4px;
  right: 0;
  color: #a1a1ac;
  display: inline-block;
  vertical-align: middle;
}
.header .header-form.active .header-icon {
  top: -4px;
}
.header .header-form.active .header-icon:after {
  content: "\e904";
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  top: -16px;
  right: -10px;
  padding: 5px;
  font-size: 21px;
}
.header .header-ctn {
  margin-top: 25px;
  margin-bottom: 10px;
  position: relative;
}
.header .header-ctn .wancho {
  max-width: 1026px;
}
.header .header-logo {
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}
.header .header-logo img {
  display: block;
}
.header .categorias-responsive {
  display: none;
  vertical-align: middle;
}
.header .categorias-responsive .submenu-responsive {
  position: relative;
  z-index: 99;
  display: none;
  background: #f9f7f5;
  width: 100%;
  top: 100%;
  padding: 10px 0;
}
.header .categorias-responsive .submenu-item {
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 7px 0;
  width: 250px;
}
.header .categorias-responsive .submenu-item:last-child {
  border: none;
}
.header .menu {
  display: inline-block;
  vertical-align: middle;
  float: right;
}
.header .menu-item,
.header .header-caja {
  display: inline-block;
  margin-right: 40px;
  font-size: 0;
}
.header .menu-item:last-child,
.header .header-caja:last-child {
  margin-right: 0;
}
.header .menu-item {
  position: relative;
}
.header .menu-item .carrito-detalle {
  width: 389px;
  position: absolute;
  top: 52px;
  left: -190px;
  z-index: 99;
  background: #fafafa;
  text-align: center;
  -webkit-box-shadow: 10px 10px 9px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 9px -9px rgba(0,0,0,0.75);
  display: none;
}
.header .menu-item .carrito-detalle.active {
  display: block;
}
.header .menu-item .carrito-detalle p {
  margin-bottom: 0;
}
.header .menu-item .carrito-detalle:before {
  content: "";
  position: absolute;
  top: -13px;
  left: 0;
  right: 0;
  margin: auto;
  background: url("../img/carrito-adorno.png") center center no-repeat;
  width: 26px;
  height: 13px;
}
.header .menu-item .carrito-item {
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  font-size: 0;
}
.header .menu-item .carrito-item span {
  position: absolute;
  right: 10px;
  t: 0;
  font-size: 20px;
  color: #c2c2c2;
}
.header .menu-item .carrito-img {
  max-width: 130px;
  display: inline-block;
  vertical-align: top;
  background: #fff;
}
.header .menu-item .carrito-img img {
  width: 100%;
  height: auto;
  display: block;
}
.header .menu-item .carrito-texto {
  display: inline-block;
  vertical-align: top;
  max-width: 180px;
  text-align: left;
  padding-left: 15px;
}
.header .menu-item .carrito-texto h4 {
  font-family: 'robotoregular', sans-serif;
  font-size: 16px;
  color: #1174ce;
  margin-bottom: 8px;
}
.header .menu-item .carrito-texto h3 {
  font-family: 'robotolight', sans-serif;
  font-size: 16px;
  color: #24bc9f;
  margin-bottom: 5px;
}
.header .menu-item .carrito-texto p {
  font-family: 'robotobold', sans-serif;
  font-size: 15px;
  color: #808080;
}
.header .menu-item .carrito-precio {
  padding: 13px 20px;
  padding-bottom: 23px;
  text-align: center;
}
.header .menu-item .label-total {
  color: #1174ce;
  font-family: 'robotoregular', sans-serif;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}
.header .menu-item .total {
  font-size: 16px;
  font-family: 'robotobold', sans-serif;
  color: #24bc9f;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
}
.header .menu-item .bt {
  margin: 0 22px;
  margin-bottom: 40px;
}
.header .menu-link {
  display: inline-block;
  font-size: 14px;
  text-align: left;
  font-family: 'Arial', sans-serif;
  color: #5d5d5d;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header .menu-link .icon-hombre-01 {
  margin-left: 10px;
}
.header .menu-link:hover {
  color: #1174ce;
}
.header .menu-link:hover span,
.header .menu-link:hover .header-icon:after {
  color: #1174ce;
}
.header .menu-link span,
.header .menu-link .menu-box {
  display: inline-block;
  vertical-align: middle;
}
.header .menu-link span {
  font-size: 45px;
  color: #808080;
}
.header .menu-link .menu-box {
  text-align: left;
  padding-left: 5px;
}
.header .menu-link .menu-box .menu-text {
  font-size: 13px;
  margin-bottom: 0;
}
.header .menu-link .menu-box a {
  font-size: 15px;
  font-family: 'robotobold', sans-serif;
  color: #1174ce;
  display: block;
  line-height: 1.1;
}
.header .menu-link .menu-title {
  font-size: 14px;
  font-family: 'robotobold', sans-serif;
  color: #24bc9f;
  line-height: 1;
  margin-bottom: 0;
}
.header .menu-link .menu-text {
  color: #5d5d5d;
}
.header .menu-link .cgray {
  color: #a1a1a1;
  font-size: 25px;
  margin-top: -5px;
}
.header .adorno {
  position: relative;
  display: inline-block;
}
.header .adorno:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12px;
  margin: auto;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #a1a1a1;
}
.header .sesion .caja-sesion {
  display: none;
  position: absolute;
  top: 52px;
  left: -10px;
  background: #fff;
  padding: 10px;
  z-index: 99;
  -webkit-box-shadow: 10px 10px 9px -9px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 9px -9px rgba(0,0,0,0.75);
  width: 160px;
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #5d5d5d;
}
.header .sesion .caja-sesion:before {
  content: "";
  position: absolute;
  top: -13px;
  left: 20px;
  margin: auto;
  background: url("../img/carrito-adorno.png") center center no-repeat;
  width: 26px;
  height: 13px;
}
.header .sesion .caja-sesion.active {
  display: block;
}
.header .sesion div {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  padding-left: 25px;
}
.header .sesion div:last-child {
  border-bottom: none;
}
.header .mr20 {
  margin-right: 40px;
}
.header .submenu {
  background: #f5f5f5;
  position: relative;
  text-align: center;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.header .submenu .wancho {
  max-width: 1026px;
}
.header .submenu-item {
  display: inline-block;
  vertical-align: middle;
  width: 152px;
  border-left: 1px solid #ccc;
}
.header .submenu-item:hover p {
  color: #2a569f;
}
.header .submenu-item:hover span {
  color: #24bc9f;
  background-position: bottom left;
}
.header .submenu-item span,
.header .submenu-item p {
  display: inline-block;
  vertical-align: middle;
  color: #808080;
}
.header .submenu-item p {
  margin-bottom: 0;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
  font-size: 15px;
  font-family: 'Arial', sans-serif;
}
.header .submenu-item span {
  width: 30px;
  height: 26px;
  background-position: top left;
  background-repeat: no-repeat;
}
.header .submenu-item .submenu-p {
  font-family: 'robotobold', sans-serif;
  color: #999;
}
.header .submenu-item .submenu-p:hover {
  color: #2a569f;
}
.buscador-movil {
  display: none;
}
.responsive-logo {
  margin-top: 10px;
  width: 80%;
  display: block;
}
.responsive-logo img {
  display: block;
  width: 100%;
  height: auto;
}
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  cursor: pointer;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.menu-overlay.active {
  z-index: 1000;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.menu-mobile-close,
.menu-mobile-open {
  background-color: #1174ce;
  -webkit-border-radius: 7%;
  border-radius: 7%;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  height: 42px;
  line-height: 42px;
  position: fixed;
  right: 5px;
  text-align: center;
  top: 24px;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  transition: all 0.45s ease;
  width: 42px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}
.menu-mobile-open {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  visibility: hidden;
  z-index: 1002;
}
.menu-mobile-open.scrolling {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
.menu-mobile-open:hover {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.menu-mobile-open.active {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  right: 220px;
  z-index: 1000;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.menu-mobile-close {
  visibility: hidden;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  z-index: 1000;
  background: #fff;
  color: #1174ce;
}
.menu-mobile-close.active {
  visibility: visible;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  right: 235px;
  z-index: 1002;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.menu-sidebar {
  width: 0px;
  height: 100%;
  overflow: auto;
  position: fixed;
  top: 0;
  right: -200px;
  background: #fff;
  z-index: 1000;
  -webkit-transition: right 0.45s ease;
  -moz-transition: right 0.45s ease;
  -o-transition: right 0.45s ease;
  -ms-transition: right 0.45s ease;
  transition: right 0.45s ease;
}
.menu-sidebar.active {
  right: 0;
  width: 230px;
}
.menu-sidebar-cnt {
  padding: 0 20px;
}
.header-redes {
  position: fixed;
  top: 200px;
  right: 0;
  background: #1174ce;
  width: 60px;
  height: 150px;
  z-index: 999;
  padding-top: 10px;
  -webkit-border-radius: 8px 0 0 8px;
  border-radius: 8px 0 0 8px;
  margin-bottom: 20px;
}
.header-redes a {
  display: block;
  font-size: 30px;
  color: #1174ce;
  background: #fff;
  text-align: center;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 5px;
  line-height: 40px;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  transition: all 0.25s;
}
.header-redes a:hover {
  color: #24bc9f;
}
.cnt-wrapper,
.footer {
  position: relative;
  left: 0;
  -webkit-transition: left 0.45s ease;
  -moz-transition: left 0.45s ease;
  -o-transition: left 0.45s ease;
  -ms-transition: left 0.45s ease;
  transition: left 0.45s ease;
}
.cnt-wrapper.active,
.footer.active {
  left: -200px;
}
.wrapper {
  overflow: hidden;
}
body.active {
  overflow: hidden;
}
@media screen and (max-width: 1090px) {
  .header .menu-item .carrito-detalle {
    width: 370px;
    top: 45px;
  }
  .header .sesion-activa .caja-sesion {
    top: 45px;
  }
  .header .menu-item .carrito-detalle:before {
    left: 35px;
  }
  .header .submenu-item {
    width: 140px;
  }
}
@media screen and (max-width: 1018px) {
  .header .header-ctn {
    margin-top: 18px;
  }
  .header .menu-list {
    padding-right: 50px;
  }
  .header .menu-item-uno,
  .header .submenu {
    display: none;
  }
  .header .menu {
    padding-top: 16px;
  }
  .header .categorias-responsive {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background: #1174ce;
    color: #fff;
    text-align: center;
  }
  .header .categorias-responsive a {
    display: inline-block;
    padding: 7px 0;
  }
  .header .categorias-responsive span {
    margin-left: 1px;
    display: inline-block;
  }
  .header .submenu-item span {
    text-align: left;
  }
  .header .submenu-item p {
    width: 100px;
    text-align: left;
  }
  .header .sesion .caja-sesion {
    top: 45px;
  }
  .header .footer-left .dn {
    display: block;
  }
  .header .submenu-item .submenu-p {
    width: 140px;
  }
  .header-redes {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  .header-redes.menu-responsive {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  .dn {
    display: none;
  }
  .menu-mobile-open {
    visibility: visible;
  }
  .header .adorno:after {
    display: none;
  }
  .header .menu-link .icon-hombre-01 {
    margin-left: 0;
  }
  .header .mr20 {
    margin-right: 15px;
  }
  .header .menu-link:hover {
    color: #5d5d5d;
  }
  .header .menu-link:hover span,
  .header .menu-link:hover .header-icon:after {
    color: #a1a1ac;
  }
  .menu-responsive {
    padding-top: 20px;
    padding-left: 7px;
    position: relative;
  }
  .menu-responsive .menu-item {
    line-height: 1;
    font-size: 16px;
  }
  .menu-responsive .menu-item a {
    display: block;
  }
  .menu-responsive .menu-item a:hover,
  .menu-responsive .menu-item a.active {
    background-color: #fff;
    color: #fff;
  }
  .menu-responsive .footer-item {
    margin-bottom: 0;
  }
  .menu-responsive .footer-item .libro {
    display: none;
  }
  .menu-responsive .footer-item a {
    width: 90%;
    font-size: 15px;
    padding: 15px 0;
    margin: 0;
    border-bottom: 0.5px solid #e3dfdf;
    position: relative;
  }
  .menu-responsive .footer-item a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25px;
    height: 3px;
    background: #e3dfdf;
  }
  .menu-responsive .footer-item a:before {
    display: none;
  }
  .menu-responsive .footer-item span {
    display: none;
  }
  .menu-responsive .menu-link {
    display: inline-block;
    font-size: 14px;
    text-align: left;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
  }
  .menu-responsive .menu-box {
    text-align: left;
    margin-bottom: 10px;
  }
  .menu-responsive .menu-box .menu-text {
    font-size: 15px;
    margin-bottom: 3px;
  }
  .menu-responsive .menu-box a {
    font-size: 19px;
    font-family: 'robotobold', sans-serif;
    color: #1174ce;
    display: block;
  }
  .menu-responsive .menu-title {
    font-size: 18px;
    font-family: 'robotobold', sans-serif;
    color: #24bc9f;
    line-height: 1;
    margin-bottom: 3px;
  }
  .menu-responsive .cgray {
    color: #a1a1a1;
    font-size: 25px;
    margin-top: -5px;
    margin-left: 6px;
  }
  .menu-responsive .adorno {
    position: relative;
    display: inline-block;
  }
  .menu-responsive .adorno:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -12px;
    margin: auto;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #a1a1a1;
  }
  .menu-responsive .mr20 {
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .menu-responsive .submenu {
    padding: 10px 0;
    text-align: center;
  }
  .menu-responsive .submenu-item {
    display: block;
    margin-bottom: 10px;
  }
  .menu-responsive .submenu-item span,
  .menu-responsive .submenu-item p {
    display: inline-block;
    vertical-align: middle;
  }
  .menu-responsive .submenu-item p {
    margin-bottom: 0;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -o-transition: all 0.25s;
    -ms-transition: all 0.25s;
    transition: all 0.25s;
  }
  .menu-responsive .submenu-item p:hover {
    color: #2a569f;
  }
  .menu-responsive .submenu-item span:hover {
    color: #1174ce;
  }
}
@media screen and (max-width: 860px) {
  .header-form-content .header-input {
    width: 50%;
  }
  .header-form-content button {
    width: 100px;
  }
}
@media screen and (max-width: 768px) {
  .header-icon {
    color: #fff;
  }
  .header .header-form {
    padding: 0;
    cursor: pointer;
  }
  .header .menu-item .carrito-detalle {
    left: -230px;
  }
  .header .menu-item .carrito-detalle:before {
    left: 110px;
  }
}
@media screen and (max-width: 600px) {
  .header {
    padding-right: 0px;
  }
  .header .menu {
    padding-top: 5px;
  }
  .header .menu-item.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 60px;
  }
  .header .menu-item.menu-item-movil {
    position: absolute;
    right: 0;
  }
  .header-form-content {
    padding: 15px 0;
    margin-top: 10px;
    border-top: 0.5px solid #989292;
  }
  .header-form-content-box {
    display: none;
  }
  .header .menu {
    float: none;
    display: block;
    margin-top: 20px;
  }
  .buscador-movil {
    display: block;
  }
  .header-form-content .header-input {
    font-size: 14px;
  }
  .header-form-content button {
    width: 81px;
    font-size: 11px;
    padding: 0px 19px;
    height: 25px;
    line-height: 25px;
    margin-bottom: 6px;
  }
  .header .menu-item .carrito-detalle {
    display: none;
  }
  .menu-sidebar-cnt .footer-item a {
    text-align: left;
  }
}
