{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}

    {% if entities %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id = "downloadfile" href="{{ path('exportar-proyectotv') }}" target = "_blank">
                    <i class="fa fa-plus-circle"></i>
                    Exportar Contactos
                </a>
            </li>
        </ul>
        <script type="text/javascript">
            $('#downloadfile').on('click', function(e){
                e.preventDefault();
                window.open($(this).attr('href'), "_blank");
                return false;
            });
        </script>
    {% endif %}
{% endblock %}

{% block form_content -%}
<div class="box-header">
    <h3 class="box-title"><strong>Listado de recomendaciones de Novedades</strong></h3>
    <p>Listado de quienes han recomendado Novedades y Blogs a amigos.</p>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>De </th>
                        <th>E-mail</th>
                        <th>Telefono</th>
                        <th>Fecha Nacimiento</th>
                        <th>Archivo Proyecto</th>


                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>
                          {{ entity.fecha|date('d-m-Y') }}
                        </td>
                        <td>
                          {{ entity.de }}
                        </td>
                        <td>
                            {{ entity.email }}
                        </td>
                        <td>
                            {{ entity.telefono}}
                        </td>
                        <td>
                            {{ entity.fechacimiento|date('d-m-Y') }}
                        </td>
                        <td>
                            {% if entity.pdfDocumento %}
                                <a target = "_blank" href="{{ asset(entity.pdfDocumento) }}">Archivo</a>
                            {% else %}
                                -
                            {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
