{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de promociones</strong></h3>
            <p>Añade una nueva promoción o edita alguna existente.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.nombres) }}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.imagen) }}
            {{ form_row(form.fechaInicio) }}
            {{ form_row(form.fechaFin) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>
<script>
    $("#promocion_imagen")
    .closest(".col-sm-10")
        .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 500 x 245 (px).</div>");
</script>
{% endblock %}
