//multitab
.w-tab 
	position relative
.w-itemtab
	opacity 0
	visibility hidden
	position absolute
	top 0
	left 0
	width 100%	
	transition opacity .3s linear
	&.active
		position relative
		visibility visible
		opacity 1

//multitab

.bt
	color #fff
	box-sizing border-box
	border none
	border-radius 1px
	position relative
	line-height 35px
	height 35px
	font-family t-0
	font-size 	16px
	display inline-block
	box-sizing border-box
.g-row
	font-size 0
	display inline-block
.g-boton
	background-color #1174ce
	padding 0 20px 0 20px
	box-shadow 0 2px #153d7e
	// transition background-color .3s ease
	&:hover
		box-shadow 0 0 #aa1a54
		top 2px
		background-color #e4356c
	i
		padding-left 10px
		font-size 18px
		line-height 9px
		position absolute
		right 10px
		top 13px
	&.g-red
		background-color #e4356c
		box-shadow 0 2px #aa1a54
		&:hover
			background-color #1174ce
			box-shadow 0 0 #aa1a54
			top 2px
	&.ico
		padding 0 35px 0 20px

.g-title
	font-size 35px
	color #1174ce
	line-height 35px
	font-family  t-2

.g-banner
	height 220px
	width 100%
	background-size cover
	background-position center top
	>div
		display table
		height 220px
.g-banner-text
	display table-cell
	vertical-align middle
	.g-title
		max-width 510px

// g-televentas

.g-televentas
	width 255px
	font-size 14px
	font-family t-7
.g-tl-cont
	position relative
	border 1px solid c-7
	border-radius 4px
	padding 15px 0
	margin 15px 0 15px 15px
	&:before
		content "\e91a"
		font-family icomoon
		position absolute
		color c-7
		font-size 56px
		height 60px
		line-height 60px
		left -20px
		top 20px
		background-color c-1
	&:after
		content ""
		position absolute
		height 17px
		width 30px
		left -20px
		bottom -4px
		background-color c-1
	.g-tl-ContIn
		position relative
		margin-left 62px
		h5
			margin 0
			font-size 14px
			color c-2
			font-family t-0
		p
			margin 0
			color c-2
			font-family t-4
			font-size 16px
.g-tl-txt
	width 473px
	color c-4
	p
		margin 0
.g-input
	margin-bottom 10px
	placeholder(#666666, t-0)
	position relative
	input, select
		width 100%
		height 41px
		box-sizing border-box
		padding-left 10px
		font-size 14px
		border 1px solid #c1c1c1
		line-height 41px
	&:hover
		input, select
			border 1px solid c-7
	.formError .formErrorContent
		background #e4356c
		box-shadow none
		color blanco

	.formError .formErrorArrow div,
	.formError .formErrorArrow .g-textare
		background #e4356c
		box-shadow none
		
.g-select
	position relative
	select
		border 1px solid #c1c1c1
		color #666666
		font-size 14px
		appearance none
	&:before
		content "\e608"
		font-family icomoon
		width 20px
		height 100%
		font-size 20px
		color white
		position absolute
		display inline-block
		background-color #a3a3a3
		right 0
		top 0
		line-height 41px
		text-align center
		pointer-events none

.dos-input
	cf()
	.g-input
		width 49.2%
		float right
		&:first-child
			float left
.g-col40
	width 35%
	float left
	margin-top 0
.g-col60
	width 65%
	float left
	margin-top 0
	vertical-align top
	cf()
	p
		font-size 14px
		margin-bottom 0
		padding-left 20px
	.b-elect
		width 23.5%
		float left
		margin-left 2%
		&:first-child
			margin-left 0

.g-checkbox
	display inline-block
	input
		display none
	.g-label
		padding-left 20px
		position relative
		font-family t-0
		font-size 12px
		color #666666
		&:before
			content ""
			width 11px
			height 11px
			display block
			position absolute
			border 1px solid  #cacaca
			border-radius 50%
			top 0
			bottom 0
			left 0
			margin auto
		&:after
			content ""
			width 7px
			height 7px
			display block
			position absolute
			border-radius 50%
			background #1174ce
			top 0
			bottom 0
			opacity 0
			left 3px
			margin auto
.g-checkbox
	margin-top 10px
	input:checked+.g-label:after
		opacity 1
	input:checked+.g-label:before
		border-color #1174ce
	//*textarea*//

.g-textare
	margin-top 10px
	placeholder(#666666, t-0)
	textarea
		height 158px
		width 100%
		font-size 14px
		color #666666
		box-sizing border-box
		border 1px solid #c1c1c1
		padding-left 12px
		padding-top 7px
	.formError .formErrorContent
		background #e4356c
		box-shadow none
		color blanco

	.formError .formErrorArrow div,
	.formError .formErrorArrow .g-textare
		background #e4356c
		box-shadow none
		
		
/*select*/
.dos-input
	cf()
	.g-select
		width 49.2%
		float right
		&:first-child
			float left
.g-col40
	width 35%
	float left
	margin-top 0
.g-col60
	width 65%
	float left
	margin-top 0
	vertical-align top
	cf()
	p
		font-size 14px
		margin-bottom 0
		padding-left 20px
	.g-input
		width 23.5%
		float left
		margin-left 2%
		position relative
		&:before
			content "\e608"
			font-family icomoon
			width 21px
			height 100%
			font-size 20px
			color white
			position absolute
			display inline-block
			background-color #a3a3a3
			right 0
			top 0
			line-height 41px
			text-align center
			pointer-events none
		&:first-child
			margin-left 0
			&:before
				display none
// identity esta importado por defecto


@media screen and (max-width 768px)
	.g-banner-text .g-title
		font-size 30px





