
.b1
	padding-bottom 10px
	position relative
	.b1-bnt
		display inline-block
		position absolute
		bottom 0
		right 0
		position fixed
		z-index 100
		.g-boton
			background-color #24bc9f
			padding 0px 20px 7px 40px
			box-shadow 0 2px #24bc9
			font-family t-0
			top 0
			left 0
			border-radius 10px 10px 0 0
			box-shadow 6px 0px 5px 0px rgba(119, 113, 113, 0.75)
			transition all .25s ease
			&:hover
				// box-shadow 0 0 #aa1a54
				top 0
				background-color #e4356c
		span
			&:after
				content "\e925"
				font-family icomoon
				width 21px
				font-size 21px
				position absolute
				color white
				left 8px
				top 6px
	.bx-controls
		max-width 1024px
		width 96%
		margin auto
		position relative
		z-index 50
		.bx-pager
			width 50%
			right 0
			bottom 40px
			padding-top 0
			.bx-pager-item
				a
					width 17px
					height 17px
					box-sizing border-box
					border 1px solid #197aaa
					border-radius 50%
					background none
					box-shadow 2px 2px 4px 1px rgba(0, 0, 0, 0.15)
					&.active
						background-color #197aaa
						box-shadow 2px 2px 4px 1px rgba(0, 0, 0, 0.40)
.b1-slider-item
	width 100%
	background-size cover
	background-position center top
	text-align center
	&.active
		.b1-img
			opacity 1
			transform scale(1)
		.b1-texto
			opacity 1
			transform translateX(0px)
.b1-img, .b1-texto
	display table-cell
	vertical-align middle
	height 100%
	width 50%
			
.b1-img
	opacity 0
	transform scale(0.95)
	transition all 1s ease
	
	img 
		max-width 100%	
		height auto
		display block 
.b1-texto
	opacity 0
	transform translateX(20px)
	transition all .8s ease
	h1
		font-size 35px
		color #1174ce
		font-family t-6
		margin-bottom 20px
		line-height 35px
	p
		font-size 22px
		color #666666
		font-family t-0

.b1-text-inner		
	max-width 345px
	margin auto
.b1-botones
	a
		height 31px
		line-height 31px
	a:first-child
		margin-left 40px

@media screen and (max-width 960px)
	.b1 .b1-bnt
		position fixed
		bottom 0
		top inherit

	.b1 .bx-controls .bx-pager
		width 100%
		bottom 0


@media screen and (max-width 640px)
	.b1-texto h1
		font-size 25px
		line-height 25px
	.b1-texto p
		font-size 16px
	
	.b1 
		.g-boton.g-red
			display none

@media screen and (max-width 480px)
	.b1
		padding-bottom 50px
	.b1-img, .b1-texto
		display block
		width auto
	.b1-img
		width auto
		max-width 185px
		margin auto
		height auto
	
	.b1 .bx-controls .bx-pager
		bottom -30px
