// identity esta importado por defecto
// *
// 	outline 1px solid red
.b10
	max-width 1200px
	width 94%
	margin-top 40px
	margin-bottom 90px
	.g-title
		display inline-block
.b10-cnt
	font-size 0
.b10-left
	width 63.5%
	margin-right 1.5%
	display inline-block
	vertical-align top
.b10-right
	width 33.5%
	margin-left 1.5%
	display inline-block
	vertical-align top 
	font-size 16px
.b10-table-row
	// background c-6	
	position relative
.b10-p
	display inline-block
	vertical-align middle
	font-size  16px
	line-height 16px 
	padding-left 25px
.b10-hr
	border 1px solid rgba(0, 0, 0, .1)
	position absolute
	left 0
	bottom 0
	width 100%
.p10-close
	position absolute
	color #888
	font-size 15px
	z-index 1
	top  0
	right 0
	padding 15px
	cursor pointer
.b10-table-col ,.b10-table-col-h
	width 25%
	display inline-block
	font-size 14px
	vertical-align top
	text-align center

.b10-table-col-h
	border-top 1px solid rgba(0,0,0,.2)
	border-bottom 1px solid rgba(0,0,0,.2)
	padding-top 11px
	padding-bottom 11px
	font-size 16px
	font-family t-0
	background c-1
	
.b10-table-col
	vertical-align middle
	padding-top 25px
	padding-bottom 10px 
	img
		width 182px
	p
		color c-2
		font-size 16px
		font-family t-0
		text-align left
		padding-left 35px
		span
			color c-0
	input[type="number"]
		max-width 90px
		text-align center
		display block	
		// margin-left 60px
		border #dcdcdc 
		padding-top 5px
		padding-bottom 5px		
		border 1px solid #dcdcdc

.b10-btn	
	display inline-block
	margin-top 30px
	vertical-align top
	.actualizar-cupon
		font-size 15px
		color c-2
		margin-left 15px
	&.input
		width 205px
	&.agregar
		width 266px
	&.seguir
		width 200px
	p
		color red
		font-size 16px
	input[type="text"]
		display inline-block
		font-size 16px
		border none 
		background c-6
		padding 5px 20px
		position relative
		box-sizing border-box
	
.actualizar
	a
		color c-2
		position relative
		font-size 16px
		display inline-block
		margin-left 25px
		// margin-right 104px
		line-height 32px
.b10-btn-inner
	font-size 0
	.b10-botones
		width 470px
		display inline-block
	.input
		p
			display none
	.actualizar-cupon,
	.quitar-cup
		display none
	&.quitar-cupon
		.agregar-cup
			display none
		.input
			p
				display inline-block
		.actualizar-cupon,
		.quitar-cup
			display inline-block
			
	
.b10-input
	position relative
	overflow hidden
	.icon-flechaabajo-01-01
		color c-2
		position absolute
		right 40px
		padding-right 10px
		top 0
		bottom 0
		display block
		margin auto
		font-size 8px
		height 100%
		line-height 25px
		background-color #fff
		pointer-events none
		width 24px
		box-sizing border-box
		border-top 1px solid #aaaaaa
		border-bottom 1px solid #aaaaaa
		border-right 1px solid #aaaaaa
		
.b10-detalle
	.g-title
		padding-bottom 10px
.b10-cnt-input
	display inline-block
	position relative
	width 100%
	select
		width 50%
.b10-text
	font-size 0
	margin-bottom 25px
	&:first-child
		border-top 1px solid #cccccc
		padding-top 20px
	li
		display inline-block
		width 50%
		font-size 16px
		color #4d4d4d
		font-family t-6
		&:first-child + li
			text-align right
	span
		font-family t-0
		color #4d4d4d
		text-transform uppercase
	sub
		bottom 0
.b10-total
	border-top 1px solid #cccccc
	font-size 0
	li
		display inline-block
		vertical-align middle
		width 50%
		color #24bc9f
		font-size 35px
		font-family t-6
		&.li-right
			text-align right
			font-family t-6
			font-size 16px
			color c-4
	span
		font-size 16px
		font-family t-0
		color #4d4d4d
.b10-btn-right
	text-align center
	padding-top 40px
		
@media screen and (max-width 1024px)
	.b10-hr
		display none
	.b10-table-col
		width 100%
		display inline-block
		text-align left
		padding-left 0
		padding-top 0
		text-align center
		margin auto
		&:first-child
			// background-color #1174ce
			&:before
				background-color #1174ce
				color #fff
		&:before
			content attr(data-text)
			background-color #eaeaea
			display block
			text-align center
			padding 10px 0
			margin-bottom 10px
			font-size 14px
		img
			width 50%
			display inline-block
			vertical-align middle
			margin auto
		p
			width 50%
			padding-left 50px	
			display inline-block
			vertical-align middle
			padding-left 0
			text-align center
			margin auto
			min-height 44px
		.b10-input
			display inline-block
			vertical-align middle
			width 100%
			padding-left 0
			
	.b10-table-row
		margin-bottom 20px
		border 1px solid #e4e4e4
		width 47%
		display inline-block
		vertical-align top
		margin 0 1%
		margin-bottom 3%
		&.header
			display none
	
	.b10-cnt-input
		width 200px
	
	.p10-close
		color white
		
	.dn1024
		display none	
@media screen and (max-width 768px)	
	.b10-btn-inner
		width 100%
		position relative
		text-align center
	.b10-btn 	
		width 45%
		margin-top 30px
		
	.agregar , .seguir
		text-align left
	.b10-left
		width 100%
		margin-right 0
		padding-top 20px
		padding-bottom 20px
	.b10-right
		width 100%
		margin-left 0
		padding-bottom 20px
		
@media screen and (max-width 640px)
	.b10-table-row
		margin-bottom 20px
		border 1px solid #e4e4e4
		width 100%
	.b10
		.bt
			font-size 12px
			padding  0 35px 0 14px
@media screen and (max-width 480px)
	.b10-p
		font-size  14px
		padding-top 10px
		padding-left 0
	.b10-table-col 
		p
			padding-left 5px
			font-size 14px
			width 55%
		img
			width 55%
	.b10-table-col 
		input[type="number"]
			max-width 60px
	.b10-table-col-h
		font-size 14px
	.b10-btn 
		margin-top 20px
		input[type="text"]
			width 100%
	.b10-btn 	
		width 95%
	.actualizar 
		a
			text-align center
			margin-left 0
			margin-right 0
			display block
	.agregar, .seguir
			text-align center
	
	.p10-close
		padding 8px
	
	.b10-btn-inner .b10-botones
		width 100%
		
	.b10-btn.agregar,
	.b10-btn.seguir
		width 100%







		