// identity esta importado por defecto
.b11
	.wancho
		max-width 960px
.b11-bnt
	text-align center
.b12-title
	h3
		font-family t-0
		font-size 19px
		color #1174ce
.b11-border
	border-top 1px solid #808080
	border-bottom 1px solid #808080
	margin-top 40px
.b12-title
	margin-top 40px
.b11-bnt
	margin-bottom 30px
@media screen and (max-width 768px)
	.b11-border
		margin-top 10px
	.b12-title
		margin-top 29px
	.b12-title h3
		font-size 15px
		text-align center
	.b11-bnt
		margin-top 10px
		margin-bottom 20px
