// identity esta importado por defecto
.b12
	margin-top 25px
	box-sizing border-box
	margin-bottom 80px
	text-align center
	.g-tl-txt
		width 290px
	.g-input
		margin-top 0
.b12-left
	width 60%
	display inline-block
	vertical-align top
.b12-texto
	text-align left
	h3
		font-family t-2
		font-size 35px
		color #1174ce
	p
		font-size 14px
		color #000
.b12-textare
	textarea
		height 158px
		width 100%
		font-size 16px
		color #666666
		padding-left 20px
		box-sizing border-box
		padding-top 10px
.b12-input
	margin-top 20px
	text-align right
.b12-right
	width  36%
	display inline-block
	vertical-align top
	margin-top 14%
@media screen and (max-width 960px)
	.b12-left
		width 100%
		display block
	.b12-right
		display none
@media screen and (max-width 600px)
	.b12-left
		width 100%
	.b12-texto h3
		font-size 25px
	.b12-texto p
		font-size: 12px
	.b12-input
		text-align center
		margin-top 10px
