.b13
	.libro-caja
		display inline-block
		vertical-align middle
		position relative
		margin-right 15px
		&:last-child
			margin-right 0px
	.g-input
		margin-top 0
	.g-checkbox
		margin-top 0
		text-align left
		margin-bottom 11px
	.g-boton
		padding 0 50px
	.dos-input, .b13-input2, .g-input
		input, select
			height 39px
			border 1px solid #cccccc
			padding-left 16px
	.g-textare
		margin-top 0
		textarea
			padding-left 16px
	.g-input, .g-select
		&:before
			font-size 30px
			
.b13-left
	width 62.8%
	vertical-align top
	display inline-block
	margin-bottom 50px
.b13-texto
	margin-top 20px
	p
		font-family t-0
		font-size 14px
		color #000000
		text-align left
		margin 0
		line-height 1.5
.b13-title
	h2
		font-family t-2
		font-size 20px
		color #1174ce
		margin-top 25px
		margin-bottom 15px
.b13-input2
	.g-input
		width 100%
.b13-inputdos
	.dos-input
		width 100%
		input
			border 1px solid #cccccc
.dos-select, .dos-input
	.g-select
		&:before
			width 40px
			background-color #666666
.b13-title, .b13-reclamo
	span
		font-family t-2
		font-size 20px
		color #1174ce
.b13-bnt
	margin-top 10px
	text-align right
.b13-parrafo
	font-family t-0
	font-size 13px
	color #666666
	margin-top 20px
.b13-parrafo
	width 96%
	p
		margin 3px
.parrafo
	margin-top 10px
	p
		margin 0
.b13-right
	width 34.8%
	vertical-align top
	display inline-block
	margin-top 14%
	
@media screen and (max-width 960px)
	.b13-left
		width 100%
	.b13-right
		display none
	.g-televentas
		display none
@media screen and (max-width 600px)
	.b13-texto p
		font-size 12px
	.b13-title h2
		font-size 16px
		margin-top 0
	.b13-title span, 
	.b13-reclamo span
		font-size 16px
	.b13-bnt
		text-align center
	.b13-parrafo
		font-size 10px