.b14
	text-align center
	font-size 0
	margin 40px 0px
	margin-bottom 0
.b14-item
	display inline-block
	width 25%
	font-size 1rem
	vertical-align top
	padding 10px
	box-sizing border-box
	span
		font-size 40px
		font-family icomoon
		
	h4 
		font-size 17px
		margin 15px 0
		font-family t-7
	p
		font-size 16px
		color c-4
		padding 0 15px
		margin 0
		padding 0
		font-family t-0	
	.c1
		color c-7
	.c2
		color c-5
		
.b14-container
	margin-top 50px
	font-size 20px
	width 100%
	background-size cover
	background-position center center
	.wancho
		max-width 730px
.b14-table
	display table-cell
	max-width 300px
	vertical-align middle
	height 368px
	text-align left
.b14-container-title-small
	color #9b9b9b
	font-family t-2
	font-size 21px
	line-height 1.2
.b14-container-title
	color c-2
	font-family t-4
	font-size 40px
	line-height 1.2
	
@media screen and (max-width 960px)
	.b14-item
		width 50%
	
@media screen and (max-width 768px)
	.b14-item
		width 100%
		display block
		text-align left
		margin-bottom 20px
		span
			position absolute
		h4
			margin-top 10px
			margin-left 100px
		p
			margin 0
			margin-top 30px	
	.b14-container
		margin-top 30px	
				
@media screen and (max-width 480px)
	.b14-item
		display inline-block
		text-align center
		width 100%
		span
			position relative
		h4 
			margin 10px auto
		p
			margin 0