// identity esta importado por defecto
.b15
	background-size cover
	background-position center center
	height 350px
	width 100%
.b15-table
	display table-cell
	vertical-align middle
	height 350px
	max-width 450px
	h1
		font-family t-0
		font-size 35px
		color c-2
	strong
		font-family t-2
		
@media screen and (max-width 480px)
	.b15
		height 310px
	.b15-table
		h1
			font-family t-0
			font-size 24px