.b16
	margin 50px 0
	.header-tab
		ul
			text-align right
		li
			display inline-block
			width 100%
			text-align left
	.content-tab
		max-width 1024px
		margin auto
		position relative
		.item-tab.active
			visibility visible
			position relative
		.item-tab
			visibility hidden
			position absolute
			top 0
			left 0
		.slide-item
			img
				transition-all()
				img-res()
	.tab2
		display inline-block
		vertical-align top
		width 25%
		transition-all()
		&:hover
			img
				-webkit-filter blur(3px)
				opacity .5
			p
				opacity 1

.b16-left
	width 36%
	display inline-block
	vertical-align top
	margin-right 2%
	.g-title
		margin-bottom 25px
	
.b16-item
	padding 20px 15px
	background #f2f2f2
	margin-bottom 10px
	display block
	cursor pointer
	&.active
		background c-2
		p,
		a
			color white
		.b16-margin
			color white
	h4
		font-size 16px
		margin-bottom 18px
		color c-7
		font-family t-2
	p,
	a
		font-size 14px
		color #6a6562
		font-family t-2
	a
		margin-right 15px
	p
		margin-bottom 10px
		display inline-block
		vertical-align top
	span
		color c-7
		font-size 18px
		margin-right 5px
		display inline-block
		vertical-align top

	
.b16-right
	width 61%
	display inline-block
	vertical-align top
	margin-top 60px

.b16-img
	position relative
	img
		img-res()
	figcaption
		color white
		font-family t-4
		font-size 25px
		position absolute
		left 10px
		bottom 10px

.b16-map
	width 100% 
	height 614px
	.g-map
		width 100%
		height 100% 
.b16-open,
.b16-close,
.b16-bottombox
	display none
	cursor pointer
.b16-open
	position relative
	z-index 200
	margin 40px auto
	background c-3
	color white
	border-color c-3 
.b16-close 
	position absolute
	z-index 9999
	right  40px 
	bottom 30px
	button 
		background c-3
		color white
		border-color c-3 
		
.b16-margin
	margin 15px 0 0 0
	text-align center
	background transparent
	color #6a6562

@media screen and (max-width 960px)
	.b16
		margin-bottom 20px
		.content-tab
			display none
		.b16-bottombox
			display none
	.b16-left
		width 100%
	.b16-right
		display block
		width 100%
		margin-bottom 50px
	.b16-map
		top -150%
		position fixed
		z-index 1010
		width  100% 
		left  0
		opacity 0 
		visibility hidden
		transition top .5s linear
		height 100% 
		&.active 
			opacity 1
			visibility visible 
			top 0
	.b16-open,
	.b16-close,
	.b16-bottombox
		display block