.b17
	margin-top 25px
	box-sizing border-box
	margin-bottom 30px
	.b12-right
		margin-top 7%

.b17-left
	width 63%
	display inline-block
	vertical-align top;
	text-align left
 
.b17
	.g-title
		h1
			padding 15px 0
.b17-pregunta
	font-size 15px
	line-height 19px
	color #828282
	position relative
	padding 0 50px
	cursor pointer
	&:after
		content "\e608"
		position absolute
		top 5px
		right 5px
		font-family: icomoon
		font-size 30px
		transition all .3s linear
	&.active, &:hover
		color #1174ce	
		&:after
			transform rotate(180deg)
			
.b17-boxcont
	font-family t-0
	color #666666
	font-size 15px
	li
		padding 8px 0
		&:last-child
			padding-bottom 20px
	h3
		font-size 17px
		color c-2
		padding 10px 0

	
.b17-number
	position absolute
	top 5px
	left 0
	font-size 35px
	font-family t-4
	color #c1c1c1

.b17-texto	
	padding 0 50px
	display none
	
 .b17-item
	border-bottom 1px solid #b7b7b7
	padding-top 20px
	&:first-child
		padding-top 0
		
 



@media screen and (max-width 960px)
	.b17-left
		width 100%
