//estilos datepicker
.ui-state-highlight, .ui-widget-content .ui-state-highlight
	border 1px solid c-7
	background c-7
	color white
.ui-state-active, .ui-widget-content .ui-state-active
	border none

.b18
	width 100%
	height auto
	background-color #f5f5f5
		
.b18-form
	padding-bottom 70px
	.db
		display block
	
.b18-listas
	padding-top 7px
	padding-bottom 15px
	li
		max-width 220px
		width 100%
		display inline-block
		vertical-align top
		&.active
			div
				color #1174ce
			span
				&:before
					color #24bc9f
			
	div
		display inline-block
		vertical-align bottom
		margin-left 6%
		font-size 15px
		font-family t-0
		padding-left 10px
		transition-all()
	span
		position relative
		color white
		left 5%
		z-index 1
		font-size 15px
		display inline-block
		vertical-align bottom
		margin-top 10px
		transition-all()
		&:before
			content "\e906"
			font-family icomoon
			font-size 33px
			color #808080
			position absolute
			top -5px
			left -14px
			z-index -1
			transition-all()
		&:hover
			color white
			&:before
				color #24bc9f

/*bloque sin numero*/
.g-tresselect
	&.g-row
		display block
.b18-left
	max-width  645px
	width 100%
	display inline-block
	.g-inputsss
		input
			width 85px
	.g-checkbox
		.g-label
			font-size  14px
	.input-factura
		height 0px
		overflow hidden
		transition height .3s linear
		&.active
			height 41px

.b18-factura
	margin-top 25px
	display inline-block
	h3
		font-family t-2
		font-size 35px
		color #1174ce
.b18-content
	width 100%
	.dos-select
		width 32.833333%
		display inline-block
	.dos-select
		.g-input
			width 100%
			select
				height 42px
.right
	width 30%
	margin-top 18%
	text-align center
	display inline-block
.b18-pay
	max-width 170px
	border 1px solid #dfdfdf
	background #eeeeee
	margin auto
	padding-top 12px
	p
		font-family t-0
		font-size 14px
		display inline-block
		vertical-align top
	span
		font-family t-0
		font-size 25px
		color #1174ce
	strong
		color
		font-family t-0
		font-size 25px
		color #1f9dd7
.b18-bnt
	text-align right
.b18-images
	margin-top 10px
.b18-checkbox
	text-align center
	.g-checkbox
		padding-left 40px
@media screen and (max-width 1024px)
	.b18-right
		width: 25%
@media screen and (max-width 960px)
	.b18-left
		margin auto
		display block
	.b18-right
		display none
@media screen and (max-width 600px)
	.b18-content .dos-select
		width 100%
	.g-col40
		width 100%
	.g-col60 .g-input
		width 100%
		margin-left 0
	.b18-bnt
		text-align center
	.g-col60
		width 100%
	.b18-factura h3
		font-size 25px
	.b18-factura
		margin-top 10px
@media screen and (max-width 680px)
	.b18-listas
		text-align center
@media screen and (max-width 460px)
	.b18-listas
		text-align center
	.b18-listas li
		text-align left
		margin-bottom 10px
