
.b19
	margin-top 30px
	.dni-y-fecha .g-input
		width 38%
	.g-tresinput
		width 61%
	.g-inputsss input
		width 83px
	.b19-left
		width 63.4%
		display inline-block
		vertical-align middle
.b19-title
	h2
		font-family t-2
		font-size 35px
		color #1174ce
	p
		font-family t-0
		font-size 14px


.b19-btn
	text-align right
.b19-right
	width 36%
	display inline-block
	vertical-align middle
	text-align center
.b19-hdos
	h2
		font-family t-0
		font-size 14px
		color #1174ce
.b19-pay
	max-width 170px
	border 1px solid #dfdfdf
	background #eeeeee
	margin auto
	padding-top 12px
	p
		font-family t-0
		font-size 14px
		display inline-block
		vertical-align top
	span
		font-family t-0
		font-size 25px
		color #1174ce
	strong
		color
		font-family t-0
		font-size 25px
		color #1f9dd7
.b19-images
	margin-top 10px
@media screen and (max-width 600px)
	.b19
		margin-top 10px
	.b19 .b19-left
		width 100%
	.b19-title p
		font-size 12px
	.b19-right
		display none
	.b19-title h2
		font-size 20px
	.b19-btn
		text-align center
