.b2
	box-sizing border-box
	margin auto
	padding 30px 0
	background-image url(../img/fondo.png)
	width: 100%;
	height auto 
	background-repeat repeat
	font-size 0
	&.carrusel-desktop
		.b2-item-carrusel	
			width 19.53125%
			display inline-block
			margin-left 0.5%
			&:first-child
				margin-left 0

	.owl-prev, .owl-next
			display none
	a
		display block
		transition all 250ms
		transform matrix(1.0, 0, 0, 1.0, 0, 0)
	li
		@media screen and (min-width 1024px)
			transform scale(0)
			opacity 0
			transition all .3s 
			&.animate
				opacity 1
				transform scale(1)
		&:hover
			a
				transform matrix(1.02, 0, 0, 1.02, 0, 0)
				box-shadow 4px 6px 15px -3px rgba(0,0,0,0.44)
.b2-item-carrusel
	a
		box-shadow 1px 1px 4px 0px rgba(0, 0, 0, 0.25)
	
.b2-img
	img
		max-width 100%
		height auto
		display:block
		width 100%
		object-fit cover
		min-height 215px
	
.b2-calificacion
	text-align center
	display block
	padding-top 10px
	span
		width 13px
		height 13px
		background-image url('../img/estrella.png')
		background-repeat no-repeat
		background-position center center
		display inline-block
		vertical-align top
		margin 0 5px