.b20
	margin-top 40px
	font-size  0
	margin-bottom 50px
	.g-televentas
		width 267px
	.g-input
		margin-top 0
	.inputfile
		position absolute
		left 0
		opacity 0
.b20-left
	width 63%
	display inline-block
	vertical-align middle
.b20-title
	h2
		font-family  t-2
		font-size 35px
		color #1174ce
	p
		font-size 14px
.b20-bottom
	position relative
	p
		font-size 14px
		color red
		padding-left 10px
		padding-top 6px
.b20-btn
	text-align right
.b20-btncv
	position absolute
	top 0
	.g-boton.g-red
		background-color c-7
		box-shadow none
.b20-right
	width 34%
	margin-left 5px
	display inline-block
	vertical-align middle

		
@media screen and (max-width 960px)
	.b20-right
		display none
	.b20-left
		width 100%		

@media screen and (max-width 480px)
	.b20
		margin-top 10px
	.b20-title h2
		font-size 17px
	.b20-title h2
		font-size  25px
	.b20-title p
		font-size 12px
	.b20 .g-televentas
		display none
	.b20-left
		width 100%

