// identity esta importado por defecto
.b21
	text-align center
	.b12-texto
		margin 15px 0
		margin-top 30px
	.g-boton
		margin 25px 0
.b21-cnt
	font-size 0
	.b21-nombre-producto
		width 110px
		text-align left
	table
		width 100%
	thead, caption
		background-color #1174ce
		width 100%
		color #fff
		font-size 13px
		line-height 100%
		hr
			width 100%
			display table
		th
			padding 10px 0
			font-size 13px
			font-family Arial
			line-height 100%
			color #fff
		tr
			background-color #1174ce
	td
		text-align center
		color #666666
		font-size 14px
		padding 0 10px
	img
		display inline-block
	em
		font-size 14px
		color #000000
		font-family Arial
	.db 
		display block
	caption
		padding 10px 0
		line-height 100%
	tbody
		width 100%
		tr
			background #fafafa
			border-top 1px solid #e0e0e0
			&:first-child
				border-top 0
	div
		box-sizing border-box
.table-left
	display inline-block
	vertical-align top
	width 62.5%
	padding-right 2%
.table-right
	width 37.5%
	display inline-block
	vertical-align middle
	padding-left 2%
	table
		width 100%
	tr
		background-color #fafafa
		border-top 1px solid #e0e0e0
		&:first-child
			border-top 0
	td
		background-color #f2f2f2
		border-top 1px solid #fff
		box-sizing border-box
		padding 10px 0
		font-size 13px
		line-height 100%
		color #666666
		&:first-child
			padding 0
			width 1px
		
	th
		text-align left
		padding 10px  10px 10px 20px
		font-size 14px
		color #666666
		line-height 100%
.b21-item
	&:first-child
		margin-bottom 15px
		
.mis-pedidos
	.table-left
		width 100%
	.b21-cnt
		margin-top 25px
		td
			&:first-child
				padding 0
				width 1px
		.b21-nombre-producto
			width 25%
	
		
@media screen and (max-width 960px)
	.table-left
		margin-bottom 20px
	.table-left, .table-right
		width 100%
		padding 0
	.b21-item
		width 50%
		box-sizing border-box
		display inline-block
		vertical-align top
		padding-left 1%
		padding-right 0
		&:first-child
			padding-left 0
			padding-right 1%
			
@media screen and (max-width 767px)
	.mis-pedidos
		.b21-cnt thead
			display none
		.b21-cnt .table-left tbody tr
			width 50%
			display inline-block
			vertical-align top
			border-top 0
			margin-bottom 30px
			td
				width 100%
				display block
				box-sizing border-box
				padding 0 5px
				text-align center
				&:first-child
					// background-color #1174ce
					&:before
						background-color #1174ce
						color #fff
				
		.b21-cnt .table-left td
			&:before
				content attr(data-th)
				background-color #eaeaea
				display block
				text-align center
				padding 10px 0
				margin-bottom 10px
				margin-top 10px
				font-size 14px
		.b21-cnt div
			width 100%
			padding 0
			&:first-child
				padding 0
		
		.b21-cnt .table-left .b21-nombre-producto
			&:before
				display none
			
@media screen and (max-width 600px)
	.b21-cnt thead
		display none
	.b21-cnt .table-left tbody tr
		width 50%
		display inline-block
		vertical-align top
		border-top 0
		td
			width 100%
			display block
			box-sizing border-box
			padding 0 5px
			&:first-child
				// background-color #1174ce
				&:before
					background-color #1174ce
					color #fff
			&:first-child + td
				display none
	.b21-cnt .table-left td
		&:before
			content attr(data-th)
			background-color #eaeaea
			display block
			text-align center
			padding 10px 0
			margin-bottom 10px
			margin-top 10px
			font-size 14px
	.b21-cnt div
		width 100%
		padding 0
		&:first-child
			padding 0
			
	.mis-pedidos
		.b21-cnt .table-left tbody tr
			width 50%
			display inline-block
			vertical-align top
			border-top 0
			td
				width 100%
				display block
				box-sizing border-box
				padding 0 5px
				&:first-child
					// background-color #1174ce
					&:before
						background-color #1174ce
						color #fff
						
		.b21-cnt .table-left tbody tr 
			td:first-child + td
				display block
			
@media screen and (max-width 500px)
	.mis-pedidos .b21-cnt .table-left tbody tr
		width 100%