// identity esta importado por defecto
.b22
	font-size 0
	margin-bottom 80px

.b22-img
	font-size 0
	margin-top 10px
	img
		object-fit cover
		display block
		width 100%
		height auto

.b22-item
	width 48.82%
	vertical-align top
	display inline-block
	position relative
	margin-bottom 2.3%
	&:hover
		.b22-promocion
			opacity 1
	&:nth-child(odd)
		margin-right 2.3%
	
	img 
		max-width 100%
		height auto
.b22-title
	margin-top 30px
	h3
		font-family t-2
		font-size 30px
		color #1174ce
.b22-promocion
	top 0
	left 0
	width 100%
	height 100%
	z-index 2
	position absolute
	opacity 0
	background-color rgba(17, 116, 206,0.8)
	transition-all()
	span
		font-family t-2
		font-size 20px
		color white
		display table-cell
		width 100%
		height 100%
		vertical-align middle
		text-align center
		&:before
			content "\e926"
			font-size 57px
			font-family icomoon
			text-align center
			display block
.b22-detalle
	width 100%
	height 100%
	display table
	position absolute
	.icon-prociento
		font-size 57px
@media screen and (max-width 768px)
	.b22-title h3
		font-size 25px
		
@media screen and (max-width 640px)
	.b22-item img
		width 100%
		
	.b22
		margin-bottom 30px
	.b22-title
		margin-top 10px
	.b22-title h3
		font-size:  18px
		text-align center
	.b22-item
		width 100%
		padding-top 10px
		margin 0
	.b22-promocion
		opacity 1
	.b22-promocion span:before
		display inline-block
		vertical-align middle
	.b22-promocion span:before
		font-size 25px
	.b22-promocion span
		font-size 13px
	.b22-promocion
		height 20%
		top inherit
		bottom 0

