.b23-map
	position relative
	width 100%
	height 224px
	transition all 0.6s ease
.g-map
	width 100%
	height 100%
.b23-bottonbox
	display block
.b23-abrir
	position relative
	cursor pointer
	z-index 200
	display none
	width 119px
	margin 10px auto
.b23-cerrar	
	position: absolute
	cursor pointer
	z-index 400
	right 38px
	bottom 28px
	display none
				
@media screen and (max-width 768px)
	.b23-map
		top -150%
		position fixed
		z-index 300
		width 100%
		left 0
		opacity 0
		visibility hidden
		transform perspective(200px) rotateX(-20deg)
	.b23-map.active
		top 0
		opacity 1
		height 100%
		filter none
		transform perspective(200px) rotateX(0deg)
		visibility visible
	.b23-cerrar, .b23-abrir
		display block
		

		