// identity esta importado por defecto
.b24
	font-size 0
	.oferta.b24-triangle::before
		content ""
		width 0
		height 0
		border-top 70px solid #d13267
		border-left  70px solid transparent
		position absolute
		right 0
		top 0
	.descuento.b24-triangle::before
		content ""
		width 0
		height 0
		border-top 70px solid #d13267
		border-left  70px solid transparent
		position absolute
		right 0
		top 0
	.nuevo
		em
			color c-1
			font-family t-0
			font-size 12px
			display block
	.oferta
		em
			color c-1
			font-family t-0
			display block
			font-size 14px
	.descuento
		em:first-child
			color c-1
			font-family t-0
			font-size 13px
			display block
		em
			color #ffd74e	
			font-size 11px	
			line-height 2px
.b24-contenedor
	max-width 100%
	height auto
	
.b24-title
	margin-top 28px
	margin-left 40px 
	position relative
	h3 
		font-size 16px
		font-family t-2
		color c-2
		display inline-block
		&:after
			content ""
			width 70%
			position absolute
			border 1px solid #888
			left 20%
			top 40%
.b24-item
	width 33.333%
	display inline-block
	margin-top 30px
	vertical-align top
	text-align center
.b24-wrapper
	max-width 300px 
	margin auto
	margin-left 15px
	box-sizing border-box
	box-shadow 3px 5px 9px -3px #888
	position relative
.b24-img
	display block
	overflow hidden
	margin-bottom 15px
	max-width 286px
	height 205px
	text-align center
	border 1px solid rgba(0,0,0,.1)
	position relative
	img
		max-width 100%
		height auto
	&:hover
		.b24-over
			opacity 1
.b24-over
	background-color rgba(61, 191, 153, 0.75)
	padding 7px 15px
	width 150px
	height 30px
	color c-1
	position absolute
	top 0 
	left 0
	right 0
	bottom 0
	margin auto
	line-height 30px
	font-size: 20px
	opacity 0
	transition opacity .3s ease
	z-index 99999
.b24-des
	h1
		font-family t-4
		font-size 14px
		color #262626
		height 40px
		padding 0 6px
	h1:hover
		color c-2
	p
		font-family t-0
		color #6e6e6e
		font-size 14px
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding 0 6px
.b24-des-precio
	background #f2f2f2
	display block
	font-family t-4
	font-size 16px
	padding 8px 15px
	position relative
	top 0
	bottom 0
	del
		position absolute
		color #9d9d9d
		font-family t-6
		right 0
		padding-right 6px

.b24-triangle
	position absolute
	right 0
	display none
	z-index 1
	width 60px
	text-align right
	padding-right 4px 
	padding-top 15px
	box-sizing border-box
	

@media screen and (max-width 768px)
	.b24-item
		width 33.333%
	.b24-title h3:after
		left 25%
		width 69%
@media screen and (max-width 480px)	
	.b24-item
		width 100%
		margin-top 10px
	.b24-wrapper
		margin-left auto
	.b24-title h3:after
		display none
	.b24-title
		text-align center
	
		







		
	