// .b25
// 	.wancho
// 		text-align right
.b25-imagen
	width 47%
	float left
	img 
		max-width 100%
		height auto
.b25-inport
	display inline-block
	font-size 0

.b25-info
	width 45%
	float right
	overflow hidden
	vertical-align top
	font-size 15px
	margin-left 7%
.b25-miniatura
	margin-top 20px
	li 
		display inline-block
		vertical-align top
		position relative
		cursor pointer
		margin 0 1%
		margin-bottom 5px
		&:before
			background-color #68b9ac
			opacity 0
			content ""
			width 100%
			height 100%
			display block 
			position absolute
			z-index 1
			top 0
			left 0
			bottom 0
			right 0
			margin auto
			transition opacity .3s linear
		&:after
			content "\e90b"
			font-family: icomoon			
			position absolute
			top 0
			left 0
			bottom 0
			right 0
			width 40px
			height 40px
			margin auto
			font-size 40px
			color #ffff
			display inline-block
			z-index 2
			transform scale(0)
			transition transform .3s linear
		&:hover, &.active
			&:before
				opacity 0.5
			&:after
				transform scale(1)
				
.b25-talla
	display none
	&.active
		display block
			
.b25-tittle-talla
	display: inline-block;
	vertical-align: middle;
	h2
		font-size: 14px;
		font-family t-0			
		margin auto 
		
.b25stocktalla		
	display none
	strong
		font-size 14px
		display block
		margin-bottom 5px
	&.active
		display block
.b25-talla-variadas
	display: inline-block;
	vertical-align: middle;
	margin-right 25px
.b25-circulo-tallas
	width 28px
	height 28px
	border-radius 50%
	border 1px solid #d0d0d0
	display inline-block
	position relative
	p
		margin auto 
		left 0
		color #d0d0d0
		position absolute
		right 0
		bottom 0
		top 4px
		text-align center
		font-size 13px
	&:hover, 
	&.active
		display block
		border 1px solid #454545
		p
			color #454545

.b25-select, .b25-addcar
	display inline-block
	vertical-align middle

.b25-addcar	
	.g-boton
		padding 0 10px
		line-height 30px
		height 30px
		margin-left 0
.b25-wrapstock		
	margin-top 10px
	position relative
	left -17%
.b25-select
	width 90px
	margin-right 25px
	position relative
	font-size 14px
	&:after
		content "\e912"
		font-family icomoon
		font-size 10px
		color c-2
		position absolute
		top 10px
		right 5px
		pointer-events none
	select 
		appearance none
		width 100%
		height 30px
		padding-left 10px
		border-radius 5px


.b25-control
	li
		&.select-number
			// display none
			&.active
				display inline-block
				
.b25-control
	margin-top 15px
	li 
		display inline-block
		vertical-align middle
	.bt
		height 28px
		line-height 28px
	.select-number
		width 90px
		margin-right 25px
		position relative
		&:after
			content "\e912"
			font-family icomoon
			font-size 10px
			color c-2
			position absolute
			top 10px
			right 5px
			pointer-events none
		select 
			appearance none
			width 100%
			height 30px
			padding-left 10px
			

.b25-texto
	h3
		font-family t-2
		font-size 35px
		color c-2
		margin-bottom 20px
		line-height 35px
	span 
		font-family t-6
		font-size 35px 
		color #24bc9f
		display block
		line-height 100%
		margin 20px 0
	em
		margin-bottom 10px
		color #707070
		font-size 13px
		font-family t-4
		margin-bottom 15px
		display inline-block
		
	del
		display block
		font-size 15px
	p 
		margin-bottom 0
		font-family t-0
		font-size 16px
		color #707070
	strong
		font-size 14px
	
	sub 
		bottom 0
.b25-cuadro
	position relative
	select
		width 91px
		height 30px
		color #808080
		margin-top 10px
		position relative
.icon-flechaabajo-01
	font-size 10px
	color #1174ce
	position absolute
	bottom 31%
	left 48%
button  
	border none 
	color white
	background none 
	background-color #006ca2
	padding 8px 14px  8px 14px
	margin-left 25px
.b25-circulo
	text-align center 
	display block
	font-size 0
	margin-top 20px
	padding 10px 0
	padding-left 10px
	text-align left
	span
		width 24px
		height 24px 
		position relative
		display inline-block
		vertical-align top
		border-radius 50%
		margin-left 15px
		cursor pointer
		&:first-child
			margin-left 0
		&:after
			content ""
			width 34px
			height 34px 
			position absolute
			display inline-block
			border-radius 50%
			top 0
			left -6px
			bottom 0
			margin auto 
			border 1px solid transparent
		&:hover, &.active
			&:after
				border 1px solid #999999
			
.b25-valoracion
	margin-top 10px
	display inline-block
	span
		display inline-block
		font-size 20px
		position relative
		color c-4
		margin 0 3px
		&:first-child
			margin-right 5px
			font-size 14px
		&.active
			&:before
				display none
			&:after
				content "\e90e"
				font-family icomoon
				font-size 20px

.b25-itemdetail
	margin-top 20px
	font-size 0
	.b25-tittle-talla, .b25-circulo, .b25-wraptalla
		display inline-block
		vertical-align top
	
	.b25-tittle-talla
		width 15%
		box-sizing border-box
		padding-right 10px
		
	.b25-circulo, .b25-wraptalla
		width 85%
		margin-top 0
		padding 0
		
	

@media screen and (max-width 1120px)

	.b25-info, .b25-imagen
		float none
		width auto
	.mousetrap
		display none

	.tab-imagensmall
		&:after
			content ""
			z-index 10
			position absolute
			top 0
			left 0
			width 100%
			height 100%
	.b25-miniatura	
		text-align center


	.b25-texto p		
		margin-bottom 15px
	
	.b25-info
		margin-left 0

	.b25-texto 
		span
			margin 10px 0
			font-size 30px
		h3	
			font-size 25px
			line-height 25px
			margin-bottom 10px
			

	
@media screen and (max-width 768px)	
	.b25-info
		text-align left
		
@media screen and (max-width 480px)			
	.b25-miniatura li
		width 30%
		img 
			max-width 100%
			height auto