.b26
	max-width 713px
	background white
	padding-bottom 59px
	.g-boton
		height 42px
		width 100%
		line-height 42px
		padding 0
	.close-boxlight
		top -20px
		right -13px
		color white
		background #24bc9f
		border 1px solid #24bc9f
		.close-boxlight:after 
			content "\e904" 
	
.b26-bg
	background-size cover
	background-position center center
	background-repeat no-repeat
.b26-title
	text-align right
	padding 50px 80px 50px
	h2
		font-family t-2
		font-size 30px
		color #1174ce
	h3, span
		margin auto 
		font-family t-4
		font-size 28px
		color #24bc9f
.b26-content
	text-align center
	font-size 0
.b26-bnt,
.b26-input
	display inline-block
	vertical-align middle
	margin-top 60px
.b26-input
	width 60%
	input
		width 100%
		height 42px
		box-sizing border-box
		padding 0 15px
		font-size 14px
.b26-bnt
	width 20%
	padding-left 30px
.suscribete
	background #1174ce
	color white
	padding 15px 30px 15px 35px
	&:hover
		color white
		background #e5356c
.b26-box
	display none
@media screen and (max-width 600px)
	.b26-input
		width 100%
		margin-top 20px
	.b26-bnt, .b26-input
		margin-top 10px
@media screen and (max-width 425px)
	.b26-title
		padding 0
		text-align center
		padding-top 20px
		padding-bottom 20px
	.b26-title h2
		font-size 20px
	.b26-title h3, .b26-title span
		font-size 20px
	.b26-input
		width 90%
	.b26-bnt
		width 25%



