

// // identity esta importado por
// *
// 	outline 1px dashed red
.b27
	max-width 713px
	margin auto
	background white
	padding-bottom 30px
	.wancho
		max-width 640px
	.close-boxlight
		background #24bc9f
		right -13px
		top -20px
		color white
		border 1px solid  #24bc9f
	.g-boton
		padding 0 67px 0 67px

.b27-bg
	height 169px
	background-size cover
	background-position center center
	background-repeat no-repeat
	min-height: 357px;
.b27-texto
	margin-top 50px
	margin-bottom: 20px;
	h3
		font-family t-2
		font-size 16px
		color #1174ce
.g-input
	margin-top 10px
.b27-bnt
	text-align center
	margin-top 20px
.b27-nav
		font-family t-0
		font-size 12px
		color #0062e1
		display inline-block
.b27-box
	display none
	

@media screen and (max-width 768px)
	.b27 .close-boxlight
		right 5px
		top 5px

	.b27
		width 94%

@media screen and (max-width 600px)
	.b27-texto h3
		font-size 14px
	.dos-input .g-input:first-child
		float none
	.dos-input .g-input
		float none
		width auto
		display: block
