.formError .formErrorContent
	background-color #e4356c

.b28
	text-align center
	padding-top	30px
	padding-bottom 20px
	.w100
		width 100%
		display inline-block
	.g-inputsss input
		width 77px
	.dni-y-fecha .g-input
		width 33%
	.g-input
		margin-top 0
	.g-boton
		padding 0 38px
	.g-col60 p
		padding-left 10px
	.b-col40
		width 33%
	.g-col60 .g-input
		width 22.5%
	.g-col60 .g-input:first-child
		width 26.5%
		text-align left
.b28-left
	width 39%
	padding 20px 20px 0 0
	display inline-block
.b28-fondoverde
	max-width 394px
	height 253px
	position relative
	background-color #24bc9f
	span,h2
		display inline-block
		vertical-align top
		color white
	span
		margin-right 10px
		font-size 20px
.b28-form
	margin-left 10px
	margin-right 5px
	input
		margin-top 10px
		width 85%
		height 42px
		padding-left 10px
.b28-texto
	margin-top 20px
	margin-left 32px
	p
		font-size:  13px
		color white
		text-align left
.b28-title
	padding-top 30px
	margin-left 32px
	text-align left
	h2
		font-size 20px
		font-family t-2
		color white
.b28-btn
	position absolute
	right 25px
	bottom 30px

.b28-right
	width 51%
	padding 20px 0 20px 0
	vertical-align top
	display inline-block
.b28-titledos
	text-align left
	h2
		font-family t-2
		font-size 20px
		color #1174ce
.b28-bnt
	text-align right
.b28-input
	.g-input
		width 42%


@media screen and (max-width 960px)
	.b28
		.g-row
			width 100%
	.b28-left
		width 50%
		margin-bottom 20px
	.b28-right
		width 97%
		padding 0
		margin-bottom 30px
	.b28-titledos h2
		font-size 17px
	.b28-fondoverde
		max-width 100%
		margin auto
		
@media screen and (max-width 800px)
	.b28-left
		max-width 490px
		width 100%
		display block
		margin auto
		margin-bottom 30px
		padding 0

@media screen and (max-width 600px)
	.b28
		.g-col60 .g-input
			margin-left 2%
			&:first-child
				margin-left 0
				p
					padding 0

@media screen and (max-width 425px)
	.b28-right
		width 95%
	.g-tresinput .g-tres
		margin-left	0
	.g-fecha
		position	static
	.g-fecha
		width 53%
	.b28-fondoverde
		height 300px
	.b28-texto
		margin auto
		margin-top 20px
		p
			text-align center
	.b28-btn
		right 0
		left 0	

