.b29
	display none

.b29-map
	width 100% 
	height 221px
	.g-map
		width 100%
		height 100% 
.b29-open,
.b29-close,
.b29-bottombox
	display none
	cursor pointer
.b29-open
	position relative
	z-index 200
	margin 40px auto
	background c-3
	color white
	border-color C-3 
.b29-close 
	position absolute
	z-index 9999
	right  40px
	bottom 30px
	button
		background c-3
		color white
		border-color c-3 
		
@media screen and (max-width 768px)
	.b29-left
		width 100%
	.b29-right
		display block
		width 100%
		margin-bottom 50px
	.b29-map
		top -150%
		position fixed
		z-index 1010
		width  100% 
		left  0
		opacity 0 
		visibility hidden
		transition top .5s linear
		height 100% 
		&.active 
			opacity 1
			visibility visible 
			top 0
	.b29-open,
	.b29-close,
	.b29-bottombox
		display block