.b3
	padding 25px 0px
	background c-1
	background-image url(../img/fondo.png)
	width: 100%;
	height auto 
	padding-top 50px
	&.active
		.b3-cnt-video
			transform translateX(0px)
			opacity 1
		.b3-cnt-texto
			transform translateX(0px)
			opacity 1
.inner-b3
	background url(../img/yt-bg.png) top right no-repeat
	font-size 0
.b3-cnt-video,
.b3-cnt-texto
	display inline-block
	vertical-align bottom
	font-size 14px
//video
.b3-cnt-video
	width 61.5%
	margin-right 1.5%
	position relative
	box-shadow 3px 3px 20px -7px c-4
	transform translateX(-80px)
	transition all .5s
	opacity 0
.b3-inner-video
	position absolute
	width 100.5%
	height 100%
	overflow hidden
	z-index 2
	top 0
	left 0
	background-repeat no-repeat
	background-size cover
	&.active
		display none
.anima
	animation parpadeo infinite
	animation-duration 1s
.b3-play
	height 125px
	width 125px
	position absolute
	top 0
	left 0
	right 0
	bottom 0
	margin auto
	background url(../img/play-ico.png) center center no-repeat

.b3-videoWrapper
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	.video-iframe
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;


//texto
.b3-cnt-texto
	width 35.5%
	margin-left 1.5%
	margin-bottom 60px
	transform translateX(80px)
	transition all .5s
	opacity 0
.b3-title,
.b3-subtitle
	margin-bottom 18px
	color c-2
.b3-title
	&.responsive
		display none
	h2
		font-weight normal
		margin-bottom 0
		font-size 35px
	em
		font-family t-7
	strong
		font-family t-4
.b3-subtitle
	font-family t-0
	h3
		font-size 22px
		margin-bottom 0
		font-weight normal

.b3-texto
	margin-bottom 18px
	font-family t-0
	font-size 16px
	p
		margin-bottom 0

@media screen and (max-width 900px)
	.b3-cnt-texto
		margin-bottom 20px

@media screen and (max-width 768px)
	.b3
		text-align center
		padding-top 20px
		padding-bottom 40px
	.b3-cnt-video
		width 100%
		margin auto
		margin-bottom 40px
	.b3-cnt-texto
		width 80%
		margin auto
		text-align left

@media screen and (max-width 480px)
	.b3-title h2
		font-size 28px
	.b3-subtitle h3
		font-size 18px
	.b3-texto
		font-size 14px
		
