// identity esta importado por defect
.b30
	.wrapper
		max-width 574px
		margin auto
		margin-top 100px
		margin-bottom 100px
		text-align center
.b30-title
	width 70%
	padding-top 20px
	position relative
	display inline-block
	h2
		font-family t-4
		font-size 75px
		color #006ca2
	&:before
		content "\e906"
		font-family icomoon
		font-size 20px
		color #23bb9f
		position absolute
		right 35%
		bottom 75px
.b30-img
	display inline-block
.b30-parrafo
	p
		font-family t-4
		font-size 24px
		color #808080
.b30-bnt
	padding-bottom 20px
	
//gracias-compra.html
.b30-compra
	position relative
	.b30-title
		width 62%
		h2
			margin 0
			color c-2
		p
			font-family t-4
			font-size 25px
			color c-2
		&:before
			display none
	.b30-parrafo
		margin-bottom 40px
		p
			font-size 19px
			width 85%
			margin auto
	.b30-img
		vertical-align top
		margin-top 20px

@media screen and (max-width 480px)
	.b30-title h2
		font-size 65px
	.b30-parrafo p
		font-size 14px
		
//gracias-compra.html
	.b30-compra .b30-img
		position absolute
		top 0
		left 0
		right 0
		margin auto
	.b30-compra
		padding-top 70px
	.b30-compra 
		.b30-title
			width 100%
			h2
				font-size 58px