// identity esta importado por defecto
.b31
	max-width 580px
	margin auto
	margin-top 100px
	margin-bottom 100px	
.b31-error
	h3
		font-family t-0
		font-size 28px
		color #0f75a7
		text-align center
		padding-bottom 16px
	p
		font-family t-0
		font-size 15px
		text-align center
.b31-images
	margin-bottom 48px
	text-align center
.b31-bnt
	text-align center
	margin-top 50px
@media screen and (max-width 768px)
	.b31-error
		margin-top 20px
	.b31-images
		margin-bottom 28px

