// identity esta importado por defecto
.b34
	display none
	background white
	max-width 584px
	text-align center
	padding-top 40px
	padding-bottom 60px
.b34-compra
	position relative
.b34-title
	padding-top 90px
	position relative
	h2
		font-family t-4
		font-size 51px
		color #006ca2
	p
		font-family t-4
		font-size 28px
		color c-7
		
.b34-img
	position absolute
	top 0
	right 0
	left 0