// identity esta importado por defect
.b36
	max-width 500px
	.wancho
		display table-cell
		vertical-align middle
		max-width 500px
	.wrapper
		margin auto
		margin-top 100px
		margin-bottom 100px
		text-align center
		position relative
		width 500px
.b36-title
	width 80%
	padding-top 20px
	position relative
	display inline-block
	h2
		font-family t-4
		font-size 75px
		color #006ca2
.b36-img
	display inline-block
.b36-parrafo
	p
		font-family t-2
		font-size 18px
		color #808080
		width 300px
		margin auto
		margin-bottom 20px
.b36-bnt
	padding-bottom 20px
	
//gracias-compra.html
.b36-compra
	position relative
	.b36-title
		width 62%
		h2
			margin 0
			color c-2
		p
			font-family t-4
			font-size 25px
			color c-2
		&:before
			display none
	.b36-parrafo
		margin-bottom 40px
		p
			font-size 19px
			width 85%
			margin auto
	.b36-img
		vertical-align top
		margin-top 20px

@media screen and (max-width 522px)
	.b36-title
		padding-top 70px
		width 100%
	.b36-img
		position absolute
		left 0
		right 0
		top 0
	.b36
		max-width 400px
		.wancho
			width 400px
		.wrapper
			width 320px
		.g-input
			width 90%
			margin auto
			margin-bottom 20px

@media screen and (max-width 480px)
	.b36-title h2
		font-size 65px
	.b36-parrafo p
		font-size 14px
		
//gracias-compra.html
	.b36-compra .b36-img
		position absolute
		top 0
		left 0
		right 0
		margin auto
	.b36-compra
		padding-top 70px
	.b36-compra 
		.b36-title
			width 100%
			h2
				font-size 58px// identity esta importado por defecto