// identity esta importado por defecto
.b38
	max-width 500px
	.wancho
		display table-cell
		vertical-align middle
		max-width 500px
	.wrapper
		margin auto
		margin-top 100px
		margin-bottom 100px
		text-align center
		position relative
		width 500px
.b38-title
	width 80%
	padding-top 20px
	position relative
	display inline-block
	padding-top 55px
	width 100%
	h2
		font-family t-4
		font-size 20px
		color c-2

.b38-img
	position absolute
	left 0
	right 0
	top 0
.b38-parrafo
	p
		font-family t-2
		font-size 18px
		color #808080
.b38-bnt
	padding-top 30px
	padding-bottom 20px
	
//gracias-compra.html
.b38-compra
	position relative
	.b38-title
		width 62%
		h2
			margin 0
			color c-2
		p
			font-family t-4
			font-size 25px
			color c-2
		&:before
			display none
	.b38-parrafo
		margin-bottom 40px
		p
			font-size 19px
			width 85%
			margin auto
	.b38-img
		vertical-align top
		margin-top 20px

@media screen and (max-width 522px)
	.b38
		max-width 400px
		.wancho
			width 400px
		.wrapper
			width 320px
		.g-input
			width 90%
			margin auto
			margin-bottom 20px