.b4
	background-color #f1f1f1
	padding 35px 0 50px 0
.b4-wancho
	max-width 1030px
	margin auto
	width 94%
.b4-cabezera
	text-align center
	h3
		color #1174ce
		font-size 35px
		font-family  t-6
	p
		font-size 22px
		color #666666
		font-family t-0
		strong
			color #24bc9f
.b4-facil
	font-size 0
	padding-top 30px
	>a
		padding-left 0
		text-align center
		// &:before
		// 	display none
		.g-boton
			position relative
			&:before
				content ""
				width 47px
				height 51px
				background-image url('../img/b4-flecha.png')
				display block
				position absolute
				right -30px
				bottom -30px
.b4-facil-item
	font-size 16px
	width 25%
	display inline-block
	vertical-align top
	position relative
	padding-left 89px
	box-sizing border-box
	min-height 90px
	padding-top 10px
	padding-right 40px
	@media screen and (min-width 1024px)
		movetop(40px)
		transition all 0.7s
		
	&.active
		endmove()
	&:before
		content "\e915"
		font-family icomoon
		color #1174ce
		position absolute
		font-size 17px
		height 17px
		left -17px
		top 0
		bottom 0
		margin auto
	&:first-child
		&:before
			display none
a.b4-facil-item
	padding-right 0
	padding-top 0
	h4
		font-size 35px
		color #666666
		font-family t-6
.b4-img
	position absolute
	left 10px
	top 0
	height 75px
	bottom 0
	margin auto
.b4-texto
	font-size 15px
	color #4d4d4d
	font-family t-0
	p
		margin-bottom 0
@media screen and (max-width 1200px)
	.b4-facil-item
		width 50%
		min-height 120px
		transition-delay 0s !important
		&:before
			display none
	.b4-texto
		padding-top 20px
@media screen and (max-width 768px)
	.b4-facil
		width 70%
		margin auto
	.b4-facil-item
		width 100%
		padding-right 0
	.b4-cabezera 
		h3
			font-size 28px
		p
			font-size 18px
	.b4-facil
		padding-top 20px
		
@media screen and (max-width 500px)
	.b4-facil-item
		padding 0
		padding-bottom 30px
		text-align center
	.b4-img
		position relative
		margin-right 18px
	.b4-facil
		width 85%