// identity esta importado por defecto


// // identity esta importado por
// *
// 	outline 1px dashed red
.b42
	max-width 713px
	margin auto
	background white
	padding-bottom 20px
	.g-input 
		margin-top 0
	.wancho
		max-width 640px
	.close-boxlight
		background #24bc9f
		right -13px
		top -20px
		color white
		border 1px solid  #24bc9f
		&:hover
			background-color #e4356c
			border 1px solid  #e4356c
.b42-bnt
	.g-boton
		// height 43px
		height 45px
		font-size 13px
		line-height 3.4
		&:hover
			top 0
			height 47px
.b42-bg
	min-height 270px
	background-size cover
	background-position center center
	background-repeat no-repeat
.b42-texto
	margin 50px 0 20px 0 
	h3
		font-family t-4
		font-size 25px
		color #1174ce
.g-input
	margin-top 10px
	width 100%
.g-fech-aparte
	position relative
	input
		padding-right 40px
	&:before
		content '\e91d'
		position absolute
		font-family icomoon
		font-size 27px
		top 5px
		right 11px
		margin auto
		color #999999
		pointer-events none
		// cursor pointer
.b42-btn-tv
	text-align center
	// margin-top 20px
	position absolute
	position relative
	top 0
	height 44px
	margin-left -4px
	margin-top 0
.b42-unir
	display inline-block
	a	
		display inline-block
		box-sizing border-box
.b42-list
	display inline-block
.b42-nav
		font-family t-0
		font-size 12px
		color #0062e1
		display inline-block
.b42-box
	display none
.b42-bnt
	text-align center
	font-size 16px
	
.subir-ar
	display inline-block
	font-size 13px
	font-family t-0
	color white
	padding 8px 15px 8px 26px 
	border 1px solid #0066cc
	background #0066cc
	position relative
	&:before
		content '\e90a'
		position absolute
		font-family icomoon
		font-size 18px
		left 4px
		top 6px
.mostrar-label
	color #33cc99
	font-size 13px
	display block
	
.b42-wrapper-subir
	display inline-block
	padding-right 20px
.g-checkbox
	vertical-align top
	margin-top 0px
	display inline-block
	width 49%
	text-align right
	
.input-solo
	display inline-block

.b42-label
	display inline-block
	vertical-align middle
	position relative
	border 1px solid #cccccc
	padding 7px 42px 7px 7px 
	span
		font-size 12px
		color #999999
	.b42-input-ar
		width 100%
		position absolute
		top 100%
		left 0
		overflow hidden
	input
		visibility hidden
		position absolute
		top 100%
	.text-input
		color #ffa500
	i
		color c-17
		font-size 14px
		position absolute
		left 103%
		top 7px
		display none

.b42-wrapper-archivos
	display inline-block
	position relative
	width 50%
.b42-subiendo
	position relative
	display inline-block
	a
		font-size 13px
		color c-1
		background #0066cc
		padding 10px 10px 10px 26px
	&:before
		content '\e90a'
		position absolute
		font-family icomoon
		font-size 12px
		color c-1
		top 7px
		left 6px
		margin auto
		pointer-events none
.b42-texto-1	
	p
		font-size 12px
		font-family t-1
		color #33cc99
// .dos-input
.input-aparte
		margin-bottom 20px
		
@media screen and (max-width 768px)
	.b42 .close-boxlight
		right 5px
		top 5px
	.b42
		width 94%
		
@media screen and (max-width 600px)
	.b42-texto h3
		font-size 14px
	.dos-input .g-input:first-child
		float none
	.dos-input .g-input
		float none
		width auto
		display: block
	.b42-wrapper-archivos
		width 100%
	
	.g-checkbox
		width 100%
		text-align center
	