// identity esta importado por defecto

.b19-datos
	display inline-block
	width 50%
	
.b19-subcuadro
	line-height 28px
	position relative
.b19-cnt-cv
	display inline-block
	vertical-align top
	position relative
	label
		font-size 13px
		color c-1
		background #0066cc
		padding 6px 10px 6px 26px
		position relative
		&:hover
			background-color #e4356c
		&:before
			content '\e92a'
			position absolute
			font-family icomoon
			font-size 16px
			color c-1
			top 2px
			left 6px
			margin auto
			pointer-events none
			
	.b19-box-cv
		width 100%
		position absolute
		top 100%
		left 0
		overflow hidden
	input
		visibility hidden
		position absolute
		top 100%
	p
		font-size 12px
		font-family t-1
		color #33cc99
		position absolute
		left 0
		top 30px
		display none
		margin 0
		
.text-input
	display inline-block
	border 1px solid #cccccc
	// padding 7px 0px 7px 7px
	padding-left 5px
	width 62%
	height 30px
	box-sizing border-box
	overflow hidden
	span
		display inline-block
		color #999999
		font-size 10px
		font-family t-1
		margin 0
		
@media screen and (max-width 653px)
	.text-input
		width 59%

@media screen and (max-width 644px)
	.text-input
		width 59%
@media screen and (max-width 618px)
	.text-input
		width 57%
@media screen and (max-width 600px)
	.b19-datos
		padding-bottom 10px
		display block
		width 100%
	.text-input
		width 100%
		margin-top 7px
	.b19-cnt-cv 
		p
			left 118px
			display inline-block
			width 100%
			top 0
			display none
			