// *
// 	outline 1px dashed red
.b5
	padding 40px 0
	.bx-controls
		max-width 1024px
		width 100%
		margin auto
		position relative
		z-index 50
		.bx-pager
			max-width 46%
			right 0
			text-align left
			bottom -5px
			.bx-pager-item
				a
					width 17px
					height 17px
					box-sizing border-box
					border 1px solid #197aaa
					border-radius 50%
					background transparent
					box-shadow 2px 2px 4px 1px rgba(0, 0, 0, 0.15)
					
					&.active
						background-color #197aaa
						box-shadow 2px 2px 4px 1px rgba(0, 0, 0, 0.49)
	.icon-fb-01
		color white
		font-size 40px
		position absolute
		top 25px
		right 20px
	
.b5-fb
	max-width 344px
	background-color #1174ce
	padding 25px 10px
	padding-bottom 20px
	box-sizing border-box

.b5-imagen	
	width 79.5%
	height 249px
	background-position: center center
	background-size: cover
	margin-left 20%
.b5-figura
	img 
		max-width 100%
		display block
		height auto
.b5-title
	text-align right
	color white
	padding-right 40px
	h2, h3 
		margin 0
		font-size 20px
		font-weight normal
	h3 
		font-family t-4
		margin-top 8px
		
.b5-fecha		
	position absolute
	right 10px
	top 10px
	background-color: #FFF
	width 42px
	height 42px
	line-height 18px
	text-align center
	font-size 13px
	padding-top 3px
	box-sizing border-box
	margin-bottom 0
	strong
		display block
		font-size 19px
	
.b5-content
	position relative
	margin-top 18px
.b5-icon
	position absolute
	top 0
	left 10px

.b2-iconos
	display block 
	text-align center 
	margin-top 30px
	&:first-child
		margin-top 0
	span 
		display block
		text-align center
		color white
		font-size 19px
.b5-fb, .b5-nove, .b5-noveimg, .b5-novetxt
	position relative
	display inline-block
	vertical-align middle
	box-sizing border-box
	color c-4
.b5-noveimg, .b5-novetxt
	vertical-align middle
	
.b5-fb
	width 33.59375%
	margin-right 1.9%
.b5-nove
	width 64%
.b5-novea, .b5-noveb
	display block
	
.b5-novea
	margin-top 22px
.b5-noveimg
	width 51.68%
	max-width 340px
	position relative
	img
		width 100%
.b5-novetxt
	width 44%
	margin-left 3%
	p
		max-height 90px
		overflow hidden
		font-family t-0
		font-size 15px

	h4
		font-family t-0
		font-size 22px
		min-height 25px
		overflow hidden
		color c-2
		margin 0


		
@media screen and (max-width 768px)
	.b5-fb
		max-width none
		width auto
		display block
		margin-right 0
	
	.b5-imagen, .b5-icon
		display inline-block
		vertical-align middle
	
	.b5-content
		text-align center
	
	.b5-imagen
		width 100%
		max-width 245px
		margin-left 0
		margin-left 50px
			
	.b5-icon	
		position static

	.b5-title
		text-align left

	.b5-nove
		width auto
		display block
		margin-top 20px
	
	.b5-fb, .b5-nove, .b5-noveimg, .b5-novetxt
		display block

	.b5-noveimg, .b5-novetxt		
		width auto
		max-width none
		
	.b5-novetxt
		margin-left 0
		margin-top 10px
		h4 
			min-height 45px
			font-size 18px
	

	.b5-novea, .b5-noveb
		width 49%
		display inline-block
		vertical-align top
	
	.b5-novea
		margin-top 0
		margin-left 2%
	
	.b5-nove
		font-size 0
	
	.b5 .bx-controls .bx-pager
		max-width none
		text-align right


@media screen and (max-width 480px)
	.b5-novea, .b5-noveb
		width auto
		display block
	
	.b5-novea
		margin-left 0
		margin-top 30px
	
	.b5-imagen
		margin-left 10px	
		
	.b5-imagen
		max-width 235px


// @media screen and (max-width 1024px)
// 	.b5-fb
// 		width 49%
// 		margin-right 0
// 	.b5-nove
// 		width 50%
// 		text-align center
// 	.b5-novea
// 		margin-top 10px
// 	.b5-noveimg
// 		width 60%	
// 	.b5-novetxt
// 		width 80%
// 	.b5-novetxt h4
// 		font-size 16px
// 		padding-top 0
// 	.b5-novetxt p
// 		font-size 12px
// 	.b5-btnb
// 		text-align center
// 	.b5-figura img
// 		max-width 98%
// 	.b5 .bx-controls .bx-pager
// 		margin-right 80px
// 		bottom -10px 
// @media screen and (max-width 460px)
// 	.b5-fb
// 		display none 
// 	.b5-nove
// 		width 100%
// 		margin-top 10px
// 	.b5-title h2
// 		font-size 17px
// 	.icon-fb-01
// 		font-size 32px
// 	.b2-iconos
// 		display inline-block
// 		margin-top 18px
// 		padding-left 20px
// 	.b5-content
// 		position static
// 		margin-top 50%
// 		margin-left 100px
// 	.b5-icon
// 		top 66%
// 		left 10%
// 	.b5-title h2
// 		display inline 
// 	.icon-fb-01
// 		display none 
// 	.b5-figura
// 		top 4%
// 	.b5 .bx-controls .bx-pager
// 		bottom -68px
// 		margin-right 80px
// 	.b5-title
// 		margin-right 0
// 		margin 0
// 		margin-right 30px
// 	.b5-noveimg
// 		width 100%

