// identity esta importado por defecto

// body 
//   background #000


// a 
//   color #ff0


// .cover 
// 	position absolute
// 	top 0
// 	left 0
// 	z-index 2
// 	poiter-event none
// 	width 100%
// 	height 100%
  
//   .hi 
//     position absolute
//     top 50%
//     left 50%
//     transform translate(-50%,-50%)
    
//     color #fff
    
//     font-family 'Roboto Slab', serif
//     font-size 24px
//     line-height 26px
//     text-align center
    
//     span 
//       cursor pointer
//       text-decoration underline
    
  


.tv 
  position absolute
  top 0
  left 0
  z-index 1

  width 100%
  height 100%

  overflow hidden
  
  .screen 
    position absolute
    top 0
    right 0
    bottom 0
    left 0
    z-index 1

    margin auto

    opacity 0
    transition opacity .5s

    &.active 
      opacity 1
    
  
