// identity esta importado por defecto
// .b6
.cnt-b6-b7
	max-width 1300px
	width 94%
	margin auto
	padding-bottom 30px
.b6-left
	max-width 300px
	float left
	position relative
	z-index  2
	.g-televentas
		margin-right 0
		width 100%
	.g-tl-cont
		border-width 2px
	.g-tl-cont:before
		height 70px
		font-size 70px
		top 30px
	.g-tl-cont:after
		height 27px
	.g-tl-cont .g-tl-ContIn 
		h5
			font-size 15px
			font-weight normal
		p
			font-size 19px
	.delivery
		display block
		text-align right
		padding-top 5px
		padding-right 10px
		font-size 14px
	.w-menulateral
		padding-bottom 20px
		border-bottom 1px solid #9e9e9e
		margin-bottom 20px
// .ui-widget.ui-widget-content		
// 	border 0
// 	background linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(232, 232, 232, 1) 100%)
// .ui-widget-header
// 	background none
// .ui-slider .ui-slider-handle
// 	border-radius 50%
// 	background-color #cccccc
// 	border 0
// 	cursor pointer
// .ui-state-active, .ui-widget-content .ui-state-active
// 	background-color #e4356c
// 	border 4px solid #e4356c
// 	top -.5em 
// 	margin-left -0.7em
.cnt-b7
	float right
	width 100%
	margin-left -300px
	.b7
		padding-left 15px
		margin-left 300px
.b6-title
	font-size 19px
	font-family t-4
	color #1174ce
	font-weight normal
	line-height 100%
.w-itemcategoria
	display block
	height 30px
	display table-cell
	width 2000px
	vertical-align middle
	box-sizing border-box
	padding 0 10px
	padding-right 30px
	padding-left 35px
	color #808080
	font-family t-4
	position relative
	font-weight bold
	&:after
		content "\e903"
		font-family icomoon
		font-size 10px
		width 14px
		height 10px
		position absolute
		right 10px
		top 0
		bottom 0
		margin auto
		transition all .35s ease
	&:hover, &.active
		color #e5356c
		background: rgba(255,255,255,1);
		background: gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(19%, rgba(239,239,240,1)), color-stop(100%, rgba(233,233,234,1)));
		background: linear-gradient(left, rgba(255,255,255,1) 0%, rgba(239,239,240,1) 19%, rgba(233,233,234,1) 100%);
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(239,239,240,1) 19%, rgba(233,233,234,1) 100%);
	&.active
		&:after
			transform rotateZ(180deg)
		
.w-subcategoria	
	display none
	a
		font-size 15px
		color #808080
		line-height 100%
		padding 4px 0
		padding-left 20%
		font-family t-0
		display block
		&:hover, &.active
			color #1174ce
			font-family t-4
.b6-precio
	text-align center
	font-size 0
	input
		width auto
		text-align center
		display inline-block
		vertical-align middle
		font-size 15px
		width 30%
	span
		display inline-block
		vertical-align middle
		font-size 15px
		color #808080
		width 30%
		
.b6-slide-range
	padding 20px 0
.b6-filtros
	padding 20px 0
	border-bottom 1px solid #9e9e9e
	
	li
		position relative
		padding-left 30px
		margin-top 10px
		&:first-child
			margin-top 0
	i
		width 14px
		height 14px
		border-radius 50%
		border 1px solid #cccccc
		display block
		position absolute
		left 0
		top 0
		bottom 0
		margin auto
		// z-index 2
		&:before
			content ""
			width 8px
			height 8px
			position absolute
			left 0
			right 0
			top 0
			bottom 0
			margin auto
			border-radius 50%
			background-color #e4356c
			visibility hidden
	label
		line-height 100%
		font-size 15px
		color #808080
		font-family t-0
	input[type="checkbox"]
		opacity 0
		position absolute
		left 0
		top 0
	input[type="checkbox"]:checked + i
		border-color #e4356c
	input[type="checkbox"]:checked + i:before
		visibility visible
		
.b6-popup
	background white
	padding 100px 0
	text-align center
	max-width 756px
	
.b6-popup-title
	font-family t-2
	color c-2
	font-size 35px
	margin-bottom 25px

.b6-valoracion
	margin-bottom 50px
	a
		display inline-block
		font-size 35px
		position relative
		color c-7
		margin 0 3px
		&:before,
		&:after
			transition-all()
		&.active,
		&:hover
			&:before
				display none
			&:after
				content "\e90e"
				font-family icomoon
				font-size 35px

@media screen and (max-width 768px)
	.cnt-b6-b7
		width auto