.productos
	.menu-mobile-open.scrolling
		top 41px
	.header .categorias-responsive	
		transition all .5s
		&.scrolling
			position fixed
			top 0
			width 100%
			left 0
			z-index 100
		&.active
			// transform translateX(300px
			pointer-events none
			left 300px
			opacity 0.5
			// filter blur(2px)
			// -webkit-filter blur(2px)
	.header .categorias-responsive .submenu-responsive
		display none !important
.cnt-b6-b7
	position relative
	padding-top 35px
	
.b7-no-encontrado
	h3
		font-family t-2
		font-size 35px
		color c-2
	p
		font-size 15px

.b7
	font-size 0

.b7-detalleproducto
	padding-top 20px
.b7-item
	width 33.33333333333333%
	// margin 1%
	display inline-block
	margin-bottom 30px
	vertical-align top
	@media screen and (min-width 1024px)
		transform matrix(1, 0, 0, 1, 0, 0)
		transition-all()
		&:hover
			.b7-wrapper
				transform matrix(1.05, 0, 0, 1.05, 0, 0)
				box-shadow 4px 6px 12px -3px rgba(0,0,0,0.44)
			.b7-over
				endmove()
			
.b7-wrapper
	max-width 308px 
	margin auto
	padding-top 5px
	// margin-left 15px
	box-sizing border-box
	position relative
	background-color #fff
	transition-all()
	box-shadow 2px 3px 12px -3px rgba(0,0,0,0.44)
.b7-img
	display block
	overflow hidden
	margin-bottom 15px
	max-width 286px
	height 205px
	text-align center
	border 1px solid rgba(0,0,0,.1)
	position relative
	img
		max-width 100%
		height auto
.b7-over
	background-color rgba(61, 191, 153, 0.75)
	padding 7px 15px
	width 150px
	height 30px
	color c-1
	position absolute
	top 0 
	left 0
	right 0
	bottom 0
	margin auto
	line-height 30px
	font-size: 20px
	opacity 0
	transition opacity .3s ease
	transition all .6s
	moveleft(-40px)
.b7-des
	h1
		font-family t-4
		font-size 14px
		color #262626
		height 40px
		padding 0 6px
	h1:hover
		color c-2
	p
		font-family t-0
		color #6e6e6e
		font-size 14px
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding 0 6px
.b7-des-precio
	background #f2f2f2
	display block
	font-family t-4
	font-size 16px
	padding 8px 15px
	position relative
	top 0
	bottom 0
	del
		position absolute
		color #9d9d9d
		font-family t-6
		right 0
		padding-right 6px

.b7-triangle
	position absolute
	top 0
	right 0
	display none
	z-index 1
	width 60px
	text-align right
	padding-right 4px 
	padding-top 15px
	box-sizing border-box
	em
		position relative	
.nuevo.b7-triangle::before
	content ""
	width 0
	height 0
	border-top 70px solid #016b9e
	border-left  70px solid transparent
	position absolute
	right 0
	top 0
.oferta.b7-triangle::before
	content ""
	width 0
	height 0
	border-top 70px solid #d13267
	border-left  70px solid transparent
	position absolute
	right 0
	top 0
.descuento.b7-triangle::before
	content ""
	width 0
	height 0
	border-top 70px solid #d13267
	border-left  70px solid transparent
	position absolute
	right 0
	top 0
.nuevo
	em
		color c-1
		font-family t-0
		font-size 12px
		display block
.oferta
	padding-top 10px
	
	em
		color c-1
		font-family t-0
		display block
		font-size 14px
.descuento
	padding-top 10px
	em:first-child
		color c-1
		font-family t-0
		font-size 13px
		display block
		
	em
		color #ffd74e	
		font-size 11px	  
		line-height 100%
.b6-catego
	text-align center
	padding 20px 0
.b6-close
	padding 10px 0
	// display block
	text-align right
	font-size 35px
	color #000
	display none
// @media screen and (max-width 1576px)
// 	.b7-item
// 		width 25%

.b7-relacionados
	margin-top 35px

.b7-relaciontitle
	border-top 1px solid #808080
	padding-top 20px
	line-height 100%
	font-size 19px
	color c-2
	margin-bottom 20px
	font-family: t-4

@media screen and (max-width 1100px)
	.b7-item
		width 44%
@media screen and (max-width 960px)
	.b6-close
		display block	
	.b7-item
		width 31.33%
		padding 0 10px
		box-sizing border-box
	.b6-left
		position fixed
		float none
		// right 100%
		left 0
		width 100%
		top 0
		height 100%
		overflow auto
		transform translateX(-102%)
		opacity 0
		transition all .5s
		padding-left 15px
		padding-right 10px
		// padding-top 50px
		box-sizing border-box
		background-color #fff
		border-right 1px solid #e8f1f9
		&.active
			z-index 1011
			opacity 1
			transform translateX(0)
	.cnt-b7
		transition all .5s
		transform translateX(0)
		
		&.active
			// filter blur(2px)
			// -webkit-filter blur(2px)
			transform translateX(300px)
			pointer-events none
			opacity 0.5
	.cnt-b7
		float none
		margin-left 0
		padding-left 0
		.b7
			margin-left 0
			padding-left 0
	.b7-wrapper
		margin auto
		

@media screen and (max-width 768px)
	.b7-detalleproducto
		padding-top 0

	.b7-item
		width 48%	
	
	.cnt-b6-b7
		padding-top 20px
	
	.cnt-b7 .b7
		text-align center
		
@media screen and (max-width 480px)	
	.b7-item
		width 90%
		margin auto
		margin-bottom 4%
	.b7-wrapper
		margin-left auto
		







		
	