
.b8 
	padding-top 20px
.b8-contenedor
	background #f4f4f4
	padding-top 55px
	padding-left 0
	padding-bottom 35px
	padding-right 0

.b8-wrapbarra
	border-bottom  1px solid  #808080
	
.b8-barra
	max-width 550px
	padding-left: 25px;
	position relative
	display block
	font-size 0
	margin 0
	li 
		display inline-block
		position relative
		overflow hidden
		width 33%
		text-align center
		a 
			height 60px
			display table-cell
			width 2000px
			vertical-align middle
			font-size 19px
			line-height 18px
		&:after
			content ""
			width 0
			height 0
			left 0
			right 0
			margin auto
			bottom 0
			position absolute
			border-style solid
			border-width 0 7px 8px 7px
			border-color transparent transparent #007bff transparent
			opacity 0
			transform translateY(20px)
			transition all .25s  
			
		&:first-child
			text-align left
			&:after
				left -40px
				
				
			
		&:hover, &.active
			color #007bff
			a 
				font-family: t-4
				
			&:after
				opacity 1
				transform translateY(0)


	
.b8-redessociales
	margin-top 34px
	
.b8-texto
	margin-top 30px
	color #4d4d4d
	font-size 16px
	line-height 24px
	position relative
	ul 
		margin-bottom 15px
	li 
		position relative
		padding-left 15px
		line-height 1.5
		
		&:before
			content "\e905"
			font-family icomoon
			font-size  10px
			position absolute
			color #24bc9f
			top 5px
			left 0px

	strong
		font-family t-4
		font-weight normal
		font-size 15px

.b8-itemtab
	position absolute
	top 0
	left 0
	width 100%
	opacity 0
	visibility hidden
	transition opacity .3s linear
	
	&.active
		position relative
		opacity 1
		visibility visible
	p
		padding-left: 6px;

.b8-redessociales	
	text-align left
.b8-recoment
	display inline-block
	vertical-align middle
	margin-right 6%
	font-family: t-4
	width 23.80%
	text-align left
	
	h3, h2
		font-weight normal
		margin 0
		font-size 19px
	h3 
		color #1174ce
	h2 
		color #24bc9f
		margin-top 10px
		

.b8-redes 
	width 70%
	display inline-block
	vertical-align middle
	margin-left 0
	font-size 0
.b8-ico
	font-size 26px
	color #5d5d5d
	background #f4f4f4
	display inline-block
	vertical-align top
	margin-left 2%
	width 32%
	line-height 63px
	text-align center
	position relative
	overflow hidden
	&:first-child
		margin-left 0
	&:before
		display block
		transition all 400ms ease
	&:hover
		color white
		&:before
			transform scale(0)
			transition-delay 70ms
		.b8-red
			transform translate(0%, 0%)
			border-radius 0%
			span
				transform translateY(0)
				// transition-delay 100ms
.b8-red
	background #1174ce
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	border-radius 100%
	transition all 300ms ease 70ms
	transform translate(-100%, 100%)
	color #fff
	font-family t-4
	font-size 16px
	span
		display block
		transform translateY(-100%)
		transition all 300ms ease 400ms
@media screen and (max-width 1120px)
	.b8-contenedor
		padding-top 20px
	.b8
		.wancho
			width auto
	.b8-contenedor
		padding-left 20px
		padding-right 20px
@media screen and (max-width 768px)
	.b8-barra
		max-width none
		li
			width 33.33%
			&:first-child
				text-align center
				&:after
					left 0
	.b8-texto
		text-align left

@media screen and (max-width 640px)
	.b8-redessociales
		text-align center
	.b8-recoment
		width auto
		display block
		margin 0
		text-align center
	.b8-redes
		width auto
		display block
		margin-top 10px
	

		

	
@media screen and (max-width 480px)
	.b8-barra li a
		font-size 14px
		letter-spacing -1px
	
	.b8-contenedor	
		padding-top 0

