.b9-wrap
	max-width 762px
	height  auto
.b9-left
	width 50%
	vertical-align top
	display inline-block
	img 
		max-width 100%
		display block
		height auto
		padding-top 31.5%
		
.b9-rigth
	width 49%
	vertical-align top 
	background-color #fafafa
	display inline-block
	padding-bottom 70px
	padding-top 100px
	h2 
		font-family t-2
		font-size 35px
		color #1174ce
		padding-left 20px
	span 
		font-family t-5
		font-size 35px
		color #24bc9f
		padding-left 20px
	p 
		font-family t-0
		font-size 16px
		color #4d4d4d
		padding-top 20px
		padding-left 20px
.b9-cuadro
	position relative
	padding-top 39px
	padding-left  20px
	select
		width 91px
		height 30px
		color #808080
		margin-top 10px
		position relative
.icon-flechaabajo-01
	font-size 10px
	color #1174ce
	position absolute
	bottom 15%
	left 25%
button  
	border none 
	color white
	background none 
	background-color #e5356c
	padding 8px 14px  8px 14px
	margin-left 25px
.b9-dormitorio
	padding-top 24px
	padding-left 20px
	strong
		font-family t-5
		font-size 15px
		color #808080
@media screen and (max-width 460px)
	.b9-left
		width 100%
	.b9-left img
		padding-top 5%
	.b9-rigth
		width 100%
		padding-top 20px
		padding-bottom 30px
	.b9-rigth h2
		font-size 20px
	.b9-rigth span
		font-size 25px
	.b9-rigth p
		font-size 13px
		padding-top 10px
	.b9-cuadro
		padding-top 0
	.icon-flechaabajo-01
		bottom 28%
		left 93px
	.b9-dormitorio
		padding-top 10px