.footer
	padding-top 40px
	background #f1f1f1
	.wancho
		max-width 960px
		text-align center
		font-size 0
.footer-item
	font-size 0
	position relative
	margin-bottom 8px
	&:before
		content ""
		position absolute
		right 0
		height 72px 
		width 1px
		background #cccccc
		top 0
	&:last-child
		&:before
			display none
	a
		width 150px
		display inline-block
		vertical-align middle
		font-family t-7
		font-size 17px
		margin-bottom 20px
		position relative
		color #808080
		text-align center
		transition-all()
		&:before
			content ""
			position absolute
			right 0
			height 15px
			width 1px
			background #cccccc
			top 0
			bottom 0
			margin auto
		&:hover
			color c-2

		&:first-child
			padding-left 0
		&:last-child
			&:before
				display none
	.libro
		text-align left
		span
			transition-all()
			&:hover
				color c-2
	span
		color #cccccc
		font-size 25px
		position absolute
		top -10px
		right 40px
		
.footer-left,
.footer-servicio,
.footer-right
	display inline-block
	vertical-align top
	
.footer-left
	text-align left

.footer-right
	padding-left 70px
	// padding-top 10px
	
	
.footer-servicio
	padding-left 30px
	color #808080
	position relative
	width 160px
	text-align left
	.footer-servicios
		&.active
			.footer-servicios
				display block
	&:before
		content "\e912"
		font-family icomoon
		position absolute
		top 8px
		right -5px
		bottom 0
		margin auto
		opacity 0
	p
		margin-bottom 5px
		margin-top -3px
		font-size 17px
		font-family t-7
		transition-all()
		&:hover
			color c-2
	a
		display block
		padding-left 10px
		position relative
		font-size 14px
		transition-all()
		&:hover
			color c-2
		&:before
			content ""
			position absolute
			width 3px
			height 3px
			border-radius 50%
			background gray
			left 0
			top 0
			bottom 0
			margin auto

.footer-img
	display block
	margin-bottom 10px
	img
		img-res()

.footer-suscribe-verde
	height 35px
	background c-7
	opacity 0
	text-align center
	&.active
		opacity 1
	span
		color white
		font-size 20px

.footer-boletin
	background c-7
	text-align center
	position relative
	&.active
		display none
	.icono 
		position absolute
		top 10px
		right 0
		font-size 20px
		color white
		cursor pointer
			
	.wancho
		position relative
	.footer-img2
		position absolute
		top -98px
		left -230px
		display block
			movetop(0)
			&.active
				endmove()
					opacity 1

	p
		font-size 35px
		display inline-block
		vertical-align middle
		font-family t-6
		color white
		margin-bottom 20px
		margin-top 20px
		margin-right 35px
		line-height 1
		text-align left
	strong
		font-size 30px
		font-family t-2
		font-weight 100
	.footer-form
		display inline-block
		vertical-align middle
		font-family t-2
		.footer-input
			display inline-block
			vertical-align middle
			width 290px
			// @media screen and (min-width 1024px)
			// 	moveleft(-20px)
			// 	&.active
			// 		endmove()
			input
				width 100%
				background white
				padding-left 10px
				height 45px
		.footer-send
			z-index 2
			position relative 
			span
				position relative
				top 2px
		// 	@media screen and (min-width 1024px)
		// 		moveleft(20px)
		// 		transition-delay .3s
		// 		&.active
		// 			endmove()
		button
			display inline-block
			vertical-align middle
			margin-left 0
			font-size 30px
			background c-2
			margin-left -5px
			padding-top 0
			padding-bottom 0
			line-height 57px
				
				

// creditos
.footer-copy
	overflow hidden
	font-size 13px
	height 32px
	.wancho
		overflow hidden
		margin-top 9px
.footer-copy-left
	float left
	p
		margin 0
.footer-copy-right
	float right
	font-size 13px
.staffcreativa
	position relative
	padding-right 0.45em
	transition-all()
	font-family 'arial'
	&:after
		content '\e60e'
		font-family icomoon
		font-size 0.7em
		font-style normal
		font-variant normal
		font-weight normal
		line-height 1
		position absolute
		right 0
		speak none
		text-transform none
		top 0.1em
.link-staff
	color #808080
	&:hover .staffcreativa
		color #000

@media screen and (max-width: 1400px)
	.footer-boletin
		.footer-img
			display none
@media screen and (max-width 1024px)
	.footer-img2
		display none
@media screen and (max-width: 1018px)
	.footer-servicio
		display none
	.menu-sidebar
		.footer-servicio
			display block
		.footer-servicios
			a
				padding 5px 6px
	.footer-left
		display block
		text-align center
	.footer
		.footer-item a
			width 260px
			padding-left 50px
		.footer-item:before
			display none
		.footer-item a:before
			display none
		.dn
			display none
	.menu-sidebar-cnt
		.header-redes
			position inherit
			width 100%
			height auto
			padding 5px
			box-sizing border-box
			border-radius 10px
			text-align center
			margin-top 20px
			a
				display inline-block
	

@media screen and (max-width: 980px)
	.footer-right
		padding-left 50px

@media screen and (max-width: 960px)
	.footer .wancho
		text-align center
	.footer-item a
		text-align left
	.footer-right
		padding-left 0
		width 313px
		margin auto
		text-align center
		margin-top 10px
	.footer-copy-right
		float none
		margin-bottom 20px
	.footer-left
		width 100%
		text-align center
	.footer-item:before
		display none
	.footer-servicio
		margin-bottom 20px
		text-align left
		padding-left 15px
	.footer-form
		width 100%
		margin-bottom 20px

@media screen and (max-width: 620px)
	// creditos
	.footer-copy
		height auto
		text-align center
		font-size 12px
		margin auto
		padding 8px 0 12px
	.footer-copy-left
		float none
	.footer-copy-right
		float none

@media screen and (max-width: 500px)
	.footer
		padding-top 30px
	.footer-boletin .footer-form .footer-input
		width 220px
		
	.footer-item 
		a
			display block
			padding 0
			margin-bottom 15px
			text-align center
		span
			right 20px

	.footer-item a:before
		display none
	
	.footer-servicio
		padding-left 0
		
	.footer-boletin 
		p
			margin-right 0
			font-size 25px
		strong
			font-size 18px
		
	.footer-right
		width 295px
	
