.header-form-content
	background c-1
	padding-top 23px
	position relative
	display none
	z-index 1
	text-align center
	&.active
		display block
	.header-input
		display inline-block
		vertical-align middle
		width 70%
		font-size 18px
		font-family t-0
		text-transform uppercase
		placeholder(#a1a1ac,t-2)
		margin 0
		input
			width 97%
			background transparent
			border none
			border-bottom 1px solid black
			height auto
	button
		display inline-block
		vertical-align middle
		width 16%
		font-size 16px
.icono-imagen-nav
	width 30px
	height 26px
	background-position top left
	&:hover
		background-position bottom left
		
.header
	.header-form
		padding-right 34px
		.header-icon
			cursor pointer
			display inline-block
			vertical-align middle
			&:after
				content "\e900"
				font-family icomoon
				font-size 25px
				position absolute
				top -4px
				right 0
				color #a1a1ac
				display inline-block
				vertical-align middle
		&.active
			.header-icon
				top -4px
				&:after
					content "\e904"
					border-radius 50%
					width 35px
					height 35px
					line-height 35px
					text-align center
					top -16px
					right -10px
					padding 5px
					font-size 21px
	.header-ctn
		margin-top 25px
		margin-bottom 10px
		position relative
		.wancho
			max-width 1026px
	.header-logo
		text-align left
		display inline-block
		vertical-align middle
		img
			display block
	.categorias-responsive
		display none
		vertical-align middle
		.submenu-responsive
			position relative
			z-index 99
			display none
			background #f9f7f5
			width 100%
			top 100%
			padding 10px 0
		.submenu-item
			display block
			border none
			border-bottom 1px solid #ccc
			padding 7px 0
			width 250px
			&:last-child
				border none
			
	.menu
		display inline-block
		vertical-align middle
		float right
	.menu-item,
	.header-caja
		display inline-block
		margin-right 40px
		font-size 0
		&:last-child
			margin-right 0
	.menu-item
		position relative
		.carrito-detalle
			width 389px
			position absolute
			top 52px
			left -190px
			z-index 99
			background #fafafa
			text-align center
			box-shadow 10px 10px 9px -9px rgba(0,0,0,0.75)
			display none
			&.active
				display block
			p
				margin-bottom 0
			&:before
				content ""
				position absolute
				top -13px
				left 0
				right 0
				margin auto
				background url(../img/carrito-adorno.png) center center no-repeat
				width 26px
				height 13px
		.carrito-item
			padding 20px 0
			margin 0 20px
			border-bottom 1px solid #e0e0e0
			text-align left
			font-size 0
			span
				position absolute
				right 10px
				t 0
				font-size 20px
				color #c2c2c2
		.carrito-img
			max-width 130px
			display inline-block
			vertical-align top
			background white
			img
				img-res()
		.carrito-texto
			display inline-block
			vertical-align top
			max-width 180px
			text-align left
			padding-left 15px
			h4
				font-family t-0
				font-size 16px
				color c-2
				margin-bottom 8px
			h3
				font-family t-6
				font-size 16px
				color c-7
				margin-bottom 5px
			p
				font-family t-4
				font-size 15px
				color #808080
		.carrito-precio
			padding 13px 20px
			padding-bottom 23px
			text-align center
		.label-total
			color c-2
			font-family t-0
			font-size 16px
			display inline-block
			vertical-align middle
			padding 0 15px
		.total
			font-size 16px
			font-family t-4
			color c-7
			display inline-block
			vertical-align middle
			padding 0 15px
		.bt
			margin 0 22px
			margin-bottom 40px
	.menu-link
		display inline-block
		font-size 14px
		text-align left
		font-family t-7
		color c-4
		transition-all()
		.icon-hombre-01
			margin-left 10px
		&:hover
			color c-2
			span,
			.header-icon:after
				color c-2
		span,
		.menu-box
			display inline-block
			vertical-align middle
		span
			font-size 45px
			color #808080
		.menu-box
			text-align left
			padding-left 5px
			.menu-text
				font-size 13px
				margin-bottom 0
			a
				font-size 15px
				font-family t-4
				color c-2
				display block
				line-height 1.1
		.menu-title
			font-size 14px
			font-family t-4
			color c-7
			line-height 1
			margin-bottom 0
		.menu-text
			color c-4
		.cgray
			color #a1a1a1
			font-size 25px
			margin-top -5px
	.adorno
		position relative
		display inline-block
		&:after
			content ""
			position absolute
			top 0
			bottom 0
			left -12px
			margin auto
			width 4px
			height 4px
			border-radius 50%
			background #a1a1a1
	.sesion
		.caja-sesion
			display none
			position absolute
			top 52px
			left -10px
			background white
			padding 10px
			z-index 99
			box-shadow 10px 10px 9px -9px rgba(0,0,0,0.75)
			width 160px
			font-family t-7
			font-size 14px
			color #5d5d5d
			&:before
				content ""
				position absolute
				top -13px
				left 20px
				margin auto
				background url(../img/carrito-adorno.png) center center no-repeat
				width 26px
				height 13px
			&.active
				display block
		div
			padding 10px 0
			border-bottom 1px solid #ccc
			padding-left 25px
			&:last-child
				border-bottom none
	.mr20
		margin-right 40px
	.submenu
		background #f5f5f5
		position relative
		// padding 10px 0
		text-align center
		border-top 1px solid #cccccc
		border-bottom 1px solid #cccccc
		.wancho
			max-width 1026px
	.submenu-item
		display inline-block
		vertical-align middle
		// width 139px
		width 152px
		// width 14.28%
		// width 14%
		border-left 1px solid #cccccc
		// &.sub-item-2
		// 	width 160px
		&:hover
			p
				color c-3
			span
				color c-7
				background-position bottom left
		span,
		p
			display inline-block
			vertical-align middle
			color #808080
		p
			margin-bottom 0
			transition-all()
			font-size 15px
			font-family t-7
		span
			width 30px
			height 26px
			background-position top left
			// background-position top center
			background-repeat no-repeat
		.submenu-p
			font-family t-4
			color #999999
			&:hover
				color #2a569f
 			
.buscador-movil
	display none
	
// Menu responsive
.responsive-logo
	margin-top 10px
	width 80%
	display block
	img
		display block
		width 100%
		height auto

.menu-overlay
	position fixed
	top 0
	left 0
	background-color black
	z-index -1
	width 100%
	height 100%
	opacity 0
	cursor pointer
	transition all 0.45s ease
	&.active
		z-index 1000
		opacity 0.8
.menu-mobile-close, .menu-mobile-open
	background-color c-2
	border-radius 7%
	color white
	cursor pointer
	font-size 28px
	height 42px
	line-height 42px
	position fixed
	right 5px
	text-align center
	top 24px
	transition all 0.45s ease
	width 42px
	transform rotate(0deg)
.menu-mobile-open
	opacity 1
	visibility hidden
	z-index 1002
	&.scrolling
		opacity 0.6
	&:hover
		opacity 1
	&.active
		visibility hidden
		opacity 0
		right 220px
		z-index 1000
		transform rotate(-90deg)
.menu-mobile-close
	visibility hidden
	opacity 0
	z-index 1000
	background white
	color c-2
	&.active
		visibility visible
		opacity 1
		right 235px
		z-index 1002
		transform rotate(-90deg)
.menu-sidebar
	width 0px
	height 100%
	overflow auto
	position fixed
	top 0
	right -200px
	background white
	z-index 1000
	transition right 0.45s ease
	&.active
		right 0
		width 230px
.menu-sidebar-cnt
	padding 0 20px

				
.header-redes
	position fixed
	top 200px
	right 0
	background c-2
	width 60px
	height 150px
	z-index 999
	padding-top 10px
	border-radius 8px 0 0 8px
	margin-bottom 20px
	a
		display block
		font-size 30px
		color #1174ce
		background white
		text-align center
		width 40px
		height 40px
		border-radius 50%
		margin 5px
		line-height 40px
		transition-all()
		&:hover
			color c-7

.cnt-wrapper,.footer
	position relative
	left 0
	transition left 0.45s ease
	&.active
		left -200px
.wrapper
	overflow hidden

body
	&.active
		overflow hidden
		
@media screen and (max-width 1090px)
	.header .menu-item .carrito-detalle
		width 370px
		top 45px
	.header .sesion-activa .caja-sesion
		top 45px
	.header .menu-item .carrito-detalle:before
		left 35px
	.header
		.submenu-item
			width 140px
@media screen and (max-width 1018px)
	.header
		.header-ctn
			margin-top 18px
		.menu-list
			padding-right 50px
		.menu-item-uno,
		.submenu
			display none
		.menu
			padding-top 16px
		.categorias-responsive
			display inline-block
			vertical-align middle
			width 100%
			background c-2
			color white
			text-align center
			a
				display inline-block
				padding 7px 0
			span
				// margin-left 10px
				margin-left 1px
				display inline-block
				// vertical-align middle
		.submenu-item span
			// width 50px
			text-align left
		.submenu-item p
			width 100px
			text-align left
		.sesion .caja-sesion
			top 45px
		.footer-left .dn
			display block
		.submenu-item
			.submenu-p
				width 140px
	.header-redes
		opacity 0
		&.menu-responsive
			opacity 1

	.dn
		display none
	.menu-mobile-open
		visibility visible
	.header .adorno:after
		display none
	.header .menu-link .icon-hombre-01
		margin-left 0
	.header .mr20
		margin-right 15px	
		
	.header .menu-link:hover
		color #5d5d5d
	
	.header .menu-link:hover span, 
	.header .menu-link:hover .header-icon:after
		color #a1a1ac
		
	.menu-responsive
		padding-top 20px
		padding-left 7px
		position relative
		.menu-item
			line-height 1
			font-size 16px
			a
				display block
				&:hover, &.active
					background-color c-1
					color white
		.footer-item 
			margin-bottom 0
			.libro
				display none
			a
				width 90%
				font-size 15px
				padding 15px 0
				margin 0
				border-bottom .5px solid #e3dfdf
				position relative
				&:after
					content ""
					position absolute
					bottom 0
					left 0
					width 25px
					height 3px
					background #e3dfdf
				&:before
					display none
			span
				display none
		.menu-link
			display inline-block
			font-size 14px
			text-align left
			transition-all()
		.menu-box
			text-align left
			margin-bottom 10px
			.menu-text
				font-size 15px
				margin-bottom 3px
			a
				font-size 19px
				font-family t-4
				color c-2
				display block
		.menu-title
			font-size 18px
			font-family t-4
			color c-7
			line-height 1
			margin-bottom 3px
		.cgray
			color #a1a1a1
			font-size 25px
			margin-top -5px
			margin-left 6px
		.adorno
			position relative
			display inline-block
			&:after
				content ""
				position absolute
				top 0
				bottom 0
				left -12px
				margin auto
				width 5px
				height 5px
				border-radius 50%
				background #a1a1a1
		.mr20
			margin-right 20px
			margin-bottom 10px
		.submenu
			padding 10px 0
			text-align center
		.submenu-item
			display block
			margin-bottom 10px
			span,
			p
				display inline-block
				vertical-align middle
			p
				margin-bottom 0
				transition-all()
				&:hover
					color c-3
			span
				// transition-all()
				&:hover
					color c-2

@media screen and (max-width 860px)
	.header-form-content .header-input
		width 50%
	.header-form-content button
		width 100px
		
@media screen and (max-width 768px)
	.header-icon
		color white
	.header .header-form
		padding 0
		cursor pointer
	.header .menu-item .carrito-detalle
		left -230px
	.header .menu-item .carrito-detalle:before
		left 110px
		
@media screen and (max-width 600px)
	.header
		padding-right 0px
		.menu
			padding-top 5px
		.menu-item
			&.center
				position absolute
				left 0
				right 0
				margin auto
				width 60px
			&.menu-item-movil
				position absolute
				right 0
	.header-form-content	
		padding 15px 0
		margin-top 10px
		border-top .5px solid #989292
	.header-form-content-box
		display none
	.header .menu
		float none
		display block
		margin-top 20px
	.buscador-movil
		display block
	.header-form-content .header-input
		font-size 14px
	.header-form-content button
		width 81px
		font-size 11px
		padding 0px 19px
		height 25px
		line-height 25px
		margin-bottom 6px
	
	.header .menu-item .carrito-detalle
		display none
		
	.menu-sidebar-cnt
		.footer-item
			a
				text-align left
