{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de locales</strong></h3>
            <p>Añade un nuevo local o edita alguno existente.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.lugar) }}
            {{ form_row(form.imagen) }}
            {{ form_row(form.direccion) }}
            {{ form_row(form.telefonos) }}
            {{ form_row(form.latitud) }}
            {{ form_row(form.longitud) }}
            
            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document)
    .ready(function(){
        $("#local_imagen")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 625 x 137 (px).</div>");

        $("#local_telefonos")
        .closest(".col-sm-10")
            .append("<div class='help-block'>Si hubieran más de uno, éstos deben ir separados por comas. Por ejemplo: 908717856,018976721.</div>");
    });
</script>
{% endblock %}
