@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s81f6u');
  src:  url('fonts/icomoon.eot?s81f6u#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s81f6u') format('truetype'),
    url('fonts/icomoon.woff?s81f6u') format('woff'),
    url('fonts/icomoon.svg?s81f6u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-upload:before {
  content: "\e92a";
}
.icon-google-plus:before {
  content: "\e918";
}
.icon-star-3:before {
  content: "\e90e";
}
.icon-star-two:before {
  content: "\e90f";
}
.icon-libro-01:before {
  content: "\e90c";
}
.icon-otros-01:before {
  content: "\e90d";
}
.icon-salud-012:before {
  content: "\e928";
}
.icon-espejo-012:before {
  content: "\e929";
}
.icon-dolar:before {
  content: "\e927";
}
.icon-prociento:before {
  content: "\e926";
}
.icon-nube-01:before {
  content: "\e925";
}
.icon-tecnologia:before {
  content: "\e923";
}
.icon-diseno:before {
  content: "\e924";
}
.icon-staff:before {
  content: "\e60e";
}
.icon-almohadamemoryfoam-01:before {
  content: "\e900";
}
.icon-almohadas-01:before {
  content: "\e901";
}
.icon-canasta-01:before {
  content: "\e902";
}
.icon-Capturadepantalla2015-08-26alas135022-01:before {
  content: "\e903";
}
.icon-cerrar-01:before {
  content: "\e904";
}
.icon-circulopequeo-01:before {
  content: "\e905";
}
.icon-circulo-01:before {
  content: "\e906";
}
.icon-cocina-01:before {
  content: "\e907";
}
.icon-cupon-01:before {
  content: "\e908";
}
.icon-delivery-01:before {
  content: "\e909";
}
.icon-descarga-01:before {
  content: "\e90a";
}
.icon-fb-01:before {
  content: "\e910";
}
.icon-fitness-01:before {
  content: "\e911";
}
.icon-flechaabajo-01:before {
  content: "\e912";
}
.icon-flechaabajo-01-01:before {
  content: "\e913";
}
.icon-flechaarriba-01:before {
  content: "\e914";
}
.icon-flechaderecha-01:before {
  content: "\e915";
}
.icon-flecha-01:before {
  content: "\e916";
}
.icon-hombre-01:before {
  content: "\e917";
}
.icon-linea-01:before {
  content: "\e919";
}
.icon-locutor-01:before {
  content: "\e91a";
}
.icon-mas-01:before {
  content: "\e91b";
}
.icon-masajes-01:before {
  content: "\e91c";
}
.icon-telefono-01:before {
  content: "\e91f";
}
.icon-ubicacion-01:before {
  content: "\e920";
}
.icon-utilitarios-01:before {
  content: "\e921";
}
.icon-youtube-01:before {
  content: "\e922";
}
.icon-envelope:before {
  content: "\e61d";
}
.icon-close:before {
  content: "\e605";
}
.icon-social-facebook:before {
  content: "\e603";
}
.icon-social-twitter:before {
  content: "\e604";
}
.icon-menu:before {
  content: "\e602";
}
.icon-arrow-right:before {
  content: "\e606";
}
.icon-arrow-left:before {
  content: "\e607";
}
.icon-arrow-down:before {
  content: "\e608";
}
.icon-arrow-up:before {
  content: "\e609";
}
.icon-calendar-alt-fill:before {
  content: "\e91d";
}
.icon-date:before {
  content: "\e91d";
}
.icon-calendar-alt-stroke:before {
  content: "\e91e";
}
.icon-date2:before {
  content: "\e91e";
}
.icon-play:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e612";
}
.icon-location:before {
  content: "\e600";
}
.icon-phone:before {
  content: "\e60a";
}
.icon-youtube:before {
  content: "\e601";
}

