{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}

<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de Color</strong></h3>
            <p>Añade un nuevo Color.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.color) }}
            {{ form_row(form.descripcion) }}
            {# Escoja un color: <input class="jscolor" id="colo_picker" value="">#}
            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>

</div>
<script src="{{ asset('static/js/jscolor/jscolor.js') }}" type="text/javascript"></script>
<script src="{{ asset('static/js/spectrum.js') }}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('static/css/spectrum.css') }}">
<script type="text/javascript">


    // $(document).ready(function () {
    //     var color =  $("#colo_picker").val();
    //     console.log(color);
    // });

  $(document).ready(function() {

    currentColor = $("#color_color").val();

    setTimeout(function(){
      if(currentColor){
        $(".sp-preview-inner").css("background-color", currentColor);
      }else{
        $(".sp-preview-inner").css("background-color", "");
      }
    }, 0);

    $("#color_color").spectrum({
      showPalette: true,
      showPaletteOnly: true,
      showSelectionPalette: true, // true by default
      togglePaletteOnly: true,
      togglePaletteMoreText: 'more',
      togglePaletteLessText: 'less',
      color: 'blanchedalmond',
      palette: [
          ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
          ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
          ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
          ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
          ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
          ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
          ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
          ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
      ]
    });

  });



  // $('[id$=imagenTodo]')
  //   .closest(".col-sm-10")
  //     .append("<div class='help-block'>Se recomienda que las imágenes tengan uno de los siguientes tamaños: 1497 x 1074 (px).</div>");


  // $("#presentacion_imagenes").on("click", ".collection-add", function(){
  //   setTimeout(function(){
  //     $('#field-presentacion_imagenes')
  //       .find('[id$=imagenTodo]')
  //         .last()
  //           .closest(".col-sm-10")
  //             .append("<div class='help-block'>Se recomienda que las imágenes tengan uno de los siguientes tamaños: 499 x 358 (px).</div>");
  //   }, 0);
  // });
</script>











{% endblock %}
