{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{ path(ROUTER_NAME~'_new') }}">
            <i class="fa fa-plus-circle"></i>
            Nuevo Color
        </a>
    </li>
</ul>

{% endblock %}

{% block form_content -%}

<div class="box-header">
    <h3 class="box-title"><strong>Listado de Colores </strong></h3>

</div>
<div class="box-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td class="control-ajax">
                            <a href="{{ path(ROUTER_NAME~'_edit', { 'id': entity.id }) }}">{{ entity.color}}</a>
                        </td>

                        <td>
                                {{ entity.descripcion}}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function(){
        $(".sp-container").css("display", "none");
    });
</script>
{% endblock %}
