{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}
{% if entities %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id = "downloadfile" href="{{ path('exportar-formulariopromocion') }}" target = "_blank">
                    <i class="fa fa-plus-circle"></i>
                    Exportar suscritos a promociones
                </a>
            </li>
        </ul>
        <script type="text/javascript">
            $('#downloadfile').on('click', function(e){
                e.preventDefault();
                window.open($(this).attr('href'), "_blank");
                return false;
            });
        </script>
    {% endif %}
{% endblock %}

{% block form_content -%}
<div class="box-header">
    <h3 class="box-title"><strong>Listado de suscritos a promociones</strong></h3>
    <p>Listado de quienes se han suscrito a las promociones de Life it a través de su página web.</p>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>
                        <th>Promoción</th>
                        <th>Cliente</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Fecha de registro</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td class="control-ajax">
                            {{ entity.promocion.nombres }}
                        </td>
                        <td>
                          {{ entity.nombres }}
                        </td>
                        <td>
                           {{ entity.email }}
                        </td>
                        <td>
                            {{ entity.telefono }}
                        </td>
                        <td>
                             El {{ entity.fecha|date("d-m-Y")}} a las {{ entity.fecha|date("H:i:s") }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}