{% extends 'WebBundle:_common:_base.html.twig' %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<!-- BLOQUE 38 -->
<section class="b38">
    <div class="wancho">
        <h1 class="g-title-up">Déjanos un mensaje</h1>
        <div class="b38-cnt">
            <div class="b38-left b38-cnt-form">
                {{ form_start(form, {'attr':{'class':'val-form','novalidate': 'novalidate'}}) }}
                    <div class="b38-space b38-input">
                        {{ form_widget(form.nombres, {'attr': {'class':'validate[required]','placeholder':'Nombre y Apellidos:'}}) }}
                    </div>
                    <div class="b38-space b38-input-radio">
                        <ul>
                            <li>
                                <span>
                                    {{ form_widget(form.programa.0, {'attr': {'class':'validate[required]'}}) }}
                                    <i class="b38-masc"></i>
                                    {{ form_label(form.programa.0) }}
                                </span>
                            </li>
                            <li>
                                <span>
                                    {{ form_widget(form.programa.1, {'attr': {'class':'validate[required]'}}) }}
                                    <i class="b38-masc"></i>
                                    {{ form_label(form.programa.1) }}
                                </span>
                            </li>
                            <li>
                                <span>
                                    {{ form_widget(form.programa.2, {'attr': {'class':'validate[required]'}}) }}
                                    <i class="b38-masc"></i>
                                    {{ form_label(form.programa.2) }}
                                </span>
                            </li>
                            <li>
                                <span>
                                    {{ form_widget(form.programa.3, {'attr': {'class':'validate[required]'}}) }}
                                    <i class="b38-masc"></i>
                                    {{ form_label(form.programa.3) }}
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="b38-space b38-input">
                        <div class="b38-select">
                            {{ form_widget(form.carrera, {'attr': {'class':'validate[required]','placeholder':'Seleccione:'}}) }}
                        </div>
                    </div>
                    <div class="b38-space b38-input2">
                        <div class="b38-input-left">
                            {{ form_widget(form.dni, {'attr': {'class':'validate[required]','placeholder':'DNI:'}}) }}
                        </div>
                        <div class="b38-input-right">
                            {{ form_widget(form.telefono, {'attr': {'class':'validate[required]','placeholder':'Teléfono:'}}) }}
                        </div>
                    </div>
                    <div class="b38-space b38-input2">
                        <div class="b38-input-left">
                            {{ form_widget(form.email, {'attr': {'class':'validate[required,custom[email]]','placeholder':'E-mail:'}}) }}
                        </div>
                        <div class="b38-input-right">
                            <div class="b38-select">
                                {{ form_widget(form.distrito, {'attr': {'class':'validate[required]','placeholder':'Distrito:'}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="b38-space b38-textarea">
                        {{ form_widget(form.mensaje, {'attr': {'class':'validate[required]','placeholder':'Mensaje:'}}) }}
                    </div>
                    <div class="b38-space b38-input-button">
                        <ul>
                            <li><span>{{ form_widget(form.suscripcion, {'attr': {'class':'validate[required]'}}) }}<i class="b38-masc"></i><label for="form_suscripcion">Deseo recibir información acerca de programas, cursos y seminarios </label></span></li>
                            <li><span>{{ form_widget(form.terminos, {'attr': {'class':'validate[required]'}}) }}<i class="b38-masc"></i><label for="form_terminos">Declaro expresamente haber leído y aceptado las Políticas de Privacidad</label></span></li>
                        </ul>
                         <button class="g-btn orange b38-send" type="submit">
                             <span>Envíar</span>
                         </button>
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="b38-right">
                <div class="b38-info">
                    <span>Línea de Atención </span>
                    <a href="tel:715-3333"> 715-3333</a>
                </div>
                <div class="b38-info">
                    <span>Línea de Atención </span>
                    <a href="tel:715-3333"> 715-3333</a>
                </div>
                <div class="b38-correo">
                    <a href="mailto:informes@ua.edu.pe">informes@ua.edu.pe</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BLOQUE 39 -->
<section class="b39">
    <div class="wancho">
        <div class="b39-cnt">
            <div class="b39-text">
                <div class="b39-table">
                    <h2>un campus con </h2>
                    <h2>más de <span>35 000<strong>m<sup>2</sup></strong></span></h2>
                    <h3>Ubicado en el km. 16.3 de la carretera Panamericana Sur</h3>
                </div>
                <div class="b39-ctn">
                     <a href="" class="g-btn">
                         <span>ver campus</span>
                     </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- BLOQUE 40 -->



<div class="b40">
    <div class="b40-map">
        <div id="map">
        </div>

        <div class="g-btn b40-cerrar">
            <a href="" class="g4-btn1"><span>CERRAR MAPA</span></a>
        </div>
    </div>

    <div class="g-btn b40-lanzador">
        <a href="" class="g4-btn1"><span>VER MAPA</span></a>
    </div>
</div>
{% endblock %}

{% block jsfinal %}
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
    $(function(){
        var $map = $('#map'),myLatlng = new google.maps.LatLng(-12.102305,-77.0218639), bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            zoom             : 15,
            center           : myLatlng,
            mapTypeControl   : true,
            disableDefaultUI : true,
            zoomControl      : true,
            scrollwheel      : false,
            draggable        : true
        }
        var map = new google.maps.Map(document.getElementById('map'), mapOptions);
        markers = [marker]
        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map
            // icon: '/static/media/map.png'
        });
        $('.b40-lanzador').click(function(event) {
            event.preventDefault();
            $(this).addClass('lnz');
        });

        // MAPA REPONSIVE
        var $lanzador = $('.b40-lanzador'), $closeMapa = $('.b40-cerrar'), itemMapa = $('.b40-map')

        $lanzador.click(function(event) {
            event.preventDefault()
            itemMapa.addClass('active');
        });
        $closeMapa.click(function(event){
            event.preventDefault()
            itemMapa.removeClass('active')
        })
    });
</script>
{% endblock %}
