{% extends 'WebBundle:_common:_base.html.twig' %}

{% block cssadicional %}
{% endblock %}

{% block classbody %}{% endblock %}

{% block content %}
<!-- BLOQUE 6 -->
<section class="b6 gracias-c">
    <div class="wancho">
        <div class="b6-cnt">
            <div class="b6-left gracias-left">
                <span class="gracias-h1">Gracias</span>
                <h1 class="g-title-up">por comunicarte <br> con nosotros</h1>
                <div class="b6-text">
                    <p>Nos pondremos en contacto a la brevedad y serás <br>
                    parte de la autonomía</p>
                </div>
                <div class="gracias-btn">
                     <a href="" class="g-btn orange" data-text="Ir a Home">
                         <span>Ir a Home</span>
                     </a>
                </div>
            </div>
            <div class="b6-right gracias-right">
                <figure>
                    <img src="{{ asset('static/img/gracias-img.png') }}" width="707" height="435" alt="">
                </figure>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block jsfinal %}
{% endblock %}
