{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}

    {% if entities %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id = "downloadfile" href="{{ path('exportar-clientes') }}" target = "_blank">
                    <i class="fa fa-plus-circle"></i>
                    Exportar Contactos
                </a>
            </li>
        </ul>
        <script type="text/javascript">
            $('#downloadfile').on('click', function(e){
                e.preventDefault();
                window.open($(this).attr('href'), "_blank");
                return false;
            });
        </script>
    {% endif %}
{% endblock %}

{% block form_content -%}
<div class="box-header">
    <h3 class="box-title"><strong>Listado de clientes</strong></h3>
    <p>Listado de quienes se han registrado a Life it.</p>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>

                        <th>Fecha de Registro</th>
                        <th>Nombres</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>DNI</th>
                        <th>Fecha de Nac.</th>
                        <th>Dirección</th>
                        <th>Distrito</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td class="control-ajax">
                          {{ entity.fechaformateada }}
                        </td>
                        <td>{{ entity.nombres}}</td>
                        <td>{{ entity.email }}</td>
                        <td> {{ entity.telefono }}</td>
                        <td> {{ entity.dni }}</td>
                        <td>{{ entity.fechaNacimiento }}</td>
                        <td> {{ entity.direccion }}</td>

                         <td>

                            {% if entity.distritoCliente %}
                              {{ entity.distritoCliente.nombre }}
                            {% endif %}

                         </td>







                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}