{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de productos</strong></h3>
            <p>Añade un nuevo producto o edita alguno existente.</p>
        </div>
        <div class="box-body">

            {{ form_row(form.subcategoriaProd) }}
            {{ form_row(form.nombreProducto) }}
            {{ form_row(form.descripcionProducto) }}
            {{ form_row(form.imagen) }}
            {{ form_row(form.apareceEnHome) }}
            {{ form_row(form.destacado) }}
            {{ form_row(form.nuevo) }}
            {{ form_row(form.precio) }}
            {{ form_row(form.oferta) }}
            {{ form_row(form.porcentajeDescuento) }}
            {{ form_row(form.precioOferta) }}
            {{ form_row(form.caracteristicaProducto) }}
            {{ form_row(form.beneficioProducto) }}
            {{ form_row(form.infoProducto) }}
            {{ form_row(form.cupon) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>

<script src="{{ asset('static/js/spectrum.js') }}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{{ asset('static/css/spectrum.css') }}">

<script>


    $("#producto_imagen")
    .closest(".col-sm-10")
        .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea 444 x 318 (px).</div>");

     $(document).ready(function() {

          actuales = $("#field-producto_colores").find('[id$=colorete]')
          console.log(actuales.length)

          $.each(actuales, function(index, val) {

                currentColor = $(this).val();
                console.log(currentColor)
                // console.log(currentColor)
                // console.log($(this).attr('id'))
                setTimeout(function(){
                  if(currentColor){
                      $(this).find(".sp-preview-inner").css("background-color", currentColor);
                    }else{
                      $(this).find(".sp-preview-inner").css("background-color", "");
                    }
                  }, 0);

                $("#"+$(this).attr('id')).spectrum({
                  showPalette: true,
                  showPaletteOnly: true,
                  showSelectionPalette: true, // true by default
                  togglePaletteOnly: true,
                  togglePaletteMoreText: 'more',
                  togglePaletteLessText: 'less',
                  color: currentColor,
                  palette: [
                      ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
                      ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
                      ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
                      ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
                      ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
                      ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
                      ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
                      ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
                  ]
                });

              });



      });



        $('#producto_colores').on('click','.collection-add', function(){

            setTimeout(function(){
              var id = $("#field-producto_colores").find('[id$=colorete]').last().attr('id');
              console.log(id)

              $("#"+id).spectrum({
              showPalette: true,
              showPaletteOnly: true,
              showSelectionPalette: true, // true by default
              togglePaletteOnly: true,
              togglePaletteMoreText: 'more',
              togglePaletteLessText: 'less',
              color: 'blanchedalmond',
              palette: [
                  ["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
                  ["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
                  ["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
                  ["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
                  ["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
                  ["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
                  ["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
                  ["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
              ]
            });

             }, 0);





          });

</script>
{% endblock %}
