{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}

<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{ path(ROUTER_NAME~'_new') }}">
            <i class="fa fa-plus-circle"></i>
            Nuevo producto
        </a>
    </li>
</ul>
{% endblock %}

{% block form_content -%}

<div class="box-header">
    <h3 class="box-title"><strong>Listado de productos</strong></h3>
    <p>Listado de productos de su tienda.</p>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio normal</th>
                        <th>Precio oferta</th>
                        <th>Cupón</th>
                        <th> Puntuacion </th>
                        <th> Subcategoria </th>

                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>


                        <td class="control-ajax">
                            <a href="{{ path(ROUTER_NAME~'_edit', { 'id': entity.id }) }}">{{ entity.nombreProducto }}</a>
                        </td>
                        <td>
                            <img src="{{ asset(entity.imagen|thumbnail(120,120)) }}" alt="" />
                        </td>
                        <td>
                          S/. {{ entity.precio }}
                        </td>

                        <td>
                            {% if entity.precioOferta %}
                                S/. {{ entity.precioOferta }}
                            {% else %}
                                -
                            {% endif %}
                        </td>

                        <td>
                            {% if entity.cupon.codigo != "000000" %}
                                {{ entity.cupon.codigo }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {{ entity.ranking|round }}
                        </td>
                        <td>
                            {{ entity.subcategoriaProd.nombreSub }}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
