{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-ticket"></i> Pedido # {{ entity.id }}
                <small class="pull-right">Fecha: <strong>{{ entity.fecha|date('d-m-Y') }}</strong></small>
            </h2>
        </div>
        <!-- /.col -->
    </div>

    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            Datos de facturación
            <address>
                <strong>
                    {{ entity.nombresCompletosFacturacion }}
                </strong>
                <br>
                {{ entity.dni }}
                <br>
                {{ entity.correoFacturacion }}
                <br>
                {{ entity.telefonoFacturacion }}
                <br>
                {{ entity.distritoFacturacion.provincia.departamento.nombre }} /
                {{ entity.distritoFacturacion.provincia.nombre }} /
                {{ entity.distritoFacturacion.nombre }}
                <br>
                <strong>{{ entity.tipoComprobante }}</strong>
                <br>
                {% if entity.ruc %}
                    {{ entity.ruc }}
                {% endif %}
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            Datos de envío
            {% if entity.nombresCompletosEnvio is defined %}
                <address>
                    Los mismos datos de facturación
                </address>
            {% else %}
                <address>
                    <strong>
                        {{ entity.nombresCompletosEnvio }}
                    </strong>
                    <br>
                    --
                    <br>
                    {{ entity.correoEnvio }}
                    <br>
                    {{ entity.telefonoEnvio }}
                    <br>
                    {{ entity.distritoEnvio.provincia.departamento.nombre }} /
                    {{ entity.distritoEnvio.provincia.nombre }} /
                    {{ entity.distritoEnvio.nombre }}
                    <br>
                    {{ entity.direccionEnvio }}
                </address>
            {% endif %}
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                      <th>Cantidad</th>
                      <th>Producto</th>
                      <th>Subtotal</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in entity.carrito %}
                        <tr>
                            <td>
                                {{ item.cantidad }}
                            </td>
                            <td>
                                {{ item.presentacion.presentacion }}
                            </td>
                            <td>
                                S/. {{ item.precioReal }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>

    <!-- /.row -->
    <div class="row">
        <!-- /.col -->
        <div class="col-xs-6">
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th style="width:50%">Subtotal sin descuento:</th>
                <td>S/. {{ entity.montoFinal + entity.descuento }}</td>
              </tr>
              <tr>
                <th>Cupón</th>
                <td>
                    {% if entity.descuento == 0 %}
                        --
                    {% else %}
                        {{ entity.carrito.0.cupon.codigo }}
                    {% endif %}
                </td>
              </tr>
              <tr>
                <th>Descuento</th>
                <td>S/. {{ entity.descuento }}</td>
              </tr>
              <tr>
                <th>Tiempo de envío</th>
                <td>
                    {{ entity.tiempoEnvio }} días
                </td>
              </tr>
              <tr>
                <th>Total:</th>
                <td>S/.{{ entity.montoFinal }}</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <!--a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
            <button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment
            </button>
            <button type="button" class="btn btn-primary pull-right" style="margin-right: 5px;">
                <i class="fa fa-download"></i> Generate PDF
            </button-->
        </div>
    </div>
</section>
<style type="text/css">
    #content-form h2{
        margin-left: 0px;
    }
</style>
{% endblock %}
