{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}
    {% if entities %}
        <!--ul class="nav navbar-nav navbar-right">
            <li>
                <a id = "downloadfile" href="{{ path('exportar-pedido') }}" target = "_blank">
                    <i class="fa fa-plus-circle"></i>
                    Exportar inscritos
                </a>
            </li>
        </ul>
        <script type="text/javascript">
            $('#downloadfile').on('click', function(e){
                e.preventDefault();
                window.open($(this).attr('href'), "_blank");
                return false;
            });
        </script-->
    {% endif %}
{% endblock %}

{% block form_content -%}
<div class="box-header">
    <h3 class="box-title"><strong>Listado de Pedidos</strong></h3>
    <p>Listado los pedidos realizados.</p>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Cliente</th>
                        <th>Monto pagado</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td class="control-ajax">
                            <a href="{{ path(ROUTER_NAME~'_view', { 'id': entity.id }) }}">
                                Pedido # {{ entity.id }}
                            </a>
                        </td>
                        <td>
                            {{ entity.nombresCompletosFacturacion }}
                        </td>
                        <td>
                            S/. {{ entity.montoFinal }}
                        </td>
                        <td>
                            El {{ entity.fecha|date("d-m-Y")}} a las {{ entity.fecha|date("H:i:s") }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
