{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de preguntas</strong></h3>
            <p>Añade una nueva pregunta o edita alguna existente.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.pregunta) }}
            {{ form_row(form.respuesta) }}
            
            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>
{% endblock %}
