{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de categoría</strong></h3>
            <p>Añade una nueva categoría o edita alguna existente.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.nombreCategoria) }}
            {{ form_row(form.descripcionCategoria) }}
            {{ form_row(form.imagen) }}
            {{ form_row(form.cupon) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>

<script>
    $("#categoria_imagen")
    .closest(".col-sm-10")
        .append("<div class='help-block'>Se recomienda que el tamaño de la imagen sea AAA x BBB.</div>");
</script>
{% endblock %}
