{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{ path(ROUTER_NAME~'_new') }}">
            <i class="fa fa-plus-circle"></i>
            Nueva categoría
        </a>
    </li>
</ul>
{% endblock %}

{% block form_content -%}
<div class="box-header">
    <h3 class="box-title"><strong>Listado de categorías</strong></h3>
    <p>Listado de categorías de productos.</p>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre </th>
                        <th>Descripción</th>
                        <th>Cupón</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td class="control-ajax">
                            <a href="{{ path(ROUTER_NAME~'_edit', { 'id': entity.id }) }}">
                                <img src="{{ asset(entity.imagen|thumbnail(100,100)) }}" alt="" />
                            </a>
                        </td>
                        <td>
                            {{ entity.nombreCategoria }}
                        </td>
                        <td>
                            {{ entity.descripcionCategoria }}
                        </td>
                        <td>
                            {% if entity.cupon.codigo != "000000" %}
                                {{ entity.cupon.codigo }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
