{% extends 'CoreZeroBundle:_common:_base_form.html.twig' %}

{% block form_content -%}
<div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title"><strong>Registro / edición de cupón</strong></h3>
            <p>Añade un nuevo cupón o edita alguno existente.</p>
        </div>
        <div class="box-body">
            {{ form_row(form.codigo) }}
            {{ form_row(form.descripcion) }}
            {{ form_row(form.descuentoEnPorcentaje) }}
            {{ form_row(form.descuento) }}
            {{ form_row(form.activo) }}

            <div class='help-block text-right'>* Campos obligatorios</div>
        </div>
    </div>
</div>
<script>
    $("#cupon_descuentoEnPorcentaje")
        .closest(".col-sm-10")
           .append("<div class='help-block'>Si no se elige esta opción el descuento será en soles.</div>");
</script>
{% endblock %}