{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="{{ path(ROUTER_NAME~'_new') }}">
            <i class="fa fa-plus-circle"></i>
            Nuevo cupón
        </a>
    </li>
</ul>
{% endblock %}

{% block form_content -%}
<div class="box-header">
    <h3 class="box-title"><strong>Listado de banners</strong></h3>
    <p>Listado de banners que aparecerán en el Home de tu página web.</p>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Tipo de descuento</th>
                        <th>Descuento</th>
                        <th>Activo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td class="control-ajax">
                            <a href="{{ path(ROUTER_NAME~'_edit', { 'id': entity.id }) }}">
                                {{ entity.codigo }}
                            </a>
                        </td>
                        <td>
                            {% if entity.descuentoEnPorcentaje == 1 %}
                                Porcentual
                            {% else %}
                                En soles
                            {% endif %}
                        </td>
                        <td>
                          {{ entity.descuento }}
                        </td>
                        <td>
                            {% if entity.activo == 1 %}
                                Activo
                            {% else %}
                                Inactivo
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}