{% extends 'CoreZeroBundle:_common:_base_list.html.twig' %}

{% block form_button %}

    {% if entities %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id = "downloadfile" href="{{ path('exportar-reclamo') }}" target = "_blank">
                    <i class="fa fa-plus-circle"></i>
                    Exportar reclamos
                </a>
            </li>
        </ul>
        <script type="text/javascript">
            $('#downloadfile').on('click', function(e){
                e.preventDefault();
                window.open($(this).attr('href'), "_blank");
                return false;
            });
        </script>
    {% endif %}
{% endblock %}

{% block form_content -%}
<div class="box-header">
    <h3 class="box-title"><strong>Listado de reclamos</strong></h3>
    <p>Listado de quienes han presentado algún reclamo a Life it a través del formulario de libro de reclamaciones de su página web.</p>
</div>
<div class="box-body">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-hover DataTable">
                <thead>
                    <tr>
                        <th>Reclamante</th>
                        <th>Núm. Documento</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Provincia / Distrito</th>
                        <th>Apoderado</th>
                        <th>Tipo reclamo</th>
                        <th>Fecha reclamo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                    <tr>
                        <td>
                            {% if entity.nombresReclamante %}
                                {{ entity.nombresReclamante }} {{ entity.apellidosReclamante }}
                            {% else %}
                                --
                            {% endif %}

                        </td>
                        <td>
                            {% if entity.tipoDocumentoReclamante %}
                                {{ entity.numeroDocumentoReclamante }} ({{ entity.tipoDocumentoReclamante }})

                                {% else %}
                                    {{ entity.numeroDocumentoApoderado }} ({{ entity.tipoDocumentoApoderado }})
                            {% endif %}

                        </td>
                        <td>
                            {% if entity.emailReclamante %}
                                {{ entity.emailReclamante }}

                            {% else %}
                                    --
                            {% endif %}

                        </td>
                        <td>
                            {% if entity.telefonoReclamante %}
                                {{ entity.telefonoReclamante }}
                            {% else %}
                                --
                            {% endif %}

                        </td>
                        <td>
                            {% if entity.distrito %}
                            {{ entity.distrito.provincia.nombre }} / {{ entity.distrito.nombre }}
                            {% else %}
                                --
                            {% endif %}
                        </td>
                        {% if entity.nombresApoderado and entity.apellidosApoderado %}
                              <td>
                                  {{ entity.nombresApoderado }} {{ entity.apellidosApoderado }}
                              </td>
                            {% else %}
                              <td>
                                 No tiene apoderado
                              </td>
                        {% endif %}
                        <td>
                            {{ entity.tipoReclamo }}
                        </td>
                        <td>
                            El {{ entity.fecha|date("d-m-Y")}} a las {{ entity.fecha|date("H:i:s") }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
